#{ifErrors}
	<ul> 
   #{errors}
       <li>${error}</li>
   #{/errors}
   </ul>
#{/ifErrors}

#{form @sendPassword()}
<label for="username">&{'auth.username'}</label>
<input type="text" name="username" id="username" value="${flash.username}" />
<input type="submit" value="&{'auth.forgotPassword.submit'}" />
#{/form}

<a href="@{Auth.login()}">&{'auth.login'}</a>