#{ifErrors}
	<ul> 
   #{errors}
       <li>${error}</li>
   #{/errors}
   </ul>
#{/ifErrors}

#{form @authenticate()}
<label for="username">&{'auth.username'}</label>
<input type="text" name="username" id="username" value="${flash.username}" />
<label for="password">&{'auth.password'}</label>
<input type="password" name="password" id="password" value="" />
<input type="checkbox" name="rememberMe" value="true" /> Remember me
<input type="submit" id="signin" value="&{'auth.submit'}" />
#{/form}

<a href="@{Auth.forgotPassword()}">&{'auth.forgotPassword'}</a>