#{ifErrors}
	<ul> 
   #{errors}
       <li>${error}</li>
   #{/errors}
   </ul>
#{/ifErrors}

#{form @doResetPassword()}
<input type="hidden" name="token" value="${token}" />
<input type="hidden" name="username" value="${username}" />
<label for="password">&{'auth.password'}</label>
<input type="password" name="password" id="password" />
<label for="passwordRepeat">&{'auth.passwordRepeat'}</label>
<input type="password" name="passwordRepeat" id="passwordRepeat" />
<input type="submit" value="&{'auth.resetPassword.submit'}" />
#{/form}