#{addLess 'plugin.inviteOthers' /}

<div class="group invite">
	<h4>&{'sidebar.invite'}</h4>
	
	#{form @Misc.invite()}
		<div class="input-append">
			<input type="text" placeholder="someone@email.com" name="email" />
			<input type="submit" class="btn" value="Go">
		</div>
	#{/form}
</div>
