%{
	post = _arg;
	sender = _arg.wall.sender;
	app = models.app.ForumApp.findByTopic(_arg.wall);
	topic = models.app.forum.ForumAppTopic.findById(_arg.wall.id);
}%

#{if sender instanceof models.workspace.Workspace}
	<a href="@{Workspaces.show(sender.id, app.id, sender.slug, app.slug)}?postId=${post.id}">${topic.title}</a>
#{/if}
#{elseif sender instanceof models.page.Page}
	<a href="@{Pages.show(sender.id, app.id, sender.slug, app.slug)}?postId=${post.id}">${topic.title}</a>
#{/elseif}
