#{extends 'layouts/auth.html' /}

#{ifErrors}
	<div class="alert alert-error">
		<ul> 
			#{errors 'firstName'}<li>&{'firstName'}: ${error}</li>#{/errors}
			#{errors 'lastName'}<li>&{'lastName'}: ${error}</li>#{/errors}
	   </ul>
   </div>
#{/ifErrors}

<h2>&{'auth.openid.complete.title'}</h2>

#{form @create()}
	<input type="hidden" name="token" value="${token}"/>
	<input type="text" name="firstName" value="${firstName}" placeholder="&{'firstName'}" />
	<input type="text" name="lastName" value="${lastName}" placeholder="&{'lastName'}" />
	<input type="text" name="email" value="${email}" placeholder="&{'email'}" />
	<input type="submit" value="&{'auth.openid.complete.submit'}" class="btn btn-primary btn-large" />
#{/form}

#{set 'footer'}
	<a href="@{Auth.login()}">&larr; &{'registration.backToLogin'}</a>
#{/}