#{if !connectedUser.external}
	<div class="group online" id="userOnlinePlugin" data-ng-controller="OnlineUserListController" data-ng-init="init(${onlineUserCount}, ${settings.getBoolean('messagingChat')}, ${settings.getBoolean('messagingWebRTC')})">
		<h6>&{'sidebar.myColleagues'}</h6>
		<ul class="unstyled sidebar-user-list">
			<li data-ng-repeat="colleague in colleagues | orderBy:[orderByStatus, 'lastName', 'firstName'] | limitTo:quantity" data-ng-class="{last : $last}">
				<div data-ng-class="{'sidebar-user-entry' : chatEnabled && !colleague.currentUser}">
					<div data-user-avatar-status="colleague"></div>
					<a data-ng-href="{{colleague.wallUrl}}"><span data-ellipsify-text data-max-size="20" data-text-data="colleague.fullName"></span></a>
					<div data-user-message-icons="colleague" data-chat-enabled="chatEnabled" data-audio-video-enabled="audioVideoEnabled"></div>
				</div>
			</li>
			<li data-ng-show="colleagues.length > quantity"><a href="" data-ng-click="showAll()" class="more-colleagues"><i class="icon-chevron-down"></i> &{'showAll'}</a></li>
			<li data-ng-show="!loading && colleagues.length < 1"><p class="no-items">{{'sidebar.MyColleagues.empty' | i18n}} <a href="@{Colleagues.index()}">{{'sidebar.MyColleagues.empty.link' | i18n}}</a></p></li>
		</ul>
		<hr>
		<ul class="unstyled">
			<li><a href="@{Colleagues.online()}"><i class="icon-globe"></i> {{'sidebar.showAllOnline' | i18n:onlineUserCount}}</a></li>
		</ul>
	</div>
#{/}