#{extends 'layouts/administration.html' /}
#{set title:messages.get("admin.statistics.details." + trackType) /}

#{set subtitle:date.format() + " " + messages.get("admin.statistics.until") + " " + to.format() /}


#{addScript '../libs/jquery.flot/jquery.flot' /}
#{addScript '../libs/jquery.flot/jquery.flot.resize.min' /}
#{addScript '../libs/jquery.flot/jquery.flot.labels' /}

#{set 'actions'}
	<a href="@{index}" class="btn">&{'back'} &rarr;</a>
#{/}

<form action="@{details(trackType)}" class="well form-inline settings">
	<select name="days" class="span2">
		#{list items:[7, 14, 30, 60, 90, 180, 365], as:'daysOption'}
			<option value="${daysOption}" #{if days==daysOption}selected#{/}>
				${daysOption} &{"admin.statistics.days"}
			</option>
		#{/}
	</select>

	<select name="displayDirection" class="btn span2">
		<option value="false" #{if displayDirection==false}selected#{/}>
			&{'admin.statictics.daysDateConnector.until'}
		</option>
		<option value="true" #{if displayDirection==true}selected#{/}>
			&{'admin.statistics.daysDateConnector.from'}
		</option>
	</select>

	<input type="text" class="date span2" name="date" value="${inputDate.format()}" data-format="${libs.DateI18N.getLocalizedDateFormat('date.format.picker')}" style="margin: 0;">
	<input type="submit" class="btn btn-primary" value="&{'admin.statistics.changeMeasurementDate'}">
	<span class="btn btn-primary disabled pull-right">
		#{if currentCount}${String.format(connectedUser.language, "%,d", currentCount)} &{'admin.statistics.current'}#{/}
		#{else}${String.format(connectedUser.language, "%,d", result.total)} &{'admin.statistics.total'}#{/}
	</span>
</form>

#{admin.statistics.graph 'graph', result:result /}