#{extends 'layouts/administration.html' /}
#{set title:messages.get('admin.statistics.title') /}

<ul class="kpis">
	<li>
		<a href="@{details('activeUsers', activeUserCount)}">
			<span class="kpi-title"><i class="icon-user"></i> &{'admin.statistics.currentUsers'}</span>
			<span class="kpi-keyNumber">${String.format(connectedUser.language, "%,d", activeUserCount)}</span>
		</a>
	</li>	
	<li>
		<a href="@{details('visits')}">
			<span class="kpi-title"><i class="icon-hand-right"></i> &{'admin.statistics.visitsThisWeek'}</span>
			<span class="kpi-keyNumber">${String.format(connectedUser.language, "%,d", visits.total)}</span>
		</a>
	</li>	
	<li>
		<a href="@{details('activeWorkspaces', workspaces)}">
			<span class="kpi-title"><i class="icon-th-large"></i> &{'admin.statistics.activeWorkspaces'}</span>
			<span class="kpi-keyNumber">${String.format(connectedUser.language, "%,d", workspaces)}</span>
		</a>
	</li>
	<li>
		<a href="@{details('pages', pages)}">
			<span class="kpi-title"><i class="icon-book"></i> &{'admin.statistics.pages'}</span>
			<span class="kpi-keyNumber">${String.format(connectedUser.language, "%,d", pages)}</span>
		</a>
	</li>
	<li>
		<a href="@{details('pageviews')}">
			<span class="kpi-title"><i class="icon-eye-open"></i> &{'admin.statistics.pageViewsThisWeek'}</span>
			<span class="kpi-keyNumber">${String.format(connectedUser.language, "%,d", pageviews.total)}</span>
		</a>
	</li>	
	<li>
		<a href="@{details('posts')}">
			<span class="kpi-title"><i class="icon-plus-sign"></i> &{'admin.statistics.postsThisWeek'}</span>
			<span class="kpi-keyNumber">${String.format(connectedUser.language, "%,d", posts.total)}</span>
		</a>
	</li>	
	<li>
		<a href="@{details('comments')}">
			<span class="kpi-title"><i class="icon-comment"></i> &{'admin.statistics.commentsThisWeek'}</span>
			<span class="kpi-keyNumber">${String.format(connectedUser.language, "%,d", comments.total)}</span>
		</a>
	</li>	
	<li>
		<a href="@{details('likes')}">
			<span class="kpi-title"><i class="icon-thumbs-up"></i> &{'admin.statistics.likesThisWeek'}</span>
			<span class="kpi-keyNumber">${String.format(connectedUser.language, "%,d", likes.total)}</span>
		</a>
	</li>
	<li>
		<a href="@{details('todayEvents', events)}">
			<span class="kpi-title"><i class="icon-calendar"></i> &{'admin.statistics.todayEvents'}</span>
			<span class="kpi-keyNumber">${String.format(connectedUser.language, "%,d", events)}</span>
		</a>
	</li>
</ul>


*{
#{set subtitle:from.format() + ' bis ' + date.format() /}

#{addScript '../libs/jquery.flot/jquery.flot' /}
#{addScript '../libs/jquery.flot/jquery.flot.resize.min' /}
#{addScript '../libs/jquery.flot/jquery.flot.labels' /}

#{set 'actions'}
	<form>
		<input type="text" class="date span2" name="date" value="${date.format()}" data-format="${libs.DateI18N.getLocalizedDateFormat('date.format.picker')}" style="margin: 0;">
		<select name="days" class="span2">
			#{list items:[10, 30, 60, 90, 180, 365], as:'daysOption'}
				<option value="${daysOption}" #{if days==daysOption}selected#{/}>
					${daysOption} days
				</option>
			#{/}
		</select>
		<input type="submit" class="btn btn-primary" value="Messdatum ändern">
	</form>
#{/}

<ul class="nav nav-tabs">
	<li class="active"><a href="#visits" data-toggle="tab">Unique visits</a></li>
	<li><a href="#pageviews" data-toggle="tab">Page views</a></li>
	<li><a href="#logins" data-toggle="tab">Logins</a></li>
	<li><a href="#other" data-toggle="tab">Sonstiges</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="visits">#{admin.statistics.display 'visitsGraph', label:'Visits', result:visits /}</div>
	<div class="tab-pane" id="pageviews">
		#{admin.statistics.display 'pageviewsGraph', label:'Page views', result:pageviews /}
		<hr>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>URL</th>
					<th>Views</th>
				</tr>
			</thead>
			<tbody>
				#{list items:pageviewsByUrl, as:'page'}
				<tr>
					<td><a href="${page[0]}">${page[0]}</a></td>
					<td>${page[1]}</td>
				</tr>
				#{/}
			</tbody>
		</table>
	</div>
	<div class="tab-pane" id="logins">#{admin.statistics.display 'loginsGraph', label:'Logins', result:logins /}</div>
	<div class="tab-pane" id="other">
		<table class="table table-striped table-bordered">
			<tbody>
				<tr>
					<th>Aktive Benutzer:</th>
					<td>${activeUsers}</td>
				</tr>
				<tr>
					<th>Benutzer mit mind. 1 Login:</th>
					<td>${loginUsers}</td>
				</tr>
				<tr>
					<th>Logins insgesamt:</th>
					<td>${loginCount}</td>
				</tr>
				<tr>
					<th>Durschn. Logins pro Benutzer:</th>
					<td>${loginAvg.format('0.00')}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
}*