#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.theme.title') /}

#{addLess 'lib.minicolors' /}
#{addScript 'jquery.minicolors' /}

<ul class="nav nav-tabs">
	<li class="active">
		<a href="#general-theme-settings" data-toggle="tab">&{'administration.theme.group.general'}</a>
	</li>
	<li>
		<a href="#theme-custom-css" data-toggle="tab">&{'administration.theme.group.customCss'}</a>
	</li>
</ul>

#{form @save(), enctype:'multipart/form-data'}
<div class="tab-content">
	<div class="tab-pane active form-horizontal" id="general-theme-settings">
		<div class="alert alert-info">
			<strong>&{'admin.theme.tip.note'}:</strong> &{'admin.theme.tip'}
		</div>
		<h3>&{'themeSettings'}</h3>
		<div class="row">
			<div class="span6">
				#{form.field.text 'colors[themeBaseColor]', label:'themeSettings.baseColor', class:'colorpicker span2', value:themeSettings.getString('themeBaseColor') /}
				#{form.field.text 'colors[themeSecondaryColor]', label:'themeSettings.secondaryColor', class:'colorpicker span2', value:themeSettings.getString('themeSecondaryColor') /}
				#{form.field.text 'colors[themeTopbarTextColor]', label:'themeSettings.topbarTextColor', class:'colorpicker span2', value:themeSettings.getString('themeTopbarTextColor') /}
				#{form.field.text 'colors[themeTopbarHoverColor]', label:'themeSettings.topbarHoverColor', class:'colorpicker span2', value:themeSettings.getString('themeTopbarHoverColor') /}
				#{form.field.text 'colors[themeTextColor]', label:'themeSettings.textColor', class:'colorpicker span2', value:themeSettings.getString('themeTextColor') /}
			</div>
			<div class="span6">
				#{form.field.text 'colors[themeLinkColor]', label:'themeSettings.linkColor', class:'colorpicker span2', value:themeSettings.getString('themeLinkColor') /}
				#{form.field.text 'colors[themeSecondaryLinkColor]', label:'themeSettings.linkHoverColor', class:'colorpicker span2', value:themeSettings.getString('themeSecondaryLinkColor') /}
				#{form.field.text 'colors[themeButtonColor]', label:'themeSettings.buttonColor', class:'colorpicker span2', value:themeSettings.getString('themeButtonColor') /}
				#{form.field.text 'colors[themeSecondaryButtonColor]', label:'themeSettings.secondaryButtonColor', class:'colorpicker span2', value:themeSettings.getString('themeSecondaryButtonColor') /}
			</div>
		</div>
		<hr>
		#{form.field.file 'logo', label:'themeSettings.logo', help:'administration.theme.logo.size'}
			<div class="logo"></div>
		#{/}
		#{form.field.file 'smallLogo', label:'themeSettings.topbarLogo', help:'administration.theme.smallLogo.size'}
			<div id="navbar-item-as" class="brand"></div>
		#{/}
		#{form.field.file 'favicon', label:'themeSettings.favicon', help:'administration.theme.favicon.size'}
			<div class="favicon">
				<img src="@{open.Application.favicon()}" alt="&{'themeSettings.favicon'}"/>
			</div>
		#{/}
	</div>
 	<div class="tab-pane" id="theme-custom-css">
		#{form.field.textarea 'themeCustomCss', label:'administration.theme.group.customCss.insert', class:'form-control', rows:'15', value:themeSettings.getString('themeCustomCss') /}
	</div> 
</div>
<div class="form-actions">
	#{form.submit 'save' /}
    <div data-rest-link data-url="@{administration.ThemeSettings.reset}" data-type="POST" class="btn btn-danger" data-confirmation-really="&{'really'}"><i class="icon-refresh icon-white"></i>&nbsp;&{'admin.theme.reset'}</div>
</div>
#{/form}


<script type="text/javascript">
	$(function() {
		var setImageBackgroundColor = function() {
			var baseColor = $('#colors-themebasecolor').minicolors('value'), 
				secondaryColor = $('#colors-themesecondarycolor').minicolors('value');
			$('#imageLogo, #imageSmallLogo').css('background-image', 'linear-gradient(to bottom, ' + secondaryColor + ', ' + baseColor + ')');
		};
		
		$('.colorpicker').minicolors({
			theme: 'bootstrap',
			changeDelay : 300,
			change: function(hex) {
				var $this = $(this), 
					$baseColorPicker = $('#colors-themebasecolor'), 
					$secondaryColorPicker = $('#colors-themesecondarycolor');
				// we are only interested in main and secondary colors
				if ($this[0] === $baseColorPicker[0] || $this[0] === $secondaryColorPicker[0]) {
					setImageBackgroundColor();
				}
			}
		});
		
		setImageBackgroundColor();
	});
</script>
