<div class="modal-body">
	<form name="collectionForm">
		<div class="control-group">
			<label class="control-label" for="name">{{'media.collection.form.nameLabel' | i18n}}</label>
			<div class="controls">
				<input class="fullwidth" type="text" id="name" name="name" data-ng-model="collection.name" placeholder="{{'media.collection.form.nameLabel' | i18n}}" required maxlength="255">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<a class="btn" data-ng-click="dismiss()"><i class="icon-remove"></i> {{'cancel' | i18n}}</a>
				<button class="btn btn-primary pull-right" data-ng-click="save()" data-ng-disabled="collectionForm.$invalid"><i class="icon-ok icon-white"></i> {{'save' | i18n}}</button>
			</div>
		</div>
	</form>
</div>