<div class="media-nav btn-toolbar">
	<div class="btn-group">
		<a href="#!/media/index" class="btn btn-primary"><i class="icon-home icon-white"></i></a>
		<a data-ng-if="collection" class="btn disabled">{{collection.name}}</a>
	</div>
	<div data-ng-if="collection.canEdit || collection.canShare" class="btn-group pull-right">
		<a data-ng-if="collection.canEdit" id="collection-{{collection.id}}-trigger" class="btn btn-primary"><i class="icon-plus icon-white"></i><span class="hidden-mobile"> {{'media.upload' | i18n}}</span></a>
		<a class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>
		<ul class="dropdown-menu">
			<li data-ng-if="collection.canShare"><a href="{{collection.shareUrl}}" class="ajax"><i class="icon-share"></i> {{'share' | i18n}}</a></li>
			<li data-ng-if="collection.canShare" class="divider"></li>
			<li data-ng-if="collection.canEdit"><a data-ng-click="edit(collection)"><i class="icon-pencil"></i> {{'media.renameCollection.link' | i18n}}</a></li>
			<li data-ng-if="collection.canEdit"><a data-confirm-dialog="remove(collection)" data-confirm-message="{{'media.deleteCollection.confirm' | i18n}}"><i class="icon-remove"></i> {{'media.deleteCollection.link' | i18n}}</a></li>
		</ul>
	</div>
</div>

<div id="collection-{{collection.id}}-dropzone"></div>
<div data-ng-if="collection" data-ng-model="uploads" data-upload="getUploadOptions(collection)" class="hide"></div>

<div class="alert" data-ng-repeat="error in errors"><a class="close" data-ng-click="dismissError(error)">&times;</a>{{error.message}}</div>

<div class="media-collection" data-ng-if="collection">
	<div class="no-content" data-ng-if="!loading && !mediaItems.length">{{'media.collection.empty' | i18n}}</div>
	<div class="loader" data-ng-show='loading'>Loading data...</div>
	
	<ul data-ng-if="mediaItems.length" class="thumbnails" data-ui-sortable="sortableOptions" data-ng-model="mediaItems">
		<li data-ng-repeat="media in mediaItems">
			<a data-ng-click="open(media)" class="thumbnail" data-ng-class="{ loading : (media.generatingVariants || media.uploading) }" title="{{media.filename}}">
				<img data-ng-src="{{media.thumbUrl}}" class="media-thumb" alt="{{media.filename}}">
				<span class="media-title" data-ng-if="!media.generatingVariants && !media.uploading">{{media.displayName}}</span>
				<span class="media-title" data-ng-if="media.generatingVariants">{{'media.generatingThumb' | i18n}}</span>
				<span class="media-title" data-ng-if="media.uploading">{{'media.uploading' | i18n}}</span>
			</a>
		</li>
	</ul>
</div>