<div class="media-details-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="$close()">&times;</button>
</div>
<div class="media-details">
	<div class="media-preview-wrapper">
		<div data-media-preview="media" class="media-preview"></div>
		<a data-ng-click="next()" data-ng-show="media.id != media.next" class="media-nav media-nav-next"></a>
		<a data-ng-click="previous()" data-ng-show="media.id != media.previous" class="media-nav media-nav-previous"></a>
	</div>
	<div class="media-sidebar">
		<div class="media-title-wrapper">
			<h4 class="media-title" data-ng-if="!media.canEdit && media.title">{{media.title}}</h4>
			<input data-ng-if="media.canEdit" type="text" data-ng-blur="save()" data-ng-model="media.title" placeholder="{{'media.title.placeholder' | i18n}}" class="media-title" maxlength="20">
			<i data-ng-if="media.canEdit" class="icon-pencil pointer" onclick="$(this).siblings('input').focus()"></i>
			<i data-ng-if="media.canEdit" class="icon-ok pointer" onclick="$(this).siblings('input').blur()"></i>
		</div>

		<div class="likebar" data-ng-show="media.canLike">
			<span data-like-button="media"></span>
			<span data-like-list="media"></span>
		</div>

		<div data-ng-show="media.canComment">
			<div data-comments data-commentable="media"  data-unique-id="media.id"></div>
		</div>
		
		<p><small>{{'media.uploaded' | i18n}} <span data-fuzzy-date="media.created"></span> {{'media.by' | i18n}} <span data-user-link="media.creator"></span></small></p>
		
		<a href="{{media.downloadUrl}}" target="_blank" class="btn btn-mini"><i class="icon-download"></i> {{'download' | i18n}}</a>
		<a data-ng-if="media.canShare" href="{{media.shareUrl}}" data-ng-click="dismiss()" class="btn btn-mini" onclick="launchModal($(this).attr('href')); return false;"><i class="icon-share"></i> {{'share' | i18n}}</a>
		<a data-ng-if="media.canEdit" data-ng-click="setCover()" class="btn btn-mini" data-ng-class="{disabled : media.isCover}">
			<i data-ng-show="!media.isCover" class="icon-picture"></i>
			<i data-ng-show="media.isCover" class="icon-ok"></i>
			{{'media.cover.set' | i18n}}
		</a>
		<a data-ng-if="media.canEdit" data-ng-click="remove()" class="btn btn-mini"><i class="icon-remove"></i> {{'delete' | i18n}}</a>
	</div>
</div>