<div class="mejs-wrapper mejs-dark">
	<video width="550" height="500" data-ng-attr-poster="{{media.posterUrl}}" controls="controls" preload="none" id="media-video-player">
	    <source data-ng-repeat="source in media.sources" type="{{source.type}}" data-ng-src="{{source.src}}" />

	    <object width="100%" height="100%" type="application/x-shockwave-flash" data="{{media.mediaElementFlashFallback}}">
	        <param name="movie" data-ng-attr-value="{{media.mediaElementFlashFallback}}" />
	        <param name="flashvars" data-ng-attr-value="controls=true&file={{media.downloadUrl}}" />
	    </object>
	</video>
</div>