<div class="media-nav btn-toolbar">
	<div class="btn-group">
		<a class="btn btn-primary disabled"><i class="icon-home icon-white"></i></a>
	</div>
	<div class="btn-group pull-right" data-ng-if="room.canEdit">
		<a data-ng-click="createCollectionDialog()" class="btn btn-primary"><i class="icon-plus icon-white"></i> {{'media.addCollection' | i18n}}</a>
	</div>
</div>

<div class="media-collections" data-ng-if="room">
	<div class="no-content" data-ng-if="!room.collections.length">{{'media.room.empty' | i18n}}</div>
	
	<ul data-ng-if="room.collections.length" class="thumbnails" data-ui-sortable="sortableOptions" data-ng-model="room.collections">
		<li data-ng-repeat="collection in room.collections">
			<a href="#!/media/collection/{{collection.id}}" class="thumbnail" title="{{collection.name}}">
				<img data-ng-src="{{collection.coverUrl}}" alt="{{collection.name}}">
				<span class="badge badge-inverse">{{collection.mediaCount}}</span>
				<span class="media-title">{{collection.name}}</span>
			</a>
		</li>
	</ul>
</div>