#{form @save(), class:'form-horizontal'}
	<input type="hidden" name="category.id" value="${category.id}" />
	
	#{form.field.text 'category.name', label:'workspace.category.name', value:category.name /}
	
	<div class="form-actions">
		<a href="@{index}" class="btn">&larr; &{'cancel'}</a>
		#{form.submit 'save' /}
	</div>
#{/}