<div class="modal-body idea-delete-error">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="$close()">&times;</button>

	<div class="alert">
		<strong>{{'app.inno.delete.failure' | i18n}}</strong>
	</div>
</div>