<div class="modal-body" id="idea-details">
	<div data-remaining-days="currentIdea" data-ttl="{{app.ttl}}"></div>
	<div class="top">
		<!-- Title and description-->
		<div class="left idea-title">
			<h5>{{currentIdea.title}}</h5>
			<small class="muted">{{currentIdea.description}}</small>
		</div>
		<!-- Rating -->
		<div class="right">
			<div data-rate-idea="currentIdea" data-id="'details'"></div>
		</div>
	</div>

	<hr/>

	<div class="bottom">
		<div class="bottom-panel">
			<div class="bottom-element user">
				<div class="bottom-information">
					<img class="user-avatar thumb pull-left"
						 data-ng-src="{{currentIdea.deanonymized || (app.visibility !== 'ANON' && !currentIdea.isAnon) ? currentIdea.creator.thumbUrl : currentIdea.anonThumbUrl}}"
						 alt="{{currentIdea.deanonymized || (app.visibility !== 'ANON' && !currentIdea.isAnon) ? currentIdea.creator.fullName : ''}}"
						 title="{{currentIdea.deanonymized || (app.visibility !== 'ANON' && !currentIdea.isAnon) ? currentIdea.creator.fullName : ''}}"/>

					<div class="text">
						<span data-ng-if="(currentIdea.deanonymized === true || (app.visibility !== 'ANON' && !currentIdea.isAnon))">
							<small class="forum-post-name" data-user-link="currentIdea.creator"></small>
						</span>
						<span data-ng-if="(app.visibility === 'ANON' || currentIdea.isAnon) && currentIdea.deanonymized !== true">
							<small class="forum-post-name">{{'app.inno.visibility.anon' | i18n}}</small>
						</span>
					</div>
				</div>
			</div>
			<div class="bottom-element">
				<div class="bottom-information">
					<div class="text">
						<small data-fuzzy-date="currentIdea.created"></small>
					</div>
				</div>
			</div>
			<div class="bottom-element">
				<div class="bottom-information">
					<div class="text">
						<strong class="muted">{{'app.inno.category' | i18n}}:</strong>
						<small>{{currentIdea.category.name}}</small>
					</div>
				</div>
			</div>
			<div class="bottom-element">
				<div class="bottom-information">
					<div class="text">
						<strong class="muted">{{'app.inno.status' | i18n}}:</strong>
						<small class="uppercase">{{('app.inno.status.' + currentIdea.status) | i18n}}</small>
					</div>
				</div>
			</div>
			<div class="bottom-element">
				<div class="bottom-information">
					<div class="text">
						<strong class="muted">{{'app.inno.ratings' | i18n}}:</strong>
						<small>{{currentIdea.ratings.length}}</small>
					</div>
				</div>
			</div>
			<div class="bottom-element average-rating">
				<div class="bottom-information">
					<div data-idea-rating-overview="currentIdea.averageRating">
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr/>

	<div class="details-body">
		<div class="right">
			<div class="control-group" data-ng-show="app.commentsAllowed">
				<label class="item-label" for="comment">{{'app.blog.comments.title' | i18n }}</label>
				<div data-comments data-commentable="currentIdea" data-unique-id="currentIdea.id"></div>
			</div>

			<div class="control-group">
				<div data-linked-ideas data-idea="currentIdea" data-clazz="pull-left"></div>
			</div>
		</div>
		<div class="left">
			<div id="item-details">
				<div class="item-detail-content">
					<div class="control-group" data-ng-repeat="field in container.fields">
						<data-display-item data-field="field" data-show-preview="true" data-ng-show="!field.hidden"
										   data-item-value="getValue(currentIdea, field.id)"></data-display-item>
					</div>
				</div>
			</div>

			<div class="control-group" data-ng-if="currentIdea.hiddenField.length > 0 && isModerator === true && app.ideasHiddenField === true">
				<label class="item-label" for="hiddenfield">{{'app.inno.label.hiddenfield' | i18n}}:</label>
				<p class="muted" id="hiddenfield">{{currentIdea.hiddenField}}</p>
			</div>
		</div>
	</div>
</div>
