<form class="inno-app" name="itemform">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="$close()">&times;</button>
		<h3>{{showSimilar ? ('app.inno.similarIdeas' | i18n) : (currentIdea.id ? ('app.inno.editIdea' | i18n) : ('app.inno.newIdea' | i18n))}}</h3>
	</div>

	<!-- Create/Edit idea -->
	<div class="modal-body" id="edit-idea">
		<div data-ng-show="!showSimilar">
			<div class="control-group form-inline">
				<label class="control-label" data-ng-class="{required: true}" for="title">
					{{'app.inno.title' | i18n}}
				</label>
				<div class="controls">
					<input class="span8" id="title" type="text" data-ng-model="currentIdea.title" name="title" min="1"
						   data-ng-maxlength="255" data-ng-required="true"/>
				</div>
			</div>

			<div class="control-group form-inline">
				<label class="control-label" for="description" data-ng-class="{required: true}">{{'app.inno.label.description'
					| i18n}}</label>
				<div class="controls">
					<textarea class="span8" rows="9" id="description" name="description" type="text"
							  data-ng-model="currentIdea.description" min="1" max="9999" data-ng-required="true">
					</textarea>
				</div>
			</div>
			<div class="control-group form-inline">
				<label class="control-label" data-ng-class="{required: true}">{{'app.inno.category' | i18n}}</label>
				<div class="controls">
					<select ui-select2 class="user-chooser" data-ng-model="currentIdea.category.id"
							data-placeholder="{{'app.inno.settings.chooseCategory' | i18n}}" data-ng-required="true">
						<option value=""></option>
						<option data-ng-repeat="category in app.categories"
								data-ng-selected="{{category.id == currentIdea.category.id}}"
								value="{{category.id}}">{{category.name}}
						</option>
					</select>
				</div>
			</div>
			<div class="control-group form-inline" data-ng-if="app.ideasHiddenField === true">
				<label class="control-label" for="hiddenfield">{{'app.inno.label.hiddenfield' | i18n}}</label>
				<div class="controls">
					<input class="span8" id="hiddenfield" name="hiddenfield" type="text"
							  data-ng-model="currentIdea.hiddenField" min="1"
							  max="9999" data-ng-required="false">
					</input>
				</div>
			</div>
			<div class="control-group form-inline" data-ng-show="app.visibility== 'CHOICE'">
				<label class="checkbox">
					<div class="controls">
						<input type="checkbox" data-ng-model="currentIdea.isAnon"/>
						{{'app.inno.anonItem' | i18n}}
					</div>
				</label>
			</div>
			<div class="field-item-container" data-ng-repeat="field in container.fields">
				<dynamic-field data-field="field" data-ng-model="itemValues[field.id]"></dynamic-field>
			</div>
			<div data-ng-show="errors.length > 0" class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert"></button>
				<ul>
					<li data-ng-repeat="error in errors"><strong data-ng-show="error.field">{{error.field}}:</strong>
						{{error.message}}
					</li>
				</ul>
			</div>
		</div>

		<!-- Similar ideas -->
		<div class="similar-ideas" data-ng-show="showSimilar">
			<div class="control-group innovationList">
				<ul class="list-ideas-overview">
					<li class="idea control-group" data-ng-class="{first : true}" data-ng-repeat="idea in similarIdeas  | orderBy: idea.modified">
						<div data-render-idea></div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="control-group modal-footer">
		<div class="controls">
			<button type="button" class="btn btn-primary list-app-submit" data-ng-show="!showSimilar && !currentIdea.id"
					data-ng-click="findSimilarIdeas(currentIdea, itemValues)" data-ng-disabled="(itemform.$invalid || formIsValid === false) || saveIdeaDisabled">
				<i class="icon-ok icon-white"></i>&nbsp;{{'save' | i18n}}
			</button>
			<button type="button" class="btn btn-primary list-app-submit" data-ng-disabled="saveIdeaDisabled"
					data-ng-click="saveIdea(currentIdea, itemValues)" data-ng-show="showSimilar === true">
				<i class="icon-ok icon-white"></i>&nbsp;{{'app.inno.similar.anyways' | i18n}}</i>
			</button>
			<button type="button" data-ng-show="!showSimilar && currentIdea.id" class="btn btn-primary list-app-submit"
					data-ng-click="updateIdea(currentIdea, itemValues)"
					data-ng-disabled="itemform.$invalid || formIsValid === false"><i
					class="icon-ok icon-white"></i>&nbsp;{{'save' | i18n}}
			</button>
			<button class="btn" type="button" data-ng-click="$close()" data-ng-show="!showSimilar">{{'cancel' | i18n}}</button>
			<button class="btn" type="button" data-ng-click="dismissSimilar()" data-ng-show="showSimilar">{{'cancel' | i18n}}</button>
		</div>
	</div>
</form>
