<div>
	<div>
		<h4 class="pull-left">{{app.title}}</h4>

		<div class="pull-right btn-group">
			<button data-ng-show="container.editable && !app.archived" class="btn btn-primary"
					data-ng-click="createIdea()"><i class="icon-plus icon-white"></i>&nbsp;{{'app.inno.newIdea'| i18n}}
			</button>
			<a data-ng-show="container.readable" class="btn" href="" data-ng-click="csvExport()"
			   title="{{'list.container.export' | i18n}}"><i class="icon-download-alt"></i></a>
		</div>
	</div>
	<br/>

	<p class="muted clear">{{app.description}}</p>
	<br/>

	<div class="control-group searchParams">
		<div class="row">
			<div class="span">
				<label class="control-label">{{'app.inno.category' | i18n}}</label>
				<select data-ui-select2="{ allowClear: true}" class="user-chooser input-large"
						data-ng-model="filterParams.categoryId"
						data-placeholder="{{'app.inno.settings.chooseCategory' | i18n}}">
					<option value=""></option>
					<option data-ng-repeat="category in app.categories" value="{{category.id}}">{{category.name}}
					</option>
				</select>
			</div>


			<div class="span">
				<label class="control-label">{{'app.inno.status' | i18n}}</label>
				<select data-ui-select2="{ allowClear: true}" class="user-chooser input-medium"
						data-ng-model="filterParams.status"
						data-placeholder="{{'app.inno.chooseStatus' | i18n}}">
					<option value=""></option>
					<option data-ng-repeat="state in statusList" value="{{state}}">{{('app.inno.status.' +
						state) | i18n}}
					</option>
				</select>
			</div>

			<div class="span">
				<label class="control-label">{{'app.inno.from' | i18n}}</label>

				<div class="input-append">
					<input class="input input-small" type="text" data-datepicker-popup="{{dateFormat}}"
						   data-ng-model="filterParams.from" data-is-open="opened1" show-button-bar="false"
						   data-datepicker-options="dateOptions" data-date-disabled="disabled(date, mode)"/>
					<button type="button" class="btn btn-default" data-ng-click="open($event, 'opened1')">
						<i class="icon-calendar"></i>
					</button>
				</div>
			</div>

			<div class="span">
				<label class="control-label">{{'app.inno.till' | i18n}}</label>

				<div class="input-append">
					<input class="input input-small" type="text" data-datepicker-popup="{{dateFormat}}"
						   data-ng-model="filterParams.till" data-is-open="opened2" data-show-button-bar="false"
						   data-datepicker-options="dateOptions" data-date-disabled="disabled(date, mode)"/>
					<button class="btn btn-default" type="button" data-ng-click="open($event, 'opened2')">
						<i class="icon-calendar"></i>
					</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span">
				<label class="control-label" for="textSearch">{{'app.inno.textSearch' | i18n}}</label>
				<input class="input input-large" type="text" data-ng-model="filterParams.text"
					   data-min="1" data-max="255" data-ng-required="false"/>
			</div>

			<div class="span">
				<label class="control-label">{{'app.inno.sort.label' | i18n}}</label>
				<select data-ui-select2="{ allowClear: true}" class="user-chooser input-medium"
						data-ng-model="filterParams.orderParam"
						data-placeholder="{{'app.inno.search.sorting' | i18n}}">
					<option value=""></option>
					<option value="RATING">{{'app.inno.sort.rating' | i18n}}</option>
					<option value="OLDEST">{{'app.inno.sort.oldest' | i18n}}</option>
					<option value="NEWEST">{{'app.inno.sort.newest' | i18n}}</option>
				</select>
			</div>

			<div class="span" data-ng-if="app.allowSearchByAuthor">
				<label class="control-label">{{'app.inno.author' | i18n}}</label>
				<section class="field-properties">
					<div class="field-property-container">
						<user-chooser data-field="userchooser.field" data-ng-model="filterParams.author"
									  data-options="userchooser.options">
						</user-chooser>
					</div>
				</section>
			</div>

			<div class="span" data-ng-show="isModerator && app.ideasHiddenField === true">
				<label class="control-label">{{'app.inno.sort.sensitive' | i18n}}</label>
				<select data-ui-select2="{ allowClear: true}" class="user-chooser input-medium"
						data-ng-model="filterParams.sensitiveInformation"
						data-placeholder="{{'optional' | i18n}}">
					<option value="">{{'app.inno.sort.sensitive.both' | i18n}}</option>
					<option value="true">{{'app.inno.sort.sensitive.true' | i18n}}</option>
					<option value="false">{{'app.inno.sort.sensitive.false' | i18n}}
					<option>
				</select>
			</div>
		</div>
	</div>

	<div data-ng-class="{'loading' : loading}" data-ng-show="loading"></div>

	<div class="control-group innovationList">
		<div class="no-content" data-ng-show="(!app.container.items || app.container.items.length < 1) && !loading">{{'app.inno.search.noresult' | i18n}}</div>

		<ul class="list-ideas-overview" data-ng-show="app.container.items && app.container.items.length > 0">
			<li class="idea control-group" data-ng-mouseleave="hover(idea, false)"
				data-ng-repeat="idea in app.container.items" data-ng-mouseenter="hover(idea, true)"
					data-ng-class="{'first' : true}">
				<div data-render-idea></div>
			</li>
			<pagination total-items="ideasCount" page="filterParams.page" max-size="pageSize" rotate="false" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
		</ul>
	</div>
</div>

