<div id="idea-bookmarks">
	<div class="group" data-ng-class="{'edit-mode': editMode}">
		<div class="title-header">
			<label class="control-label pull-left">{{'app.inno.link.idea.label' | i18n}}</label>
			<a class="icon-link pull-right" href="" data-ng-click="toggleEdit()">
				<i data-ng-if="!editMode" class="icon-edit"></i>
				<i data-ng-if="editMode" class="icon-ok"></i>
			</a>
		</div>

		<div data-ng-show="editMode" class="add-bookmark">
			<div data-search-drop-down data-ui-select2="selectIdeaOptions" data-ng-model="newLink" data-ng-required="true"></div>
			<a class="btn btn-primary btn-block btn-mini" data-ng-click="linkIdea()">{{'app.inno.link.idea'| i18n}}</a>
		</div>

		<br/>

		<ul class="unstyled">
			<li data-ng-repeat="idea in idea.linkedIdeas">
				<i class="icon-bookmark"></i>
				<a href="{{idea.url}}">
					<span data-ellipsify-text data-max-size="20" data-text-data="idea.title"></span>
				</a>
				<a class="icon-link pull-right" data-ng-show="editMode && !bookmark.global" href=""
				   data-ng-click="delinkItem(idea.id)"><i class="icon-remove"></i></a>
			</li>
		</ul>
	</div>
</div>