<div class="idea-rating">
	<div class="panel-fieldset">
		<a data-ng-show="idea.rating && (idea.status === 'NEW')" href="" data-ng-click="withdrawRating()"><i class="icon-remove"></i></a>

        <fieldset class="rating" id="{{id + 'fieldset-' + idea.id}}" data-ng-disabled="idea.status !== 'NEW'">
			<div>
				<small class="muted">{{'app.inno.rating.yours' | i18n}}</small>
			</div>
			<input type="radio" id="{{id + 'star' + idea.id + 5}}" name="{{ id +'star' + idea.id}}" value="5"
				   data-ng-click="rateIdea(5)" data-ng-checked="idea.rating === 5"/>
			<label for="{{id +'star' + idea.id + 5}}"></label>
			<input type="radio" id="{{id + 'star' + idea.id + 4}}" name="{{id +'star' + idea.id}}" value="4"
				   data-ng-click="rateIdea(4)" data-ng-checked="idea.rating === 4"/>
			<label for="{{id +'star' + idea.id + 4}}"></label>
			<input type="radio" id="{{id +'star' + idea.id + 3}}" name="{{id + 'star' + idea.id}}" value="3"
				   data-ng-click="rateIdea(3)" data-ng-checked="idea.rating === 3"/>
			<label for="{{id +'star' + idea.id + 3}}"></label>
			<input type="radio" id="{{id +'star' + idea.id + 2}}" name="{{id + 'star' + idea.id}}" value="2"
				   data-ng-click="rateIdea(2)" data-ng-checked="idea.rating === 2"/>
			<label for="{{id +'star' + idea.id + 2}}"></label>
			<input type="radio" id="{{id + 'star' + idea.id + 1}}" name="{{id + 'star' + idea.id}}" value="1"
				   data-ng-click="rateIdea(1)" data-ng-checked="idea.rating === 1"/>
			<label for="{{id +'star' + idea.id + 1}}"></label>
		</fieldset>
	</div>
	<br/>
</div>