<span class="idea-rating-average">&nbsp;({{rating}})</span>
<div class="idea-rating-overview">
	<div class="empty-stars">★★★★★</div>
	<div class="filled-stars" data-ng-style="{width: width}">★★★★★</div>
</div>
