<div class="idea" data-ng-class="{'status-new' : idea.status === 'NEW', 'status-declined' : idea.status === 'DECLINED',  'status-accepted' : idea.status === 'ACCEPTED',  'status-audit' : idea.status === 'AUDIT'}">

	<div data-remaining-days="idea" data-ttl="{{app.ttl}}"></div>
	
	<div class="top">
		<!-- Title and description-->
		<div class="pull-left left idea-title">
			<h5 data-ng-if="!showSimilar"><a href="" data-ng-click="showDetails(idea)">{{idea.title}}</a></h5>
			<h5 data-ng-if="showSimilar"><a data-ng-href="{{idea.url}}" target="_blank">{{idea.title}}</a></h5>
			
			<small class="muted" data-ellipsify-text data-max-size="170"
				   data-text-data="idea.description"
				   data-no-tool-tip="true">
			</small>
		</div>
		<!-- Rating -->
		<div class="right">
			<div data-rate-idea="idea" data-id="'index'"></div>
		</div>
	</div>
	<hr/>
	<div class="bottom">
		<div class="bottom-panel">
			<div class="bottom-element user">
				<div class="bottom-information">
					<img class="user-avatar thumb pull-left"
						 data-ng-src="{{idea.deanonymized || (app.visibility !== 'ANON' && !idea.isAnon) ? idea.creator.thumbUrl : idea.anonThumbUrl}}"
						 alt="{{idea.deanonymized || (app.visibility !== 'ANON' && !idea.isAnon) ? idea.creator.fullName : ''}}"
						 title="{{idea.deanonymized || (app.visibility !== 'ANON' && !idea.isAnon) ? idea.creator.fullName : ''}}"/>

					<div class="text">
						<span data-ng-if="(idea.deanonymized === true || (app.visibility !== 'ANON' && !idea.isAnon))">
							<small class="muted" data-user-link="idea.creator"></small>
						</span>
						<span data-ng-if="(app.visibility === 'ANON' || idea.isAnon) && idea.deanonymized !== true">
							<small>{{'app.inno.visibility.anon' | i18n}}</small>
						</span>
					</div>
				</div>
			</div>
			<div class="bottom-element">
				<div class="bottom-information">
					<div class="text">
						<small data-fuzzy-date="idea.created"></small>
					</div>
				</div>
			</div>
			<div class="bottom-element">
				<div class="bottom-information">
					<div class="text">
						<strong class="muted">{{'app.inno.category' | i18n}}:</strong>
						<small>{{idea.category.name}}</small>
					</div>
				</div>
			</div>
			<div class="bottom-element">
				<div class="bottom-information">
					<div class="text">
						<strong class="muted">{{'app.inno.status' | i18n}}:</strong>
						<a href="">
							<small class="uppercase"
								   data-ng-click="showStatus(idea)">{{('app.inno.status.' + idea.status) | i18n}}</small>
						</a>
					</div>
				</div>
			</div>
			<div class="bottom-element">
				<div class="bottom-information">
					<div class="text">
						<strong class="muted">{{'app.inno.comments' | i18n}}:</strong>
						<small>{{idea.commentsLength}}</small>
					</div>
				</div>
			</div>
			<div class="bottom-element">
				<div class="bottom-information">
					<div class="text">
						<strong class="muted">{{'app.inno.ratings' | i18n}}:</strong>
						<small>{{idea.ratings.length}}</small>
					</div>
				</div>
			</div>
			<div class="bottom-element">
				<div class="bottom-information">
					<div data-idea-rating-overview="idea.averageRating"></div>
				</div>
			</div>
		</div>
		<div class="idea-menu">
			<!-- Menu -->
			<div class="fadein fadeout dropup">
				<a class="dropdown-toggle" data-toggle="dropdown">
					<i class="icon-cog"></i>
				</a>
				<ul class="dropdown-menu pull-right">
					<li data-ng-show="isModerator === true">
						<a href="" tabindex="1" data-ng-click="openStatusDialog(idea)">
							<i class="icon-play"></i>&nbsp;{{'app.inno.setState' | i18n}}
						</a>
					</li>
					<li data-ng-show="isModerator === true">
						<a href="" tabindex="1" data-ng-click="showRating(idea)">
							<i class="icon-star"></i>&nbsp;{{'app.inno.showRatings' | i18n}}
						</a>
					</li>
					<li data-ng-if="isModerator === true || idea.editable === true && idea.status === 'NEW' && idea.comments === 0">
						<a href="" tabindex="1" data-ng-click="editIdea(idea)">
							<i class="icon-edit"></i>&nbsp;{{'app.inno.editIdea' | i18n}}
						</a>
					</li>
					<li data-ng-show="isModerator === true || (app.canBeRevoked && idea.owner)">
						<a href="" tabindex="2" data-confirm-dialog="deleteIdea(container, idea)" data-propagation="true"
						   data-confirm-message="{{'app.inno.delete.question' | i18n}}">
							<i class="icon-trash"></i>&nbsp;{{'app.inno.delete.label' | i18n}}
						</a>
					</li>
					<li data-ng-show="!idea.following">
						<a href="" tabindex="5" data-ng-click="followIdea(idea)">
							<i class="icon-plus"></i>&nbsp;{{'app.inno.follow' | i18n}}</i>
						</a>
					</li>
					<li data-ng-show="idea.following">
						<a href="" tabindex="5" data-ng-click="unfollowIdea(idea)">
							<i class="icon-minus"></i>&nbsp;{{'app.inno.unfollow' | i18n}}</i>
						</a>
					</li>
					<li data-ng-if="app.allowDeanonymization && isModerator  === true && (app.visibility === 'ANON' || idea.isAnon)">
						<a href="" tabindex="6" data-ng-click="deanonymizeIdea(idea)">
							<i class="icon-user"></i>&nbsp;{{'app.inno.deanonymize' |
							i18n}}</i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>