<div class="modal-body">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="$close()">&times;</button>

	<div class="control-group form-horizontal">
		<label  class="control-label" for="status">{{'app.inno.status' | i18n}} </label>
		<div class="controls">
			<select ui-select2 class="user-chooser input-medium" data-ng-model="currentIdea.status"
					data-placeholder="{{'app.inno.chooseStatus' | i18n}}" data-ng-required="true" disabled="true">
				<option data-ng-repeat="state in statusList" value="{{state}}">{{('app.inno.status.' + state) | i18n}}</option>
			</select>
		</div>
		<div class="control-group form-horizontal">
			<label class="control-label">{{'app.inno.comment' | i18n}}</label>
			<div class="controls">
				<textarea class="span4" rows="6" id="comment" data-ng-model="currentIdea.statusComment" name="comment" min="1" max="9999"
						  data-ng-required="false" disabled="true"></textarea>
			</div>
		</div>
	</div>
</div>
