<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
			data-ng-click="$close()">&times;</button>
	<h3>{{'app.inno.rating.title' | i18n}}</h3>
</div>

<div class="modal-body">
	<div id="rating-list">
		<div data-ng-show="currentIdea.ratings.length > 0">
			<ul class="unstyled">
				<li data-ng-class="{'top-row': $index / 3 < 1}" data-ng-repeat="rating in currentIdea.ratings">
					<div class="pull-left">
						<span data-tooltip="rating.user.fullName" data-user-thumb="rating.user"></span>
					</div>
					<div class="rating-list-details">
						<div class="rating-list-name" data-user-link="rating.user" data-length="22"></div>
						<div class="rating-list-rating" data-idea-rating-overview="rating.rating"></div>
					</div>
				</li>
			</ul>
		</div>
		<div data-ng-show="currentIdea.ratings.length < 1" class="no-content">{{'app.inno.rating.empty' | i18n}}</div>
	</div>
</div>