<div class="modal-body">
		<div class="control-group form-inline">
			<label class="control-label" data-ng-class="{required: true}" for="status">{{'app.inno.chooseStatus' |
				i18n}} </label>
			<div class="controls">
				<select ui-select2 class="user-chooser input-medium" data-ng-model="currentIdea.newStatus"
						data-placeholder="{{'app.inno.chooseStatus' | i18n}}" data-ng-required="true">
					<option value=""></option>
					<option data-ng-repeat="state in statusList" value="{{state}}">{{('app.inno.status.' + state) | i18n}}</option>
				</select>
			</div>
		</div>
		<div class="control-group form-inline">
			<label class="control-label" for="comment">{{'comment' | i18n }}</label>
			<div class="controls">
				<textarea class="span6" rows="6" id="comment" data-ng-model="currentIdea.statusComment" data-ng-required="false"></textarea>
			</div>
		</div>
		<br/>
		<div class="control-group">
			<div class="controls pull-right">
				<button class="btn" data-ng-click="$dismiss()">{{'cancel' | i18n}}</button>
				<button type="submit" class="btn btn-primary list-app-submit"
						data-ng-click="setStatus(currentIdea.newStatus)" data-ng-disabled="itemform.$invalid"><i
						class="icon-ok icon-white"></i>&nbsp;{{'save' | i18n}}
				</button>
			</div>
		</div>
</div>
