#{extends 'layouts/mail.html' /}

<style type="text/css">
	table.posts {
		border-top: 1px solid #EEE;
		width: 100%;
	}

	tr.post td {
		padding: 10px;
		vertical-align: top;
		font-size: 13px;
		border-bottom: 1px solid #EEE;
	}

	tr.post td.thumb {
		width: 50px;
	}
	
	tr.post small {
		color: #999;
	}
</style>

<h3>&{'post.report.mail.subject'}: ${message}</h3>
<br />
#{set 'content'}
<table class="posts">
	<tr class="post">
		<td valign="top">
			#{set 'postTitle'}#{wall.post.title post /}#{/}
			#{if postTitle.trim() != ''}#{get 'postTitle' /}<br />#{/}
			<a href="@@{Posts.show(post.id)}">
				#{set 'postMessage'}#{wall.post.content post /}#{/}
				#{if postMessage.trim() != ''}#{get 'postMessage' /}<br />#{/}
			</a>
			<small>#{date.smart post.created /}</small>
			<small><a href="@@{Posts.show(post.id)}">&{'mail.updates.viewOnline'}</a></small>
		</td>
	</tr>
</table>
#{/}
${utils.MailUtils.findAndReplaceLocalLinks(content).raw()}