#{textExpander}${_arg.linkifiedMessage.raw()}#{/}
<div class="post-share sender">
	#{sender.thumb _arg.sender /}
	<div class="post-share-body">
		<div><strong>#{sender.link _arg.sender /}</strong></div>
		<small>${_arg.sender.about}</small>
	</div>
</div>