#{extends 'layouts/administration.html' /}
#{set title:messages.get('nav.administration.blacklist') /}

<div class="alert">
	<strong>&{'admin.search.tip.note'}:</strong> &{'admin.hashtags.tip'}
</div>

<div data-ng-controller="BlacklistController">
	<div class="well form-inline dataTables_top">
		<input class="form-control" type="text" data-on-enter="addToBlackList(blackTag); blackTag = '';" data-ng-model="blackTag"
			   data-typeahead="tag  for tag in allowedHashtags | filter:$viewValue | limitTo:9" placeholder="&{'admin.hashtags.placeholder'}"
			   >

		<span class="btn btn-primary" data-ng-click="addToBlackList(blackTag); blackTag = '';">
			<i class="icon-plus icon-white"></i>{{'administration.hashtags.addToBlacklist' | i18n}}
		</span>
	</div>

	<table data-ng-table="tableParams" data-template-pagination="template/table/pager.html"
		   class="table table-striped table-bordered">
		<tbody>
		<tr data-ng-repeat="tag in $data">
			<td data-title="'Hashtag'">
				{{tag}}
			</td>
			<td data-title="''">
				<a href="" data-confirm-dialog="removeFromBlackList(tag)"
				   data-confirm-message="{{'deleteCheck.hashtag' | i18n}}"
				   class="ng-binding ng-isolate-scope btn btn-mini btn-danger"><i
						class="icon-remove icon-white"></i> {{'delete' | i18n}}</a>
			</td>
		</tr>
		</tbody>
	</table>
</div>