%{ user = (user != null) ? user : connectedUser; }%
#{if isPublic || connectedUser == user || connectedUser.superadmin}
	#{addLess 'plugin.userActivity' /}

	%{ activity = plugins.internal.UserActivityPlugin.getUserActivity(user); }%

	#{if activity != null}
		<div class="group">
			#{if user == connectedUser}
				<h4>&{'plugin.userActivity.rightbar.yourActivity'}</h4>
			#{/}#{else}
				<h4>&{'plugin.userActivity.rightbar.userActivity'}</h4>
			#{/}
			<div class="activity-bar">
				<div title="&{'plugin.userActivity.tip'}" class="progress tip userActivity userActivity-${(int)activity/10}"><div class="bar" style="width: ${activity}%;">${activity}%</div></div>
			</div>
		</div>
	#{/}
#{/}