#{form.field.custom 'public', label:'plugins.userActivity.visibility'}
	<label class="radio"><input type="radio" name="public" value="true" ${isPublic.yesno('checked','')} /> &{'plugins.userActivity.visibilityToEveryone'}</label>
	<label class="radio"><input type="radio" name="public" value="false" ${isPublic.yesno('','checked')} /> &{'plugins.userActivity.visibilityToAdmisOnly'}</label>
#{/}