#{extends 'layouts/embeddables.html' /}

#{if connectedUser != user}
	#{user.follow user, class:'btn-mini' /}
#{/}#{else}
	<span class="btn btn-primary btn-mini disabled"><i class="icon-ok icon-white"></i> &{'following'}</span>
#{/}