#{extends 'layouts/embeddables.html' /}

<div class="js-embeddable-liked-container ${liked.yesno('','hide')}">
	<a class="btn btn-primary btn-mini disabled"><i class="icon-ok icon-white"></i> &{'embeddables.liked.label'}</a>
	#{if post != null && likelist}<small>#{collaboration.likelist post /}</small>#{/}
</div>

<div class="js-embeddable-like-container ${liked.yesno('hide','')}">
	<a href="@@{Embeddables.doLike(url)}" class="btn btn-primary btn-mini js-embeddable-like"><i class="icon-star icon-white"></i> &{'embeddables.like.label'}</a>
</div>

<script type="text/javascript">
	$('.js-embeddable-like').click(function(e){
		e.preventDefault();
		
		$el = $(this);
		
		$.ajax({
			type : 'POST',
			url : $el.attr('href'),
			success : function() {
				$('.js-embeddable-like-container').hide();
				$('.js-embeddable-liked-container').show();
				window.location.reload();
			}
		});
	});
</script>