#{extends 'layouts/embeddables.html' /}

<a href="#" class="btn btn-primary btn-mini success hide disabled"><i class="icon-ok icon-white"></i> &{'embeddables.share.success'}</a>
<a href="@@{Embeddables.share(url, true)}" class="btn btn-primary btn-mini share"><i class="icon-share icon-white"></i> &{'embeddables.share.label'}</a>

<script type="text/javascript">
	$('.share').click(function(e){
		e.preventDefault();
		
		window.open($(this).attr('href'),'&{'embeddables.share.label'}','height=400,width=600');
	});
	
	function success() {
		$('.share').hide();
		$('.success').show();
	}
</script>