#{extends 'layouts/embeddables.html' /}
#{set title:messages.get('embeddables.share.label') /}
#{addLess 'embeddables.share' /}

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">${settings.getString('applicationName')}</a>
		</div>
	</div>
</div>

<h3>&{'embeddables.share.label'}</h3>

<div class="weblink">
	#{if info.thumbnailUrl != null}
		<img src="${info.thumbnailUrl}" alt="" class="weblink-thumb" />
	#{/}
	
	<div class="weblink-details ${(info.thumbnailUrl==null).yesno('','weblink-details-thumb')}">
		<strong class="title">${info.title}</strong><br />
		<small class="url">${url}</small><br />
		<span class="description">${info.description}</span>
	</div>
</div>

<hr>

#{user.thumb connectedUser /}

#{form @doShare(), id:'share'}
	<input type="hidden" name="url" value="${url}">
	<div class="control-group">
		<textarea name="message" id="message" placeholder="&{'share.placeholder'}"></textarea>
	</div>
	<input type="submit" value="&{'share'}" class="btn btn-primary">
#{/}

<script type="text/javascript">
	$('form#share').ajaxForm({
		beforeSubmit: function(arr, form){
			if($('#message').val() == '') {
				$(form).find('.control-group').addClass('error');
				$(form).find('input[type=submit]').removeClass('disabled');
				$(form).find('input[type=submit]').removeAttr('disabled');
				return false;
			}
			return true;
		},
		success: function(){
			window.opener.success();
			self.close();
		},
		error: function(){
			alert('Could not share. Please contact an administrator.');
		}
	});
</script>