<div data-ng-show="isHashtag">
	<div data-ng-show="followsHashTag">
		<a href="" class="btn {{hover == true ? 'btn-danger' : 'btn-primary'}}" data-ng-click="unfollow()" data-ng-mouseenter="hover = true" data-ng-mouseleave="hover = false"><i class="{{hover == true ? 'icon-remove' : 'icon-ok'}} icon-white"></i> {{unfollowText}}</a>
	</div>
	<div data-ng-show="!followsHashTag">
		<a href="" class="btn" data-ng-click="follow()">{{followText}}</a>
	</div>
</div>