<form id="forum-app-topic-form" name="topicform">
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label" for="title">{{'app.forum.topic.form.title' | i18n}}&nbsp;<small>{{'app.forum.topic.form.title.max' | i18n : 90 - topic.title.length}}</small></label>
			<div class="controls">
				<input id="title" type="text" name="title" ng-model="topic.title" placeholder="{{'app.forum.topic.form.title' | i18n}}" required maxlength="90" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="content">{{'app.forum.topic.form.content' | i18n}}</label>
			<div class="controls">
				<textarea id="content" name="content" ng-model="topic.content" rows="10" placeholder="{{'app.forum.topic.form.message' | i18n}}" required></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<file-chooser data-field="fileField" data-ng-model="topic.attachments" />
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="control-group">
				<button class="btn btn-primary pull-right forum-app-submit" data-ng-click="create(topic)" data-ng-disabled="topicform.$invalid"><i class="icon-ok icon-white"></i>&nbsp;{{'save' | i18n}}</button>
		</div>
	</div>
</form>