<div class="forum-nav">
	<a class="btn btn-primary" href="#!index"><i class="icon-home icon-white"></i></a>
	<pagination total-items="paging.total" page="paging.page" max-size="paging.maxPages" rotate="false" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" num-pages="numPages" on-select-page="pageChanged(page)"></pagination>
</div>

<hr class="spacer">

<div class="forum-topic-header">
	<h4><span class="label" data-ng-show="topic.closed">{{'app.forum.topic.closed' | i18n}}</span> {{topic.title}}
	<small class="forum-topic-meta">
		{{'app.forum.createAt' | i18n}}&nbsp;<span data-fuzzy-date="topic.created"></span> &#149; 
		<span data-ng-if="paging.total == 1">{{paging.total}}&nbsp;{{'app.forum.post' | i18n}}</span>
		<span data-ng-if="paging.total != 1">{{paging.total}}&nbsp;{{'app.forum.posts' | i18n}}</span>
	</small>
	</h4>
</div>

<ul id="forum-topic-postlist">
	<li class="forum-post-container" data-ng-class="{first : post.important, highlight : (highlight == post.id)}" data-ng-repeat="post in topic.posts" data-ng-mouseenter="hover(post)" data-ng-mouseleave="hover(post)">
		<div class="forum-post-meta">
			<div class="forum-post-avatar"><img data-ng-src="{{post.author.thumbUrl}}" alt="{{post.author.fullName}}" title="{{post.author.fullName}}" /></div>
			<div class="forum-post-name" data-user-link="post.author"></div>
			<div class="forum-post-date"><small data-fuzzy-date="post.modified"></small></div>
		</div>
		<div class="forum-post-message">
			<div data-ng-bind-html="post.message"></div>
			<div data-ng-show="post.attachments">
				<h5 class="attachments-header">{{'app.forum.post.attachments' | i18n}}</h5>
				<div data-wall-post-attachments="post.attachments" data-show-preview="false"></div>
			</div>
		</div>
		<div class="btn-group" data-ng-show="post.showOptions && (($index > 0 && post.canDelete) || ($first && topic.canEdit))">
			<a class="btn dropdown-toggle" data-toggle="dropdown">
				<i data-ng-show="post.important" class="icon-cog"></i>
				<span data-ng-show="!post.important" class="caret"></span>
			</a>
			<ul class="dropdown-menu pull-right">
				<li data-ng-show="post.important"><a href="" tabindex="1" data-confirm-dialog="deleteTopic()" data-confirm-message="{{'app.forum.topic.delete.confirm' | i18n}}"><i class="icon-trash"></i>&nbsp;{{'app.forum.topic.delete' | i18n}}</a></li>
				<li data-ng-show="post.important && !topic.closed"><a href="" tabindex="1" data-ng-click="setTopicClosed(true)"><i class="icon-ban-circle"></i>&nbsp;{{'app.forum.topic.close' | i18n}}</a></li>
				<li data-ng-show="post.important && topic.closed"><a href="" tabindex="1" data-ng-click="setTopicClosed(false)"><i class="icon-ok-circle"></i>&nbsp;{{'app.forum.topic.open' | i18n}}</a></li>
				<li data-ng-show="!post.important"><a href="" tabindex="1" data-confirm-dialog="deletePost($index)" data-confirm-message="{{'app.forum.post.delete.confirm' | i18n}}"><i class="icon-trash"></i>&nbsp;{{'app.forum.post.delete' | i18n}}</a></li>
			</ul>
		</div>
	</li>
</ul>

<div class="alert" data-ng-show="topic.closed">{{'app.forum.topic.closed.help' | i18n}}</div>

<div class="forum-nav-footer">
	<pagination total-items="paging.total" page="paging.page" max-size="paging.maxPages" rotate="false" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" num-pages="numPages" on-select-page="pageChanged(page)"></pagination>
</div>

<div class="form-actions" data-ng-show="!topic.closed && topic.canPost">
	<form name="form">
		<div class="textarea-wrapper">
			<textarea id="content" name="content" data-ng-model="content" data-ng-disabled="loading" data-autogrow placeholder="{{'app.forum.topic.form.respond' | i18n}}" required></textarea>
		</div>
		<button class="btn btn-primary pull-right" data-ng-click="addPost()" data-ng-disabled="loading || form.$invalid">{{'app.forum.send' | i18n}}</button>
		<div data-file-chooser data-field="fileField" data-ng-model="fileAttachments"></div>
	</form>
</div>