<div class="forum-nav">
	<a class="btn btn-primary" disabled href="index"><i class="icon-home icon-white"></i></a>
	<button class="btn btn-primary pull-right" data-ng-click="showForm()" data-ng-if="createTopicPermission"><i class="icon-plus icon-white"></i>&nbsp;{{'app.forum.topic.create' | i18n}}</button>
</div>

<hr class="spacer">

<div data-ng-show="!loading.busy && topics.length < 1" class="no-content">{{'app.forum.empty' | i18n}} <a href="" data-ng-click="showForm()" data-ng-if="createTopicPermission">{{'app.forum.empty.link' | i18n}}</a></div>

<div data-ng-show="topics.length > 0">
	<table class="table table-striped forum-topic-table" data-infinite-scroll="getTopics()" data-infinite-scroll-disabled="loading.done || loading.busy" data-infinite-scroll-distance='0' data-infinite-scroll-immediate-check="false">
		<thead>
			<tr>
				<th>{{'app.forum.tableheader.title' | i18n}}</th>
				<th>{{'app.forum.tableheader.posts' | i18n}}</th>
				<th>{{'app.forum.tableheader.created' | i18n}}</th>
				<th>{{'app.forum.tableheader.lastPost' | i18n}}</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr class="topics" data-ng-repeat="topic in topics" data-ng-mouseenter="hover(topic)" data-ng-mouseleave="hover(topic)">
				<td><a class="forum-topic-detail" href="#!/topic/{{topic.id}}"><span class="label" data-ng-show="topic.closed">{{'app.forum.topic.closed' | i18n}}</span>{{topic.title}}</a></td>
				<td>{{topic.postCount}}</td>
				<td><span data-user-link="topic.author"></span>&nbsp;<small data-fuzzy-date="topic.created"></small></td>
				<td><span data-user-link="topic.lastPost.author"></span>&nbsp;<small data-fuzzy-date="topic.lastPost.modified"></small></td>
				<td class="forum-topic-options">
					<div>
						<div class="btn-group" data-ng-show="topic.showOptions && topic.canEdit">
							<a class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
							<ul class="dropdown-menu pull-right">
								<li><a href="" tabindex="1" data-confirm-dialog="deleteTopic($index)" data-confirm-message="{{'app.forum.topic.delete.confirm' | i18n}}"><i class="icon-trash"></i>&nbsp;{{'app.forum.topic.delete' | i18n}}</a></li>
								<li data-ng-show="!topic.closed"><a href="" tabindex="1" data-ng-click="setTopicClosed($index, true)"><i class="icon-ban-circle"></i>&nbsp;{{'app.forum.topic.close' | i18n}}</a></li>
								<li data-ng-show="topic.closed"><a href="" tabindex="1" data-ng-click="setTopicClosed($index, false)"><i class="icon-ok-circle"></i>&nbsp;{{'app.forum.topic.open' | i18n}}</a></li>
							</ul>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="loading" data-ng-show='loading.busy'>Loading data...</div>
</div>