#{addLess 'app.tasks' /}

#{if tasks?.size() > 0}
	<div class="group tasks-rightbar">
		<h4>&{'plugin.tasks.title'}</h4>
		<ul class="unstyled">
			#{list items:tasks, as:'task'}
				<li>
					<i class="icon-check"></i>
					<a href="@{Senders.show(task.app.sender.id, task.app.id)}">
						${task.name}
						#{if task.due}
							<small class="${task.overdue.yesno('overdue','')}">(#{date.short task.due /})</small>
						#{/}
					</a>
				</li>
			#{/}
		</ul>
	</div>
#{/}