#{extends 'layouts/main.html'/}
#{set title:messages.get('notification.title') /}

#{if connectedUser.getUnreadNotificationsCount() > 0}
	#{set 'actions'}
		<div data-rest-link data-url="@{api.NotificationsAPI.markNotificationsRead}" data-type="PUT" class="btn btn-primary"><i class="icon-ok icon-white"></i>&nbsp;&{'notifications.markAllRead'}</div>
	#{/}
#{/}

#{if notifications.size() > 0}
	<ul class="list list-boxes notifications">
		#{list items:notifications, as:'un'}
			<li class="${un.isRead.yesno("", "unread")}">
				<a href="@{Notifications.goToSource(un.notification.id)}">
					<img src="${un.notification.getImageUrl()}" />
					${un.notification.getText(un)}<br />
					<small>#{date.fuzzy un.eventDate /}</small>
				</a>
			</li>
		#{/}
	</ul>
	#{ui.list.endless 'ul.notifications', size:10 /}
#{/}#{else}
	<center>&{'notifications.empty'}</center>
#{/}