#{list notifications, as:'un'}
	<li class="notification ${un.isRead.yesno('','unread')}">
		<a href="@{Notifications.goToSource(un.notification.id)}">
			#{if un.notification.imageUrl}<img src="${un.notification.imageUrl}" alt="">#{/if}
			<span class="notificaiton-body">
				${un.notification.getText(un)}<br>
				<small>#{date.fuzzy un.eventDate /}</small>
			</span>
		</a>
	</li>
	<li class="notification-divider divider"></li>
#{/list}