<div class="control-group" data-type="select" data-id="${field.id}"  data-required="${field.required}">
	#{formsapp.label field /}
	<div class="controls">
		<select>
			#{if field.id == null}
				<option disabled selected>&{'forms.select.pleaseChoose'}</option>
				<option>&{'formsapp.select.defaultlabel', '1'}</option>
				<option>&{'formsapp.select.defaultlabel', '2'}</option>
				<option>&{'formsapp.select.defaultlabel', '3'}</option>
			#{/if}
			#{else}
				<option disabled selected>&{'forms.select.pleaseChoose'}</option>
				#{list items:field.options, as:'option'}
				<option data-id="${option.id}">${option.label}</option>
				#{/list}
			#{/else}
		</select>
		#{formsapp.helpblock field /}
	</div>
	#{formsapp.actions/}
	#{include 'FormsApp/form-elements/select/settings.html'/}
</div>