<div class="control-group" data-type="select">
	#{formsapp.label field /}
	
	<div class="controls">
	
		<select id="forms-${field.id}" name="form.field${field.id}">
			<option disabled selected value="">&{'forms.select.pleaseChoose'}</option>
			#{list items:field.options, as:'option'}
			<option value="${option.label}" #{if flash['form.field' + field.id] == option.label}selected#{/if}>${option.label}</option>
			#{/list}
		</select>
		
		<span class="error">#{error 'form.field' + field.id /}</span>
		
		#{formsapp.helpblock field /}
	</div>
</div>