%{
	fileAttachments = _arg.fileAttachments;
	linkAttachments = _arg.linkAttachments;
}%

#{if fileAttachments.size() > 0}
	<ul class="unstyled attachments">
		#{list items:fileAttachments, as:'att'}
			<li class="attachment">#{preview att, imageWidth:200 /}</li>
		#{/}
	</ul>
	<div class="clearfix"></div>
#{/}

#{if linkAttachments.size() > 0}
	<ul id="link-attachment-${_arg.id}" class="unstyled attachments">
		#{list items:linkAttachments, as:'att'}
			<li data-link-attachment="${att.url}"></li>
		#{/}
	</ul>
	<div class="clearfix"></div>
	<script type="text/javascript">
		var elem = angular.element("body"),
			compileFn = elem.injector().get('$compile');
		compileFn(angular.element('#link-attachment-${_arg.id}'))(elem.scope());
	</script>
#{/}
