<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" data-ng-cloak>
			<span class="brand">&{'administration.nav.title'}</span>
			
			<ul class="nav pull-left">
				#{secure acl.Permission.ADMIN_USER}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'nav.administration.userManagement'} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="${(request.action.startsWith('administration.Users.')).yesno('active','')}"><a href="@{administration.Users.index}">&{'nav.administration.users'}</a></li>
							<li class="${(request.action.startsWith('administration.UserGroups.')).yesno('active','')}"><a href="@{administration.UserGroups.index}">&{'nav.administration.groups'}</a></li>
							<li class="${(request.action.startsWith('administration.UserRoles.')).yesno('active','')}"><a href="@{administration.UserRoles.index}">&{'nav.administration.roles'}</a></li>
						</ul>
					</li>
				#{/}
				#{secure acl.Permission.ADMIN_TEASER}
					<li class="${(request.action.startsWith('administration.Teasers.')).yesno('active','')}"><a href="@{administration.Teasers.index}">&{'nav.administration.teaser'}</a></li>
				#{/}
				#{secure acl.Permission.ADMIN_CATEGORIES}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'nav.administration.categories'} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="${(request.action.startsWith('administration.PageCategories.')).yesno('active','')}"><a href="@{administration.PageCategories.index}">&{'nav.administration.pageCategories'}</a></li>
							<li class="${(request.action.startsWith('administration.WorkspaceCategories.')).yesno('active','')}"><a href="@{administration.WorkspaceCategories.index}">&{'nav.administration.workspaceCategories'}</a></li>
						</ul>
					</li>
				#{/}
				#{secure acl.Permission.ADMIN_BOOKMARKS}
					<li class="${(request.action.startsWith('administration.Bookmarks.')).yesno('active','')}"><a href="@{administration.Bookmarks.index}">&{'nav.administration.bookmarks'}</a></li>
				#{/}
				#{secure acl.Permission.ADMIN_THEME}
					<li class="${(request.action.startsWith('administration.ThemeSettings.')).yesno('active','')}"><a href="@{administration.ThemeSettings.index}">&{'nav.administration.theme'}</a></li>
				#{/}
				#{secure acl.Permission.ADMIN_STATISTICS}
					#{if settings.getBoolean('statistics')}
					<li class="${(request.action.startsWith('administration.Statistics.')).yesno('active','')}"><a href="@{administration.Statistics.index}">&{'nav.administration.statistics'}</a></li>
					#{/}
				#{/}
				#{secure acl.Permission.ADMINISTRATION}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'nav.administration.settings'} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="${(request.action.startsWith('administration.Settings.')).yesno('active','')}"><a href="@{administration.Settings.index}">&{'nav.administration.settings.general'}</a></li>
							<li class="${(request.action.startsWith('administration.ServerInfo.')).yesno('active','')}"><a href="@{administration.ServerInfo.index}">&{'nav.administration.settings.serverInfo'}</a></li>
							<li class="${(request.action.startsWith('administration.Apps.')).yesno('active','')}"><a href="@{administration.Apps.index}">&{'nav.administration.apps'}</a></li>
							<li class="${(request.action.startsWith('administration.Plugins.')).yesno('active','')}"><a href="@{administration.Plugins.index}">&{'nav.administration.plugins'}</a></li>
							<li class="${(request.action.startsWith('administration.Search.')).yesno('active','')}"><a href="@{administration.Search.index}">&{'nav.administration.search'}</a></li>

							<li class="${(request.action.startsWith('administration.Hashtags.')).yesno('active','')}"><a href="@{administration.Hashtags.index}">&{'nav.administration.hashtags'}</a></li>

							#{if controllers.administration.Logs.SHOW_LOGS}
								<li class="${(request.action.startsWith('administration.Logs.')).yesno('active','')}"><a href="@{administration.Logs.index}">&{'nav.administration.logs'}</a></li>
							#{/}
							
							%{ additionalNav = controllers.administration.Main.getSettingsNav(); }%
							#{if additionalNav.size() > 0}
								<li class="divider"></li>
								#{list items:additionalNav, as:'item'}
									<li class="${(request.controllerClass == item.controllerClass).yesno('active','')}"><a href="${item.url}">${item.label}</a></li>
								#{/}
							#{/}		
						</ul>
					</li>
				#{/}
			</ul>
			<ul class="nav pull-right">
				<li>
					<a href="@{ActivityStream.index}">&{'nav.administration.exitAdministration'} &rarr;</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.navbar .dropdown-menu li.active').parents('li.dropdown').addClass('active');
</script>