#{if settings.getBoolean('messaging')}
	#{if settings.getBoolean('messagingChat') && request.controller != 'Messaging'}
		<div id="chat" data-ng-controller="ChatController" data-ng-cloak class="ng-cloak">
			<div class="chat-conversation" data-ng-repeat="cm in conversations | orderBy:'-modified'">
				<div class="chat-wrapper" data-ng-controller="ConversationController" data-ng-init="init(false)"
					 id="chat{{cm.id}}" data-ng-class="{'chat-open': enabled, 'removing': cm.remove}">
					<div class="chat-icon">
						<span class="chat-new-icon" data-ng-show="cm.unreadCount > 0">{{cm.unreadCount}}</span>
						<a data-ng-click="triggerConversation(cm)" class="chat-thumb" data-ng-class="cm.conversationStatus" title="{{cm.subject}}" data-background-img="{{cm.thumbURL}}" data-tip="cm.subject"></a>
						<div class="loading-icon" data-ng-show="loading && !enabled"></div>
					</div>
					<div class="chat-window">
						<strong data-ng-click="closeConversation()" class="chat-title" title="{{cm.subject}}">
							{{cm.subject}}
							#{if models.Settings.findApplicationSettings().getBoolean('messagingWebRTC')}
								<span class="chat-options-audio"><i data-ng-if="cm.otherUsers.length == 1 && cm.otherUsers[0].status == 'ONLINE'" title="&{"webrtc.open.audio"}" data-open-video-chat="cm.otherUsers[0]" data-audio-only="true" class="icon-headphones icon-white"></i></span>
								<span class="chat-options-video"><i data-ng-if="cm.otherUsers.length == 1 && cm.otherUsers[0].status == 'ONLINE'" title="&{"webrtc.open.video"}" data-open-video-chat="cm.otherUsers[0]" data-audio-only="false" class="icon-facetime-video icon-white"></i></span>
							#{/}
							<span class="chat-options">
								<i title="&{"messaging.chat.minimize"}" data-ng-click="closeConversation()" class="icon-chevron-down icon-white chat-minimize"></i>
								<a title="&{"messaging.chat.expand"}" data-ng-click="openPortal(cm)" class="chat-expand"><i class="icon-fullscreen icon-white"></i></a>
								<i title="&{"messaging.chat.close"}" data-ng-click="closeAndRemoveConversation(cm)" class="icon-remove icon-white pull-right chat-close"></i>
							</span>
						</strong>
						<div class="loading-icon" data-ng-show="loading && enabled"></div>
						<div class="chat-scrollable" data-endless-scroll-top="loadMorePosts()" data-enabled="!loading">
							<ul class="chat-stream" data-stream-adjust="postCollection.posts">
								<li data-ng-repeat="post in postCollection.posts" class="post" data-ng-class="{'me' : post.author.currentUser}">
									<div data-ng-if="post.event">
										<small class="post-time" data-fuzzy-date="post.created"></small>
										<small>{{post.message}}</small>
									</div>
									<div data-ng-if="!post.event">
										<div data-user-thumb="post.author"></div>
										<div class="post-body">
											<small class="post-time" data-fuzzy-date="post.created"></small>
											<strong class="post-author"><span data-user-link="post.author"></span></strong>
											<p class="post-message"><i data-ng-if="!post.message && post.attachments.length == 0" class="muted">&{'messaging.post.emptyMessage'}</i><span data-ng-bind-html="post.linkifiedMessage"></span></p>								
											<div data-ng-if="post.attachments.length" data-wall-post-attachments="post.attachments"></div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<form class="conversation-form" id="conversation-form-{{cm.id}}" data-upload-dropzone="attachments-{{cm.id}}" name="postForm" data-ng-submit="addPost(post)" data-ng-controller="PostFormController" data-ng-show="enabled">
							<div data-ng-model="post.attachments" data-upload="getUploadOptions(cm)"></div>
							<textarea data-focus-me="enabled && !loading" data-ng-disabled="loading" class="form-message autogrow-short" data-ng-model="post.message" rows="3" data-autogrow placeholder="&{'messaging.placeholder'}" data-on-enter="addPost(post)"></textarea>
							<a href="" class="upload-trigger" id="upload-trigger-{{cm.id}}" title="&{'messaging.form.attachAFile'}" data-ng-disabled="loading" data-upload-trigger="attachments-{{cm.id}}" data-upload-refresh="enabled"></a>
							<input type="submit" class="submit" value="&{'messaging.submit'}" data-ng-disabled="loading || !post.message">
						</form>
					</div>
				</div>
			</div>
		</div>
	#{/}
#{/}