#{addScript 'generic.external.navbar'/}
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" data-ng-cloak>
			<a class="brand ${(request.action.startsWith('Users.') && user == connectedUser).yesno('active','')}" href="@{Users.info(connectedUser.id, connectedUser.slug)}">${settings.getString('applicationName')}</a>
			
			<div class="nav-collapse">
				<ul class="nav workspaces">
					#{list items:connectedUser.workspaces, as:'wm'}
						<li class="${(wm.workspace == workspace).yesno('active','')} invisible">
							<a href="@{Workspaces.show(wm.workspace.id)}"><i class="icon-th-large"></i> ${wm.workspace.name}</a>
						</li>
					#{/}
					<li class="dropdown hidden">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-chevron-down"></i> &{'nav.more'}</a>
						<ul class="dropdown-menu"></ul>
					</li>
				</ul>
			</div>
			
			<ul class="nav pull-right">
				#{include 'layouts/_navbar-profile.html' /}
				#{include 'layouts/_navbar-messaging.html' /} 
				#{include 'layouts/_navbar-notifications.html' /}
				#{include 'layouts/_navbar-dropdown.html' /}
			</ul>
		</div>
	</div>
</div>
