%{
	currentYear = new Date().format('yyyy');
}%

<div class="footer" data-ng-cloak>
	<div class="footer-inner">
		<div class="pull-left">
			#{get 'footer' /}
			#{if mobileDevice }
				<a href="@{Users.forceMobileTheme}"><small>&{'mobile.forceMobileTheme'}</small></a>
			#{/}
		</div>
		<div class="copyright pull-right">&{'footer.coyo'} ${play.configuration['application.version']} - Copyright &copy; 2010-${currentYear} mindsmash GmbH</div>
	</div>
</div>

#{if connectedUser != null}
	#{if !license.LicenseValidator.valid()}
		#{append 'footerWarning'}<p>&{'layouts.nonValidLicense'}</p>#{/}
	#{/}
	
	#{if footerWarning}
		<div class="footer-warning">
			#{get 'footerWarning' /}
		</div>
	#{/}
#{/}