#{set 'actionJs'}#{loadScripts /}#{/}

<!-- Load HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
	<script src="#{resource 'scripts/html5shiv.js' /}"></script>
<![endif]-->

<script type="text/javascript" src="@{open.Application.authenticityToken()}"></script>
<script type="text/javascript" src="@{open.Application.messages(lang)}"></script>
<script type="text/javascript" src="@{open.Application.routes()}"></script>

#{addScript 'jquery-1.8.3.min' /}
#{addScript 'bootstrap.min' /}
<script type="text/javascript" src="#{resource 'scripts/ckeditor/ckeditor.js' /}"></script>


#{addScript 'modernizr.custom.min' /}
#{addScript 'underscore' /}

#{addScript 'basil.min' /}

#{addScript 'jquery-ui-1.10.3.custom.min' /}
#{addScript 'jquery-ui-timepicker-addon' /}

#{addScript 'jquery.form' /}
#{addScript 'jquery.autogrow-textarea' /}

#{addScript 'jquery.timeago' /}

#{addScript 'jquery.expander' /}
#{addScript 'jquery.scrollTo' /}
#{addScript 'jquery.highlight' /}

#{addScript 'chosen.jquery.min' /}
#{addScript 'mustache' /}

#{addScript 'momentjs/moment-with-locales.min', dir:'libs' /}
#{addScript 'momentjs/moment-timezone-with-data.min', dir:'libs' /}

#{addScript 'select2/select2.min' /}
#{addScript 'select2/select2_locale' /}

#{addScript 'generic.jquery' /}
#{addScript 'generic.layout.main' /}
#{addScript 'generic.search' /}
#{addScript 'generic.notifications' /}
#{addScript 'generic.iefix' /}
#{addScript 'generic.ajax' /}
#{addScript 'generic.like' /}
#{addScript 'generic.follow' /}
#{addScript 'generic.comments' /}
#{addScript 'generic.userchooser' /}

#{addScript 'plupload/plupload.full.min' /}

#{addScript 'adapter.js/adapter' /}

#{addAngularMin /}
#{addScript 'angular/select2' /}
#{addScript 'angular-commons-upload' /}
#{addScript 'angular/ng-table' /}
#{addScript 'angular/angular-ui-router' /}
#{addScript 'angular-mentio/mentio' /}
#{addScript 'angular-mentio/templates' /}
#{addScript 'angular/ng-infinite-scroll' /}

#{addScript 'coyo/user/user.service' /}

#{addScript 'coyo/wall/directives' /}

#{addScript 'coyo/comments/comments.directives' /}
#{addScript 'coyo/comments/comments.services' /}
#{addScript 'coyo/comments/comments' /}

#{addScript 'coyo/likes/likes' /}
#{addScript 'coyo/likes/likes.directives' /}
#{addScript 'coyo/likes/likes.services' /}

#{addScript 'coyo/share/share' /}
#{addScript 'coyo/share/share.directives' /}
#{addScript 'coyo/share/share.services' /}

#{addScript 'coyo/generic' /}
#{addScript 'coyo/generic/controllers' /}
#{addScript 'coyo/generic/longpolling' /}
#{addScript 'coyo/generic/directives' /}
#{addScript 'coyo/generic/services' /}
#{addScript 'coyo/generic/filters' /}
#{addScript 'coyo/generic/templates' /}

#{addScript 'coyo/messaging' /}
#{addScript 'coyo/messaging/ConversationController' /}
#{addScript 'coyo/messaging/PostFormController' /}
#{addScript 'coyo/messaging/resources' /}
#{addScript 'coyo/messaging/directives' /}
#{addScript 'coyo/messaging/filters' /}

#{addScript 'coyo/messaging/chat' /}
#{addScript 'coyo/messaging/chat/ChatController' /}

#{addScript 'coyo/app/widgets/generic.app.widgets.services' /}
#{addScript 'coyo/app/widgets/generic.app.widgets.controllers' /}
#{addScript 'coyo/app/widgets/generic.app.widgets' /}

#{addScript 'coyo/hashtags/directives' /}
#{addScript 'coyo/hashtags/services' /}
#{addScript 'coyo/hashtags/hashtags' /}
#{addScript 'coyo/pluginhooks/directives' /}

#{addScript 'coyo/online' /}
#{addScript 'coyo/online/controllers' /}
#{addScript 'coyo/online/service' /}

#{addScript 'coyo/webrtc/webrtc' /}
#{addScript 'coyo/webrtc/webrtc.controllers' /}
#{addScript 'coyo/webrtc/webrtc.directives' /}
#{addScript 'coyo/webrtc/webrtc.services' /}

#{addScript 'coyo/bookmarks/bookmarks' /}
#{addScript 'coyo/bookmarks/bookmarks.controllers' /}
#{addScript 'coyo/bookmarks/bookmarks.services' /}

#{addScript 'coyo/account/account' /}
#{addScript 'coyo/account/account.controllers' /}
#{addScript 'coyo/account/account.services' /}

#{addScript 'coyo/media/media.controllers' /}
#{addScript 'coyo/media/media.directives' /}
#{addScript 'coyo/media/media.services' /}
#{addScript 'coyo/media/media' /}

#{addScript 'coyo/calls/calls.controllers' /}
#{addScript 'coyo/calls/calls.services' /}
#{addScript 'coyo/calls/calls' /}

#{addScript 'coyo/search/search.controllers' /}
#{addScript 'coyo/search/search.directives' /}
#{addScript 'coyo/search/search.services' /}
#{addScript 'coyo/search/search' /}

#{addScript 'coyo/teaser/teaser' /}
#{addScript 'coyo/teaser/teaser.controllers' /}
#{addScript 'coyo/teaser/teaser.services' /}

#{addScript 'coyo/workspace/workspace' /}
#{addScript 'coyo/workspace/workspace.controllers' /}
#{addScript 'coyo/workspace/workspace.services' /}
#{addScript 'coyo/workspace/workspace.directives' /}

#{addScript 'coyo/events/event' /}
#{addScript 'coyo/events/event.controllers' /}
#{addScript 'coyo/events/event.services' /}

#{addScript 'coyo/generic.filechooser' /}

#{addScript 'coyo/app/blog/blog.controllers' /}
#{addScript 'coyo/app/blog/blog.directives' /}
#{addScript 'coyo/app/blog/blog.services' /}
#{addScript 'coyo/app/blog/blog' /}

#{addScript 'jquery.html5-placeholder-shim' /}
#{addScript 'angular/angular-placeholder-shim' /}

#{addScript 'mediaelement-and-player.min', dir:'libs/mediaelementjs' /}

#{addScript 'soundmanager2/script/soundmanager2' /}
#{loadScripts /}


#{if theme.Theme.resourceExists('scripts/jquery.ui.datepicker-' + lang + '.js')}#{addScript 'jquery.ui.datepicker-' + lang /}#{/}
#{if theme.Theme.resourceExists('scripts/jquery.ui.timepicker-' + lang + '.js')}#{addScript 'jquery.ui.timepicker-' + lang /}#{/}
#{if theme.Theme.resourceExists('scripts/jquery.timeago.' + lang + '.js')}#{addScript 'jquery.timeago.' + lang /}#{/}
#{if lang.equals("de") }#{addScript 'angular/angular-locale_' + lang + '-' + lang /}#{/}
#{loadScripts /}


#{if adminLayout}
	#{addScript 'angular/ng-table' /}
	#{addScript 'angular/angular-animate' /}
	#{addScript 'coyo/generic.filechooser' /}
	#{addScript 'coyo/admin/admin' /}
	#{addScript 'coyo/admin/admin.controllers' /}
	#{addScript 'coyo/teaser/teaser.services' /}
	#{addScript 'coyo/hashtags/services' /}
	#{addScript 'coyo/hashtags/hashtags' /}
	#{addScript 'coyo/admin/hashtags' /}
	#{loadScripts /}
#{/}


#{get 'actionJs' /}


<script type="text/javascript">
    soundManager.url = '#{resource 'scripts/soundmanager2/swf/soundmanager2.swf' /}';
    soundManager.debugMode = false;
    soundManager.useHTML5Audio = false;
</script>

<!--[if lte IE 8]><script type="text/javascript" src="#{resource 'scripts/es5-shim.min.js' /}"></script><![endif]-->
