#{set 'titleTagValue'}${settings.getString('applicationName')}#{if title} - #{get 'title' /}#{/}#{/}

<head data-ng-controller="CoyoTitleController" data-ng-init="init('${titleTagValue.raw().formatJs()}')">
	
	<title data-ng-bind="title"></title>
	<meta name="X-ORIGINAL-TITLE" content="${titleTagValue.raw()}">
	
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE">
	
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="robots" content="noindex">
	#{if sub_nav_url}
		 <meta name="sub_nav_url" content="#{get 'sub_nav_url' /}" />
	#{/}
	#{if sub_nav_title}
		 <meta name="sub_nav_title" content="#{get 'sub_nav_title' /}" />
	#{/}
	#{if theme.Theme.activeTheme == 'web'}
		<meta name="viewport" content="width=1050" />
	#{/}#{elseif theme.Theme.activeTheme == 'mobile'}
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		#{include 'layouts/_ios-webapp.html' /}
	#{/}
	
	#{if ogDescription}<meta name="og:description" content="#{get 'ogDescription' /}">#{/}
	#{if ogImage}<meta name="og:image" content="#{get 'ogImage' /}">#{/}
	
	<link rel="shortcut icon" href="@{open.Application.favicon()}">
	
	<base href="${request.path}">

	<script type="text/javascript">
        var Coyo = {
        	isDevMode : ${play.Play.mode.isDev()},
            connectedUser: ${connectedUser?.id},
            connectedUserTimeZone: '${connectedUser.getDateTimeZone()}',
            scripts: '@{'/public/scripts'}',
            stylesheets: '@{'/public/stylesheets'}',
            images: '@{'/public/images'}',
            hashtags: ${fishr.Fishr.HASHTAGS},
            dateFormats: {
            	'normal' : '${libs.DateI18N.getNormalFormat()}',
            	'full' : '${libs.DateI18N.getFullFormat()}',
            	'short' : '${libs.DateI18N.getShortFormat()}'
            },
            timeFormats: {
            	'normal' : '${libs.DateI18N.getTimeFormat()}'
            },
			hashtagPattern: '${utils.Hashifier.HASHTAG_REGEXP.raw()}',
			longpollingTimeout: ${controllers.api.UpdateService.getTimeoutAsMillis()},
			commentsUpdateInterval: ${controllers.api.CommentsAPI.getUpdateInterval()},
			activityStreamStatusInterval: ${controllers.ActivityStream.getStatusInterval()}
        };
	</script>
	
	#{plugin.hook plugins.PluginHooks.HEAD /}
	
	#{include 'layouts/_head.css.html' /}
	#{include 'layouts/_head.js.html' /}
	
	<script type="text/javascript">
		var CKEDITOR_BASEPATH = '#{resource 'scripts/ckeditor' /}/';
		var CKEDITOR_BASECONFIG = {
			language: '${connectedUser?.language.getLanguage()}',
			contentsCss: ['#{resource 'stylesheets/bootstrap.min.css' /}', '#{resource 'stylesheets/generic.less' /}', '#{resource 'stylesheets/lib.ckeditor.css' /}'],
			entities: false,
			allowedContent : {
				$1: {
					// Use the ability to specify elements as an object.
					elements: CKEDITOR.dtd,
					attributes: true,
					styles: true,
					classes: true
				}
			},
			disallowedContent : 'script; *[on*]',
			height: 400,
			extraPlugins: 'oembed',
			toolbar: [
				{ name: 'clipboard', groups: [ 'clipboard', 'undo' ], items: [ 'Cut', 'Copy', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Undo', 'Redo' ] },
				{ name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
				{ name: 'media', items: [ 'addFile', 'addImage', 'Image', 'oembed' ] },
				{ name: 'insert', items: [ 'Table', 'HorizontalRule', 'PageBreak', 'SpecialChar' ] },
				{ name: 'tools', items: [ 'Maximize' ] },
				{ name: 'document', groups: [ 'mode', 'document', 'doctools' ], items: [ 'Source' ] },
				{ name: 'others', items: [ '-' ] },
				'/',
				{ name: 'basicstyles', groups: [ 'basicstyles', 'cleanup', 'colors' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', '-', 'TextColor', '-', 'RemoveFormat' ] },
				{ name: 'paragraph', groups: [ 'list', 'indent', 'blocks' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
				{ name: 'alignment', groups: [ 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
				{ name: 'styles', items: [ 'Styles', 'Format' ] }
			]
		};
	</script>
</head>
