*{ load optional action less }*
#{if theme.Theme.resourceExists('stylesheets/action.' + request.action.toLowerCase() + '.less')}
	#{addLess 'action.' + request.action.toLowerCase() /}
#{/if}
#{set 'actionCss'}#{loadLess /}#{/}

#{addLess 'bootstrap.min' /}
#{addLess 'jquery-ui-flick/jquery-ui-1.10.3.custom' /}
#{addLess 'mediaelementplayer', dir:'libs/mediaelementjs' /}
#{addLess 'lib.chosen' /}
#{addLess 'lib.timepicker' /}
#{addLess 'ng-table' /}
#{addLess 'ng-table.custom' /}
#{addLess 'select2/select2' /}
#{addLess 'select2/select2-bootstrap' /}
#{addLess 'generic' /}

#{addLess 'app.blog.widget' /}
#{addLess 'app.wiki.widget' /}

#{if adminLayout}
	#{addLess 'layout.administration' /}
	#{addLess 'ng-table' /}
	#{addLess 'ng-table.custom' /}
#{/}#{else}
	#{addLess 'layout.main' /}
#{/}

#{if theme.Theme.activeTheme == 'mobile'}
	#{addLess 'mobile' /}
#{/}

#{loadLess /}
#{get 'actionCss' /}

%{ customThemeHash = controllers.ThemeCustomCss.getHash(); }%
#{if customThemeHash != null}
	<link rel="stylesheet" type="text/css" href="@{ThemeCustomCss.getCss(customThemeHash)}">
#{/}


<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="#{resource 'stylesheets/generic.iefix.less' /}" />
<![endif]-->

<!--[if lte IE 8]>
	<link rel="stylesheet" type="text/css" href="#{resource 'stylesheets/generic.ie8fix.less' /}" />
<![endif]-->

<!--[if lte IE 9]>
	<link rel="stylesheet" type="text/css" href="#{resource 'stylesheets/generic.ie.placeholder.less' /}" />
<![endif]-->
