<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container" data-ng-cloak>
			<a id="navbar-item-as" class="brand ${(request.action=='ActivityStream.index').yesno('active','')}" href="@{ActivityStream.index}" target="_self">${settings.getString('applicationName')}</a>
			
			<div class="nav-collapse">
				<ul class="nav">
					<li id="navbar-item-pages" class="${(request.action.startsWith('Pages.')).yesno('active','')}">
						<a href="@{Pages.index()}" target="_self"><i class="icon-book"></i> &{'nav.pages'}</a>
					</li>
					#{if settings.getBoolean('workspaces')}
						<li id="navbar-item-workspaces" class="${(request.action.startsWith('Workspaces.')).yesno('active','')}">
							<a href="@{Workspaces.index()}" target="_self"><i class="icon-th-large"></i> &{'nav.workspaces'}</a>
						</li>
					#{/}
					<li id="navbar-item-events" class="${(request.action.startsWith('Events.')).yesno('active','')}">
						<a href="@{Events.index()}" target="_self"><i class="icon-calendar"></i> &{'nav.events'}</a>
					</li>
					<li id="navbar-item-colleagues" class="${(request.action.startsWith('Colleagues.') || (request.action.startsWith('Users.') && user != connectedUser)).yesno('active','')}">
						<a href="@{Colleagues.index()}" target="_self"><i class="icon-colleagues"></i> &{'nav.colleagues'}</a>
					</li>
				</ul>
			</div>
			
			#{include 'layouts/_navbar-search.html' /}
			
			<ul class="nav pull-right">
				#{plugin.hook plugins.PluginHooks.TOPBAR_LEFT /}
				#{include 'layouts/_navbar-profile.html' /}
				#{include 'layouts/_navbar-messaging.html' /} 
				#{include 'layouts/_navbar-notifications.html' /}
				#{include 'layouts/_navbar-dropdown.html' /}
				#{plugin.hook plugins.PluginHooks.TOPBAR_RIGHT /}
			</ul>
		</div>
	</div>
</div>