<div id="sidebar-bookmarks" data-ng-controller="BookmarksController" data-ng-cloak>
	<div class="group" data-ng-class="{'edit-mode': editMode}">
		<div class="title-header">
			<h6>&{'sidebar.bookmarks'}</h6>
			<a data-ng-show="!loading" class="icon-link" href="" data-ng-click="toggleEdit()">
				<i data-ng-if="!editMode" class="icon-edit" data-tooltip-placement="top" data-tooltip="{{'sidebar.bookmarks.edit' | i18n}}"></i>
				<i data-ng-if="editMode" class="icon-ok" data-tooltip-placement="top" data-tooltip="{{'sidebar.bookmarks.done' | i18n}}"></i>
			</a>
		</div>
		<div data-ng-show="!loading && editMode" class="add-bookmark">
			<form name="bookmarkform">
				<input id="label" type="text" name="label" data-on-enter="addBookmark()" data-ng-model="newBookmark.label" required maxlength="50" placeholder="{{'bookmark.label.placeholder' | i18n}}" />
				<input id="url" type="text" name="url" data-ng-pattern='/^((ftp|http|https):\/\/|(\/))[^ "]+$/' data-on-enter="addBookmark()" data-ng-model="newBookmark.url" required placeholder="{{'bookmark.url.placeholder' | i18n}}" />
				<a class="btn btn-primary btn-block btn-mini" data-ng-click="addBookmark()" data-ng-disabled="bookmarkform.$invalid">{{'sidebar.bookmarks.add' | i18n}}</a>
			</form>
		</div>
		<ul class="unstyled">
			<li data-ng-repeat="bookmark in bookmarks" data-ng-class="{'personal' : !bookmark.global}">
				<i data-ng-class="{'icon-globe': bookmark.global, 'icon-bookmark': !bookmark.global}"></i>
				<a data-ng-href="{{bookmark.link}}" target="_blank" title="{{bookmark.name}}">&nbsp;{{bookmark.name}}</a>
				<a class="icon-link" data-ng-show="editMode && !bookmark.global" href="" data-ng-click="deleteBookmark($index)"><i class="icon-remove"></i></a>
			</li>
			<li data-ng-show="!loading && !editMode && bookmarks.length < 1">
				<p class="no-items">&{'sidebar.bookmarks.empty'}<a href="" data-ng-click="toggleEdit()"> &{'sidebar.bookmarks.empty.link'}</a></p>
			</li>
			<li class="loading" data-ng-show='loading'>Loading data...</li>
		</ul>
	</div>
</div>