<div class="welcome" data-ng-cloak>
	<div class="status" data-ng-controller="StatusCtrl" data-ng-init="getStatus()">
		<div class="user-info" data-ng-class="currentStatus.status">
			#{user.thumb connectedUser /}
			<div><strong>${connectedUser.fullName}</strong></div>
			
			<div class="btn-group user-status-chooser">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					<span class="user-status-name" data-ng-show="currentStatus.status">{{'user.status.' + currentStatus.status | i18n}}</span>
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li data-ng-repeat="s in status"><a href="" class="{{s}}" data-ng-click="setStatus(s)">{{'user.status.' + s | i18n}}</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<hr>

<div id="sidebar-default" data-ng-cloak>
	#{plugin.hook plugins.PluginHooks.BEFORE_DEFAULT_SIDEBAR /}
	
	#{if !connectedUser.external}
		<div data-sidebar-group="&{'sidebar.myPages'}" data-url="@{api.UserAPI.pages()}" data-icon="icon-book" data-limit="10">
			<p class="no-items">&{'sidebar.myPages.empty.text'}<a href="@{Pages.index}">&{'sidebar.myPages.empty.link'}</a></p>
		</div>
	#{/}
	
	#{if settings.getBoolean('workspaces')}
		<div data-sidebar-group="&{'sidebar.myWorkspaces'}" data-url="@{api.UserAPI.workspaces()}" data-icon="icon-th-large" data-limit="5">
			<p class="no-items">&{'sidebar.myWorkspaces.empty.text'}<a href="@{Workspaces.index}">&{'sidebar.myWorkspaces.empty.link'}</a></p>
		</div>
	#{/}
	
	#{if !connectedUser.external}
		<div data-sidebar-group="&{'sidebar.myEvents'}" data-url="@{api.UserAPI.events()}" data-icon="icon-calendar" data-limit="5">
			<p class="no-items">&{'sidebar.myEvents.empty.text'}</p>
		</div>
		
		#{include 'layouts/_main-sidebar-bookmarks.html' /}
	#{/}
	
	#{plugin.hook plugins.PluginHooks.AFTER_DEFAULT_SIDEBAR /}
</div>