<li id="navbar-item-settings" class="dropdown settings" data-ng-cloak>
	<a class="dropdown-toggle settings-icon navbar-icon" data-toggle="dropdown"></a>
	<ul class="dropdown-menu">
		#{secure acl.Permission.ADMIN_INTERFACE_ACCESS}
			<li><a href="@{administration.Main.index}" target="_self"><i class="icon-th"></i> &{'nav.administration'}</a></li>
			#{secure acl.Permission.ADMINISTRATION}
				#{if connectedUser.superadminMode}
					<li><div data-rest-link data-url="@{administration.AdminMode.toggle(false)}" data-type="POST" target="_self" class="restlink"><i class="icon-eye-close"></i>&nbsp;&{'nav.administration.superadminMode.disable'}</div></li>
				#{/}#{else}
					<li><div data-rest-link data-url="@{administration.AdminMode.toggle(true)}" data-type="POST" target="_self" class="restlink"><i class="icon-eye-open"></i>&nbsp;&{'nav.administration.superadminMode.enable'}</div></li>
				#{/}
			#{/}
			<li class="divider"></li>
		#{/}
		<li class="nav-header">&{'nav.account'}</li>
		<li class="${(request.action == 'Account.index').yesno('active','')}"><a href="@{Account.index}"><i class="icon-info-sign"></i> &{'nav.account.overview'}</a></li>
		<li class="${(request.action == 'Account.settings').yesno('active','')}"><a href="@{Account.settings}" target="_self"><i class="icon-cog"></i> &{'nav.account.settings'}</a></li>
		#{if connectedUser.local}
			<li class="${(request.action == 'Account.password').yesno('active','')}"><a href="@{Account.password}" target="_self"><i class="icon-lock"></i> &{'nav.account.changePassword'}</a></li>
			<li class="${(request.action == 'Account.email').yesno('active','')}"><a href="@{Account.email}" target="_self"><i class="icon-envelope"></i> &{'nav.account.changeEmail'}</a></li>
		#{/}
		<li class="divider"></li>
		
		#{if settings.getBoolean('downloads')}
			<li class="${(request.action.startsWith('Misc.downloads')).yesno('active','')}"><a href="@{Misc.downloads}" target="_self"><i class="icon-download"></i> &{'downloads'}</a></li>
		#{/}
		#{if settings.getBoolean('mobileLink')}
			<li class="${(request.action.startsWith('Misc.mobileAccess')).yesno('active','')}"><a href="@{Misc.mobileAccess}" target="_self"><i class="icon-globe"></i> &{'misc.mobileAccess.linkTitle'}</a></li>
		#{/}
		#{if settings.getBoolean('downloads') || settings.getBoolean('mobileLink')}
			<li class="divider"></li>
		#{/}
		
		#{plugin.hook plugins.PluginHooks.NAVBAR_DROPDOWN /}
		
		<li class="${(request.action.startsWith('Misc.help')).yesno('active','')}"><a href="@{Misc.help}" target="_blank"><i class="icon-question-sign"></i> &{'help'}</a></li>
		<li class="${(request.action.startsWith('Misc.about')).yesno('active','')}"><a href="@{Misc.about}" target="_self"><i class="icon-info-sign"></i> &{'about'}</a></li>
		<li class="divider"></li>
		<li><a href="@{Auth.logout}" target="_self"><i class="icon-off"></i> &{'nav.logout'}</a></li>
	</ul>
</li>
