#{form @Search.index(), class:'navbar-search pull-left dropdown', id:'search', 'data-ahead':@Search.ahead()}
	<input type="text" placeholder="&{'search'}" name="searchString" value="${request.params?.get("searchString")}" class="search-query" autocomplete="off" />
	<ul class="search-typeahead dropdown-menu">
		<li class="permanent empty-msg">&{'search.typeahead.empty'}</li>
		<li class="permanent"><a href="#" onclick="$(this).parents('form').submit();return false;">&{'search.seeAll'} <i class="icon-arrow-right"></i></a></li>
	</ul>
#{/}