%{
	unreadNotificationsCount = connectedUser.getUnreadNotificationsCount();
}%
<li id="navbar-item-notifications" class="dropdown notifications">
	<a href="" class="dropdown-toggle notifications-toggle" data-toggle="dropdown" data-url="@{api.NotificationsAPI.resetNotificationsCount()}">
		<span class="notifications-icon navbar-icon">
			<span data-unread-count="notifications"></span>
		</span>
	</a>
	<ul class="dropdown-menu notifications-items" data-url="@{Notifications.navbarItems}">
		<li class="nav-header nav-header-dark">&{'notification.title'}</li>
		<li class="divider"></li>
		<li class="action"><a href="" data-url="@{Notifications.markAllAsRead()}" class="notifications-readall"><i class="icon-ok-sign"></i> &{'notifications.markAllRead'}</a></li>
		<li class="divider"></li>
		<li class="loading"></li>
		<li class="action"><a href="@{Notifications.index}"><i class="icon-th-list"></i> &{'seeAll'}</a></li>
	</ul>
</li>