#{if settings.getBoolean('messaging')}
	%{ unreadConversationCount = connectedUser.getUnreadConversationCount(); }%
	<li id="navbar-item-messaging" class="dropdown messaging ${(request.action.startsWith('Messaging.')).yesno('active','')}" data-ng-cloak>
		<a class="dropdown-toggle messaging-toggle" data-toggle="dropdown">
			<span class="dropdown messaging-icon navbar-icon">
				<span data-unread-count="messages"></span>
			</span>
		</a>
		<ul class="dropdown-menu messaging-items" data-url="@{Messaging.conversations(5)}">
			<li class="action inject-before">
				<a href="@{Messaging.create(connectedUser, true)}" target="_self" class="ajax">
					<i class="icon-plus-sign"></i>
					&{'messaging.conversation.portal.create'}
				</a>
			</li>
			<li class="divider"></li>
			<li class="action">
				<a href="@{Messaging.portal()}">
					<i class="icon-comment"></i>
					&{'seeAll'}
				</a>
			</li>

			#{if models.Settings.findApplicationSettings().getBoolean('messaging') && models.Settings.findApplicationSettings().getBoolean('messagingWebRTC')}
				<li class="nav-header nav-header-dark">{{'calls.navbar.title' | i18n}}</li>
				<li class="action">
					<a href="@{Calls.index()}">
						<i class="icon-facetime-video"></i>
						&{'calls.last'}
					</a>
				</li>
			#{/}
		</ul>
	</li>
#{/}

#{addScript 'generic.messaging' /} 