<li id="navbar-item-profile" class="profile ${(request.action.startsWith('Users.') && user == connectedUser).yesno('active','')}">
	<a href="@{Users.wall(connectedUser.id, connectedUser.slug)}" class="profile-icon navbar-icon"></a>
</li>