#{if title}
	<div class="page-header#{if pageHeaderClass} #{get 'pageHeaderClass' /}#{/if}" data-ng-cloak>
		<div class="page-actions">
			#{get 'actions' /}
		</div>
		<h1>
			#{if icon}
				<i class="icon #{get 'icon' /}"></i>
			#{/}
			#{else}
				<i class="icon icon-${request.controller.toLowerCase()} icon-${request.controller.toLowerCase()}-${request.actionMethod.toLowerCase()}"></i>
			#{/else}
			<span data-coyo-title>#{get 'title' /}</span>
			#{if subtitle}
				<small>#{get 'subtitle' /}</small>
			#{/if}
		</h1>
	</div>
#{/if}