<div class="modal-header">
	<a href="#" class="close" data-dismiss="modal">&times;</a>
	<h3>#{get 'title' /} <small>#{get 'subtitle' /}</small></h3>
</div>
<div class="modal-body">
	#{doLayout /}
</div>
#{if actions}
	<div class="modal-footer">
		#{get 'actions' /}
	</div>
#{/if}