<div class="options">
	#{user.follow item /}
	#{user.sendMessage item /}
	#{user.call item /}
</div>

#{user.thumb item /}
<div class="body">
	<strong class="filter-field-name">#{user.link item /}</strong> #{if item.external}<span class="label">&{'workspace.member.external'}</span>#{/}
	#{if item.department || item.jobTitle}
		<small class="inline">(#{if item.jobTitle}${item.jobTitle} #{if item.department}/#{/}#{/}
		#{if item.department}<span class="filter-field-department">${item.department}</span>#{/})</small>
	#{/}
	<small>
		#{if item.email}
			<a class="filter-field-mail" href="mailto:${item.email}">${item.email}</a>
			#{if item.workPhone}/#{/}
		#{/if}
		#{if item.workPhone}
			${item.workPhone}
		#{/if}
		#{if item.id}
			<input type="hidden" class="hiddenUserId" name="id" value="${item.id}">
		#{/if}
	</small>
	#{if item.expertise && !typeaheadSearch}
		<small><span class="filter-field-expertise">#{ui.tags item.expertise /}</span></small>
	#{/if}
	#{if item.currentLocation}
		<span class="hidden filter-field-currentLocation">${item.currentLocation}</span>
	#{/if}
</div>