#{if user.external}
	<div class="group">
		<h4>&{'user.right.external.title'}</h4>
		<div class="alert alert-warn">
			#{if user == connectedUser}
				&{'user.right.external.text.you'}
			#{/}#{else}
				&{'user.right.external.text', user.displayName}
			#{/}
		</div>
	</div>
#{/}

<div class="group">
    <h4>
		<span class="options">
		    <a href="@{VCard.vcf(user.id, user.slug)}" class="btn btn-mini tip" title="&{'user.rightbar.contact.vcard'}"><i class="icon-download"></i></a>
		</span>
    	&{'user.rightbar.contact'}
    </h4>
    <dl class="list">
        #{if user.email}<dt>&{'user.email'}</dt><dd><a href="mailto:${user.email}">${user.email}</a></dd>#{/if}
        #{if user.workPhone}<dt>&{'user.workPhone'}</dt><dd>${user.workPhone}</dd>#{/if}
        #{if user.workFax}<dt>&{'user.workFax'}</dt><dd>${user.workFax}</dd>#{/if}
        #{if user.mobilePhone}<dt>&{'user.mobilePhone'}</dt><dd>${user.mobilePhone}</dd>#{/if}
        #{if user.skype}<dt>&{'user.skype'}</dt><dd>${user.skype}</dd>#{/if}
    </dl>
</div>

#{if user.department || user.boss}
	<div class="group">
		<h4>&{'user.rightbar.work'}</h4>
		<dl class="list">
			#{if user.jobTitle}<dt>&{'user.jobTitle'}</dt><dd>${user.jobTitle}</dd>#{/if}
			#{if user.company}<dt>&{'user.company'}</dt><dd>${user.company}</dd>#{/if}
			#{if user.department}<dt>&{'user.department'}</dt><dd>${user.department}</dd>#{/if}
			#{if user.boss}<dt>&{'user.boss'}</dt><dd>#{user.link user.boss /}</dd>#{/if}
		</dl>
	</div>
#{/}

#{set 'upcomingEventsHtml'}
    #{list items:user.getUpcomingEvents(), as:'event'}
        %{ if(event_index > 7) break; }%
        #{secure acl.Permission.LIST_EVENT, args:[event.id]}
            <li>
                <i class="icon-calendar"></i> #{event.link event /}
                <small>&{'on'} #{date.short event.startDate, timezone:connectedUser.dateTimeZone /} #{if !event.fulltime}- #{date.time event.startDate, timezone:connectedUser.dateTimeZone /}#{/}</small>
            </li>
        #{/}
    #{/}
#{/}

#{if upcomingEventsHtml?.trim() != ''}
    <div class="group events">
        <h4>&{'user.rightbar.events'}</h4>
        <ul class="unstyled">
            #{get 'upcomingEventsHtml' /}
        </ul>       
    </div>
#{/}

<div class="group">
	<h4>&{'user.rightbar.activity'}</h4>
	
	%{
		models.wall.post.Post.disableDateFilter();
		posts = user.getPostCount();
		followers = user.realFollowersCount;
		following = user.realFollowingCount;
	}%
	<h3>${posts} <small>#{pluralize posts, key:'post' /}</small></h3>
	#{if !settings.getBoolean('autofollow')}
		<h3>${followers} <small>#{pluralize followers, key:'follower' /}</small></h3>
		<h3>${following} <small>#{pluralize following, key:'following' /}</small></h3>
	#{/}
</div>
