#{if user.deleted}
	<div class="alert alert-error">&{'user.deleted'}</div>
#{/}#{elseif !user.active}
	<div class="alert">&{'user.inactive'}</div>
#{/}

<div class="status" data-ng-controller="StatusCtrl" data-ng-init="getStatusOf(${user.id})">
	<div class="user-info" data-ng-class="currentStatus.status">
		#{if (profilePictureCollection = user.getProfilePictureCollection(false))}

			<a href="@{api.MediaAPI.redirectToCollection(profilePictureCollection.id)}"><img src="${user.avatarURL}" class="user-avatar" alt="${user.fullName}" title="${user.fullName}"></a>
		#{/}#{else}
			<img src="${user.avatarURL}" class="user-avatar" alt="${user.fullName}" title="${user.fullName}">
		#{/}
    </div>
</div>
<hr>

<div class="group">
	<h6>${user.fullName}</h6>
	<ul class="unstyled">
		#{secure acl.Permission.ACCESS_USER_WALL, args:[user.id]}
			<li><i class="icon-list"></i> #{aa @Users.wall(user.id, user.slug), label:messages.get('users.sidebar.wall') /}</li>
		#{/}
		<li><i class="icon-info-sign"></i> #{aa @Users.info(user.id, user.slug), label:messages.get('users.sidebar.info') /}</li>
		<li><i class="icon-picture"></i> #{aa @Users.media(user.id, user.slug), label:messages.get('users.sidebar.media') + ' ('+user.mediaCount+')' /}</li>
	</ul>
</div>

#{secure acl.Permission.EDIT_USER_PROFILE, args:[user.id]}
	<div class="group">
		<h6>&{'options'}</h6>
		<ul class="unstyled">
			<li><i class="icon-pencil"></i> #{aa @Users.edit(user.id), label:messages.get('users.info.editProfile.link') /}</li>
		</ul>
	</div>
#{/}