#{extends 'layouts/main.html' /}
#{set title:messages.get('profile.edit') /}

#{addLess 'lib.tagit' /}
#{addScript 'jquery.tagit' /}
#{addScript 'angular-chosen/chosen' /}

#{form @save(), class:'form-horizontal', enctype:'multipart/form-data', 'novalidate':'novalidate'}
	<input type="hidden" name="user.id" value="${user.id}"/>
	
	<ul class="nav nav-tabs">
		<li class="active"><a href="#about" data-toggle="tab">&{'user.property.group.about'}</a></li>
		<li><a href="#workedu" data-toggle="tab">&{'user.property.group.workAndEducation'}</a></li>
		<li><a href="#address" data-toggle="tab">&{'user.property.group.address'}</a></li>
		<li><a href="#contact" data-toggle="tab">&{'user.property.group.contact'}</a></li>
		<li><a href="#avatar" data-toggle="tab">&{'user.property.group.avatar'}</a></li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="about">
			#{form.field.text 'user.title', value:user.title /}
			#{form.field.text 'user.firstName', value:user.firstName /}
			#{form.field.text 'user.lastName', value:user.lastName /}
			#{form.field.text 'user.nickname', value:user.nickname /}
			
			#{form.field.custom 'user.birthdate'}
				<div data-date-dropdowns name="user.birthdate" data-ng-model="birthdate" data-date-format="${libs.DateI18N.getLocalizedDateFormat('date.format.iso')}" data-locale="${connectedUser.getLanguage()}" #{if user.birthdate}data-ng-init="birthdate='${user.birthdate.format('YYYY-MM-dd')}'"#{/}></div>
			#{/}
			
			#{form.field.text 'user.hometown', value:user.hometown /}
			#{form.field.text 'user.currentLocation', value:user.currentLocation /}

			#{form.field.text 'user.languages', value:user.languages /}
			#{form.field.text 'user.expertise', value:user.expertise /}
			#{form.field.text 'user.currentProjects', value:user.currentProjects /}
			#{form.field.textarea 'user.about', value:user.about, rows:5, class:'span7' /}
			#{form.field.textarea 'user.interests', value:user.interests, rows:3, class:'span7' /}
		</div>
		<div class="tab-pane" id="workedu">
			#{form.field.custom 'user.jobTitle'}
				<input type="text" value="${user.jobTitle}" name="user.jobTitle" id="user-jobTitle" data-provide="typeahead" data-source="${models.User.getFieldOptionsJson('jobTitle')}" autocomplete="off"/>
			#{/}
			#{form.field.custom 'user.company'}
				<input type="text" value="${user.company}" name="user.company" id="user-company" data-provide="typeahead" data-source="${models.User.getFieldOptionsJson('company')}" autocomplete="off"/>
			#{/}
			#{form.field.custom 'user.office'}
				<input type="text" value="${user.office}" name="user.office" id="user-office" data-provide="typeahead" data-source="${models.User.getFieldOptionsJson('office')}" autocomplete="off"/>
			#{/}
			#{form.field.custom 'user.department'}
				<input type="text" value="${user.department}" name="user.department" id="user-department" data-provide="typeahead" data-source="${models.User.getFieldOptionsJson('department')}" autocomplete="off" />
			#{/}
			#{form.field.custom 'user.boss'}
				#{userchooser name:'user.bossId', selected:[user.boss], showMe:false, label:'user.boss.choose', null:true, max:1 /}
			#{/}
			<hr>
			#{form.field.text 'user.college', value:user.college /}
			#{form.field.text 'user.highschool', value:user.highschool /}
		</div>
		<div class="tab-pane" id="address">
			#{form.field.text 'user.street', value:user.street /}
			#{form.field.text 'user.streetNumber', value:user.streetNumber /}
			#{form.field.text 'user.zipCode', value:user.zipCode /}
			#{form.field.text 'user.city', value:user.city /}
			#{form.field.text 'user.country', value:user.country /}
		</div>
		<div class="tab-pane" id="contact">
			#{form.field.text 'user.workPhone', value:user.workPhone /}
			#{form.field.text 'user.workFax', value:user.workFax /}
			#{form.field.text 'user.mobilePhone', value:user.mobilePhone /}
			#{form.field.text 'user.skype', value:user.skype /}
			#{form.field.text 'user.linkedIn', value:user.linkedIn, placeholder:'http://' /}
			#{form.field.text 'user.xing', value:user.xing, placeholder:'http://' /}
			#{form.field.text 'user.twitter', value:user.twitter, placeholder:'http://' /}
			#{form.field.text 'user.facebook', value:user.facebook, placeholder:'http://' /}
			#{form.field.text 'user.website', value:user.website, placeholder:'http://' /}
		</div>
		
		<div class="tab-pane" id="avatar">
			#{form.field.custom ''}
				#{user.thumb user /}
				<hr>
				#{if user.avatar?.exists()}
					<div data-rest-link data-url="@{Users.removeAvatar(user.id)}" data-type="DELETE" data-redirect="@{Users.wall(user.id, user.slug)}" class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> <strong>&{'user.avatar.delete'}</strong></div>
				#{/}
			#{/}
			#{form.field.image 'avatar' /}
		</div>
	</div>
	
	<div class="form-actions">
		#{form.submit 'save' /}
		<a href="@{Users.info(user.id, user.slug)}" class="btn">&{'cancel'}</a>
	</div>
#{/form}

<script type="text/javascript">

	function tagit(id) {
		$('#'+id).tagit({allowSpaces:true});
		highlightify(id);
	}
	
	function highlightify(id) {
		var original = $('#'+id);
		var elem = $(original.parent().find('ul')[0]);
		elem.addClass('input-glow');
		var input = elem.find('input');
		input.attr('id', id);
		var color = elem.css('color').replace('rgb', 'rgba').replace(')',', 0.5)');
		var shadow = elem.css('box-shadow') + ', 0 0 8px '+color;
		input.focus(function() {
			elem.addClass('input-glow-focus');
			elem.css('box-shadow', shadow);
		});
		input.focusout(function() {
			elem.removeClass('input-glow-focus');
			elem.css('box-shadow', 'none');
		});
	}

	$(document).ready(function() {
		// taggify
		tagit('user-languages');
		tagit('user-expertise');
		tagit('user-currentprojects');
	});
</script>
