#{extends 'layouts/main.html' /}
#{set title:user.fullName /}
#{set subtitle:messages.get('users.info.title') /}

#{set 'actions'}
	#{secure acl.Permission.EDIT_USER_PROFILE, args:[user.id]}
		<a href="@{Users.edit(user.id)}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> &{'users.info.editProfile.link'}</a>
	#{/secure}
	
	#{user.follow user /}
	#{user.sendMessage user /}
#{/}

#{opengraph.sender user /}

<h3>&{'user.property.group.about'}</h3>
<dl class="list">
	#{if user.email}<dt>&{'user.email'}</dt><dd><a href="mailto:${user.email}">${user.email}</a></dd>#{/if}
	#{if user.title}<dt>&{'user.title'}</dt><dd>${user.title}</dd>#{/if}
	#{if user.firstName}<dt>&{'user.firstName'}</dt><dd>${user.firstName}</dd>#{/if}
	#{if user.lastName}<dt>&{'user.lastName'}</dt><dd>${user.lastName}</dd>#{/if}
	#{if user.nickname}<dt>&{'user.nickname'}</dt><dd>${user.nickname}</dd>#{/if}
	#{if user.birthdate}<dt>&{'user.birthday'}</dt><dd>${user.getFormattedBirthdate()}</dd>#{/if}
	#{if user.hometown}<dt>&{'user.hometown'}</dt><dd>${user.hometown}</dd>#{/if}
	#{if user.currentLocation}<dt>&{'user.currentLocation'}</dt><dd>${user.currentLocation}</dd>#{/if}
	#{if user.timezone != null && date.GMTZone.get(user.timezone) != null}
		<dt>&{'user.timeZone'}</dt>
		<dd>#{date.full new org.joda.time.DateTime(user.dateTimeZone) /} <small>(${user.dateTimeZone.getName(System.currentTimeMillis(), connectedUser.language)})</small></dd>
	#{/if}
	#{if user.languages}<dt>&{'user.languages'}</dt><dd>#{ui.tags user.languages /}</dd>#{/if}
	#{if user.expertise}<dt>&{'user.expertise'}</dt><dd>#{ui.tags user.expertise /}</dd>#{/if}
	#{if user.currentProjects}<dt>&{'user.currentProjects'}</dt><dd>#{ui.tags user.currentProjects /}</dd>#{/if}
	#{if user.about}<dt>&{'user.about'}</dt><dd>${user.about?.escapeAndLinkify()?.hashify()}</dd>#{/if}
	#{if user.interests}<dt>&{'user.interests'}</dt><dd>${user.interests?.escapeAndLinkify()?.hashify()}</dd>#{/if}
	#{if user.hashtags && !user.hashtags.isEmpty()}
		<dt>&{'user.hashtags'}</dt>
		<dd>
			#{list items:user.hashtags, as:'ht'}
				<a href="@{Search.index('#' + ht)}" class="btn btn-mini">#${ht}</a>
			#{/}
		</dd>
	#{/if}
</dl>				

#{if user.jobTitle || user.company || user.department || user.office || user.boss || user.college || user.highschool}
	<h3>&{'user.property.group.workAndEducation'}</h3>
	<dl class="list">
		#{if user.jobTitle}<dt>&{'user.jobTitle'}</dt><dd>${user.jobTitle}</dd>#{/if}
		#{if user.company}<dt>&{'user.company'}</dt><dd>${user.company}</dd>#{/if}
		#{if user.department}<dt>&{'user.department'}</dt><dd>${user.department}</dd>#{/if}
		#{if user.boss}<dt>&{'user.boss'}</dt><dd>#{user.link user.boss /}</dd>#{/if}
		#{if user.office}<dt>&{'user.office'}</dt><dd>${user.office}</dd>#{/if}
		#{if user.college}<dt>&{'user.college'}</dt><dd>${user.college}</dd>#{/if}
		#{if user.highschool}<dt>&{'user.highschool'}</dt><dd>${user.highschool}</dd>#{/if}
	</dl>
#{/if}

#{if user.street || user.city || user.zipCode || user.country || user.workPhone || user.workFax || user.mobilePhone || user.skype || user.linkedIn || user.xing || user.twitter || user.facebook || user.website}
	<h3>&{'user.property.group.contact'}</h3>
	<dl class="list">
		#{if user.street || user.city || user.zipCode || user.country}
			<dt>&{'user.address'}</dt>
			<dd>
				${user.street} ${user.streetNumber} #{if user.street}<br/>#{/if}
				${user.zipCode} ${user.city}#{if user.zipCode}<br/>#{/if}
				${user.country}
			</dd>
		#{/if}
		
		#{if user.workPhone}<dt>&{'user.workPhone'}</dt><dd>${user.workPhone}</dd>#{/if}
		#{if user.workFax}<dt>&{'user.workFax'}</dt><dd>${user.workFax}</dd>#{/if}
		#{if user.mobilePhone}<dt>&{'user.mobilePhone'}</dt><dd>${user.mobilePhone}</dd>#{/if}
		#{if user.skype}<dt>&{'user.skype'}</dt><dd>${user.skype}</dd>#{/if}

		#{if user.linkedIn}<dt>&{'user.linkedIn'}</dt><dd><a href="${user.linkedIn}" target="_blank">${user.linkedIn}</a></dd>#{/if}
		#{if user.xing}<dt>&{'user.xing'}</dt><dd><a href="${user.xing}" target="_blank">${user.xing}</a></dd>#{/if}
		#{if user.twitter}<dt>&{'user.twitter'}</dt><dd><a href="${user.twitter}" target="_blank">${user.twitter}</a></dd>#{/if}
		#{if user.facebook}<dt>&{'user.facebook'}</dt><dd><a href="${user.facebook}" target="_blank">${user.facebook}</a></dd>#{/if}
		#{if user.website}<dt>&{'user.website'}</dt><dd><a href="${user.website}" target="_blank">${user.website}</a></dd>#{/if}
	</dl>
#{/if}