#{list items:data, as:'item'}
	<li>#{include 'Users/_listItem.html' /}</li>
#{/}
#{ifnot data.empty}
	<script type="text/javascript">
		angular.element(document).ready(function () {
		   var elem = angular.element("body");
		   var compileFn = elem.injector().get('$compile');   	
	       compileFn(angular.element(".list-boxes").contents())(elem.scope());
		});
	</script>
#{/}