#{extends 'layouts/modal.html' /}
#{set title:messages.get('sidebar.currentlyOnline', onlineUsers.size()) /}

 <ul class="list list-boxes colleagues">

    #{list items:onlineUsers, as:'item'}
    <li>
        #{include 'Users/_listItem.html' /}
    </li> 
    #{/}
 </ul>
