#{if !expanded && commentable.comments.size() > 2}
	<div class="comments-expand">
		<a href="#" class="comments-expand-button">${messages.get('comments.expand.text', commentable.comments.size())}</a>
	</div>
#{/if}
#{list commentable.comments, as:'comment'}
	<div class="comment ${(!expanded && commentable.comments.size() > 2 && (commentable.comments.size()-comment_index) > 1).yesno('hide','')}">
		#{sender.thumb comment.author /}

		<div class="comment-body">
			#{secure acl.Permission.DELETE_COMMENT, args:[comment.id, commentable]}
				<a href="@{Collaboration.removeComment(comment.id, commentable.id, commentable.class.name)}" class="comment-delete" title="&{'comment.delete'}" commentable-id="${commentable.id}">&times;</a>
			#{/secure}

			<div><strong>#{sender.link comment.author /}</strong> ${comment.linkifiedText.raw()}</div>

			<div>#{collaboration.comments.attachments comment, commentable:commentable /}</div>

			<small>
				#{date.fuzzy comment.created /} #{secure acl.Permission.LIKE, args:[comment]} - #{/secure}
				#{collaboration.like comment /}
				#{collaboration.likelist comment /}
			</small>
		</div>
	</div>
#{/list}