%{ connectedUser = session.UserLoader.getConnectedUser(); }%
#{cache 'likelist-' + likable.getModel().getClass() + '-' + likable.getModel().id + '-' + likable.getModel().modified.getTime() + '-' + connectedUser.id, for:'1h'}
	#{if likable.likes.size() > 0}
		<i class="icon-star"></i>
		%{
			if(likable.likes(connectedUser)) {
				likable.likes.remove(connectedUser);
				likable.likes.add(0, connectedUser);
			}
		}%
	
		%{ max = 3; }%
	
		#{list items:likable.likes, as:'user'}
			#{if user_index == (max+1) && likable.likes.size() > (max+1)}
				#{set 'others'}#{list items:likable.likes, as:'all'}#{if all_index > max}${(all_index > (max+1)).yesno(',','')} ${all.displayName}#{/}#{/list}#{/}
				&{'and'} <span title="${others.raw()}" class="tip">${likable.likes.size()-max} &{'others'}</span> 
				%{ break; }%
			#{/}#{else}
				${(!user_isFirst && !user_isLast).yesno(',','')} 
				${(!user_isFirst && user_isLast).yesno(messages.get("and"),'')} 
				#{user.link user, you:true, dative:true /} 
			#{/}
		#{/list}
		#{if likable.likes.size() == 1 && !likable.likes(connectedUser)}&{'like.single'}#{/if}
		#{else}&{'like.multiple'}#{/else}
	#{/if}
#{/}