#{extends 'layouts/modal.html' /}
#{set title:messages.get("share.title") /}
#{set subtitle:sharable.displayName /}

#{form @Collaboration.doShare(), id:'shareForm'}
	<input type="hidden" name="id" value="${id}" />
	<input type="hidden" name="clazz" value="${clazz}" />
	
	<textarea name="message" id="shareMessage" placeholder="&{'share.placeholder'}" class="span100" rows="5"></textarea>
	
	<div id="securedOptions" class="row hide">
		<div class="span1"><label class="checkbox"><input type="checkbox" value="true" name="important" /> &{'tags.wall.sticky'}</label></div>
		<div class="span5"><label class="checkbox"><input type="checkbox" value="true" name="postAsWallOwner" /> &{'post.postAs'} <strong class="postAs"></strong></label></div>
	</div>
	
	<div class="form-actions">
		
		<select class="left chosen span5" name="wall.id" id="wallChoser" data-placeholder="&{'share.wallChoser.placeholder'}">
			<option></option>
			<option value="${connectedUser.defaultWall.id}">&{'share.wallChoser.ownWall'}</option>
			<option value="USER">&{'share.wallChoser.userWall'}</option>
			
			#{if pages.size() > 0}
				<optgroup label="&{'pages'}">
					#{list items:pages, as:'page'}
						#{if page.defaultWall}
							#{secure acl.Permission.CREATE_POST, args:[page.defaultWall.id]}
								<option value="${page.defaultWall.id}" #{secure acl.Permission.EDIT_SENDER, args:[page.id]}data-secured-options="true"#{/}>${page.displayName}</option>
							#{/}
						#{/if}
					#{/list}
				</optgroup>
			#{/if}
			
			#{if events.size() > 0}
				<optgroup label="&{'events'}">
					#{list items:events, as:'event'}
						#{secure acl.Permission.CREATE_POST, args:[event.defaultWall.id]}
							<option value="${event.defaultWall.id}" #{secure acl.Permission.EDIT_SENDER, args:[event.id]}data-secured-options="true"#{/}>${event.displayName}</option>
						#{/}
					#{/list}
				</optgroup>
			#{/if}
			
			#{if workspaces.size() > 0}
				<optgroup label="&{'workspaces'}">
					#{list items:workspaces, as:'workspace'}
						#{if workspace.defaultWall}
							#{secure acl.Permission.CREATE_POST, args:[workspace.defaultWall.id]}
								<option value="${workspace.defaultWall.id}" #{secure acl.Permission.EDIT_SENDER, args:[workspace.id]}data-secured-options="true"#{/}>${workspace.displayName}</option>
							#{/}
						#{/}
					#{/list}
				</optgroup>
			#{/if}
		</select>
		
		<div class="hide">
			#{userchooser id:'userWallChoser', name:'users', showMe:false, class:'pull-left' /}
			<a href="#" class="btn left userchooser-close"><i class="icon-remove"></i></a>
		</div>
		<input type="submit" class="btn btn-primary" value="&{'share'}" id="shareButton" disabled="disabled" />
	</div>
#{/form}

<script type="text/javascript">
	$('#shareForm').one('submit', function() {
		$(this).find('input[type="submit"]').attr('disabled','disabled');
	});

	$('#wallChoser').change(function(){
		// switch select box
		if($('#wallChoser').find(':selected').attr('value') == 'USER') {
			$('#securedOptions').hide();
			// disable submit button if there are no users selected
			if($('#userWallChoser select option').length == 0) {
				$('#shareButton').attr('disabled', 'disabled');
			} else {
				$('#shareButton').removeAttr('disabled');
			}
			
			// remove the selection
			$('#wallChoser').prop('selectedIndex', -1).trigger("liszt:updated");
			$('#wallChoser_chzn').hide();
			
			$('#userWallChoser').parent().show();
			return;
		}
		
		// activate / deactive secured options
		if($('#wallChoser').find(':selected').attr('data-secured-options')) {
			$('#securedOptions').find('.postAs').text($('#wallChoser').find(':selected').text());
			$('#securedOptions').show();
		} else {
			$('#securedOptions').hide();
		}
		
		// activate / deactivate submit button
		if($('#wallChoser').val().trim() == '') {
			$('#shareButton').attr('disabled', 'disabled');
		} else {
			$('#shareButton').removeAttr('disabled');
		}
	});
	
	$('.userchooser-close').click(function(e){
		e.preventDefault();
		$('#userWallChoser').parent().hide();
		$('#wallChoser_chzn').show();
		$('#shareButton').attr('disabled', 'disabled');
	});
	
	$('#userWallChoser').bind('userchooserChange', function(){
		// activate / deactivate submit button
		if($('#userWallChoser select option').length == 0) {
			$('#shareButton').attr('disabled', 'disabled');
		} else {
			$('#shareButton').removeAttr('disabled');
		}
	});

	setTimeout(function(){
		$('#shareMessage').focus();
	},600);
</script>