#{form @save(), enctype:'multipart/form-data', class:'form-horizontal'}
	<input type="hidden" name="page.id" value="${page.id}" />

	<ul class="nav nav-tabs">
		<li class="active"><a href="#general" data-toggle="tab">&{'pages.form.settingsLabel'}</a></li>
		<li id="membersTab"><a href="#members" data-toggle="tab">&{'pages.form.membersLabel'}</a></li>
		#{if showForcedFollowersForm}
			<li><a href="#forced" data-toggle="tab">&{'pages.form.forcedFollowersLabel'}</a></li>
		#{/}
		<li><a href="#admins" data-toggle="tab">&{'admins'}</a></li>
		#{if page.persistent}
			<li><a href="#apps" data-toggle="tab">&{'apps'}</a></li>
		#{/if}
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="general">
			#{form.field.text 'page.name', label:'pages.create.form.titleLabel', value:page.name /}
			#{form.field.textarea 'page.about', label:'pages.create.form.aboutLabel', value:page.about, rows:3, class:'span6' /}
			
			#{if categories?.size() > 0}
				#{form.field.select 'page.category.id', value:page.category?.id, label:'page.category', items:categories, labelProperty:'name', valueProperty:'id', class:'chosen'}
					<option value="">&{'page.category.none'}</option>
				#{/}
			#{/}
			
			#{form.field.custom 'page.visibility', label:'pages.create.form.visibilityLabel'}
				#{list items:models.page.Page.PageVisibility.values(), as:'vis'}
					%{
						if(!page.persistent && !controllers.Security.check(acl.Permission.CREATE_PAGE, vis)) continue;
						if(page.persistent && !controllers.Security.check(acl.Permission.EDIT_PAGE, page.id, vis)) continue;
					}%
					
					<label class="radio">
						<input type="radio" name="page.visibility" value="${vis}" ${(vis == page.visibility).yesno('checked','')}>
						<span><i class="icon-${vis.icon}"></i> <strong>${vis.label}:</strong> <span class="muted">${vis.description}</span></span>
					</label>
				#{/}
			#{/}

			<hr>
			
			#{form.field.image 'avatar', label:'pages.create.form.picture.inputLabel' /}
		</div>
		<div class="tab-pane" id="members">
			#{if groups?.size() > 0}
				#{form.field.custom 'memberGroups', label:'pages.form.memberGroups'}
					#{groupchooser id:'groupChoser', name:'memberGroups', groups:groups, selected:page.memberGroups /}
				#{/}
			#{/}
			#{form.field.custom 'members', label:'pages.form.members'}
				#{userchooser id:'memberChoser', name:'members', selected:page.members /}
			#{/}
		</div>
		
		#{if showForcedFollowersForm}
			<div class="tab-pane" id="forced">
				<div class="alert"><strong>&{'pages.form.note'}:</strong> &{'pages.form.forcedFollowersInfo'}</div>
				<hr>
			
				#{form.field.custom 'forceAllFollow', label:'pages.form.forceAllFollow'}
					<label class="checkbox">
						<input type="checkbox" name="forceAllFollow" value="true" onchange="$('#forcedSelectorGroup').toggleClass('hide');" ${page.forceAllFollow.yesno('checked','')}>
						&{'pages.form.forceAllFollow.info'}
					</label>
					<input type="hidden" name="forceAllFollow" value="false" />
				#{/}
				
				<div id="forcedSelectorGroup" #{if page.forceAllFollow}class="hide"#{/}>
					#{if groups?.size() > 0}
						#{form.field.custom 'forcedFollowerGroups', label:'pages.form.forcedFollowerGroups'}
							#{groupchooser id:'forcedFollowerGroupsChoser', name:'forcedFollowerGroups', groups:groups, selected:page.forcedFollowerGroups /}
						#{/}
					#{/}
					#{form.field.custom 'forcedFollowers', label:'pages.form.forcedFollowers'}
						#{userchooser id:'forcedFollowersChoser', name:'forcedFollowers', selected:page.forcedFollowers /}
					#{/}
				</div>
			</div>
		#{/}
		
		<div class="tab-pane" id="admins">
			#{form.field.custom 'adminIds', label:'pages.create.form.members.chooseAdmins'}
				#{userchooser id:'adminChoser', name:'adminIds', selected:page.admins /}
			#{/}
		</div>
		
		#{if page.persistent}
			<div class="tab-pane" id="apps">
				#{appsorter page /}
			</div>
		#{/if}
	</div>

	<div class="form-actions">
		#{form.submit 'save' /}
		<a href="#{if page.persistent}@{Pages.show(page.id, null, page.slug)}#{/}#{else}@{Pages.index}#{/}" class="btn">&{'cancel'}</a>
		#{if page.persistent}
			#{secure acl.Permission.DELETE_PAGE, args:[page.id]}
				<div data-rest-link data-url="@{Pages.delete(page.id)}" data-type="DELETE" data-redirect="@{Pages.index}" class="btn btn-danger" data-confirmation-really="&{'really'}"><i class="icon-remove icon-white"></i>&nbsp;&{'pages.form.delete'}</div>
			#{/}
		#{/}
	</div>
#{/form}

<script type="text/javascript">
	function toggleUserChoser() {
		if ($('input[name="page.visibility"]:checked').val() == '${models.page.Page.PageVisibility.PUBLIC}') {
			$('#membersTab').hide();
		} else {
			$('#membersTab').show();
		}
	}
	
	$('input[name="page.visibility"]').change(toggleUserChoser);
	
	toggleUserChoser();
</script>