<div class="options">
	#{page.follow page, class:'btn' /}
</div>

#{page.thumb page /}
<div class="body">
	<i class="icon-book"></i> <strong>#{page.link page /}</strong>
	#{if page.isAdmin(connectedUser)}<span class="light small">(&{'page.youAdmin'})</span>#{/}
	<small>${page.about?.shorten(200)?.hashify()}</small>
	<small><a href="@{Pages.followers(page.id)}"><strong>#{page.followers page /}</strong></a></small>
</div>