#{addLess 'sidebar.pages' /}
#{addLess 'sidebar.apps' /}

#{page.avatar page /}

<div class="etiquette">
	<i class="icon-${page.visibility.icon}"></i> ${page.visibility.label}
</div>

<a href="@{Pages.followers(page.id)}" class="etiquette">
	#{page.followers page /}
</a>
<hr>

<div class="group">
	<h6>&{'sidebar.apps.title'}</h6>
	<ul class="unstyled sidebar-apps">
		#{list items:page.apps, as:'item'}
			#{secure acl.Permission.ACCESS_APP, args:[item.id]}
				<li class="${item.active.yesno('active','inactive')}">
					<i class="${item.appDescriptor.iconClass}"></i>
					<a href="@{Pages.show(page.id, item.id, page.slug, item.slug)}" class="${(item==app).yesno('active','')}" title="${item.title}" target="_self">${item.title}</a>
				</li>
			#{/}
		#{/list}
	</ul>
</div>

<div class="group">
	<h6>&{'nav.more'}</h6>
	<ul class="unstyled">
		<li><i class="icon-user"></i> <a href="@{Pages.admins(page.id)}">#{page.admins page /}</a></li>
		<li class="divider"></li>
		<li>#{page.follow page /}</li>
		#{secure acl.Permission.SHARE, args:[page]}
			<li>#{collaboration.share page /}</li>
		#{/}
		#{secure acl.Permission.EDIT_PAGE, args:[page.id]}
			<li class="divider"></li>
			<li><i class="icon-plus-sign"></i> <a href="@{Apps.choose(page.id)}" class="ajax" data-ajax-class="large">&{'pages.createApp'}</a></li>
			<li class="divider"></li>
			<li><i class="icon-pencil"></i> #{aa @Pages.edit(page.id), label:messages.get("pages.editPage") /}</li>
		#{/}
	</ul>
</div>