#{extends 'layouts/main.html' /}
#{set title:messages.get("pages.create.title") /}
#{set subtitle:messages.get("pages.create.choose.subtitle") /}

<ul class="thumbnails">
	#{list items:models.page.Page.PageType.values(), as:'type'}
		<li>
			<a href="@{Pages.create(type.name())}" title="${type.label}" class="thumbnail tip">
				<img src="#{resource 'images/page-type-'+type+'.png' /}" alt="${type.label}" />
			</a>
		</li>
	#{/list}
</ul>