#{extends 'layouts/main.html' /}

#{set title:messages.get('pages.title') /}
#{set subtitle:messages.get("pages.subtitle") /}
#{set 'actions'}
	#{secure acl.Permission.CREATE_PAGE}
		<a href="@{Pages.create()}" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> &{'pages.createNew.link'}</a>
	#{/}
#{/}

#{if count > 0}
	<ul class="nav nav-tabs">
		#{if myPages.size() > 0}<li class="active"><a href="#my" data-toggle="tab">&{'pages.my'} (${myPages.size()})</a></li>#{/}
		<li #{if myPages.size() == 0}class="active"#{/}><a href="#all" data-toggle="tab">&{'all'} (${count})</a></li>
		#{list items:categories, as:'category'}
			#{if category.getPages(connectedUser).size() > 0}
				<li><a href="#page-category-${category.id}" data-toggle="tab">${category.name} (${category.getPages(connectedUser).size()})</a></li>
			#{/}	
		#{/}
	</ul>

	<div class="tab-content">
		#{if myPages.size() > 0}
			<div class="tab-pane active" id="my">
				#{page.list id:'myPages', my:true /}
			</div>
		#{/}
		<div class="tab-pane #{if myPages.size() == 0}active#{/}" id="all">
			#{page.list id:'allPages' /}
		</div>
		#{list items:categories, as:'category'}
			#{if category.getPages(connectedUser).size() > 0}
				<div class="tab-pane" id="page-category-${category.id}">
					#{page.list id:'page-category-pages-' + category.id, category:category /}
				</div>
			#{/}	
		#{/}
	</div>
#{/}#{else}
	<center>&{'pages.empty'}</center>
#{/}