#{extends 'layouts/registration.html' /}

#{ifErrors}
	<div class="alert alert-error">
		<ul> 
			#{errors 'firstName'}<li>&{'firstName'}: ${error}</li>#{/errors}
			#{errors 'lastName'}<li>&{'lastName'}: ${error}</li>#{/errors}
			#{errors 'password'}<li>&{'password'}: ${error}</li>#{/errors}
	   </ul>
   </div>
#{/ifErrors}

<h2>&{'registration.pleaseCompleteYourProfile'}</h2>

#{form @save()}
	<input type="hidden" name="email" value="${email}"/>
	<input type="hidden" name="token" value="${token}"/>
	<input type="text" name="firstName" value="${flash.firstName}" placeholder="&{'firstName'}" />
	<input type="text" name="lastName" value="${flash.lastName}" placeholder="&{'lastName'}" />
	<input type="password" name="password" value="" placeholder="&{'password'}" autocomplete="off"/>
	<input type="submit" value="&{'registration.complete'}" class="btn btn-primary btn-large" />
#{/form}

#{set 'footer'}
	<a href="@{Auth.login()}">&larr; &{'registration.backToLogin'}</a>
#{/}