#{extends 'layouts/registration.html' /}

#{ifErrors}
	<div class="alert alert-error">
		<ul> 
			#{errors 'email'}<li>&{'auth.emailPlaceholder'}: ${error.raw()}</li>#{/errors}
	   </ul>
   </div>
#{/ifErrors}

<h2>&{'registration.title'}</h2>

#{form @send(), class: 'disableSubmit'}
	<input type="text" name="email" value="${flash.email}" placeholder="&{'email'}" />
	<input type="submit" value="&{'registration.registerNow'}" class="btn btn-primary btn-large" />
#{/form}

#{set 'footer'}
	<a href="@{Auth.login()}">&larr; &{'registration.backToLogin'}</a>
#{/}