#{if !results.isEmpty()}
	<li class="nav-header nav-header-dark">&{'search.ahead.title', results.getCount()}</li>
	<li class="divider"></li>
	
	#{list items:results.getModels(), as:'result'}
		%{
			if(result_index > max) return;
			infoText = result.getSearchInfoText();
		}%
		
		<li class="result" data-href="@{Search.open(result.id, result.class.name)}" data-index="${result_index}">
			#{sender.thumb result.getSearchThumbSender() /}
			<div class="body">
				<div class="name"><strong>${result.getDisplayName()}</strong></div>
				<small>
					<strong>&{'search.results.' + fishr.search.Searcher.getCategory(result)}</strong>
					#{if infoText && infoText.trim() != ''}
						&bull; ${infoText}
					#{/}
				</small>
			</div>
		</li>
		<li class="divider"></li>
	#{/}
#{/}