#{extends 'layouts/main.html' /}

#{set title:messages.get("search.title") /}

#{if searchString && !blacklistedHashtag}
	#{set 'actions'}
		<div data-follow-unfollow-hashtag="${searchString}"></div>
	#{/}
	#{set subtitle:messages.get("search.subtitle", searchString) /}
#{/}

#{if blacklistedHashtag}
	<div class="alert alert-danger">
		<strong>&{'search.hashtagBlacklisted.warn'}</strong>
	</div>
#{/}

<div id="search-full" data-ng-controller="SearchFullController" data-ng-init="init('${searchString}')" data-ng-class="{ loading : loading }">
	<div data-ng-if="!loading">
		<center data-ng-if="empty">&{'search.noResults'}</center>
		<div class="tabbable" data-ng-if="!empty">
			<ul class="nav nav-tabs">
				<li data-ng-repeat="category in data" data-ng-class="{ active : 0==$index }">
					<a href="{{'#'+category.key}}" data-toggle="tab">{{'search.results.' + category.key | i18n}} <span class="label">{{category.items.length}}</span></a>
				</li>
			</ul>
	
			<div class="tab-content">
				<div data-ng-repeat="category in data" class="tab-pane" id="{{category.key}}" data-ng-class="{ active : 0==$index }">
				<div data-ng-if="category.items.length >= 25" class="alert alert-info">{{'search.maximum.info' | i18n}}</div>
					<ul class="search-results">
						<li data-ng-repeat="item in category.items">
							<a href="{{item.url}}" data-highlight="searchString">
								<img data-ng-src="{{item.thumbUrl}}" alt="{{item.thumbTitle}}" title="{{item.thumbTitle}}" class="thumb">
								<div class="search-result-body">
									<div class="name"><strong>{{item.displayName}}</strong></div>
									<small class="info"><strong>{{category.name}}</strong><span data-ng-show="item.info"> &bull; {{item.info}}</span></small>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>