#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.export.title') /}

<div class="alert alert-info">&{'administration.export.description'}</div>

#{if !active}
	<div data-rest-link data-url="@{export}" data-type="POST" class="btn btn-block btn-primary btn-large">&{'administration.export.start'}</div>
	
	#{if exports.size() > 0}
		<hr>
		<h3>&{'admin.export.exports'}</h3>
		<table class="table table-striped">
			<tbody>
				#{list items:exports.keySet(), as:'export'}
					<tr>
						<td>
							<a href="@{download(export.id)}">
								<strong>${export.id}</strong>
							</a>
						</td>
						<td>#{date.full exports.get(export) /}</td>
						<td>${export.length().formatSize()}</td>
						<td>
							<div data-rest-link data-url="@{delete(export.id)}" data-type="DELETE" class="btn btn-danger btn-mini pull-right">
								<i class="icon-remove icon-white"></i> &{'admin.export.delete'}
							</div>
						</td>
					</tr>
				#{/}
			</tbody>
		</table>
	#{/}
#{/}#{else}
	<div class="progress progress-striped active export-bar">
		<div class="bar" style="width: 100%;">&{'admin.export.active'}</div>
	</div>
	<div data-rest-link data-url="@{cancel}" data-type="POST" class="btn btn-mini pull-right export-cancel"><i class="icon-remove"></i> &{'admin.export.cancel'}</div>
	
	<script type="text/javascript">
		function updateStatus() {
			$.get('@{status}', function(data){
				if(data != 'true') {
					location.reload();
				} else {
					setTimeout(updateStatus, 5000);
				}
			});
		}
		updateStatus();
	</script>
#{/}