#{extends 'layouts/modal.html' /}
#{set title:messages.get("post.share.mail") /}
#{set subtitle:post.displayName /}

<div class="alert alert-success hide">&{'post.share.success'}</div>
<div class="alert alert-error hide">&{'post.share.error'}</div>

#{form @Posts.doMailShare(), id:'postMailShareForm'}
	<input type="hidden" name="post.id" value="${post.id}" />

	<div class="control-group"><input type="text" name="recipients" class="span100" placeholder="&{'post.share.recipients.placeholder'}" /></div>
	<textarea name="message" placeholder="&{'share.placeholder'}" class="span100" rows="4"></textarea>
	#{if post.comments.size() > 0}
		<label class="checkbox"><input type="checkbox" name="comments" value="true" /> &{'post.share.comments'}</label>
	#{/}
#{/}

#{set 'actions'}
	<a href="#" class="btn btn-primary"><i class="icon-envelope icon-white"></i> &{'post.share.submit'}</a>
	<a href="#" class="btn btn-close btn-success hide"><i class="icon-ok icon-white"></i> &{'close'}</a>
	<a href="#" class="btn btn-close btn-danger hide"><i class="icon-remove icon-white"></i> &{'close'}</a>
#{/}

<script type="text/javascript">
	var $modal = $('#modal');
	var $a = $modal.find('.btn-primary');
	
	$('#postMailShareForm').ajaxForm({
		beforeSubmit: function(arr, $form, options) {
			if($form.find('input[name=recipients]').val().trim() == '') {
				$form.find('input[name=recipients]').parent().addClass('error');
				return false;
			}
			
			$('#postMailShareForm').find('input, textarea').attr('disabled', true);
			$a.addClass('disabled');
			return true;
		},
		success: function(data, status, xhr, form) {
			$a.hide();
			$('#postMailShareForm').hide();
			$modal.find('.btn-success').show();
			$modal.find('.alert-success').fadeIn();
		},
		error: function() {
			$a.hide();
			$('#postMailShareForm').hide();
			$modal.find('.btn-danger').show();
			$modal.find('.alert-error').show();
		}
	});
	
	$modal.find('.btn-primary').click(function() {
		$('#postMailShareForm').submit();
	});
	
	$modal.find('.btn-close').click(function(e){
		e.preventDefault();
		$modal.modal('hide');
	});
</script>