#{extends 'layouts/modal.html' /}
#{set title:messages.get("post.report.title") /}

<div class="alert alert-info">&{'post.report.info'}</div>

#{form @Posts.doReport(post.id, destination)}
	#{form.field.textarea 'message', label:'post.report.message.label', class:'span100', rows:3 /}
	
	<div class="form-actions">
		#{form.submit 'post.report.submit' /}
	</div>
#{/}