%{
	user = session.UserLoader.getConnectedUser();
}%

#{secure acl.Permission.FOLLOW, args:[_arg]}
	%{ following = _arg.followers.contains(user); }%
	<a href="@{Collaboration.unfollow(_arg.id)}" data-follow="${_arg.id}" class="btn btn-primary ${_class} unfollow" style="${following.yesno('','display: none;')}"><i class="icon-ok icon-white"></i> &{'following'}</a>
	<a href="@{Collaboration.follow(_arg.id)}" data-follow="${_arg.id}" class="btn ${_class} follow" style="${following.yesno('display: none;','')}"><i class="icon-check"></i> &{'follow'}</a>
#{/}