#{addScript 'tag.endless' /}
#{addScript 'tag.listfilter' /}

%{ uuid = play.libs.Codec.UUID(); }%

<div id="${uuid}">
	#{if _total > 0}
	    <div class="user-list-wrapper">
	        <div class="list-filter">
	        	<form class="user-filter" action="${_arg}">
		            <div class="clearfix">
		                <input type="text" name="filterQuery" class="list-filter-input list-filter-input-short search-query" placeholder="&{'user.filter.title'}" />
		                <select class="list-filter-by chosen" name="filterField">
		                    <option value="name">&{'name'}</option>
		                    <option value="email">&{'user.email'}</option>
		                    <option value="jobTitle">&{'user.jobTitle'}</option>
		                    <option value="expertise">&{'user.expertise'}</option>
		                    <option value="department">&{'user.department'}</option>
		                    <option value="office">&{'user.office'}</option>
		                    <option value="company">&{'user.company'}</option>
		                    <option value="country">&{'user.country'}</option>
		                </select>
		            </div>
	            </form>
	        </div>
	        <ul class="list list-boxes user-list"></ul>
	    </div>
	    #{ui.list.endlessAjax '#' + uuid + ' .user-list', route: _arg, length:20, filter: '#' + uuid + ' .user-filter' /}
	#{/if}#{else}
	    <center>&{'user.list.empty'}</center>
	#{/else}
</div>