#{if _arg.id != session.UserLoader.getConnectedUser().id && models.Settings.findApplicationSettings().getBoolean('messaging')}
	#{if models.Settings.findApplicationSettings().getBoolean('messagingChat') && _arg.isOnline()}
		<a href="#" data-open-conversation="@{api.MessagingAPI.conversationWith(_arg.id)}" class="btn btn-primary user-chat-link tip" title="&{'messaging.conversation.startChat'}"><i class="icon-envelope icon-white"></i></a>
	#{/}#{else}
		<a href="@{Messaging.create(_arg.id, true)}" class="btn ajax tip" title="&{'messaging.conversation.create'}"><i class="icon-envelope"></i></a>
	#{/}
#{/}