#{secure acl.Permission.ACCESS_USER, args:[_arg.id]}
	<a href="@{Users.wall(_arg.id, _arg.slug)}" class="thumb-link"><img src="${_arg.thumbURL}" class="user-avatar thumb" alt="${_arg.fullName}" title="${_arg.fullName}"></a>
#{/}#{else}
	<img src="${_arg.thumbURL}" class="user-avatar thumb" alt="${_arg.fullName}" title="${_arg.fullName}">
#{/}