#{extends 'layouts/main.html' /}
#{set title:messages.get('translation.form.title') /}
#{set subtitle:language.getDisplayName(connectedUser.language) /}
	
#{form @save(senderId, uid, language.getLanguage(), destination)}
	#{form.field.textarea 'text', id:'translationText', label:'translation.form.text.label', value:translation?.text, class:'span10', rows:8 /}
	
	#{if editor}
		#{form.editor 'translationText', lib:sender.mediaLibrary, height:400 /}
	#{/}
	
	<div class="form-actions">
		<a href="${destination}" class="btn">&larr; &{'cancel'}</a>
		#{form.submit 'save' /}
	</div>
#{/}