%{ empty = true; }%

#{set 'workspace-list'}
	<div class="workspaces-list">
		<ul class="list list-boxes workspaces" id="workspaceList">
			#{list items:workspaces, as:'workspace'}
				#{secure acl.Permission.LIST_WORKSPACE, args:[workspace.id]}
					%{ empty = false; }%
					<li>#{include 'Workspaces/_listItem.html' /}</li>
				#{/secure}
			#{/list}
		</ul>
		#{ui.list.endless '.workspaces', size:20 /}
	</div>
#{/}

#{if empty}
	<center>&{'workspaces.list.nonFound'}</center>
#{/}#{else}
	#{get 'workspace-list' /}
#{/}