#{workspace.thumb workspace, lazy:true /}
<i class="icon-th-large"></i>
<strong class="filter-field">#{workspace.link workspace /}</strong>
<small>${workspace.about?.shorten(120)?.hashify()}</small>
<small><a href="@{Workspaces.members(workspace.id)}"><strong>${workspace.members.size()} &{workspace.members.size().pluralize('member', 'members')}</strong></a></small>
