<div class="sender-quickinfo whitebox">
	#{workspace.thumb workspace /}
	<h1>#{workspace.link workspace /} #{get 'subtitle' /}</h1>
	<small>${workspace.about?.shorten(120)?.hashify()}</small>
	<small><strong>${workspace.members.size()} &{workspace.members.size().pluralize('member', 'members')}</strong></small>
	<div class="clearfix"></div>
</div>