#{if workspace.archived}
	<div class="alert">
		&{'archived'}
	</div>
#{/}

#{if workspace.apps.size() > 1}
	<div class="group">
		<h6>&{'apps'}</h6>
		<ul class="unstyled sidebar-apps">
			#{list items:workspace.apps, as:'item'}
				#{secure acl.Permission.ACCESS_APP, args:[item.id]}
					<li>
						<i class="${item.appDescriptor.iconClass}"></i>
						<a href="@{Workspaces.show(workspace.id, item.id, workspace.slug, item.slug)}" class="${(item==app).yesno('active','')}" title="${item.title}">#{length item.title, max:17 /}</a>
					</li>
				#{/}
			#{/list}
		</ul>
	</div>
#{/if}


<div class="group">
	<h6>&{'workspaces.sidebar.membersTitle'}</h6>
	<ul class="unstyled">
		#{list items:workspace.userMembers, as:'user'}
			<li class="${(user_index>10).yesno('hide','')}"><i class="icon-user"></i> #{user.link user /} #{if workspace.isAdmin(user)}<small>(&{'admin'})</small>#{/}</li>
		#{/list}
		#{if workspace.members.size() > 10}<li><a href="#" class="more"><i class="icon-chevron-down"></i> &{'showAll'}</a></li>#{/}
	</ul>
</div>