#{extends 'layouts/main.html' /}

<div id="workspaces" data-ng-controller="WorkspaceListController">
	<div class="workspaces-list" data-ng-init="activeCategory = 'all'">
	
		<ul class="list list-boxes workspaces" data-infinite-scroll="getNextPage()" data-infinite-scroll-disabled="done || loading" data-infinite-scroll-distance='0' data-infinite-scroll-immediate-check="false">
			<li class="workspace" data-ng-repeat="workspace in workspaces">
				<a href="{{workspace.link}}" class="avatar-link">
					<img data-ng-src="{{workspace.avatarUrl}}" class="workspace-avatar" alt="{{workspace.name}}" title="{{workspace.name}}" />
				</a>
				<div class="body">
					<h4><i class="icon-th-large"></i> <a data-ng-href="{{workspace.link}}" title="{{workspace.name}}">{{workspace.name}}</a></h4>
					<small data-ng-show="workspace.about">{{workspace.about}}</small>
					<ul class="unstyled members">
						<li><a href="#" class="count" data-tooltip="{{'workspace.viewAllMembers' | i18n}}" title="{{'workspace.viewAllMembers' | i18n}}">{{workspace.memberCount}}</a></li>
						<li data-ng-repeat="member in workspace.members" data-tooltip="{{member.fullName}}" title="{{member.fullName}}">
							<span data-user-thumb="member"></span>
						</li>
					</ul>
				</div>
				<div class="options">
					<div data-workspace-join-btn="workspace"></div>
					<span class="btn disabled" data-tooltip="{{workspace.visibilityLabel}}" title="{{workspace.visibilityLabel}}">
						<i class="icon-{{workspace.visibilityIcon}}"></i>
					</span>
				</div>
			</li>
		</ul>
		<div class="loading" data-ng-show='loading'>Loading data...</div>
	</div>
	<div class="no-content" data-ng-show="!loading && (!workspaces || workspaces.length < 1)">{{'workspaces.list.nonFound' | i18n}}</div>
</div>