#{if !expanded && commentable.comments.size() > 2}
	<div class="comments-expand">
		<a href="#" class="comments-expand-button">${messages.get('comments.expand.text', commentable.comments.size())}</a>
	</div>
#{/if}
#{list commentable.comments, as:'comment'}
	<div class="comment ${(!expanded && commentable.comments.size() > 2 && (commentable.comments.size()-comment_index) > 1).yesno('hide','')}">
		#{sender.thumb comment.author /}

		<div class="comment-body">
			<div class="smilify"><strong>#{sender.link comment.author /}</strong> ${comment.linkifiedText.raw()}</div>

			<small>
				#{date.smart comment.created /} - 
				#{collaboration.like comment /}
				#{collaboration.likelist comment /}
			</small>
		</div>
	</div>
#{/list}