#{extends 'layouts/front.html' /}
#{addLess 'action.termsofuse.form' /}
#{set title:messages.get('plugin.termsOfUse.title') /}

<h2 class="text-center">&{'plugin.termsOfUse.accept.title'}</h2>
<div id="terms">
	${text?.userHtml()}
</div>
#{form @accept()}
	<input tabindex="2" type="submit" value="&{'plugin.termsOfUse.accept.check'}" class="btn btn-primary btn-block btn-large">
#{/}
#{if allowDeny}
	#{form @deny()}
		<input tabindex="2" type="submit" value="&{'plugin.termsOfUse.deny'}" class="btn btn-primary btn-block btn-large">
	#{/}
#{/}