#{extends 'layouts/registration.html' /}

#{ifErrors}
	<div class="alert alert-error">
		<ul> 
			#{errors 'firstName'}<li>&{'firstName'}: ${error}</li>#{/errors}
			#{errors 'lastName'}<li>&{'lastName'}: ${error}</li>#{/errors}
			#{errors 'password'}<li>&{'password'}: ${error}</li>#{/errors}
	   </ul>
   </div>
#{/ifErrors}

#{form @save()}
	<input type="hidden" name="email" value="${email}"/>
	<input type="hidden" name="token" value="${token}"/>
	<div class="auth-textfields">
		<input type="text" name="firstName" value="${flash.firstName}" placeholder="&{'firstName'}" />
		<input type="text" name="lastName" value="${flash.lastName}" placeholder="&{'lastName'}" />
		<input type="password" autocomplete="off" name="password" value="" placeholder="&{'password'}" />
	</div>
	<input type="submit" value="&{'registration.complete'}" class="btn btn-primary" />
#{/form}
<hr />
<a href="@{Auth.login()}">&{'registration.backToLogin'}</a>