#{extends 'layouts/registration.html' /}

#{ifErrors}
	<div class="alert alert-error">
		<ul> 
			#{errors 'email'}<li>&{'auth.emailPlaceholder'}: ${error}</li>#{/errors}
	   </ul>
   </div>
#{/ifErrors}

#{form @send()}
	<div class="auth-textfields">
		<input type="text" name="email" value="${flash.email}" placeholder="&{'auth.emailPlaceholder'}" />
	</div>
	<input type="submit" value="&{'registration.registerNow'}" class="btn btn-primary" />
#{/form}
<hr />
<a href="@{Auth.login()}">&{'registration.backToLogin'}</a>