#{extends 'layouts/main.html' /}
#{set title:messages.get("account.delete.title") /}

<div class="alert alert-error">
	&{'account.delete.warning.text'}
</div>

#{form @doDelete(), class:'form-horizontal'}
	#{form.field.password 'password', label:'currentPassword' /}
	
	<div class="form-actions">
		<button type="submit" class="btn btn-danger"><i class="icon-remove icon-white"></i> &{'account.delete.submit'}</button>
		<a href="@{Account.index}" class="btn">&{'cancel'}</a>
	</div>
#{/}