#{extends 'layouts/main.html' /}
#{set title:messages.get('account.emailChange.title') /}
	
#{form @saveEmail(), class:'form-horizontal'}
	#{form.field.text 'email', label:'email.new' /}
		
	<div class="form-actions">
		#{form.submit 'save' /}
		<a href="@{Account.index}" class="btn">&{'cancel'}</a>
	</div>
#{/form}

