#{extends 'layouts/main.html' /}
#{set title:messages.get("account.index.title") /}
#{set 'actions'}
	<a href="@{Account.settings}" class="btn"><i class="icon-cog"></i> &{'account.settings.link'}</a>
	#{if connectedUser.local}
		<a href="@{Account.password}" class="btn"><i class="icon-lock"></i> &{'account.passwordChange.link'}</a>
		<a href="@{Account.email}" class="btn"><i class="icon-envelope"></i> &{'account.emailChange.link'}</a>
	#{/}
#{/set}

<h3>&{'account.info.title'}</h3>
<dl class="list">
	<dt>&{'firstName'}</dt><dd>${connectedUser.firstName}</dd>
	<dt>&{'lastName'}</dt><dd>${connectedUser.lastName}</dd>
	<dt>&{'email'}</dt><dd>${connectedUser.email}</dd>
	<dt>&{'account.info.memberSince'}</dt><dd>#{date.normal connectedUser.created /}</dd>
	<dt>&{'language'}</dt><dd>${connectedUser.language.displayName}</dd>
	<dt>&{'user.timeZone'}</dt><dd>${connectedUser.dateTimeZone.getName(0, connectedUser.language)}</dd>
</dl>

#{if settings.getBoolean(conf.ApplicationSettings.ALLOW_ACCOUNT_DELETION)}
	<hr>
	<a href="@{delete}" class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> &{'account.delete.title'}</a>
#{/}