#{extends 'layouts/main.html' /}
#{set title:messages.get('account.passwordChange.title') /}
	
#{form @savePassword(), class:'form-horizontal'}
	#{form.field.password 'currentPassword' /}
	<hr>
	#{form.field.password 'password', label:'password.new' /}
	#{form.field.password 'passwordRepeat', label:'password.new', placeholder:messages.get('repeat') /}

	<div class="form-actions">
		#{form.submit 'save' /}
		<a href="@{Account.index}" class="btn">&{'cancel'}</a>
	</div>
#{/form}