#{extends 'layouts/main.html' /}
#{set title:messages.get('account.settings.title') /}
	
#{form @saveSettings(), class:'form-horizontal'}
	<ul class="nav nav-tabs">
		<li class="active"><a href="#general" data-toggle="tab">&{'account.settings.languageAndTimezone.title'}</a></li>
		<li><a href="#notifications" data-toggle="tab">&{'account.notificationSettings.title'}</a></li>
		#{if pushEnabled}
			<li><a href="#devices" data-toggle="tab">&{'account.settings.pushDevices.title'}</a></li>
		#{/}
		#{if userDeviceCount > 0}
			<li><a href="#oauthdevices" data-toggle="tab">&{'account.settings.oauthDevices.title'}</a></li>
		#{/}
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="general">
			#{form.field.custom 'user.language'}
				<select name="language" class="chosen">
					#{list items:locales, as:'locale'}
						<option value="${locale}" #{if locale == connectedUser.language}selected="selected"#{/}>${locale.getDisplayName(connectedUser.language)}</option>
					#{/}
				</select>
			#{/}
			
			#{form.field.custom 'user.timeZone'}
				<select name="timezone" id="user-timeZone" class="chosen span7" data-placeholder="&{'user.timeZone.placeholder'}">
					<option></option>
					#{list items:date.GMTZone.all().values(), as:'gmt'}
						<option value="${gmt.id}" ${(connectedUser.timezone==gmt.id).yesno('selected','')}>${gmt.name} - #{length gmt.cities, max:60 /}</option>
					#{/list}
				</select>
			#{/}
			
			<div class="form-actions">
				#{form.submit 'save' /}
				<a href="@{Account.index}" class="btn">&{'cancel'}</a>
			</div>
		</div>
		<div class="tab-pane" id="notifications">
			#{form.field.checkbox 'neverMail', label:'account.option.neverMailMe.label', help:'account.option.neverMailMe', value:true, falseValue:false, checked:!connectedUser.notSettings?.receiveMails /}
			#{form.field.select 'interval', label:'account.option.interval.label', help:'account.option.interval.help', items:intervalTypes, labelProperty:'label', value:connectedUser.notSettings?.mailInterval, disabled:!connectedUser.notSettings?.receiveMails /}

			<hr>
		
			#{form.field.custom 'account.notification.pretext'}
				#{list items:mailEvents, as:'key'}
					<label class="checkbox">
						<input type="checkbox" name="notificationKeys" id="notification-${key}" class="mailsetting" value="${key}" #{if connectedUser.notSettings?.mailEvents?.contains(key)} checked="checked"#{/if} />
						... &{'administration.settings.notifications.notificationType.' + key}
					</label>
				#{/list}
			#{/}
			
			<div class="form-actions">
				#{form.submit 'save' /}
				<a href="@{Account.index}" class="btn">&{'cancel'}</a>
			</div>
		</div>
		#{if pushEnabled}
			<div class="tab-pane" id="devices">
				<div class="alert alert-info">&{'account.settings.pushDevices.info'}</div>
				
				<div data-ng-controller="PushDevicesController">
					<table class="table table-striped pushdevices">
						<tbody>
							<tr data-ng-repeat="device in devices" data-ng-class="{ active : device.active }">
								<td><img class="pointer" data-ng-click="toggle(device)" src="#{resource 'images/icon-pushdevice.png' /}" data-tooltip="{{ device.active ? 'pushDevice.active' : 'pushDevice.inactive' | i18n }}"></td>
								<td>{{device.displayName}}</td>
								<td><small>{{'pushDevice.createdAt' | i18n}} <span data-fuzzy-date="device.created"></span></small></td>
								<td><a class="btn btn-danger btn-mini pull-right" data-ng-click="remove(device)"><i class="icon-remove icon-white"></i> {{ 'pushDevice.delete' | i18n }}</a></td>
							</tr>
						</tbody>
					</table>
					<center data-ng-show="!devices.length">{{ 'account.settings.pushDevices.empty' | i18n }}</center>
				</div>
			</div>
		#{/}

		<div class="tab-pane" id="oauthdevices">
			<div class="alert alert-info">&{'account.settings.oauthDevices.info'}</div>
			<div data-ng-controller="OAuth2DevicesController">
				<table class="table table-striped oauthdevices">
					<tbody>
						<tr data-ng-repeat="device in devices">
							<td><img src="#{resource 'images/icon-pushdevice.png' /}"></td>
							<td title="{{device.description}}">{{device.name}}</td>
							<td><small>{{'oauthDevice.createdAt' | i18n}} <span data-fuzzy-date="device.created"></span></small></td>
							<td><a class="btn btn-danger btn-mini pull-right" data-ng-click="deleteOAuth2Device(device)"><i class="icon-remove icon-white"></i>{{ 'oauthDevice.delete' | i18n }}</a></td>
						</tr>
					</tbody>
				</table>
				<center data-ng-show="!devices.length">{{ 'account.settings.oauthDevice.empty' | i18n }}</center>
			</div>
		</div>
	</div>
#{/form}


<script type="text/javascript">
	$(document).ready(function(){
		$('#nevermail').change(updateForm);
	});
	
	function updateForm() {
		if($('#nevermail').is(':checked')){
			$('.mailsetting, #interval').attr('disabled', true);
		} else {
			$('.mailsetting, #interval').attr('disabled', false);
		}
	}
	
	updateForm();
</script>