#{if _arg != null}
	#{secure acl.Permission.READ_POST, args:[_arg.id]}
		%{
			connectedUser = _caller.connectedUser;
			wall = _caller.wall;
			following = _arg.isFollowing(connectedUser);
			flagged = _arg.isFlagged(connectedUser);
			importantForUser = _arg.isImportant(connectedUser);
		}%
		
		#{if _render}
			<li class="post ${(_arg.hasNewNotifications(connectedUser)).yesno('highlighted','')} ${_arg.important.yesno('important','')} ${importantForUser.yesno('important-unread','')} ${flagged.yesno('flagged','')} ${_class}" data-href="@{Posts.post(_arg.id, _wall.id)}">
				<div class="post-status-bar"></div>
				<a href="@{Posts.toggleFlagged(_arg.id)}" title="&{'wall.post.toggleFlagged'}" class="post-flagged-bar post-flagged-toggle"></a>
				
				#{cache 'post-thumb-' + _arg.id + connectedUser.external.yesno('-external',''), for:'1d'}
					#{sender.thumb _arg.author /}
				#{/}
				
				<div class="post-body">
					<div>#{wall.post.title _arg, detail:_detail /}</div>
					<div>#{wall.post.content _arg /}</div>
					<div>#{wall.post.attachments _arg /}</div>
			
					<div class="btn-group post-options">
						<a class="btn ${following.yesno('btn-primary','')} dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
						<ul class="dropdown-menu pull-right">
							<li><a href="@{Posts.toggleFollow(_arg.id)}" class="post-follow-toggle">
								#{if following}
									<i class="icon-remove-sign"></i> &{'disableNotifications'}
								#{/}#{else}
									<i class="icon-ok-sign"></i> &{'receiveNotifications'}
								#{/}
							</a></li>
							<li><a href="@{Posts.toggleFlagged(_arg.id)}" class="post-flagged-toggle">
								<span class="post-flagged-on"><i class="icon-remove-sign"></i> &{'post.flagged'}</span>
								<span class="post-flagged-off"><i class="icon-ok-sign"></i> &{'post.flag'}</span>
							</a></li>
							#{if _arg.sharable}
								<li class="divider"></li>
								<li>#{collaboration.share _arg /}</li>
								#{if controllers.Posts.MAIL_SHARE_ENABLED}
									<li><a href="@{Posts.mailShare(_arg.id)}" class="ajax"><i class="icon-envelope"></i> &{'post.share.mail'}</a></li>
								#{/}
							#{/}
							#{if controllers.Posts.POST_REPORTING_ENABLED}
								<li class="divider"></li>
								<li><a href="@{Posts.report(_arg.id)}" class="ajax"><i class="icon-flag"></i> &{'post.report'}</a></li>
							#{/}
							#{secure acl.Permission.POST_STICKY, args:[_arg.wall.sender.id]}
								<li class="divider"></li>
								#{if _arg.important}
									<li class="nav-header">&{'tags.wall.post.post.sticky.read', _arg.getReadCount()}</li>
									<li><a href="@{Posts.unsticky(_arg.id)}" class="post-sticky"><i class="icon-magnet"></i> &{'tags.wall.post.post.unsticky'}</a></li>
								#{/}#{else}
	                                <li><a href="@{Posts.sticky(_arg.id)}" class="post-sticky"><i class="icon-magnet"></i> &{'tags.wall.post.post.sticky'}</a></li>
								#{/}
							#{/}
							#{secure acl.Permission.DELETE_POST, args:[_arg.id]}
								<li class="divider"></li>
			   					<li><a href="@{Posts.delete(_arg.id)}" class="post-delete"><i class="icon-remove"></i> &{'post.delete'}</a></li>
			   				#{/}
		    			</ul>
		    			<a class="btn btn-primary post-read-toggle hide" href="@{Posts.toggleRead(_arg.id)}"><i class="icon-ok icon-white"></i> &{'post.markRead'}</a>
					</div>
				
					<small>
						#{secure acl.Permission.COLLABORATE_POST, args:[_arg.id]}
							#{collaboration.like _arg /}
							<span class="comment-button hide">- <a href="#">&{'post.link.comment'}</a></span>
							-
						#{/}
						#{date.fuzzy _arg.created /}
					</small>
					
					#{collaboration.likelist _arg /}
					
					#{collaboration.comments _arg /}
				</div>
				
				%{ _arg.markNotificationsRead(connectedUser); }%
			</li>
		#{/}#{else}
			<li class="post loading ${_class} ${importantForUser.yesno('important-unread','')}" data-href="@{Posts.post(_arg.id, _wall.id)}"></li>
		#{/}
	#{/}
#{/}