<div class="wiki-nav">
	<a href="@{WikiApp.overview(app.id)}" class="btn #{if !article}disabled#{/}" title="&{'apps.wiki.overview'}"><i class="icon-globe"></i></a>
	#{if article}
		#{secure acl.AppsPermission.EDIT_WIKI, args:[app.id]}
			<a href="@{WikiApp.history(article.id)}" class="btn ajax pull-right"><i class="icon-time"></i> &{'apps.render.wiki.showArticleHistory'}</a>
		#{/}
	#{/}
</div>