<div class="whitebox">
	#{if !current}
		<div class="alert">
			&{'apps.render.wik.notCurrent'}
			#{secure acl.AppsPermission.EDIT_WIKI, args:[app.id]}
				<a href="@{WikiApp.revert(article.id, version.num)}" data-confirm="&{'apps.render.wiki.confirmRevertArticle'}?">&{'apps.render.wiki.revertArticle'}</a>
			#{/}
		</div>
	#{/}
	
	<h3>
		${article.title}
		<small>
			#{if current}
				#{set 'time'}#{date.fuzzy article.currentVersion.created /}#{/}
				&{'wiki.title.time', time} #{user.link article.currentVersion.author /}
			#{/}#{else}
				#{date.full version.created /} &{'by'} #{user.link version.author /}
			#{/}
			
		</small>
	</h3>
		
	${version.text.userHtml()}
</div>