<div class="wiki-nav btn-toolbar" data-ng-non-bindable>
	<div class="btn-group">
		<a class="btn btn-primary dropdown-toggle wiki-nav" data-toggle="dropdown" href="#"><span class="caret"></span></a>
		
		#{if article}
			#{list items:article.breadcrumbs, as:'a'}
				<a href="@{WikiApp.article(a.id)}" class="btn wiki-nav-item">${a.title} <i class="icon-chevron-right"></i></a>
			#{/}
			<a class="btn disabled">${article.title}</a>
		#{/}
	</div>
	<div class="btn-group pull-right left-menu">
		#{secure acl.AppsPermission.EDIT_WIKI, args:[app.id]}
			#{if article && current && !article.isLocked(connectedUser)}
				<a href="${util.HttpUtil.appendParam(request.url, 'form', article.id)}" class="btn btn-primary" title="&{'apps.render.wiki.editArticle'}"><i class="icon-edit icon-white"></i></a>
			#{/}
		#{/}
		<a tabindex="-1" href="" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="&{'options'}">&nbsp;<i class="icon-cog icon-white">&nbsp;</i></a>
		<ul class="dropdown-menu" role="menu">
			#{if article}
				#{secure acl.AppsPermission.EDIT_WIKI, args:[app.id]}
					<li><a tabindex="-1" href="@{WikiApp.history(article.id)}" class="ajax"><i class="icon-time"></i> &{'apps.render.wiki.showArticleHistory'}</a></li>
				#{/}
				#{if current && article.isSharable()}
					<li>#{collaboration.share article /}</li>
				#{/}
				<li class="dropdown-submenu">
			    	<a tabindex="-1" href=""><i class="icon-print"></i> &{'app.wiki.article.pdf'}</a>
			    	<ul class="dropdown-menu">
						<li><a tabindex="-1" href="@{WikiApp.pdf(app.id, article.id, false)}" target="blank">&{'app.wiki.article.pdf.article'}</a></li>
						<li><a tabindex="-1" href="@{WikiApp.pdf(app.id, article.id, true)}" target="blank">&{'app.wiki.article.pdf.withChildren'}</a></li>
						<li><a tabindex="-1" href="@{WikiApp.pdf(app.id)}" target="blank">&{'app.wiki.article.pdf.all'}</a></li>
			    	</ul>
			    </li>
			#{/}#{else}
				<li><a tabindex="-1" href="@{WikiApp.pdf(app.id)}" target="blank"><i class="icon-print"></i> &{'app.wiki.article.pdf.wiki'}</a></li>
			#{/}
		</ul>
		#{secure acl.AppsPermission.EDIT_WIKI, args:[app.id]}
			<a href="${util.HttpUtil.appendParam(request.url, 'form', true)}" class="btn" title="&{'apps.render.wiki.createArticle'}"><i class="icon-plus"></i></a>
		#{/}
	</div>
</div>