%{
	userTimeZone = session.UserLoader.getConnectedUser().getDateTimeZone();
}%

#{if article.children.size() > 0 && article.showSubArticles}
	#{set 'rightbar'}
		<div class="group wiki">
			<h4>&{'app.wiki.article.children'}</h4>
			<ul class="unstyled">
				#{list items:article.children, as:'sub'}
					<li>
						<i class="icon-book"></i>
						<a href="@{WikiApp.article(sub.id)}">${sub.title}</a>
					</li>
				#{/}
			</ul>
		</div>
	#{/}
#{/}

#{if !current}
	<div class="alert">
		&{'apps.render.wik.notCurrent'}
		#{secure acl.AppsPermission.EDIT_WIKI, args:[app.id]}
			<div data-rest-link data-url="@{WikiApp.revert(article.id, version.num)}" data-type="POST" data-redirect="@{WikiApp.article(article.id)}" data-confirmation="&{'apps.render.wiki.confirmRevertArticle'}?">&nbsp;&{'apps.render.wiki.revertArticle'}</div>
		#{/}
	</div>
#{/}

#{if article.isLocked()}
	<div class="alert alert-warning">
		&{'app.wiki.article.locked', article.lock.displayName, connectedUser.getLocalDate(article.modified).format(libs.DateI18N.getLocalizedDateFormat('date.format.full'))}
	</div>
#{/}

<div class="wiki-article-titlebar" data-ng-non-bindable>
	<div class="options pull-right">
		#{if !current}
			<a href="${util.HttpUtil.removeParam(request.url, 'version')}" class="btn btn-mini">&{'apps.render.wik.backToCurrent'} &rarr;</a>
		#{/}
	</div>
	<div class="wiki-article-title">${article.title}</div>
	<ul class="wiki-article-info unstyled">
		#{if current}
			<li><i class="icon-user"></i> #{user.link article.currentVersion.author /}</li>
			<li><i class="icon-time"></i> #{date.fuzzy article.currentVersion.created /}</li>
		#{/}#{else}
			<li><i class="icon-user"></i> #{user.link version.author /}</li>
			<li><i class="icon-time"></i> #{date.full version.created, timezone:userTimeZone /}</li>
		#{/}
	</ul>
</div>

#{if article.empty}
	<center>
		&{'app.wiki.article.empty'}
		#{if current}
			#{secure acl.AppsPermission.EDIT_WIKI, args:[app.id]}
				<a href="${util.HttpUtil.appendParam(request.url, 'form', article.id)}">&{'app.wiki.article.empty.link'}</a>
			#{/}
		#{/}
	</center>
#{/}#{else}
	<div class="article-content" data-ng-non-bindable>
		${version.text.userHtml().hashify(true)}
	</div>
	
	#{if app.usersCanComment}
	<div class="wiki-collaboration">
		<h5>&{'app.wiki.comments.title'}</h5>
		#{collaboration.comments article /}
	</div>
	
	<script type="text/javascript">
		$('.wiki-collaboration .comments').comments();
	</script>
	#{/}
#{/}