<!-- Nested list template -->
<script type="text/ng-template" id="items_renderer.html">
	<div  class="wiki-tree-content" data-ng-class="{editable: isEditable}">
		<div class="wiki-tree-entry">
					<span data-ng-if="node.nodes.length > 0">
				<a data-nodrag href="" data-ng-click="toggleNode(this)">
					<span class="glyphicon"
						  data-ng-class="{'icon-chevron-right': collapsed, 'icon-chevron-down': !collapsed}">
					</span>
				</a>
				</span>
				<span data-ng-if="node.nodes.length == 0">
						<i data-ng-class="{'icon-edit': node.empty, 'icon-book': !node.empty}"> </i>
				</span>
			<a data-nodrag href="" data-ng-href="{{createUrl(node.id)}}"><strong>{{node.title}}</strong></a>
		</div>
	</div>
	<div class="wiki-tree-info">
		<span data-user-link="node.author"></span>
		<small data-fuzzy-date="node.modified"></small>
	</div>

	<ol data-ui-tree-nodes="options" data-ng-model="node.nodes" data-ng-class="{hidden: collapsed}" ng-if="!collapsed">
		<li data-ng-repeat="node in node.nodes" data-ui-tree-node data-ng-include="'items_renderer.html'" data-collapsed="node.nodes.length > 0"></li>
	</ol>
</script>

<div id="tree-root" class="wiki-tree" data-ui-tree="options" data-drag-enabled="{{isEditable}}">
	<ol data-ui-tree-nodes data-ng-model="tree" ng-if="!collapsed">
		<li data-ng-repeat="node in tree" data-ui-tree-node data-ng-include="'items_renderer.html'" data-collapsed="node.nodes.length > 0"></li>
	</ol>
	<div data-ng-show="loading" class="loading">Loading...</div>
</div>