#{extends 'layouts/modal.html' /}
#{set title:messages.get('delete') /}
#{set subtitle:article.title /}

&{'app.wiki.article.delete.question'}

#{set 'actions'}
	<div data-rest-link data-url="@{WikiApp.doDelete(article.id, true)}" data-redirect="@{Senders.show(article.app.sender.id, article.app.id)}" data-type="DELETE" class="btn restlink"><i class="icon-arrow-up"></i> &{'app.wiki.article.delete.retainChildren'}</div>
	<div data-rest-link data-url="@{WikiApp.doDelete(article.id, false)}" data-redirect="@{Senders.show(article.app.sender.id, article.app.id)}" data-type="DELETE" class="btn btn-danger restlink"><i class="icon-remove icon-white"></i> &{'app.wiki.article.delete.recursive'}</div>
#{/}

<script type="text/javascript">
	/* we need to compile the loaded modal with angular, to display proper delete links */
	var elem = angular.element("body"),
		compileFn = elem.injector().get('$compile');
	compileFn(angular.element('div.restlink'))(elem.scope());
</script>