#{if article.isLocked(connectedUser)}
	<div class="alert alert-warning">
		&{'app.wiki.article.locked', article.lock.displayName, connectedUser.getLocalDate(article.modified).format(libs.DateI18N.getLocalizedDateFormat('date.format.full'))} <a href="#" class="wiki-form-unlock">&{'app.wiki.article.unlock'}</a>
	</div>
	
	<div class="form-actions">
		<a href="@{Senders.show(article.app.sender.id, article.app.id).add('article', article.id)}" class="btn">&larr; &{'cancel'}</a>
	</div>
	
	<script type="text/javascript">
		$('.wiki-form-unlock').click(function(e){
			e.preventDefault();
			$.post('@{WikiApp.unlock(article.id)}', function(){
				location.reload();
			});
		});
	</script>
#{/}#{else}

	#{form @WikiApp.save(), class:'form-stacked'}
		<input type="hidden" name="article.id" value="${article.id}" />
		<input type="hidden" name="article.app.id" value="${article.app.id}" />
	
		<div class="row">
			<div class="span5">
				#{form.field.text 'article.title', value:article.title, label:'app.wiki.article.title', class:'span4' /}
			</div>
			<div class="span4">
				#{form.field.select 'article.parent.id', label:'app.wiki.article.parent', class:'chosen span4', items:parents, labelProperty:'title', valueProperty:'id', value:article.parent?.id}
					<option value="">&{'apps.render.wiki.wikiHome'}</option>
				#{/}
			</div>
		</div>
		
		#{form.field.textarea 'text', label:'app.wiki.article.text', class:'editor', value:text?:article.currentVersion?.text /}
		#{form.editor 'text', lib:article.app.sender.mediaLibrary, height:400 /}	

		<hr>

		#{form.field.checkbox 'article.showSubArticles', label:'app.wiki.article.show.subarticles.headline', help:'app.wiki.article.show.subarticles', value:true, falseValue:false, checked:article.showSubArticles /}

		<div class="form-actions">
			<a href="@{Senders.show(article.app.sender.id, article.app.id).add('article', article.id)}" class="btn wiki-form-cancel">&larr; &{'cancel'}</a>
			#{if article.persistent}
				#{secure acl.AppsPermission.DELETE_WIKI_ARTICLE, args:[article]}
						#{if article.children.size() > 0}
							<a href="@{WikiApp.delete(article.id)}" class="btn btn-danger ajax">&{'delete'}</a>
						#{/}#{else}
							<div data-rest-link data-url="@{WikiApp.doDelete(article.id)}" data-redirect="@{Senders.show(article.app.sender.id, article.app.id)}" data-type="DELETE" class="btn btn-danger restlink" data-confirmation-really="&{'really'}">&{'delete'}</div>
						#{/}
				#{/secure}
			#{/}
			
			#{if !article.isLocked(connectedUser)}
				<div class="pull-right">
					#{form.submit 'saveAndContinueEditing', class:'btn-secondary', name:'redirectToEdit', value:'true' /}
					#{form.submit 'save' /}
				</div>
			#{/}
		</div>
	#{/form}
	
	<script type="text/javascript">
	#{if article.persistent}
		$('.wiki-form-cancel').click(function(e){
			e.preventDefault();
			$.post('@{WikiApp.unlock(article.id)}', function(){
				location.href = $(e.currentTarget).attr('href');
			});
		});
	#{/}
	
	function convertUmlauts (text) {
		text = text.replace(/&auml;/g, 'ä');
		text = text.replace(/&ouml;/g, 'ö');
		text = text.replace(/&uuml;/g, 'ü');
		text = text.replace(/&Auml;/g, 'Ä');
		text = text.replace(/&Ouml;/g, 'Ö');
		text = text.replace(/&Uuml;/g, 'Ü');
		return text;
	}

	CKEDITOR.on( 'dialogDefinition', function( ev ){
		var dialogName = ev.data.name;
		var dialogDefinition = ev.data.definition;
		
		if (dialogName == 'link') {
			dialogDefinition.addContents({
				id: 'wikiLink',
				label: 'Wiki',
				elements : [
					{
						type: 'hbox',
					    widths: ['80%', '20%'],
					    children: [
						    {
						    	type: 'select',
								id: 'wikiLinkSelect',
								style: 'min-width: 270px;',
								label: '&{'apps.wiki.form.selectArticle'}',
								items: [
									['&{'apps.render.wiki.wikiHome'}','@@{Senders.show(article.app.sender.id, article.app.id)}']
									#{list items:possibleLinks, as:'a'},[convertUmlauts(_.unescape('${a.title.addSlashes()}')),'@@{WikiApp.article(a.id)}']#{/}
								],
								onShow: function(){
									var text;
									try { text = ev.editor.getSelection().getSelectedText(); } catch(e) {}
									var select = this;
									
									if (text) {
										// check if exists in select
										$.each(this.items, function(i, item){
											if(item[0] == text) {
												select.setValue(item[1]);
											}
										});
									}
								}
							},
							{
								type: 'button',
								id: 'wikiLinkSelectBtn',
								style: 'margin-top: 11px;',
								label: 'OK',
								onClick: function() {
									var select = CKEDITOR.dialog.getCurrent().getContentElement('wikiLink', 'wikiLinkSelect');
									CKEDITOR.dialog.getCurrent().getContentElement('info', 'url').setValue(select.getValue());
									document.getElementById(CKEDITOR.dialog.getCurrent().getButton('ok').domId).click();
							    }
							}
						]
					},
					{
						type: 'hbox',
					    widths: ['80%', '20%'],
					    children: [
						    {
								type: 'text',
								id: 'wikiCreateTitle',
								label: '&{'apps.wiki.form.createArticle'}',
								onShow : function(){
									try {
										this.setValue(ev.editor.getSelection().getSelectedText());
									} catch(e) {}
							    }
							},
							{
								type: 'button',
								id: 'wikiCreateBtn',
								style: 'margin-top: 11px;',
								label: 'OK',
								onClick: function() {
									var title = CKEDITOR.dialog.getCurrent().getContentElement('wikiLink', 'wikiCreateTitle').getValue();
									if(title.trim() == '') {
										alert('&{'apps.wiki.form.createArticle.error'}');
										return;
									}
									
									$.post('@{WikiApp.createDynamic(article.app.id)}', { 'title': title }, function(data){
										CKEDITOR.dialog.getCurrent().getContentElement('info', 'url').setValue(data.url);
										document.getElementById(CKEDITOR.dialog.getCurrent().getButton('ok').domId).click();
									});
							    }
							}
						]
					}
				]
			}, 'info');
			
			dialogDefinition.onFocus = function(){
				// focuses
				this.getContentElement('wikiLink', 'wikiLink');
			};
		}
	});
	
	/* we need to compile the loaded modal with angular, to display proper delete links */
	var elem = angular.element("body"),
		compileFn = elem.injector().get('$compile');
	compileFn(angular.element('div.restlink'))(elem.scope());
	</script>
#{/}