#{extends 'layouts/modal.html' /}
#{set title:messages.get('app.wiki.article.history') /}
#{set subtitle:article.title /}

{%
	userTimeZone = session.UserLoader.getConnectedUser().getDateTimeZone();
%}

<ul class="list compact">
	#{list items:article.getVersions(10), as:'version'}
		<li>
			#{if version == article.currentVersion}
				<a href="${util.HttpUtil.removeParam(util.HttpUtil.getReferrerUrl(), 'version')}" class="label label-success">#{date.full version.created, timezone:userTimeZone /}</a>
			#{/}#{else}
				<a href="${util.HttpUtil.appendParam(util.HttpUtil.getReferrerUrl(), 'version', version.num)}" class="label">#{date.full version.created, timezone:userTimeZone /}</a>
			#{/}
			<small class="inline right">#{user.link version.author /}</small>
		</li>
	#{/list}
</ul>