#{addLess 'tag.appsorter' /}

<div class="alert">
	&{'apps.drag.help'}
</div>

<ul class="list" id="appsorter">
	%{order = '';}%
	#{list items:_arg.apps, as:'app'}
		%{order = order + app.id + ','}%
		<li app-id="${app.id}"><i class="${app.appDescriptor.iconClass}"></i> ${app.title}</li>
	#{/list}
</ul>

<input type="hidden" name="apporder" value="${order}" />

<script type="text/javascript">
	$('#appsorter').sortable({
		update: function(event, ui) {
			var order = '';
			$('#appsorter li').each(function(i, el) {
				order = order + $(el).attr('app-id') + ',';
			});
			$('input[name=apporder]').val(order);
		}
	});
</script>