#{if _groups?.size() > 0}
	%{
		if(!_id) _id = _name;
		if(!_selected) _selected = [];
	}%
	
	<select id="${_id}" name="${_name}" multiple="multiple" class="span5 chosen" data-placeholder="&{'groupchooser.placeholder'}">
		#{list items:_groups, as:'group'}
			#{if !_skip?.contains(group)}
				<option value="${group.id}" ${(_selected.contains(group).yesno('selected', ''))}>${group.name}</option>
			#{/if}
		#{/}
	</select>
#{/}#{else}
	<small>&{'noGroups'}</small>
#{/}