%{
	connectedUser = session.UserLoader.getConnectedUser();
	language = params['language'];
	
	if(language) {
		if(language != 'original') {
			translation = models.Translation.findTranslation(_sender.id, _uid, language);
		}
	} else {
		translation = models.Translation.findTranslation(_sender.id, _uid, connectedUser.language);
	}
	
	if(translation) {
		languageName = translation.language.getDisplayName(connectedUser.language);
	}
	
	availableTranslations = models.Translation.listTranslations(_sender.id, _uid);
	
	if(_allowEdit) {
		controllers.Translations.allowUser(_uid, connectedUser);
	}
}%

<div class="translatable">
	#{if translation}
		#{if _raw}
			#{if _hashify}
				${translation.text?.raw()?.hashify()}
			#{/}#{else}
				${translation.text?.raw()}
			#{/}
		#{/}#{elseif _userHtml}
			#{if _hashify}
				${translation.text?.userHtml()?.hashify()}
			#{/}#{else}
				${translation.text?.userHtml()}
			#{/}
		#{/}#{elseif _nl2br}
			#{if _hashify}
				${translation.text?.nl2br()?.hashify()}
			#{/}#{else}
				${translation.text?.nl2br()}
			#{/}
		#{/}#{else}
			#{if _hashify}
				${translation.text?.hashify()}
			#{/}#{else}
				${translation.text}
			#{/}
		#{/}
	#{/}#{else}
		#{doBody /}
	#{/}
	
	#{if availableTranslations.size() > 0 || _allowEdit}
		<div class="btn-group translatable-options">
			<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
				<i class="icon-flag"></i>
				#{if translation}${languageName}#{/}
				#{else}&{'translation.options.label'}#{/}
			</a>
			<ul class="dropdown-menu pull-right">
				#{if availableTranslations.size() > 0}
					<li class="dropdown-submenu pull-left"><a href="#"><i class="icon-flag"></i> &{'translation.switchLanguage'}</a>
						<ul class="dropdown-menu">
							<li><a href="${util.HttpUtil.appendParam(request.url, 'language', 'original')}"><i class="icon-ok"></i> &{'translation.original'}</a></li>
							#{list items:availableTranslations, as:'t'}
								<li #{if t.language.getLanguage()==language}class="active"#{/}>
									<a href="${util.HttpUtil.appendParam(request.url, 'language', t.language.getLanguage())}">
										<i class="icon-ok"></i>
										${t.language.getDisplayName(connectedUser.language)}
									</a>
								</li>
							#{/}
						</ul>
		    		</li>
	    		#{/}
	    		
	    		#{if _allowEdit}
		    		<li class="dropdown-submenu pull-left"><a href="#"><i class="icon-pencil"></i> &{'translation.translateNow'}</a>
						<ul class="dropdown-menu">
							#{list items:utils.LanguageUtils.getApplicationLocales(), as:'locale'}
								<li><a href="@{Translations.form(_sender.id, _uid, locale.getLanguage(), _editor)}">
									<i class="icon-pencil"></i>
									${locale.getDisplayName(connectedUser.language)}
								</a></li>
							#{/}
						</ul>
		    		</li>
	    		#{/}
	    		
				#{if _allowEdit && translation}
					<li class="divider"></li>
					<li><div data-rest-link data-url="@{Translations.delete(translation.id)}" data-confirmation="&{'translation.delete.confirm', languageName}" data-type="POST" data-redirect="${util.HttpUtil.appendParam(request.url, 'language', 'original')}" class="restlink"><i class="icon-remove"></i>&nbsp;&{'translation.delete', languageName}</div></li>
				#{/}
			</ul>
		</div>
	#{/}
</div>