%{
	if(!_id) _id = _name;
	if(!_max) _max = 0;
	if(!_placement) _placement = 'bottom';
	if(!_placeholder) _placeholder = messages.get('userchooser.placeholder');
	if(!_label) _label = 'userchooser.btn.label';
	if(_showMe == null) _showMe = true;
	if(_allowDeletedValues == null) _allowDeletedValues = false;
	if(_null == null) _null = false;
	
	count = 0;
	value = [];
	
	if(_selected != null) {
		_selected.remove(null);
		for (user in _selected) {
			if (_allowDeletedValues || (user.active && !user.deleted)) {
				value.add(user);
			}
		}

		count =  value.size();
	}
}%

<script type="text/mustache-template" id="userchooserTemplate">
	<li>
		<a href="#" class="userchooser-user btn btn-block {{#showDetails}}twolines{{/showDetails}} {{#active}}btn-primary{{/active}}" data-id="{{id}}">
			<img src="{{thumbURL}}" class="thumb" alt="{{fullName}}">
			{{fullName}}
			{{#showDetails}}<small>
				{{#department}}{{department}}{{#jobTitle}} / {{/jobTitle}}{{/department}}
				{{#jobTitle}}{{jobTitle}}{{/jobTitle}}
			</small>{{/showDetails}}
		</a>
	</li>
</script>

<div class="userchooser ${_class}" id="${_id}" data-max="${_max}" data-max-error="&{'userchooser.max.error', _max}" data-load-url="#{if _url}${_url}#{/}#{else}@{Users.chooser(_showExternals, _showMe)}#{/}" data-empty-list="${_null}">
	<select name="${_name}" class="userchooser-value hide" multiple="multiple">
		#{list items:value, as:'user'}
			<option value="${user.id}" selected>${user.id}</option>
		#{/}
		#{if _null && value.size() == 0}<option value="" selected></option>#{/}
	</select>
	<a href="#" class="btn userchooser-btn ${_btnClass}" data-placement="${_placement}"><i class="icon-user"></i> &{_label} (<span class="userchooser-count">${count}</span>#{if _max > 0}/${_max}#{/})</a>
	
	<div class="userchooser-popover-title hide">
		&{'userchooser.title'}
		<div class="pull-right userchooser-options">
			<i class="icon-remove search-clear"></i>
			<input type="search" class="search-query" placeholder="${_placeholder}">
			<a href="#" class="userchooser-popover-close btn btn-primary"><i class="icon-ok icon-white"></i></a>
		</div>
	</div>
	
	<div class="userchooser-popover-content hide">
		<div class="userchooser-empty hide">&{'userchooser.empty'}</div>
		<div class="userchooser-list-wrapper">
			<ul class="userchooser-list"></ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<script type="text/javascript">
	$('#${_id}').userchooser();
</script>