#{addLess 'tag.wall' /}
#{addScript 'tag.wall' /}

%{
	wall = _arg;
	connectedUser = _caller.connectedUser;

	if(!_placeholder) _placeholder = messages.get("wall.placeholder");
	if(!_id) _id = 'wall';
}%
#{if !_route}
	#{set _route:@Posts.load(wall.id) /}
#{/}

<div id="${_id}" class="wall" userListHref="@{Posts.userList(wall?.sender.id)}">
	#{if _form == null || _form}
		#{secure acl.Permission.CREATE_POST, args:[wall.id]}
			#{form @Posts.save(), class:'post-new-form', enctype:'multipart/form-data'}
				<input type="hidden" name="form.wall.id" value="${_arg.id}" />
				<input type="hidden" name="form.weblink" class="weblink" />
		
				<div class="post-message-wrapper">
					<textarea name="form.message" class="post-message" placeholder="${_placeholder}" maxlength="2500"></textarea>
					<div class="post-actions">
					    #{if !(wall.sender instanceof models.User)}
						    #{secure acl.Permission.POST_AS_OTHER, args:[wall.sender.id]}
							<div class="post-asowner">
								<label class="checkbox" for="postAsWallOwner">
									<input name="form.postAsWallOwner" type="checkbox" value="true" id="postAsWallOwner" />
									&{'post.postAs'} <strong>${wall.sender.displayName}</strong>
								</label>
							</div>
							#{/}
						#{/}
					    #{secure acl.Permission.POST_STICKY, args:[wall.sender.id]}
						    <div class="post-important">
								<label class="checkbox" for="important">
									<input name="form.important" type="checkbox" value="true" id="important" />
									<strong>&{'tags.wall.sticky'}</strong>
								</label>
							</div>
						#{/}
						<input type="file" name="file" class="file" multiple="multiple" />
					
						<input type="submit" class="btn btn-primary" value="&{'wall.submit'}" />
						<a class="btn appendix file-trigger tip" title="&{'wall.attachAFile'}"><span class="appendix-bg">&nbsp;</span></a>
					</div>
				</div>
				<div class="clearfix"></div>
			#{/}
		
			<div class="weblink-info hide" weblinkInfoHref="@{Posts.weblinkInfo}">
				<a href="#" class="weblink-clear tip" title="Remove link">&times;</a>
				
				<img src="" alt="" class="link-thumb" />
				
				<div class="weblink-details">
					<strong class="title"></strong><br />
					<small class="url"></small><br />
					<span class="description"></span>
				</div>
			</div>
		#{/}
	#{/if}
	
	#{doBody /}
	
	#{if _posts && _posts.size() > 0}
		<ul class="posts">
			#{list items:_posts, as:'post'}
				#{wall.post post, wall:wall, render:true, detail:_detail /}
			#{/}
		</ul>
		<script type="text/javascript">
			$(function() { 
				$('#${_id}').wall();
				$('#${_id} ul.posts li').each(function() {
					$('#${_id}').wall('initPost', $(this));
				});
			});
		</script>
	#{/}#{else}
		<ul class="posts"></ul>
	
		#{ui.list.endlessAjax '#' + _id + ' ul.posts', route:_route, length:12 /}
		<script type="text/javascript">
			$(function() { 
				$('#${_id}').wall();
				$('#${_id} ul.posts').on('endless-init', 'li', function(e) {
					$('#${_id}').wall('initPost', $(e.currentTarget));
				});
			});
		</script>
	#{/}
</div>