<div data-ng-cloak>
	<div class="control-group">
		<label class="control-label" for="event-series-rrule">{{ 'event.series.rrule' | i18n }}</label>
		<div class="controls">
			<select class="span6" id="event-series-rrule" data-chosen data-disable-search="true" data-ng-model="rrule.freq"
			data-ng-options="f.value as f.label for f in freqValues" data-allow-single-deselect="false" 
			data-ng-change="updateFrequencyDependentValues(rrule.freq)"></select>
		</div>
	</div>

	<div class="control-group" data-ng-show="intervalShown()">
		<label class="control-label" for="event-series-rrule-interval">{{ 'event.series.rrule.interval' | i18n }}</label>
		<div class="controls">
			<input class="span1" id="event-series-rrule-interval" type="number" min="1" data-ng-model="rrule.interval"
			placeholder="{{ 'event.series.rrule.interval' | i18n }}" />
			<span class="help-inline">{{ rrule.interval && ('event.series.rrule.freq.' + rrule.freq + '.' + (rrule.interval === 1 ? '1' : 'multiple') + '.help' | i18n: rrule.interval) }}</span>
		</div>
	</div>

	<div class="control-group" data-ng-if="weekdaySelectionShown()">
		<label class="control-label">{{ 'event.series.rrule.weekdays' | i18n }}</label>
		<div class="controls">
			<div class="btn-group">
				<a class="btn btn-small btn-toggle" data-ng-class="{active : weekdayIsSelected(wd)}"
				data-ng-repeat="wd in ['MO', 'TU', 'WE', 'TH', 'FR', 'SA', 'SU']"
				data-ng-click="toggleWeekdaySelection(wd)">{{ 'event.series.rrule.weekdays.' + wd | i18n }}</a>
			</div>
			<span class="help-inline">{{ rrule.weekdays | descriptiveWeekdayList }}</span>
		</div>
	</div>

	<div class="control-group" data-ng-show="endShown()" data-ng-class="{'error' : eventSeriesInvalid}">
		<label class="control-label" for="event-series-rrule-end">{{ 'event.series.rrule.end' | i18n }}</label>
		<div class="controls">
			<select class="span3" id="event-series-rrule-end" data-chosen data-disable-search="true" data-ng-model="rrule.end"
			data-ng-options="e.value as e.label for e in endValues" data-allow-single-deselect="false"></select>

			<span class="help-block" ng-show="endShown() && !endDateShown()">{{ 'event.series.rrule.end.NEVER.description' | i18n: ('event.series.rrule.freq.' + rrule.freq  + '.label' | i18n):('event.series.rrule.end.NEVER.' + rrule.freq + '.period' | i18n) }}</span>

			<input class="date span3" data-date-picker data-date-format="{{dateFormatPicker}}" id="event-series-rrule-end-date"
			type="text" data-ng-show="endDateShown()" data-ng-model="rrule.until" placeholder="{{ 'event.series.rrule.end.ON_DATE' | i18n }}"
			data-ng-required="rrule.end === 'ON_DATE'" focus-me="endDateShown() && !!!rrule.until" />
			<span class="help-inline" data-ng-show="eventSeriesInvalid">{{ 'event.series.rrule.not.valid' | i18n }}</span>
		</div>
	</div>
</div>
