<div data-ng-controller="TeaserController" data-ng-show="!loading">
	<div id="teaserCarousel" class="carousel slide" data-ng-if="teasers.length > 0">
		<ol class="carousel-indicators" data-ng-if="teasers.length > 1">
			<li data-target="#teaserCarousel" data-slide-to="{{$index}}" data-ng-class="{'active': $first}" data-ng-repeat="teaser in teasers"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item" data-ng-class="{'active': $first}" data-ng-repeat="teaser in teasers" data-ng-style="{'background-image': 'url({{teaser.imageUrl}})', 'background-size': 'cover', 'background-position': 'center center'}">
				<div class="carousel-caption">
					<h4 data-ng-show="teaser.link"><a href="{{teaser.link}}" target="{{teaser.externalLink ? '_blank' : '_self'}}">{{teaser.title}}</a></h4>
					<h4 data-ng-show="!teaser.link">{{teaser.title}}</h4>
					<p>{{teaser.description}}</p>
				</div>
			</div>
		</div>
		<a class="carousel-control left" href="#teaserCarousel" data-slide="prev" data-ng-if="teasers.length > 1">&lsaquo;</a>
		<a class="carousel-control right" href="#teaserCarousel" data-slide="next" data-ng-if="teasers.length > 1">&rsaquo;</a>
	</div>
</div>
