#{addLess 'plugin.hashtag' /}

<div data-ng-controller="HashtagController">
	<div class="group" data-ng-if="hashTagList.length">
	    <h4>&{'plugin.hashTag'}</h4>
	    <ul class="unstyled">
	        <li data-ng-show="!hashTagList.length"><small><i>&{'plugin.hashTag.noEntries'}</i></small></li>
	        <li class="tagcloud">
	        	<a class="btn btn-mini {{tag.className}}" title="{{tag.text}}" href="{{tag.searchURL}}" data-ng-repeat="tag in hashTagList">{{'#' + tag.text | ellipsify: 20}}</a>
	        </li>
	    </ul>
	</div>
</div>