<div data-ng-if="container.configurable">
	<section id="list-configuration">
		<div class="list-nav">
			<div class="btn-group pull-right">
				<button class="btn btn-primary" data-ng-click="createField()"><i class="icon-plus icon-white"></i>&nbsp;{{'list.field.add' | i18n}}</button>
			</div>
		</div>

		<h3>{{'list.container.setup' | i18n}}</h3>

		<section class="list-configuration-content">
			<ul class="list list-form-fields" data-ui-sortable data-ng-model="container.fields">
				<li class="field-entry-container" data-ng-repeat="field in container.fields">
					<div class="field-icon {{field.type}}"></div>
					<div class="field-name">{{field.label}}</div>
					<div class="field-actions">
						<a href="" class="btn btn-mini" data-ng-click="editField(field, $index)" title="{{'list.field.edit' | i18n}}"><i class="icon-edit"></i></a>
						<a href="" class="btn btn-mini" data-ng-disabled="$first && $last" data-confirm-dialog="removeField($index)" data-confirm-message="{{'list.field.remove.confirm' | i18n}}" title="{{'list.field.remove' | i18n}}"><i class="icon-trash"></i></a>
					</div>
				</li>
			</ul>
			<div data-ng-show="container.fields.length < 1" class="no-content">{{'list.nofields' | i18n}}<a href="" data-ng-click="createField()">&nbsp;{{'list.nofields.link' | i18n}}</a></div>
		</section>
	</section>
	<div class="form-actions">
		<button class="btn btn-primary" data-ng-click="saveContainer()"><i class="icon-ok icon-white"></i> {{'save' | i18n}}</button>
		<a href="#!/overview" class="btn">{{'cancel' | i18n}}</a>
	</div>
</div>
<div data-ng-if="!container.configurable">
    <div class="form-actions">
        <a href="#!/overview" class="btn">{{'back' | i18n}}</a>
    </div>
</div>