<div id="list-app-create-field" data-ng-hide="currentField.type">

	<div class="modal-header">
		<a href="" data-ng-click="cancel()" class="close">×</a>
		<h3>{{'list.dialog.field.type.header' | i18n}}</h3>
	</div>
	
	<div class="modal-body">
		<ul class="thumbnails apps">
			<li data-ng-repeat="type in fieldTypes">
				<a href="" data-ng-click="initField(type.type)" title="{{type.label}}" class="thumbnail pull-left">
					<span class="list-app-field-thumb {{type.type}}"></span>
				</a>
				<h4>{{type.label}}</h4>
				<p>{{'list.field.type.' + type.type + '.description' | i18n}}</p>
			</li>
		</ul>
	</div>

</div>

<div id="list-app-edit-field-form" data-ng-show="currentField.type">

	<div class="modal-header">
		<a href="" data-ng-click="cancel()" class="close">×</a>
		<h3>{{'list.dialog.field.settings.header' | i18n}} <small>{{fieldTypes[currentField.type].label}}</small></h3>
	</div>
	
	<div class="modal-body">
		<section class="field-entry-content">
			<section class="field-settings">
				<div class="control-group">
					<label class="control-label required" for="inputFieldName">{{'list.field.name' | i18n}}</label>
					<div class="controls">
						<input id="inputFieldName" name="fieldName" type="text" placeholder="{{'list.field.required' | i18n}}" data-ng-model="currentField.label" required>
					</div>
				</div>
				<div class="control-group">
    				<div class="controls">
						<label class="checkbox">
							<input name="fieldHidden" type="checkbox" data-ng-model="currentField.hidden"> {{'list.field.hidden' | i18n}}
						</label>
						<label class="checkbox">
							<input name="fieldRequired" type="checkbox" data-ng-model="currentField.required"> {{'list.field.required' | i18n}}
						</label>
					</div>
				</div>
			</section>
			<section class="field-properties">
				<div class="field-property-container" data-ng-repeat="property in getProperties(currentField)">
					<dynamic-field data-field="property" data-ng-model="currentField.properties[property.key]" />
				</div>
				<div class="field-property-container" data-ng-show="currentField.type == 'OPTIONS'">
					<div class="control-group">
						<label class="control-label required" for="textFieldOptions-{{$index}}">{{'list.field.options' | i18n}}</label>
						<div class="controls">
							<div class="input-append">
								<input type="text" class="add-field-option" data-ng-model="currentField.newoption" data-on-enter="addOption(currentField)" placeholder="{{'list.field.options.new' | i18n}}" />
								<a class="btn btn-success" data-ng-click="addOption(currentField)"><i class="icon-plus icon-white"></i></a>
							</div>
							<div data-ui-sortable data-ng-model="currentField.options">
							<div class="field-option-container input-append" data-ng-repeat="option in currentField.options">
								<input type="text" name="fieldOption_{{$parent.$index}}" data-ng-model="option.label" />
								<a class="btn btn-danger" data-ng-click="deleteOption(currentField, $index)"><i class="icon-remove icon-white"></i></a>
								<a class="btn"><i class="icon-move"></i></a>
							</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
		<div class="form-actions">
			<button class="btn btn-primary" data-ng-disabled="!isValid(currentField)" data-ng-click="ok(currentField)"><i class="icon-ok icon-white"></i> {{'OK' | i18n}}</button>
			<a href="" data-ng-show="currentField.newField" data-ng-click="reset()" class="btn">{{'back' | i18n}}</a>
		</div>
	</div>
</div>