<form id="list-app-new-item-form" class="form-stacked" name="itemform" data-ng-submit="createOrEdit(currentItem, itemValues);">
	<div class="modal-body">
		<div class="field-item-container" data-ng-repeat="field in container.fields">
			<dynamic-field data-field="field" data-ng-model="itemValues[field.id]"></dynamic-field>
		</div>
		<div data-ng-show="errors.length > 0" class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert"></button>
			<ul>
				<li data-ng-repeat="error in errors"><strong data-ng-show="error.field">{{error.field}}:</strong> {{error.message}}</li>
			</ul>
		</div>
	</div>
	<div class="modal-footer control-group">
		<div class="controls">
			<button type="button" class="btn btn-primary list-app-submit" data-ng-click="currentItem ? editItem(currentItem, itemValues) : createItem(itemValues)" data-ng-disabled="!formIsValid"><i class="icon-ok icon-white"></i>&nbsp;{{'save' | i18n}}</button>
			<a data-ng-show="currentItem && currentItem.deletable" class="btn btn-danger list-app-submit" data-really-click="deleteItem(currentItem)" data-really-message="{{'really' | i18n}}"><i class="icon-remove icon-white"></i>&nbsp;{{'delete' | i18n}}</a>
			<a class="btn" data-ng-click="$dismiss()">{{'cancel' | i18n}}</a>
		</div>
	</div>
</form>