<div id="list-app-overview">
	
	<div data-ng-show="!loading && container.readable && !container.readAll" class="alert"><strong>{{'list.permissions.label' | i18n}} </strong>{{'list.permissions.readOwn' | i18n}}</div>
	<div data-ng-show="!loading && !container.readable" class="alert"><strong>{{'list.permissions.label' | i18n}} </strong>{{'list.permissions.readNone' | i18n}}</div>
	
	<div data-ng-show="errors.length > 0" class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert"></button>
		<ul>
			<li data-ng-repeat="error in errors">{{error.message}}</li>
		</ul>
	</div>
	
	<div class="list-nav">
		<div class="input-prepend">
	  		<span class="add-on"><i class="icon-filter"></i></span>
			<input class="entry-filter" type="text" data-ng-model="queryString" placeholder="{{'list.filter' | i18n}}" />
		</div>
		<div class="pull-right" data-ng-class="{'btn-group': container.configurable || container.readable}">
			<button data-ng-show="container.editable" class="btn btn-primary" data-ng-disabled="container.fields.length < 1" data-ng-click="createItem()"><i class="icon-plus icon-white"></i>&nbsp;{{'list.item.create' | i18n}}</button>
			<a data-ng-show="container.readable" class="btn" data-ng-href="/containers/{{container.id}}/csv" title="{{'list.container.export' | i18n}}"><i class="icon-download-alt"></i></a>
			<a data-ng-show="container.configurable" class="btn" href="#!/config" title="{{'list.container.setup' | i18n}}"><i class="icon-cog"></i></a>
		</div>
	</div>
	
	<h3>{{container.name}}</h3>

	<div class="table-wrapper">
		<table class="table table-striped" data-ng-show="container.items.length > 0">
			<thead>
				<tr>
					<th data-ng-repeat="field in container.fields | filter:{hidden:false}" data-ng-click="setOrder(field.id)">
						{{field.label}}
						<span class="caret" data-ng-show="field.id == orderId" data-ng-class="{reverse: !orderReverse}"></span>
					</th>
					<th class="options-header">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="item in container.items | itemfilter:queryString:filterField.id | orderBy:orderPredicate:orderReverse" data-ng-mouseenter="hover(item)" data-ng-mouseleave="hover(item)">
					<td data-ng-repeat="field in container.fields | filter:{hidden:false}" data-type="field.type" data-properties="field.properties" data-format-value="getValue(item, field.id)"></td>
					<td>
						<div class="item-options btn-group" data-ng-show="item.showOptions">
							<button class="btn btn-mini" title="{{'list.item.display' | i18n}}" data-ng-click="showItem(item)"><i class="icon-eye-open"></i></button>
							<button class="btn btn-mini" title="{{'list.item.edit' | i18n}}" data-ng-disabled="!item.editable" data-ng-click="editItem(item)"><i class="icon-edit"></i></button>
						</div>
						<button class="btn btn-mini item-options-mobile" title="{{'list.item.display' | i18n}}" data-ng-click="showItem(item)"><i class="icon-eye-open"></i></button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
		
	<div class="loading" data-ng-show='loading'>Loading data...</div>
	<div data-ng-show="container.fields.length < 1" class="no-content">{{'list.nofields' | i18n}}<a data-ng-show="container.configurable" href="#!/config">&nbsp;{{'list.nofields.link' | i18n}}</a></div>
	<div data-ng-show="container.fields.length >= 1 && container.items.length < 1" class="no-content">{{'list.noitems' | i18n}}&nbsp;<a data-ng-show="container.editable" data-ng-click="createItem()">{{'list.noitems.link' | i18n}}</a></div>
	
</div>