<div id="item-detail-view">
	<div class="modal-body item-detail-content">
		<div class="field-item-container" data-ng-repeat="field in container.fields" data-ng-class="{stripe : $even}">
			<display-item data-field="field" data-show-preview="true" data-item-value="getValue(currentItem, field.id)"></display-item>
		</div>
	</div>
	<div class="modal-footer item-detail-info">
		<ul class="unstyled">
			<li><i class="icon-user" title="{{'list.author' | i18n}}"></i>&nbsp;<span data-user-link="currentItem.creator"></span></li>
			<li><i class="icon-plus" title="{{'date.created' | i18n}}"></i>&nbsp;<span data-fuzzy-date="currentItem.created"></span></li>
			<li><i class="icon-edit" title="{{'date.modified' | i18n}}"></i>&nbsp;<span data-fuzzy-date="currentItem.modified"></span></li>
		</ul>
	</div>
</div>