#{cache cacheKey, for:'30min'}
	%{ pages = plugins.internal.MeetPagesPlugin.getPages(); }%
	#{if pages && pages.size() > 0}
		<div class="group thumblist">
			<h4>&{'plugin.meetPages'}</h4>
			<ul class="unstyled">
				#{list items:pages, as:'page'}
					<li class="tip" title="${page.displayName}">#{page.thumb page /}</li>
				#{/list}
			</ul>
			<div class="clearfix"></div>
		</div>
	#{/}
#{/}