#{extends 'layouts/main.html' /}
#{set title:messages.get('activityStream.title') /}

#{wall connectedUser.wall, id:'activityStream', posts:connectedUser.getActivityStream(natural)}
	<div class="btn btn-large as-update hide"></div>
#{/wall}

<script type="text/javascript">
	// load new posts
	$('.as-update').click(function(){
		$('.as-update').addClass('loading');
		
		$.get('@{ActivityStream.update()}', function(data) {
			$(data).children().each(function(i, el){
				$('#activityStream').wall('addPost', el, 'unread');
			});

			$('.as-update').removeClass('loading');
			$('.as-update').hide();
			
			// reset title
			$('title').html($('title').attr('data-original'));
		});
	});
	
	// save original title
	$('title').attr('data-original', $('title').html());
	
	// updates new post button
	function updateNewPosts() {
		var newPostTxt = '&{'newPost', '%'}';
		var newPostsTxt = '&{'newPosts', '%'}';
		
		$.get('@{api.ActivityStreamAPI.count}', function(data) {
			var count = parseInt(data);
			if(count >= 1) {
				var txt = newPostTxt;
				if(count > 1) {
					txt = newPostsTxt;
				}
				
				$('.as-update').html(txt.replace('%', count));
				$('.as-update').show();
				
				// update head title
				$('title').html('('+count+') ' + $('title').attr('data-original'));
			}
			
			// reschedule
			window.setTimeout(function() { updateNewPosts(); }, Coyo.activityStreamStatusInterval || 30000);
		});
	}
	
	// update now
	updateNewPosts();
</script>