#{append 'actions'}
<a href="@{Senders.show(app.sender.id, app.id)}" class="btn">&{'back'} &rarr;</a>
#{/}
{%
	userTimeZone = connectedUser.getDateTimeZone();
%}

#{secure acl.Permission.EDIT_SENDER, args:[app.sender.id]}
    #{datatables.table 'formResults', sortOrder:'desc'}
    <div class="well form-inline dataTables_top">
        #{datatables.filter /}
    </div>

    <table class="table table-striped table-bordered table-condensed">
        <thead>
        <tr>
			<th>&{'formsapp.result.created'}</th>
            <th>&{'formsapp.result.user'}</th>
            #{list items:app.fields, as:'field'}
                #{if field.valueField}
                    <th>${field.label}</th>
                #{/}
            #{/}
            <th></th>
        </tr>
        </thead>
        <tbody>
            #{list items:app.results, as:'result'}
            <tr>
                <td>#{date.full result.created, timezone:userTimeZone /}</td>
                <td>#{user.link result.user /}</td>
                #{list items:app.fields, as:'field'}
                    #{if field.valueField}
                        <td>
                            ${result.getFieldValue(field)?.nl2br()}
                        </td>
                    #{/}
                #{/}
                <td><div data-rest-link data-url="@{Forms.deleteResult(result.id)}" data-type="DELETE"><i class="icon-remove"></i></div></td>
            </tr>
            #{/list}
        </tbody>
    </table>
    #{/}
#{/}