#{secure acl.Permission.EDIT_SENDER, args:[app.sender.id]}
	#{append 'actions'}
		<a href="${util.HttpUtil.appendParam(request.url, 'results', 'true')}" class="btn"><i class="icon-list"></i> &{'formsapp.results'} &rarr;</a>
	#{/}
#{/}

#{if app.maxReached(connectedUser)}
	<center>&{'formsapp.maxReached'}</center>
#{/}#{elseif app.fields.size() == 0}
	<center>&{'formsapp.notReady'}</center>
#{/}#{else}
	#{addLess 'app.forms' /}
	#{addScript 'jquery.form' /}
	
	#{if app.description?.trim() != ''}
		<div class="alert alert-info">
			${app.description?.nl2br()}
		</div>
	#{/}
	
	#{form @Forms.send(), method:'post', class:'forms-render whitebox'}
		<input type="hidden" name="app.id" value="${app.id}" />
	
		<div class="forms-form forms-formfield-render">
			#{list items:app.fields, as:'field'}
				#{include 'FormsApp/form-elements/' + field.type + '/render.html' /}
			#{/list}
		</div>
		#{form.submit 'formsapp.send' /}
	#{/form}
#{/}