#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.ldap.title') /}

#{set 'actions'}
	<a href="@{syncGroups}" class="btn btn-primary" data-really="&{'really'}"><i class="icon-refresh icon-white"></i> &{'administration.ldap.syncGroups'}</a>
	<a href="@{syncUsers}" class="btn btn-primary" data-really="&{'really'}"><i class="icon-refresh icon-white"></i> &{'administration.ldap.syncUsers'}</a>
#{/}

#{form @save(), class:'form-horizontal'}
	#{form.field.text 'form.url', label:'admin.ldap.form.url', help:'admin.ldap.form.url.help', value:form.url, placeholder:messages.get('required') /}
	#{form.field.text 'form.username', label:'admin.ldap.form.username', help:'admin.ldap.form.username.help', value:form.username, placeholder:messages.get('required') /}
	#{form.field.password 'form.password', label:'admin.ldap.form.password', placeholder:messages.get('required') /}
	#{form.field.custom '', label:' '}
		<div class="alert hide" id="testConnectionResult">
			<div><strong class="title"></strong></div>
			<div class="msg"></div>
		</div>
		<a href="#" class="btn" id="testConnection" data-label="&{'admin.ldap.form.testConnection'}">&{'admin.ldap.form.testConnection'}</a>
	#{/}
	<hr>
	#{form.field.text 'form.baseDn', label:'admin.ldap.form.baseDn', help:'admin.ldap.form.baseDn.help', value:form.baseDn, placeholder:messages.get('required') /}
	#{form.field.text 'form.additionalUserDn', label:'admin.ldap.form.additionalUserDn', help:'admin.ldap.form.additionalUserDn.help', value:form.additionalUserDn /}
	#{form.field.text 'form.additionalGroupDn', label:'admin.ldap.form.additionalGroupDn', help:'admin.ldap.form.additionalGroupDn.help', value:form.additionalGroupDn /}
	<hr>
	#{form.field.checkbox 'form.autocreate', label:'admin.ldap.form.autocreate', help:'admin.ldap.form.autocreate.help', value:true, falseValue:false, checked:form.autocreate /}
	#{form.field.checkbox 'form.groupSync', label:'admin.ldap.form.groupSync', value:true, falseValue:false, checked:form.groupSync /}
	#{form.field.checkbox 'form.subgroupSync', label:'admin.ldap.form.subgroupSync', value:true, falseValue:false, checked:form.subgroupSync /}
	#{form.field.checkbox 'form.followReferrals', label:'admin.ldap.form.followReferrals', value:true, falseValue:false, checked:form.followReferrals /}
    #{form.field.checkbox 'form.deleteOrphanedLDAPObjects', label:'admin.ldap.form.deleteOrphaned', value:true, falseValue:false, checked:form.deleteOrphanedLDAPObjects /}
	#{form.field.text 'form.paging', label:'admin.ldap.form.paging', help:'admin.ldap.form.paging.help', value:form.paging /}
	<hr>
	#{form.field.text 'form.userObjectClass', label:'admin.ldap.form.userObjectClass', value:form.userObjectClass, placeholder:messages.get('required') /}
	#{form.field.text 'form.userObjectFilter', label:'admin.ldap.form.userObjectFilter', value:form.userObjectFilter /}
	#{form.field.text 'form.userUIDAttr', label:'admin.ldap.form.userUIDAttr', help:'admin.ldap.form.userUIDAttr.help', value:form.userUIDAttr, placeholder:messages.get('required') /}
	#{form.field.text 'form.userAuthAttr', label:'admin.ldap.form.userAuthAttr', help:'admin.ldap.form.userAuthAttr.help', value:form.userAuthAttr, placeholder:messages.get('required') /}
	#{form.field.text 'form.userEmailAttr', label:'admin.ldap.form.userEmailAttr', value:form.userEmailAttr, placeholder:messages.get('required') /}
	#{form.field.text 'form.userFirstNameAttr', label:'admin.ldap.form.userFirstNameAttr', value:form.userFirstNameAttr, placeholder:messages.get('required') /}
	#{form.field.text 'form.userLastNameAttr', label:'admin.ldap.form.userLastNameAttr', value:form.userLastNameAttr, placeholder:messages.get('required') /}
	#{form.field.text 'form.userGroupMemberAttr', label:'admin.ldap.form.userGroupMemberAttr', value:form.userGroupMemberAttr /}
	<hr>
	#{form.field.text 'form.groupObjectClass', label:'admin.ldap.form.groupObjectClass', value:form.groupObjectClass /}
	#{form.field.text 'form.groupObjectFilter', label:'admin.ldap.form.groupObjectFilter', value:form.groupObjectFilter /}
	#{form.field.text 'form.groupNameAttr', label:'admin.ldap.form.groupNameAttr', value:form.groupNameAttr /}
	#{form.field.text 'form.groupMemberAttr', label:'admin.ldap.form.groupMemberAttr', value:form.groupMemberAttr /}
	#{form.field.text 'form.groupSubgroupAttr', label:'admin.ldap.form.groupSubgroupAttr', value:form.groupSubgroupAttr /}
	
	#{form.actions}
		#{form.submit 'save' /}
	#{/}
#{/}

<script type="text/javascript">
	$('#testConnection').click(function(){
		var $btn = $('#testConnection');
		var $result = $('#testConnectionResult');
		
		$btn.html('&{'loading'}').addClass('disabled');
		
		$.get('@{test()}', {
			'url' : $('#form-url').val(),
			'username' : $('#form-username').val(),
			'password' : $('#form-password').val()
		}, function(result){
			$btn.removeClass('disabled').html($btn.data('label'));
			$result.attr('class', 'alert');
			
			if(result.success) {
				$result.addClass('alert-success').find('.title').html('&{'admin.ldap.form.testConnection.success'}');
				$result.find('.msg').html('');
			} else {
				$result.addClass('alert-error').find('.title').html('&{'admin.ldap.form.testConnection.error'}');
				$result.find('.msg').html(result.error);
			}
			
			$result.show();
		});
	});
</script>