#{extends 'layouts/main.html' /}
#{set title:messages.get('colleagues') /}

#{addScript 'tag.endless' /}
#{addScript 'tag.listfilter' /}

<ul class="nav nav-tabs" id="followers-tabs">
	<li class="active"><a href="#colleaguesTab" data-toggle="tab">&{'colleagues'} (${count})</a></li>
	#{if !settings.getBoolean('autofollow')}
		<li><a href="#followersTab" data-toggle="tab">&{'users.followers.title'} (${connectedUser.realFollowersCount})</a></li>
		<li><a href="#followingTab" data-toggle="tab">&{'users.following.title'} (${connectedUser.realFollowingCount})</a></li>
	#{/}
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="colleaguesTab">
		*{<div class="colleagues">
		#{if count > 0}
		    <div class="colleagues-list">
		        <div class="list-filter">
		        	<form id="colleagues-filter" action="@{load()}">
			            <div class="clearfix">
			                <input type="text" name="filterQuery" class="list-filter-input list-filter-input-short search-query" placeholder="&{'colleagues.filter.title'}" />
			                <select class="list-filter-by chosen" name="filterField">
			                    <option value="name">&{'name'}</option>
			                    <option value="email">&{'user.email'}</option>
			                    <option value="jobTitle">&{'user.jobTitle'}</option>
			                    <option value="expertise">&{'user.expertise'}</option>
			                    <option value="department">&{'user.department'}</option>
			                    <option value="office">&{'user.office'}</option>
			                    <option value="company">&{'user.company'}</option>
			                    <option value="country">&{'user.country'}</option>
			                </select>
			            </div>
		            </form>
		        </div>
		        <ul class="list list-boxes colleagues" id="colleagues"></ul>
		    </div>
		    #{ui.list.endlessAjax '#colleagues', route: @load(), length:20, filter: '#colleagues-filter' /}
		#{/if}#{else}
		    <center>&{'colleagues.empty'}</center>
		#{/else}
		</div>}*
		#{user.list @load(), total:count /}
	</div>
	#{if !settings.getBoolean('autofollow')}
		<div class="tab-pane" id="followersTab">
			#{if connectedUser.realFollowersCount > 0}
				<ul class="list list-boxes followers" id="followers"></ul>
				#{ui.list.endlessAjax '#followers', route: @loadFollowers(), length:20 /}
			#{/if}#{else}
				<center>&{'users.followers.empty'}</center>
			#{/else}
		</div>
		<div class="tab-pane" id="followingTab">
			#{if connectedUser.realFollowingCount > 0}
				<ul class="list list-boxes followers" id="following"></ul>
				#{ui.list.endlessAjax '#following', route: @loadFollowing(), length:20 /}
			#{/if}#{else}
				<center>&{'users.following.empty'}</center>
			#{/else}
		</div>
	#{/}
</div>
