#{extends 'layouts/mail.html' /}

<h2>&{'formsapp.mail.subject', app.title}</h2>

<table class="form-result">
	<tbody>
	<tr><th>User</th><td><a href="@@{Users.info(user.id, user.slug)}">${user.displayName}</a></td></tr>
	<tr><th>Date / Time</th><td>#{date.full new Date(), timezone:timeZone /}</td></tr>
	#{if printTimeZone}
	<tr><th>Timezone</th><td>${timeZone.getName(new Date().getTime())}</td></tr>
	#{/}

	#{list items:data.keySet(), as:'field'}
	<tr class="${field.type}">
		<th>${field.label}</th>
		<td>${data.get(field)}</td>
	</tr>
	#{/}
	</tbody>
</table>

<style type="text/css">
	table.form-result {
		width: 100%;
		text-align: left;
	}

	table.form-result th {
		padding: 5px;
		text-align: left;
		width: 200px;
		vertical-align: top;
		border-bottom: 1px solid #EEE;
	}

	table.form-result td {
		padding: 5px;
		vertical-align: top;
		border-bottom: 1px solid #EEE;
	}

	table.form-result tr.h2 th {
		padding-top: 15px;
		font-size: 20px;
	}
	table.form-result tr.hr th, table.form-result tr.hr td {
		padding-top: 15px;
		border-bottom: 1px solid #CCC;
	}
</style>