<link rel="stylesheet" type="text/css" href="#{resource 'stylesheets/app.polls.less' /}">
<script type="text/javascript" src="#{resource 'scripts/app.polls.js' /}"></script>

#{textExpander}${_arg.linkifiedMessage.raw()}#{/}

<p class="answer-question"><strong>${_arg.app.question}</strong></p>
#{poll.render _arg.app, maxUsers:0 /}