#{form @save(), class:'form-horizontal'}
	<input type="hidden" name="role.id" value="${role.id}" />

	#{form.field.text 'role.name', value:role.name /}
	#{form.field.checkbox 'role.defaultRole', value:true, falseValue:false, checked: role.defaultRole, help:'user.role.assigningRoleToNewUser' /}
	
	<fieldset>
		<legend>&{'role.grants'}</legend>	
		#{list items:acl.UserGrant.groups(), as:'group'}
			#{form.field.checkboxgroup 'role.grants.group.' + group.name}
				#{list items:group.grants, as:'grant'}
					<label class="checkbox">
						<input type="checkbox" name="role.grants" value="${grant}" ${role.hasGrant(grant).yesno('checked','')} />
						&{'user.role.grant.' + grant}
					</label>
				#{/}
			#{/}
		#{/}
	</fieldset>
		
	<div class="form-actions">
		<a href="@{index}" class="btn">&larr; &{'cancel'}</a>
		#{form.submit 'save' /}
	</div>
#{/form}