#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.roles.title') /}

#{set 'actions'}
	<a href="@{administration.UserRoles.create}" class="btn btn-primary"><i class="icon-plus icon-white"></i> &{'admin.createRole'}</a>
#{/set}

#{if roles?.size() > 0}
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>&{'name'}</th>
				<th>&{'users'}</th>
				<th>&{'groups'}</th>
				<th>&{'role.usersViaGroups'}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			#{list items:roles, as:'role'}
				<tr>
					<td>${role.name} #{if role.defaultRole}<small>(&{'users.role.defaultRole'})</small>#{/}</td>
					<td>${role.userCount}</td>
					<td>${role.groups.size()}</td>
					<td>${role.groupUserCount}</td>
					<td class="options">
						<div class="btn-group">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'actions'}</a>
							<ul class="dropdown-menu pull-right">
								<li><a href="@{administration.UserRoles.edit(role.id)}"><i class="icon-edit"></i> &{'admin.edit'}</a></li>
								<li><a href="@{administration.UserRoles.users(role.id)}"><i class="icon-user"></i> &{'admin.assignUser'}</a></li>
								<li class="divider"></li>
								<li><div data-rest-link data-url="@{administration.UserRoles.delete(role.id)}" data-type="DELETE" data-confirmation="&{'admin.role.confirmDelete'}?"><i class="icon-remove"></i>&nbsp;&{'delete'}</div></li>
							</ul>
						</div>
					</td>
				</tr>
			#{/list}
		</tbody>
	</table>
#{/}#{else}
	<center>&{'user.role.noRolesFound'}, <a href="@{administration.UserRoles.create}">&{'user.role.createRoll'}!</a></center>
#{/}