#{extends 'layouts/administration.html' /}
#{set title:messages.get('admin.assignRole') /}
#{set subtitle:role.name /}

#{validation /}

#{form @saveUsers(), class:'form-horizontal'}
	<input type="hidden" name="role.id" value="${role.id}" />
	
	<div class="control-group">
		<label class="control-label">&{'user.role.selectGroups'}</label>
		<div class="controls">
			#{groupchooser name:'groups', groups:groups, selected:role.groups, class:'chosen' /}
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">&{'user.role.selectUser'}</label>
		<div class="controls">
			#{userchooser name:'users', selected:role.users, class:'chosen' /}
		</div>
	</div>
	
	<div class="form-actions">
		<a href="@{index}" class="btn">&larr; &{'cancel'}</a>
		#{form.submit 'save' /}
	</div>
#{/form}