#{cache cacheKey, for:'15min'}
	%{ upcoming = models.event.Event.getUpcomingEvents(user.getDateTimeZone(), user, eventsToDisplay); }%
	#{if upcoming != null && upcoming.size() > 0}
		<div class="group events">
			<h4>&{'events.upcoming'}</h4>
			<ul class="unstyled">
				#{list items:upcoming, as:'event'}
					%{ if(event_index > 7) break; }%
					<li>
						<i class="icon-calendar"></i> #{event.link event /}
						<small>&{'on'} #{date.short event.startDate, timezone:connectedUser.dateTimeZone /} #{if !event.fulltime}- #{date.time event.startDate, timezone:connectedUser.dateTimeZone /}#{/}</small>
					</li>
				#{/}
			</ul>		
		</div>
	#{/}
#{/}