<div class="flashes">
	#{if flash.error}
		<div class="alert alert-error fade in">
			&{flash.error}
		</div>
	#{/if}
	#{if flash.success}
		<div class="alert alert-success fade in" data-dismiss="alert">
			<a class="close" href="#">&times;</a>
			&{flash.success}
		</div>
	#{/if}
</div>