#{textExpander}${_arg.linkifiedMessage.raw()}#{/}

<div class="wiki-teaser">
	<div class="wiki-teaser-header">${_arg.article.title}</div>
	<div>${_arg.article.cleanTeaserText.shorten(300, '...').raw()}</div>
	<a class="wiki-teaser-link btn btn-mini" href="@{WikiApp.article(_arg.article.id)}">&raquo; &{'apps.render.wiki.readMore'}</a>
</div>