#{addLess 'app.polls' /}
#{addScript 'app.polls' /}

<div class="poll loading ${_arg.frozen.yesno('poll-frozen','')}" data-poll="${_arg.id}" data-load-url="@{Polls.render(_arg.id, _maxUsers)}" data-canvote="${_arg.canVote(session.UserLoader.getConnectedUser())}"></div>

<script type="text/javascript">
	$('.poll[data-poll="${_arg.id}"]').poll();
</script>