%{ task = _arg; }%
<li class="task ${task.completed.yesno('task-completed','task-uncompleted')} ${task.overdue.yesno('overdue','')}" data-task-id="${task.id}" data-task-priority="${task.priority}">
	<a class="task-checkbox" href=""><i class="icon-ok icon-white"></i></a>
	<span class="task-divider"></span>
	<div class="task-info">
		#{if task.users.size() > 0}
			%{ assignee = task.users.get(0); }%
			<span class="label task-assignee">${assignee.displayName}</span>
		#{/}
		#{if task.due}
			<span class="label task-due">${task.due.format()}</span>
		#{/}
		<a href="@{TasksApp.editTask(task.id)}" class="label task-edit ajax"><i class="icon-pencil icon-white"></i></a>
		<a href="@{TasksApp.deleteTask(task.id)}" class="label task-delete"><i class="icon-remove icon-white"></i></a>
	</div>
	<div class="task-name-text" title="${task.name}">${task.name?.hashify()}</div>
</li>