a.inline-playable {
	display: block;
	background-color: #F0F0F0;
	font-size: 11px;
	text-decoration: none;
	padding: 2px 5px 2px 25px;
	margin: 1px 0;
	
	background-repeat: no-repeat;
	background-position: 3px center;
	background-image: url(image/icon_play.png);
	
	border-radius: 3px;
	
	width: 250px;
	
	&:hover {
		background-color: #E6E6E6;	
	}
	
	&.playing {
		background-image: url(image/icon_pause.png);
		background-color: #E0E0E0;
	}
	
	&.paused {
		background-color: #E0E0E0;
	}
}