<script type="text/javascript">
	var config = CKEDITOR_BASECONFIG;
	
	#{if _height}
		config.height = '${_height}';
	#{/}
	#{if _lib}
		config.filebrowserWindowWidth = '800';
		config.filebrowserWindowHeight = '600';
		config.filebrowserImageBrowseUrl = '@{MediaLibraries.render(_lib.id)}';
		config.filebrowserImageUrl = '@{MediaLibraries.upload(_lib.id)}';
		config.filebrowserBrowseUrl = '@{MediaLibraries.render(_lib.id)}';
		config.filebrowserImageUploadUrl = '@{MediaLibraries.upload(_lib.id)}';
		config.filebrowserUploadUrl = '@{MediaLibraries.upload(_lib.id)}';
		config.extraPlugins = 'oembed,simpleuploads,tableresize';
	#{/}

	CKEDITOR.replace('${_arg}', config);
</script>

<script type="text/javascript">
	$(window).bind('beforeunload', function(){
		for (var i in CKEDITOR.instances) {
			if (CKEDITOR.instances[i].checkDirty()) {
				return '&{'form.leave.warning'}';
			}
		}
	});
	
	// add a listener that is invoked before an upload starts, to insert the needed CSRF token
	CKEDITOR.on('instanceReady', function(e) {
	    e.editor.on('simpleuploads.startUpload', function(ev) {
			var data = ev.data;
			ev.data.extraFields = {"authenticityToken" : AUTHENTICITY_TOKEN};
	    });
	});
	
	$('form').submit(function() {
		$(window).unbind('beforeunload');
	});
</script>