#{addLess 'tag.smartforms' /}
#{addScript 'jquery.form' /}
#{addScript 'tag.smartforms' /}

%{ if(!_id) _id = 'smartform'; }%

<div class="smartforms loading ${_class}" id="${_id}" data-form-url="${_form}"></div>
	
<script type="text/javascript">
	$('#${_id}').smartforms();
</script>