%{
	def clasz = _class ? _class : 'btn-primary';
	def icon = (clasz == 'btn-primary') ? 'icon-white' : '';
}%
<button type="submit" class="btn ${clasz}" #{if _name}name="${_name}"#{/} #{if _value}value="${_value}"#{/}><i class="icon-ok ${icon}"></i> &{_arg}</button>
