<input type="hidden" name="user.id" value="${user?.id}" />
<input type="hidden" name="oldActiveStatus" value="${user?.active}" />

<ul class="nav nav-tabs">
    <li class="active"><a href="#default-settings" data-toggle="tab">&{'administration.users.default'}</a></li>
    #{if !user.isLocal()}
        <li><a href="#advanced-settings" data-toggle="tab">&{'administration.users.advanced'}</a></li>
    #{/}
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="default-settings">
		#{form.field.text 'user.email', value:user.email /}
		#{form.field.text 'user.firstName', value:user.firstName /}
		#{form.field.text 'user.lastName', value:user.lastName /}
		#{form.field.select 'user.role.id', label:'user.role', class:'chosen', items:roles, labelProperty:'name', valueProperty:'id', value:user.role?.id}
			<option value="">&{'noRole'}</option>
		#{/}
		#{form.field.checkbox 'user.active', value:true, falseValue:false, checked:user.active /}
		
		#{if connectedUser.superadmin}
			#{form.field.checkbox 'superadmin', value:true, falseValue:false, checked:user.superadmin /}
		#{/}
		
		#{if user.external}
			<hr>
			#{form.field.checkbox 'external', label:'user.external', help:'user.external.help', value:true, falseValue:false, checked:user.external /}
		#{/}
		
		#{if user.deleted}
			<hr>
			#{form.field.checkbox 'deleted', label:'user.deleted', value:true, falseValue:false, checked:user.deleted /}
		#{/}
		
		#{if !user.persistent}
			<hr>
			#{form.field.password 'password' /}
		#{/if}
    </div>
    #{if !user.isLocal()}
	    <div class="tab-pane" id="advanced-settings">
	       <div class="alert">&{'administration.users.advanced.note'}</div>
	        #{form.field.text 'user.authUid', value:user.authUid, class:'span10' /}
	    </div>
	#{/}
</div>
<div class="form-actions">
	<a href="@{index}" class="btn">&larr; &{'cancel'}</a>
	#{form.submit 'save' /}
</div>