#{extends 'layouts/administration.html' /}
#{set title:messages.get('admin.changePassword') /}
#{set subtitle:user.fullName /}

#{form @doChangePassword(), class:'form-horizontal'}
	<input type="hidden" name="userId" value="${user.id}" />
	
	#{form.field.password 'password' /}
	#{form.field.password 'passwordRepeat' /}
	
	<div class="form-actions">
		<a href="@{index}" class="btn">&larr; &{'cancel'}</a>
		#{form.submit 'save' /}
	</div>
#{/form}