#{extends 'layouts/administration.html' /}
#{set title:messages.get('admin.createNewUser') /}

#{if recover}
	<div class="alert alert-info">
		<p>&{'admin.user.recover.info', recover.email, recover.modified.format()}</p>
		<div data-rest-link data-url="@{administration.Users.recover(recover.id)}" data-type="POST" data-redirect="@{administration.Users.index()}" class="btn btn-primary">&nbsp;&{'admin.recoverUser'}</div>
		<a href="#" class="btn btn-success" onclick="$('#forceNew').val('true');$('#newUserForm').submit();">&{'admin.createUser'}</a>
	</div>
#{/}


#{form @doCreate(), class:'form-horizontal', id: 'newUserForm'}
	<input type="hidden" name="forceNew" id="forceNew" value="false" />

	#{include 'administration/Users/_form.html' /}
#{/form}
