#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.users.title') /}
#{set subtitle:messages.get('administration.users.deleted') /}

#{set 'actions'}
	<a href="@{administration.Users.index}" class="btn">&{'back'} &rarr;</a>
#{/set}

<div data-ng-controller="AdminUserController" data-ng-init="init(true)">
	<div class="well form-inline dataTables_top">
		<label class="control-label" for="search">{{'nav.administration.search' | i18n}}:&nbsp;</label>
		<input type="text" id="search" name="search" data-ng-model="filters.name" />
	</div>
	<table data-ng-table="tableParams" data-template-pagination="template/table/pager.html" class="table table-striped table-bordered">
		<tbody>
			<tr data-ng-repeat="user in $data">
				<td data-title="'user' | i18n" data-sortable="'name'">{{user.name}} <small data-ng-show="user.superadmin">({{'superadmin' | i18n}})</small></td>
				<td data-title="'email' | i18n" data-sortable="'email'">{{user.email}}</td>
				<td  data-title="'directory' | i18n">
					<span data-ng-show="user.authSource">
						{{user.authSource}}<br /><small>ID: {{user.authUid}}</small>
					</span>
					<span data-ng-show="user.local">{{'user.local' | i18n}}</span>
					<span data-ng-show="user.external">/ {{'user.external' | i18n}}</span>
				</td>
				<td class="options">
					<div class="btn-group">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">{{'actions' | i18n}}</a>
						<ul class="dropdown-menu pull-right">
							<li><a href="{{user.editUrl}}"><i class="icon-edit"></i> {{'admin.edit' | i18n}}</a></li>
							<li class="divider"></li>
							<li><a href="" data-ng-click="recoverUser(user)"><i class="icon-repeat"></i> {{'admin.recoverUser' | i18n}}</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>