#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.users.title') /}

#{set 'actions'}
	<a href="@{administration.Users.create}" class="btn btn-primary"><i class="icon-plus icon-white"></i> &{'admin.createUser'}</a>
	<div data-rest-link data-url="@{administration.Users.resetAllPasswords()}" data-type="POST" data-confirmation="&{'admin.resetAllPasswords.confirm'}" class="btn btn-danger"><i class="icon-repeat icon-white"></i>&nbsp;&{'admin.resetAllPasswords'}</div>
	<a href="@{administration.Users.deleted}" class="btn"><i class="icon-eye-close"></i> &{'administration.users.showDeleted'}</a>
#{/set}

<div data-ng-controller="AdminUserController" data-ng-init="init(false)">
	<div class="well form-inline dataTables_top">
		<label class="control-label" for="search">{{'nav.administration.search' | i18n}}:&nbsp;</label>
		<input type="text" id="search" name="search" data-ng-model="filters.name" />
	</div>
	<table data-ng-table="tableParams" data-template-pagination="template/table/pager.html" class="table table-striped table-bordered">
		<tbody>
			<tr data-ng-repeat="user in $data">
				<td class="status {{user.status}}"></td>
				<td data-title="'admin.id' | i18n" data-sortable="'id'">{{user.id}}</td>
				<td data-title="'user' | i18n" data-sortable="'name'">{{user.name}} <small data-ng-show="user.superadmin">({{'superadmin' | i18n}})</small><br />
					<small>{{'user.logins' | i18n}}: {{user.logins}} <span data-ng-show="user.lastLogin">({{'last' | i18n}}: <span>{{user.lastLogin}}</span>)</span></small>
				</td>
				<td data-title="'email' | i18n" data-sortable="'email'">{{user.email}}</td>
				<td data-title="'groups' | i18n"><span data-ng-repeat="group in user.groups">{{group}}<br /></span></td>
				<td data-title="'role' | i18n">{{user.role}}</td>
				<td data-title="'directory' | i18n">
					<span data-ng-show="user.authSource">{{user.authSource}}</span>
					<span data-ng-show="user.local">{{'user.local' | i18n}}</span>
					<span data-ng-show="user.external">/ {{'user.external' | i18n}}</span>
					<span data-ng-show="user.authUid"><small><br/>ID: {{user.authUid}}</small></span>
					<span data-ng-show="user.authUid2"><small><br/>ID: {{user.authUid2}}</small></span>
				</td>
				<td class="options">
					<div class="btn-group" data-ng-if="user.canEdit">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'actions' | i18n}}</a>
						<ul class="dropdown-menu pull-right">
							<li><a href="{{user.editUrl}}"><i class="icon-edit"></i> {{'admin.edit' | i18n}}</a></li>
							<li data-ng-show="user.local"><a href="{{user.changePasswordUrl}}"><i class="icon-lock"></i> {{'admin.changePassword' | i18n}}</a></li>
							<li data-ng-if="user.userDevices.length > 0"><a href="" data-confirm-dialog="deleteOAuthDevices(user)" data-confirm-message="{{'deleteCheck.oauth' | i18n}}"><i class="icon-remove"></i> {{'admin.deleteOAuthdevices'| i18n}}</a></li>
							<li data-ng-hide="user.me" class="divider"></li>
							<li data-ng-hide="user.me"><a href="" data-confirm-dialog="deleteUser(user.id)" data-confirm-message="{{'deleteCheck.user' | i18n}}"><i class="icon-remove"></i> {{'admin.deleteUser'| i18n}}</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>