<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>&{'license.info.currentValue'}</th>
			<th>&{'license.info.licenseValue'}</th>
			<th class="span1"></th>
		</tr>
	</thead>
	<tbody>
		#{list items:_arg, as:'info'}
			<tr>
				<th>&{'license.' + info.key}</th>
				<td>${info.currentValue}</td>
				<td>${info.licenseValue}</td>
				<td class="text-center">
					#{if info.error}
						<span class="label label-important"><i class="icon-remove icon-white"></i></span>
					#{/}#{else}
						<span class="label label-success"><i class="icon-ok icon-white"></i></span>
					#{/}
				</td>
			</tr>
		#{/}
	</tbody>
</table>