#{if _errors.contains(_arg)}<span class="label label-important"><i class="icon-remove icon-white"></i></span>#{/}
#{else}<span class="label label-success"><i class="icon-ok icon-white"></i></span>#{/}
&nbsp; ${_text}#{doBody /}