<div class="navbar">
	<ul class="nav pull-left">
		<li class="dropdown sidebar-switch">
			<a href="#" class="button dropdown-toggle" data-toggle="dropdown"><i class="icon-chevron-down"></i></a>
			<ul class="dropdown-menu sidebar">
				<li>
					#{include 'layouts/_main-sidebar.html' /}
					<i class="icon-off"></i> <a href="@{Auth.logout}">&{'nav.logout'}</a>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="nav pull-right">
		<li class="dropdown">
			<a href="#" class="button dropdown-toggle" data-toggle="dropdown"><i class="icon-th-large"></i></a>
			<ul class="dropdown-menu">
				#{list items:connectedUser.workspaces, as:'wm'}
					<li class="${(wm.workspace == workspace).yesno('active','')}">
						<a href="@{Workspaces.show(wm.workspace.id)}"><i class="icon-th-large"></i> ${wm.workspace.name}</a>
					</li>
				#{/}
			</ul>
		</li>
		
	</ul>
</div>
<div class="clearfix"></div>