<div class="welcome">
	<div class="status" data-ng-controller="StatusCtrl" data-ng-init="getStatus()">
		<div class="user-info" data-ng-class="currentStatus.status">
			#{user.thumb connectedUser /}
			<strong>${connectedUser.fullName}</strong>
		</div>
	</div>
</div>

<hr>

<div id="sidebar-default">
	#{if !connectedUser.external}
		<div data-sidebar-group="&{'sidebar.myPages'}" data-url="@{api.UserAPI.pages()}" data-icon="icon-book" data-limit="10">
			<p class="no-items">&{'sidebar.myPages.empty.text'}<a href="@{Pages.index}">&{'sidebar.myPages.empty.link'}</a></p>
		</div>
	#{/}
	
	#{if settings.getBoolean('workspaces')}
		<div data-sidebar-group="&{'sidebar.myWorkspaces'}" data-url="@{api.UserAPI.workspaces()}" data-icon="icon-th-large" data-limit="5">
			<p class="no-items">&{'sidebar.myWorkspaces.empty.text'}<a href="@{Workspaces.index}">&{'sidebar.myWorkspaces.empty.link'}</a></p>
		</div>
	#{/}
	
	#{if !connectedUser.external}
		<div data-sidebar-group="&{'sidebar.myEvents'}" data-url="@{api.UserAPI.events()}" data-icon="icon-calendar" data-limit="5">
			<p class="no-items">&{'sidebar.myEvents.empty.text'}</p>
		</div>
		
		<div data-sidebar-group="&{'sidebar.bookmarks'}" data-url="@{api.UserAPI.bookmarks()}" data-icon="icon-bookmark" data-limit="10">
			<p class="no-items">&{'sidebar.bookmarks.empty'}</p>
		</div>
	#{/}
	
	<i class="icon-off"></i> <a href="@{Auth.logout}">&{'nav.logout'}</a>
</div>