#{addScript 'generic.notifications' /}

<div class="navbar">
	<ul class="nav pull-left">
		<li class="dropdown sidebar-switch">
			<a href="#" class="button dropdown-toggle" data-toggle="dropdown"><i class="icon-chevron-down"></i></a>
			<ul class="dropdown-menu sidebar">
				<li>
					#{include 'layouts/_main-sidebar.html' /}
				</li>
			</ul>
		</li>
	</ul>
	<ul class="nav main">
		<li class="${(request.action.startsWith('ActivityStream')).yesno('active','')}">
			<a href="@{ActivityStream.index()}"><i class="icon-list"></i></a>
		</li>
		<li class="${(request.action.startsWith('Pages.')).yesno('active','')}">
			<a href="@{Pages.index()}"><i class="icon-book"></i></a>
		</li>
		#{if settings.getBoolean('workspaces')}
			<li class="${(request.action.startsWith('Workspaces.')).yesno('active','')}">
				<a href="@{Workspaces.index()}"><i class="icon-th-large"></i></a>
			</li>
		#{/}
		<li class="${(request.action.startsWith('Events.')).yesno('active','')}">
			<a href="@{Events.index()}"><i class="icon-calendar"></i></a>
		</li>
		<li class="${(request.action.startsWith('Colleagues.')).yesno('active','')}">
			<a href="@{Colleagues.index()}"><i class="icon-colleagues"></i></a>
		</li>
	</ul>
	%{
		unreadNotificationsCount = connectedUser.getUnreadNotificationsCount();
	}%
	<ul class="nav pull-right">
		#{if connectedUser.getNotifications(true, 1).size() > 0}
			<li class="dropdown notifications">
				<a href="#" data-url="@{Notifications.markAllAsRead()}" class="dropdown-toggle notifications-toggle" data-toggle="dropdown">
					<div class="notifications-icon">
						<span data-unread-count="notifications"></span>
					</div>
				</a>
				<ul class="dropdown-menu notifications-items" data-url="@{Notifications.navbarItems}">
					<li class="nav-header nav-header-dark">&{'notification.title'}</li>
					<li class="divider"></li>
					<li class="action"><a href="" data-url="@{Notifications.markAllAsRead()}" class="notifications-readall"><i class="icon-ok-sign"></i> &{'notifications.markAllRead'}</a></li>
					<li class="divider"></li>
					<li class="loading"></li>
					<li class="action"><a href="@{Notifications.index}"><i class="icon-th-list"></i> &{'seeAll'}</a></li>
				</ul>
			</li>
		#{/if}
	</ul>
</div>
<div class="clearfix"></div>