#{extends 'layouts/main.html' /}

<div class="whitebox">
	<h3>#{get 'title' /}</h3>
	
	#{doLayout /}
	
	#{if actions}
		<div>
			<hr>
			#{get 'actions' /}
			<div class="clearfix"></div>
		</div>
	#{/if}
</div>