#{extends 'layouts/mail.html' /}

<h2>&{'registration.mail.subject'}</h2>
<p>
	&{'registration.mail.welcome'}<br/>
	#{if !autoActivation}
	&{'registration.mail.activation'}<br/>
	#{/}
	<a href="@@{Registration.complete(recipient, token)}">@@{Registration.complete(recipient, token)}</a>
</p>
