#{extends 'layouts/mail.html' /}

<h2>${title}</h2>
<p>
	${message.nl2br()}
</p>

<hr />

<h2>&{'event.mail.info.title', event.name}</h2>
<dl>
	<dt>&{'event.startDate'}:</dt><dd>#{event.date.start event, user:user /}</dd>
	#{if event.endDate}
		<dt>&{'event.endDate'}:</dt><dd>#{event.date.end event, user:user /}</dd>
	#{/}
	<dt>&{'event.location'}:</dt><dd>${event.location}</dd>
	#{if event.about != null && event.about?.trim() != ''}
		<dt>&{'event.about'}:</dt><dd>${event.about?.escape()?.nl2br()}</dd>
	#{/}
</dl>

<hr />
<a href="@@{Events.show(event.id, event.slug)}">&{'event.mail.more.link'}</a>