#{extends 'layouts/mail.html' /}

<h2>&{'auth.forgotPassword.mail.subject'}</h2>
<p>
	&{'auth.forgotPassword.mail.body'}
	<a href="@@{Auth.resetPassword(email, token)}">@@{Auth.resetPassword(email, token)}</a>
</p>