#{extends 'layouts/mail.html' /}
<p><strong>${user.displayName}</strong> invited you to join <strong>${applicationName}</strong>.</p>
<p>Please click the following link to create an account now:</p>
<p>
	<a href="@@{Registration.complete(email, token)}">@@{Registration.complete(email, token)}</a>
</p>