#{extends 'layouts/mail.html' /}

<style type="text/css">
	table.posts {
		border-top: 1px solid #EEE;
		width: 100%;
	}

	tr.post td {
		padding: 10px;
		vertical-align: top;
		font-size: 13px;
		border-bottom: 1px solid #EEE;
	}

	tr.post td.thumb {
		width: 50px;
	} 

	tr.post img.thumb {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	
	tr.post small {
		color: #999;
	}
</style>

<h3>&{'mail.newPosts.subtitle'}</h3>
<small><a href="@@{ActivityStream.index()}">&{'mail.newPosts.post.viewOnline'} &rarr;</a></small>
<br /><br />

#{set 'content'}
	<table class="posts">
		#{list items:posts, as:'post'}
			%{ if(post_index > 10) break; }%
			#{set 'body'}#{wall.post.mail post, user:user /}#{/}
					
			#{if body != ''}
				<tr class="post">
					<td valign="top" class="thumb"><img src="@@{Resource.senderThumb(post.author.id, post.author.modified.time)}&token=${play.libs.Crypto.encryptAES(user.id+"")}" class="thumb"></td>
					<td valign="top">
						<div>#{get 'body' /}</div>
						
						<small>
							#{date.smart post.created /}
							#{if post.likes.size() > 0}&bull; ${post.likes.size()} &{post.likes.size().pluralize('like.single','like.multiple')}#{/}
							#{if post.comments.size() > 0}&bull; ${post.comments.size()} &{post.comments.size().pluralize('comment','comments')}#{/}
							&bull; <a href="@@{Posts.show(post.id)}">&{'mail.newPosts.post.viewOnline'}</a>
						</small>
					</td>
				</tr>
			#{/}
		#{/}
	</table>
#{/}
${utils.MailUtils.findAndReplaceLocalLinks(content).raw()}

#{set 'footer'}
	<a href="@@{Account.settings}">&{'mail.settings.link'}</a>
#{/}