#{extends 'layouts/mail.html' /}

<p>Hey ${user.getFullName()},</p>

<p>
	<strong>&{'notification.mail.subject'}:</strong>
</p>
<ul style="margin-left: 0; padding-left: 16px;">
	#{list items:notifications, as:'userNotification'}
		<li><a href="@@{Notifications.goToSource(userNotification.notification.id)}">${userNotification.getText()}</a></li>
	#{/list}
</ul>

#{set 'footer'}
	<a href="@@{Account.settings}">&{'mail.settings.link'}</a>
#{/}