#{extends 'layouts/mail.html' /}

<style type="text/css">
	table.posts {
		border-top: 1px solid #EEE;
		width: 100%;
	}

	table.posts tr.post td {
		padding: 10px 10px 0 10px;
		vertical-align: top;
		font-size: 13px;
	}

	table.posts tr.post td.thumb {
		width: 50px;
	} 

	table.posts img.thumb {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	
	table.posts tr.post small {
		color: #999;
	}
	
	table.comment-details {
		width: 100%;
		font-size: 12px;
		background-color: #F6F6F6;
	}
	
	table.comment-details td {
		padding: 7px;
	}
	
	table.comment-details td.thumb, table.comment-details td.thumb img {
		width: 35px;
	}
	
	table.comment-details td small {
		color: #999;
	}
</style>

<h2><strong>${user.displayName}</strong> shared a post with you:</h2>

#{if message != null && message.trim() !=''}
	<p>${message.nl2br()}</p>
#{/}

#{set 'content'}
	<table class="posts">
		<tr class="post">
			<td valign="top" class="thumb"><img src="@@{Resource.senderThumb(post.author.id, post.author.modified.time).add('token', controllers.TokenAuthController.createToken(user.id))}" class="thumb"></td>
			<td valign="top">
				#{set 'postTitle'}#{wall.post.title post /}#{/}
				#{if postTitle.trim() != ''}#{get 'postTitle' /}<br />#{/}
				
				#{set 'postMessage'}#{wall.post.content post /}#{/}
				#{if postMessage.trim() != ''}#{get 'postMessage' /}<br />#{/}
				
				<small>#{date.smart post.created /} &bull; ${post.likes.size()} &{post.likes.size().pluralize('like.single','like.multiple')}</small>
			</td>
		</tr>
		#{if showComments}
			#{list items:post.comments, as:'comment'}
				<tr class="comment">
					<td valign="top" class="thumb"></td>
					<td valign="top">
						<table class="comment-details">
							<tr>
								<td valign="top" class="thumb"><img src="@@{Resource.senderThumb(comment.author.id, comment.author.modified.time).add('token', controllers.TokenAuthController.createToken(user.id))}" class="thumb"></td>
								<td valign="top">
									<strong><a href="@@{Senders.show(comment.author.id)}">${comment.author.displayName}</a></strong> ${comment.text}<br>	
									<small>#{date.smart comment.created /} &bull; ${comment.likes.size()} &{comment.likes.size().pluralize('like.single','like.multiple')}</small>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			#{/}
		#{/}
	</table>
#{/}
${utils.MailUtils.findAndReplaceLocalLinks(content).raw()}

<hr class="more" />
<small><a href="@@{Posts.show(post.id)}">View post online</a></small>



