#{extends 'layouts/mail.html' /}

%{ token = controllers.TokenAuthController.createToken(user.id); }%

<style type="text/css">
	table.list {
		border-top: 1px solid #EEE;
		width: 100%;
	}

	table.list td {
		padding: 7px 4px;
		vertical-align: top;
		font-size: 13px;
		border-bottom: 1px solid #EEE;
	}

	table.list td.thumb img {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	
	table.list small {
		color: #999;
	}
</style>

#{set 'content'}
	<table cellpadding="0" cellspacing="0" style="width: 100%;"><tr>
		<td>Hey ${user.getFullName()},</td>
		<td style="text-align: right;"><small><a href="@@{ActivityStream.index()}">&{'mail.updates.viewOnline'} &rarr;</a></small></td>
	</tr></table>
	<br />
	
	#{if conversations.size() > 0}
		#{set 'conversationsBody'}
			#{list items:conversations, as:'cm'}
				#{secure acl.Permission.ACCESS_CONVERSATION_MEMBER, args:[cm.id]}
					<tr>
						<td valign="top" class="thumb" style="width: 35px;" width="35">
							<a href="@@{Messaging.portal(cm.id)}"><img src="${util.HttpUtil.appendParam(cm.getThumbURL(), 'token', token)}" border="0" style="width: 35px;" width="35"></a>
						</td>
						<td valign="top">
							<a href="@@{Messaging.portal(cm.id)}">${cm.subject}</a><br>
							<small>#{date.smart cm.conversation.lastPost /}</small>
						</td>
					</tr>
				#{/}
			#{/}
		#{/}
		#{if conversationsBody?.trim() != ''}
			<p><strong>&{'mail.updates.conversations.title'}</strong></p>
			
			<table class="list conversations">
				#{get 'conversationsBody' /}
			</table>
		#{/}
	#{/}
	
	#{if notifications.size() > 0}
		#{if conversationsBody != null && conversationsBody?.trim() != ''}
			<br /><br />
		#{/}
		
		<p><strong>&{'mail.updates.notifications.title'}</strong></p>
		
		<table class="list notifications">
			#{list items:notifications, as:'userNotification'}
				<tr>
					<td valign="top" class="thumb" style="width: 35px;" width="35">
						<a href="@@{Notifications.goToSource(userNotification.notification.id)}">
							<img src="${util.HttpUtil.appendParam(userNotification.notification.getImageUrl(), 'token', token)}" border="0" style="width: 35px;" width="35">
						</a>
					</td>
					<td valign="top">
						<a href="@@{Notifications.goToSource(userNotification.notification.id)}">${userNotification.getText()}</a>
						<br />
						<small>#{date.smart userNotification.modified /}</small>
					</td>
				</tr>
			#{/list}
		</table>
		
		#{if posts.size() > 0}
			<br /><br />
		#{/}
	#{/}
	
	#{if posts.size() > 0}
		<p><strong>&{'mail.updates.posts.title'}</strong></p>
	
		<table class="list posts">
			#{list items:posts, as:'post'}
				%{ if(post_index > 20) break; }%
				
				#{set 'body'}#{wall.post.mail post /}#{/}
				#{if body != ''}
					<tr>
						<td valign="top" class="thumb" style="width: 50px;" width="50">
							<a href="@@{Posts.show(post.id)}">
								<img src="@@{Resource.senderThumb(post.author.id, post.author.modified.time).add('token', token)}" border="0" style="width: 50px;" width="50">
							</a>
						</td>
						<td valign="top">
							<div>#{get 'body' /}</div>
							
							<small>
								#{date.smart post.created /}
								#{if post.likes.size() > 0}&bull; ${post.likes.size()} &{post.likes.size().pluralize('like.single','like.multiple')}#{/}
								#{if post.comments.size() > 0}&bull; ${post.comments.size()} &{post.comments.size().pluralize('comment','comments')}#{/}
								&bull; <a href="@@{Posts.show(post.id)}">&{'mail.updates.viewOnline'}</a>
							</small>
						</td>
					</tr>
				#{/}
			#{/}
		</table>
		<br />
	#{/}
#{/}
${utils.MailUtils.findAndReplaceLocalLinks(content).raw()}

#{set 'footer'}
	<a href="@@{Account.settings}">&{'mail.settings.link'}</a>
#{/}