#{if event.allowGuestInvite}
	#{list items:models.event.EventUser.EventResponse.values(), as:'response'}
		%{ users = event.getUsers(response); }%
		#{if users.size() > 0}
			<div class="group">
				<h6>${response.label}</h6>
				<ul class="unstyled">
					%{ limit = 7; }%
					#{list items:users, as:'user'}
						<li class="${(user_index>limit).yesno('hide','')}"><i class="icon-user"></i> #{user.link user /}</li>
					#{/list}
					#{if users.size() > limit}<li><a href="#" class="more"><i class="icon-chevron-down"></i> &{'event.sidebar.more', (users.size()-limit)}</a></li>#{/}
				</ul>
			</div>
		#{/if}
	#{/list}
#{/if}