#{extends 'layouts/main.html' /}
#{opengraph.sender event /}

<div class="sender-quickinfo whitebox">
	#{event.thumb event /}
	<h1>#{event.link event /}</h1>
	<small>#{length event.about, max:75 /}</small>
	<div class="clearfix"></div>
</div>

<dl class="list whitebox event-info">
	<dt>&{'event.creator'}</dt>
	<dd>
		#{list items:event.admins, as:'user'}
			#{user.link user /}${user_isLast.yesno('',',')}
		#{/}
	</dd>
	#{if event.calendar}
		<dt>&{'event.calendar'}</dt><dd><a class="badge" style="background-color: ${event.calendar.color};" href="@{Senders.show(event.calendar.sender.id, event.calendar.id)}">${event.calendar.title}</a></dd>
	#{/}#{else}
		<dt>&{'event.type'}</dt><dd>${event.visibility.label}</dd>
	#{/}
	<dt>&{'event.startDate'}</dt><dd>#{event.date.start event /}</dd>
	#{if event.endDate}
		<dt>&{'event.endDate'}</dt><dd>#{event.date.end event /}</dd>
	#{/}
	<dt>&{'event.location'}</dt><dd>${event.location}</dd>
	#{if event.about != null && event.about?.trim() != ''}
		<dt>&{'event.about'}</dt><dd>${event.about?.hashify()}</dd>
	#{/}
</dl>
<br>
#{wall event.getDefaultWall(), placeholder:messages.get("events.wall.placeholder") /}