<div class="modal-header">
	<a data-ng-click="$dismiss()" class="close" data-dismiss="modal">×</a><h3>{{'confirm.modal.title' | i18n}}</h3>
</div>
<div class="modal-body">
	<p>{{message}}</p>
</div>
<div class="modal-footer">
	<a data-ng-click="$dismiss()" class="btn no">{{'no' | i18n}}</a>
	<a data-ng-click="$close('ok')" class="btn btn-primary">{{'yes' | i18n}}</a>
</div>