<div>
	<div class="controls-row">
		<select class="span1 date-component" name="dateComponents.day" data-ng-model="dateComponents.day" data-ng-options="day for day in days" data-ng-change="validateDate()" Xdata-ng-required="!!dateComponents.month || !!dateComponents.year">
			<option value="">--</option>
		</select>
		<select class="span1 date-component" name="dateComponents.month" data-ng-model="dateComponents.month" data-ng-options="month.value as month.label for month in months" data-ng-change="validateDate()" data-ng-required="!!dateComponents.day">
			<option value="">--</option>
		</select>
		<select class="span1 date-component" name="dateComponents.year" data-ng-model="dateComponents.year" data-ng-options="year for year in years" data-ng-change="validateDate()">
			<option value="">--</option>
		</select>
		<input type="hidden" name="{{name}}" value="{{model}}">

	</div>
	<p class="help-block" data-ng-if="showInvalidMessage()"><strong>{{ 'validation.birthdate.invalid' | i18n }}</strong></p>
</div>
