<div class="group">
	<h6>{{sidebarGroup}}</h6>
	<ul class="unstyled">
		<li data-ng-repeat="item in items|limitTo:limit" class=""><i class="{{icon}}"></i><a href="{{item.link}}" target="{{linkTarget}}" title="{{item.name}}">&nbsp;{{item.name}}</a></li>
		<li data-ng-show="!loading && items.length < 1" data-ng-transclude></li>
		<li class="loading" data-ng-show='loading'>Loading data...</li>
		<li data-ng-show="limit < items.length"><a data-ng-click="showAll()" href="" class="more-items"><i class="icon-chevron-down"></i> {{'showAll' | i18n}}</a></li>
	</ul>
</div>
