<div data-ng-if="user.accessUser">
    <a href="{{user.wallUrl}}" class="thumb-link user-info" data-ng-class="user.status">
        <img class="user-avatar thumb" data-ng-src="{{user.thumbUrl}}" alt="{{user.fullName}}" title="{{user.fullName}}" />
    </a>
</div>
<div data-ng-if="!user.accessUser">
    <a href="#" class="thumb-link user-info" data-ng-class="user.status">
    	<img class="user-avatar thumb" data-ng-src="{{user.thumbUrl}}" alt="{{user.fullName}}" title="{{user.fullName}}" />
    </a>
</div>