<h3>Mobile</h3>
<div class="row">
    <div class="span1">
        <img src="#{resource 'images/mobile-icon.png' /}" border="0" alt="Coyo Mobile" style="width: 100%;" />
    </div>
    <div class="span6">
        <h4>&{'misc.downloads.mobile'}</h4>
        <p>&{'misc.downloads.infoCoyoMobile'}</p>
		#{doBody /}
    </div>

    <div class="span2">
        <a href="https://www.coyoapp.com/ios" class="download-item" target="_blank">
            <img src="#{resource 'images/download-mobile-ios.png' /}" border="0" alt="App Store" />
        </a>
        <a href="https://www.coyoapp.com/android" class="download-item" target="_blank">
            <img src="#{resource 'images/download-mobile-android.png' /}" border="0" alt="Google Play Store" />
        </a>
    </div>
</div>