*{
	This calendar supports two basic behaviors. Either single-calendar display, or multi-calendar.
	To enable single-calendar, inject the CalendarApp as _arg.
}*

#{addLess 'tag.calendar' /}
#{addScript 'tag.calendar' /}
#{addScript 'jquery.cookie' /}

*{ required by ajax-loaded list view }*
#{addScript 'tag.endlessAjax' /}

<div class="calendar">
	<div class="calendar-nav">
		<div class="calendar-type-switch btn-group pull-left">
			<a href="#" data-type="list" class="btn btn-primary btn-mini btn-toggle">&{'events.calendar.type.list'}</a>
			<a href="#" data-type="week" class="btn btn-primary btn-mini btn-toggle">&{'events.calendar.type.week'}</a>
			<a href="#" data-type="month" class="btn btn-primary btn-mini btn-toggle">&{'events.calendar.type.month'}</a>
		</div>
		
		<div class="btn-group calendar-filter pull-right">
			<a class="btn btn-mini calendar-ical-subscribe" href="#"><i class="icon-download"></i> &{'event.ical.subscribe'}</a>
			
			#{if !_arg}
				%{ groupedCalendars = models.app.CalendarApp.getGroupedCalendars(_connectedUser); }%
				
				<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-list"></i> &{'events.calendars.toggle'} <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#" class="calendar-toggle-all" data-action="show"><i class="icon-check"></i> &{'event.calendar.showAll'}</a></li>
					<li><a href="#" class="calendar-toggle-all" data-action="hide"><i class="icon-remove"></i> &{'event.calendar.hideAll'}</a></li>
					<li class="divider"></li>
					<li>
						<a href="#" class="calendar-toggle-cal #{if _filter.showGlobal}ok#{/}" data-id="global">
							<i class="icon-ok"></i>
							<span class="badge" style="background-color: ${controllers.administration.ThemeSettings.getThemeSettings().getString('themeBaseColor')}">${models.event.Event.getUpcomingEventsCount(_connectedUser.getDateTimeZone(), models.event.CalendarFilter.loadGlobal())}</span>
							&{'event.calendar.none'} 
						</a>
					</li>
					
					#{list items:groupedCalendars.keySet(), as:'sender'}
						#{secure acl.Permission.ACCESS_SENDER, args:[sender.id]}
							<li class="nav-header">${sender.displayName}</li>
							
							#{list items:groupedCalendars.get(sender), as:'cal'}
								<li>
									<a href="#" class="calendar-toggle-cal #{if _filter.showCalendars.contains(cal)}ok#{/}" data-id="${cal.id}">
										<i class="icon-ok"></i>
										<span class="badge" style="background-color: ${cal.color};">${cal.getUpcomingEventsCount(_connectedUser.getDateTimeZone())}</span>
										${cal.title}
									</a>
								</li>
							#{/}
						#{/}
					#{/}
				</ul>
			#{/}
		</div>
				
		<div class="clearfix"></div>
	</div>
	
	<div class="calendar-body"></div>
</div>

<script type="text/javascript">
	$('.calendar').calendar('@{Events.calendar}', '${_arg?.id}', '${_type}');
</script>