%{
	def response = _arg;
}%

#{if response != myResponse && response != models.event.EventUser.EventResponse.WAITING && (!_event?.suppressMaybe || response != models.event.EventUser.EventResponse.MAYBE)}
	<li><div data-rest-link data-url="${_action}" data-type="POST" class="restlink"><i class="${response.icon}"></i>&nbsp;${response.label}</div></li>
#{/}
