#{if _arg.allowGuestInvite && !_arg.inPast()}
	#{secure acl.Permission.RESPOND_TO_EVENT, args:[_arg.id]}
		%{
			myResponse = _arg.getResponse(_caller.connectedUser);
			if(!myResponse) myResponse = models.event.EventUser.EventResponse.WAITING;
		}%
		
		<div class="btn-group inline">
			<a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><i class="${myResponse.icon} icon-white"></i> ${myResponse.label} <span class="caret"></span></a>
			#{if _arg.isEventSeriesChild()}
				<ul class="dropdown-menu#{if _left} pull-right left-menu#{/}">
					<li class="dropdown-submenu">
						<a href="#">&{'event.series.update.ONLY_THIS'}</a>
						<ul class="dropdown-menu">
							#{list items:models.event.EventUser.EventResponse.values(), as:'response'}
								#{event.responseListItem response, event:_arg, action:actionBridge.Events.respond(_arg.id, response) /}
							#{/list}
						</ul>
					</li>
					<li class="dropdown-submenu">
						<a href="#">&{'event.series.update.THIS_AND_FOLLOWING'}</a>
						<ul class="dropdown-menu">
							#{list items:models.event.EventUser.EventResponse.values(), as:'response'}
								#{event.responseListItem response, event:_arg, action:actionBridge.Events.respond(_arg.id, response, true) /}
							#{/list}
						</ul>
					</li>
				</ul>
			#{/if}		
			#{else}
				<ul class="dropdown-menu">
					#{list items:models.event.EventUser.EventResponse.values(), as:'response'}
						#{event.responseListItem response, event:_arg, action:actionBridge.Events.respond(_arg.id, response) /}
					#{/list}
				</ul>
			#{/else}
			
		</div>
	#{/secure}
#{/}
