%{ connectedUser = session.UserLoader.getConnectedUser(); }%
#{if !_arg.fulltime}
	#{date.time _arg.getStartDate(connectedUser.dateTimeZone) /}
	
	#{if _arg.endDate != null}
		<small>&{'until'}</small>
		#{if !_arg.getEndDate(connectedUser.dateTimeZone).sameDay(_arg.getStartDate(connectedUser.dateTimeZone))}#{event.date.end _arg /}#{/}
		#{else}#{date.time _arg.getEndDate(connectedUser.dateTimeZone) /}#{/}
	#{/}
#{/}#{else}
	#{if _arg.getStartDate(connectedUser.dateTimeZone).today()}
		&{'today'}
	#{/}#{else}
		&{'event.fulltime'}
	#{/}
	
	#{if _arg.endDate != null && _arg.endDate != _arg.startDate}
		<small>&{'until'}</small>
		#{event.date.end _arg /}
	#{/}
#{/}