<div class="group blog">
	<h4>{{widget.title}}</h4>
	
	<div class="emptyMessage" data-ng-if="!widget.data.length">{{'app.blog.widget.empty' | i18n}}</div>
	<ul data-ng-if="widget.data.length" class="unstyled">
		<li data-ng-repeat="article in widget.data">
			<i class="icon-tags"></i> <a href="{{article.url}}">{{article.title}}</a><br>
			<small><span data-fuzzy-date="article.time"></span> {{'by'|i18n|lowercase}} <span data-user-link="article.author"></span></small>
		</li>
	</ul>
</div>
