<div class="group calendar">
	<h4>{{widget.title}}</h4>
	
	<div class="emptyMessage" data-ng-if="!widget.data.length">{{'app.calendar.widget.empty' | i18n}}</div>
	<ul data-ng-if="widget.data.length" class="unstyled">
		<li data-ng-repeat="event in widget.data">
			<i class="icon-calendar"></i> <a href="/event/show/{{event.id}}">{{event.name}}</a>
			<small>{{'on' | i18n }} {{event.startDateAsText}}</small>
		</li>
	</ul>
</div>