<div class="group files">
	<h4>{{widget.title}}</h4>
	
	<div class="emptyMessage" data-ng-if="!widget.data.files.length">{{'app.files.widget.empty' | i18n}}</div>
	<ul data-ng-if="widget.data.files.length" class="unstyled">
		<li data-ng-repeat="file in widget.data.files">
			<a href="/app/file/{{widget.sourceApp}}/{{file.uid}}">{{file.name}}</a><br>
			<small>
				<span data-fuzzy-date="file.modified"></span>
				<span data-ng-if="widget.data.showUser">
					{{'by' | i18n | lowercase}} <a href="/user/{{file.creator.id}}" title="{{file.creator.name}}">{{file.creator.name}}</a>
				</span>
			</small>
		</li>
	</ul>
</div>