<div class="group forum">
	<h4>{{widget.title}}</h4>
	
	<div class="emptyMessage" data-ng-if="!widget.data.length">{{'app.forum.widget.empty' | i18n}}</div>
	<ul data-ng-if="widget.data.length" class="unstyled">
		<li data-ng-repeat="topic in widget.data">
			<i class="icon-comment"></i> <a href="{{topic.lastPost.url}}">{{topic.title}}</a>
			<span data-ng-if="topic.lastPost.modified == topic.created" class="label label-success">{{'app.forum.widget.latest.new' | i18n}}</span>
			<span data-ng-if="topic.closed" class="label label">{{'app.forum.topic.closed' | i18n}}</span>
			<br>
			<small>
				<span data-fuzzy-date="topic.lastPost.modified"></span> {{'by' | i18n | lowercase}} <span data-user-link="topic.lastPost.author"></span>
			</small>
		</li>
	</ul>
</div>