<div class="group link">
	<h4>{{widget.title}}</h4>
	
	<div class="emptyMessage" data-ng-if="!widget.data.length">{{'app.socialLink.widget.empty' | i18n}}</div>
	<ul data-ng-if="widget.data.length" class="unstyled">
		<li data-ng-repeat="links in widget.data">
			<img class="img-widget" data-ng-show="links.faviconUrl" data-ng-src="{{links.faviconUrl}}"/><i data-ng-show="!links.faviconUrl" class="icon-globe defaultIcon"></i> 
			<a class="a-widget" data-ng-href="{{links.url}}" class="title" target="_blank">{{links.title}}</a>
		</li>
	</ul>
</div>