<div class="group wiki">
	<h4>{{widget.title}}</h4>
	
	<div class="emptyMessage" data-ng-if="!widget.data.length">{{'app.wiki.widget.empty' | i18n}}</div>
	<ul data-ng-if="widget.data.length" class="unstyled">
		<li data-ng-repeat="article in widget.data">
			<i class="icon-book"></i> <a href="/app/wiki/article?id={{article.id}}">{{article.title}}</a>
			<span data-ng-if="!article.versionCount" class="label label-success">{{'plugin.wiki.article.new' | i18n}}</span>
			<span data-ng-if="article.versionCount" class="label label-warning">{{'plugin.wiki.article.modified' | i18n}}</span>
			<br>
			<small>
				<span data-fuzzy-date="article.time"></span> {{'by' | i18n | lowercase}} <span data-user-link="article.author"></span>
			</small>
		</li>
	</ul>
</div>