#{textExpander}${_arg.linkifiedMessage.raw()}#{/}

#{if _arg.mediaCollection.media.size() > 0}
	<div class="post-share media-collection" id="post-share-media-collection-${_arg.id}">
		<ul class="thumbnails">
			#{list items:_arg.mediaCollection.media, as:'media'}
				<li class="thumbnail"><div data-media-link="${media.id}"></div></li>
			#{/}
		</ul>
	</div>
#{/}
<div class="clearfix"></div>

<script type="text/javascript">
	// TODO: remove when wall is implemented via AngularJS
	if(angular.element(document).injector()) {
		angular.element(document).injector().invoke(['$compile', function($compile) {
			var content = $('#post-share-media-collection-${_arg.id}');
			var scope = angular.element(content).scope();
			$compile(content)(scope);
		}]);
	}
</script>
