<strong>#{sender.link _arg.author /}</strong> &{'wall.post.shareMediaCollection.title'} <a href="@{api.MediaAPI.redirectToCollection(_arg.mediaCollection.id)}"><strong>${_arg.mediaCollection.name}</strong></a>