<div class="ui360 preview-audio">
	<a href="${_arg.downloadUrl}" type="audio/mp3" class="inline-playable" id="attachment-${_arg.getUniqueId()}">${_arg.displayName}</a>
</div>

<script type="text/javascript">
	$('#attachment-${_arg.getUniqueId()}').inlinePlayer();
</script>