<div class="preview-video">
	<video id="video-${_arg.getUniqueId()}" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="none" width="${_width}" height="${_height}" data-setup='{}'>  
		<source src="${_arg.downloadUrl}" type="${_arg.contentType}" />  
	</video>
</div>