#{include 'stylesheets/mixins.less' /}

div.calendar-lash {
	float: right;
	cursor: pointer;
	margin: -20px 20px 0 0;
	background-color: #FFF;
	.box-shadow();
	.border-radius(0 0 5px 5px);
	padding: 10px 10px 0 10px;
	width: 100px;
		
	a.calendar-label {
		display: block;
		background-color: #999;
		margin: 9px -10px 0 -10px;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 10px;
		color: #FFF;
		.border-radius(0 0 5px 5px);
		padding: 3px 5px;
		line-height: 15px;
		text-decoration: none;
	}
}

div.event-details {
	div.list-wrapper {
		margin: 0 150px 0 0;
		
		dl.list {
			dd.admins {
				div.admin {
					float: left;
					margin-right: 4px;
				
					img {
						width: 30px;
						height: 30px;
					}
				}
			}
		}
	}
}