#{include 'stylesheets/mixins.less' /}

ul.notifications {
	li {
		a {
			img {
				height: 50px;
				width: 50px;
				float: left;
				margin-right: 8px;
				.border-radius(3px);
			}
		}
		
		&.unread {
			a {
				font-weight: bold;
			}
		}
	}
}