.page-header > h1 > i.icon.icon-activitystream {
	display: block;
	background-image: url(../images/icon-activitystream.png);
}

div.as-displayType-switch {
	a {
		span.label {
			background-color: rgba(0,0,0,0.2);
			border-top: 1px solid rgba(0,0,0,0.3);
			margin-left: 3px;
			padding: 1px 4px;
			top: 0; 
		}
	}
}

div.as-update {
	margin-bottom: 20px;
	font-size: 16px;
	color: #888;
}

div.rightbar {
	div.group.events {
		font-size: 12px;
		
		ul {
			li {
				line-height: 18px;
				margin-bottom: 2px;
				
				position: relative;
				padding-left: 18px;
				
				i {
					position: absolute;
					left: 0;
					top: 1px;
				}
			}
		}
	}
	
	div.birthdays {
		li {
			clear: both;
			padding-bottom: 5px;
			margin-bottom: 5px;
			font-size: 12px;
	
			.thumb {
				float: left;
				width: 25px;
				height: 25px;
				margin-right: 6px;
				vertical-align: top;
			}
			
			.details {
				padding-top: 4px;
				margin-left: 35px;
				line-height: 16px;
			}
			
			&.today {
				font-weight: bold;
			}
		}
	}
}