#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/mixins.less' /}

ul.list.list-boxes.workspaces {
	> li {
		margin-bottom: 15px;
		overflow: hidden;
		
		img.workspace-avatar {
			float: left;
			width: 90px;
		}
		
		div.body {
			margin-left: 105px;
		
			h4 {
				font-size: 15px;
				font-weight: normal;
				margin-top: 0;
				margin-bottom: 5px;
				line-height: 16px;
				vertical-align: center;
				
				a {
					//color: #333;
				}
				
				> i {
					margin-top: 3px;
				}
			}
			
			@memberSize: 27px;
		
			ul.members {
				margin: 10px -2px 0 -2px;
				height: @memberSize;
				overflow: hidden;
				
				div.tooltip {
					text-shadow: none;
				}
				
				li {
					float: left;
					margin-bottom: 4px;
				}
			
				li > a.count {
					text-decoration: none;
					height: @memberSize;
					width: @memberSize;
					line-height: @memberSize;
					text-align: center;
					color: white;
					text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
					font-size: 14px;
					overflow: hidden;
					float: left;
					#gradient.vertical(@secondaryButtonColor, @buttonColor);
					background-color: @buttonColor;
					.border-radius(3px);
					margin: 0 2px;
					
					&.count-size-3 { font-size: 13px; }
					&.count-size-4, &.count-size-5, &.count-size-6 { font-size: 10px; }
				}
				
				img.user-avatar.thumb {
					height: @memberSize;
					width: @memberSize;
					margin: 0 2px;
				}
			}
		}
	}
}

.mobile-main #workspaces div.options {
	margin-top: 12px;
}