table.pushdevices {
  tr {
    img {
      opacity: 0.5;
    }
    &.active img {
      opacity: 1;
    }
  }
}

table.oauthdevices {
  tr {
    img {
      opacity: 0.5;
    }
    &.active img {
      opacity: 1;
    }
  }
}