#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/mixins.less' /}

ul.pages {
	 > li, > li:last-child {
		&.important {
			border-right: 2px solid @buttonColor;
			border-bottom: 2px solid @buttonColor;
			border-top: 2px solid lighten(@buttonColor, 20%);
			border-left: 2px solid lighten(@buttonColor, 20%);
		}
	}
}

div.page-actions {
	label {
		float: left;
		margin-right: 25px;
		margin-top: 8px;
		color: #999;
		text-shadow: 0 1px 0 #FFF;
		white-space: nowrap;
	}
}