#{include 'stylesheets/mixins.less' /}

div.content {
	top: 320px;
	margin-left: -350px;
	width: 700px;
}

#terms {
	background-color: white;
	.border-radius(10px);
	height: 300px;
	overflow: auto;
	border: 20px solid white;

	&, h1, h2, h3, h4, h5, h6, p, div, table {
		text-shadow: none;
		color: #404040;
	}
	
	margin-bottom: 15px;
}

form {
	margin: 0;
}

@media only screen and (max-height : 700px) {
	div.content {
		top: 250px;
	}
	
	#terms {
		height: 250px;
	}
}