#{include 'stylesheets/mixins.less' /}

ul.kpis {
	margin: 0 0 0 -20px;
	padding: 0;
	list-style: none;
	
	li {
		float: left;
		
		> a {
			display: block;
			width: 290px;
			margin-bottom: 30px;
			.border-radius(5px);
			color: #333;
			padding: 15px;
			margin: 0 0 20px 20px;
			text-decoration: none;
			opacity: 0.8;
			background-color: #EEE;
			
			&:hover { background-color: #DDD; }
			
			.kpi-title {
				display: block;
				color: #666;
				font-size: 12px;
				text-transform: uppercase;
				font-weight: normal;
				margin: 0;
				
				i {
					opacity: 0.75;
					margin-right: 4px;
				}
			}
			
			.kpi-keyNumber {
				font-size: 58px;
				line-height: 58px;
			}
		}
	}
}