body {
	margin: 20px;
}

ul.thumbnails {
	> li {
		width: 75px;
		height: 75px;
		
		> a {
			display: block;
			width: 100%;
			height: 100%;
			
			> img {
				max-width: 100%;
				max-height: 100%;
			}
		}
	}
}