#{include 'stylesheets/mixins.less' /}

div.wiki-nav {
	display: block;
	background-color: #F9F9F9;
	.border-radius(3px);
	margin-bottom: 20px;

	a.btn.dropdown-toggle {
		.border-radius(3px 0 0 3px);
	}
}

div.wiki-article-titlebar {
	margin: 25px 0 15px;
	padding: 0 0 10px;
	border-bottom: 1px solid #F0F0F0;
	
	.wiki-article-title {
		display: block;
		color: #404040;
		text-decoration: none;
		font-size: 24px;
		line-height: 24px; 
		font-weight: normal;
		margin: 8px 0;
	}
	
	.wiki-article-info {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 12px;
		font-weight: normal;
		color: #999;
		
		li { display: inline-block; margin-right: 15px; }
		a { color: #999; }
		i { margin-right: 2px; opacity: 0.5; }
	}
}

.wiki-tree {
	.loading {
		display: block;
		width: 32px;
		height: 32px;
		overflow: hidden;
		margin: 0 auto;
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -9999em;
	}
}

.wiki-tree-content {
	position: relative;
	border: solid #ddd 1px;
	.border-radius(4px);
	background: #fff;

	&.editable:hover {
		background-color: #F8F8F8;
		cursor: move;
	}
	
	.wiki-tree-entry {
		padding: 6px;
	}
	
	a:hover, a:focus {
		text-decoration: none;
	}

}

.wiki-tree-info {
	position: absolute;
	right: 10px;
	top: 7px;
}


form.wiki-chooseHome {
}

.wiki-collaboration {
	border-top: solid 1px #f0f0f0;
	margin-top: 20px;
}

.angular-ui-tree-placeholder {
  background: #F8F8F8;
  border: 2px dashed #dddddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

