div.group.blog {
	ul {
		li {
			margin-bottom: 10px;
			line-height: 17px;
			
			> a {
				font-weight: bold;
				font-size: 13px;
			}
			
			.blog-teasertext {
				display: block;
				padding: 5px 0;
			}
		}
	}
}