div.group.files {
	ul {
		li {
			padding-left: 22px;
			margin-bottom: 10px;
			line-height: 17px;
			background-image: url(../images/file-icon-default-small.png);
			background-repeat: no-repeat;
			
			> a {
				font-size: 12px;
			}
		}
	}
}