#{include 'stylesheets/mixins.less' /}

.forms-formfield-render{
	min-height:300px;
	
	.error{
		color:#900;
	}
}

.forms-editor{
	padding-bottom:18px;
	
	.forms-form {
		min-height:270px;
		border: 3px solid #DDD;
		.border-radius(10px);
		padding: 10px 10px 20px 10px;
		float:left;
		width:550px;
		
		.control-group[data-type]{
			.border-radius(3px);
			position:relative;
			cursor:move;
			
			&[data-type=h2] {
				margin-bottom: 2px;
			}
			
			&:hover{
				background:#F0F0F0;
				
				.forms-actions{
					display:block;
				}
			}
			
			.modal{
				cursor:default;
				
				.multiple-settings{
					>div{
						cursor:move;
					}
					
					input{
						margin-bottom:7px;
					}
					
					.clearfix{
						height:0;
					}
					
					.icon-remove{
						margin-left:5px;
						cursor:pointer;
					}	
				}
			}
		}
	}
}

.forms-form{
	min-height:100px;
	
	h2 {
		font-size: 18px;
		margin-left: 180px;
		margin-bottom: 15px;
	}
	
	textarea {
		resize: none;
		width: 275px;
		height: 75px;
	}
	
	a.help {
		margin-left: 2px;
	}
}

.forms-rightbar{
	float:left;
	width:180px;
	margin-left:20px;
}

.forms-field-types{ 
	margin: 0;
	padding: 0;
	
	> li{
		opacity: 0.75;
		display:block;
		line-height:40px;
		vertical-align:middle;
		padding-right:10px;
		margin-bottom:10px;
		background-color:#DDD;
		.border-radius(5px);
		white-space:nowrap;
		text-overflow:ellipsis;
		overflow:hidden;
		border:1px solid #DDD;
		cursor:pointer;
		
		&:hover {
			opacity: 1;
		}
		
		&:last-child{
			margin-bottom:0;
		}
		
		span{
			display:block;
			float:left;
			width:40px;
			height:40px;
			background-repeat:no-repeat;
			background-position:center center;
		
			&.text{
				background-image:url(../images/form-fields/text.png);
			}
			
			&.textarea{
				background-image:url(../images/form-fields/textarea.png);
			}
			
			&.select{
				background-image:url(../images/form-fields/select.png);
			}
			
			&.checkboxes{
				background-image:url(../images/form-fields/checkboxes.png);
			}
			
			&.h2{
				background-image:url(../images/form-fields/heading.png);
			}
			
			&.hr{
				background-image:url(../images/form-fields/separator.png);
			}
		}
	}
}

.forms-actions{
	display:none;
	position:absolute;
	top:4px;
	right:4px;
	
	a{
		display:inline-block;
		margin:3px;
	}
	
	
}

.forms-templates{
	div[data-type]{
		display:none;
	}
	
}