.file {
	line-height: 26px;
	display: inline-block;
	background-repeat: no-repeat;
	padding-left: 32px;
	background-image: url(../images/file-icon-default.png);
	
	&.folder {
		background-image: url(../images/file-icon-folder.png);
	}
	
	&.file-html, &.file-css, &.file-js, &.file-php, &.file-java {
		background-image: url(../images/file-icon-code.png);
	}
	
	&.file-zip, &.file-rar, &.file-tar {
		background-image: url(../images/file-icon-archive.png);
	}
	
	&.file-ppt, &.file-pptx, &.file-keynote {
		background-image: url(../images/file-icon-chart.png);
	}
	
	&.file-png, &.file-jpg, &.file-jpeg, &.file-gif, &.file-bmp {
		background-image: url(../images/file-icon-image.png);
	}
	
	&.file-mp4, &.file-avi, &.file-mpeg, &.file-mpg {
		background-image: url(../images/file-icon-movie.png);
	}
	
	&.file-mp3, &.file-wav {
		background-image: url(../images/file-icon-music.png);
	}
	
	&.file-xls, &.file-xlsx, &.file-xlsm, &.file-numbers {
		background-image: url(../images/file-icon-table.png);
	}
}