#{include 'stylesheets/mixins.less' /}

form div.control-group {
	button.btn, a.btn.answer-drag {
		margin-bottom: 9px;
	}
}

div.rightbar {
	div.group.polls {
		font-size: 12px;
		
		 ul {
		 	margin-left: 5px;
		 	margin-top: 8px;
		 	
		 	li {
		 		margin-bottom: 2px;
		 		
		 		> i {
		 			float: left;
		 		}
		 	
		 		a {
			 		display: block;
			 		margin-left: 20px;
			 	}
			 	
			 	&.more-item a {
			 		margin-left: 0;
			 	}
		 	}
		 }
	}		 
}

div.poll {
	min-height: 50px;
	background-image: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: -9999px 5px;
	
	&.loading {
		background-position: center 5px;
		text-indent: -9999px;
	}
	
	div.answer {
		clear: both;
		height: 30px;
		margin-bottom: 15px;
		
		div.answer-title {
			float: left;
			width: 200px;
			margin-right: 15px;
			line-height: 30px;
			text-align: right;
			
			p {
				display: inline-block;
				line-height: 1.3;
				font-weight: bold;
				text-align: right;
			}
		}
		
		div.answer-bar {
			float: left;
			width: 350px;
			margin: 0 15px 0 0;
			height: 30px;
			cursor: pointer;
			
			&.answered > .bar {
				background-color: lighten(#0E90D2, 10%);
				#gradient.vertical(lighten(#149bdf, 15%), lighten(#0480be, 10%));
			}
			
			&.answered:hover > .bar {
				background-color: #DD514C;
				#gradient.vertical(#ee5f5b, #c43c35);
			}
			
			.bar, .answer-label {
				line-height: 30px;
				font-weight: bold;
				font-size: 12px;
			}
			
			.bar {
				height: 30px;
				text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
			}
			
			.answer-label {
				color: #666;
				padding-left: 10px;
			}
		}
		
		div.answer-faces {
			float: left;
			
			img.thumb {
				width: 30px;
				height:30px;
			}
			
			.answer-faces-more {
				cursor: default;
				.border-radius(3px);
				vertical-align: middle;
				line-height: 20px;
				text-align: center;
				font-size: 18px;
				display: inline-block;
				background-color: #EEE;
				width: 30px;
				height: 30px;
			}
		}
	}
	
	&.poll-frozen {
		div.answer {
			div.answer-bar {
				cursor: default;
				
				> .bar {
					background-color: #BBB;
					#gradient.vertical(#CCC, #BBB);
				}
			}
		}
	}
}

li.post {
	.poll {
		p.answer-question {
			margin-top: 10px;
			border-bottom: 1px solid #EEE;
		}
	
		div.answer {
			height: 20px;
			margin-bottom: 8px;
			
			div.answer-title {
				width: 100px;
				line-height: 20px;
				
				@media only screen and (min-width : 1250px) { width: 150px; }
				
				p {
					font-size: 11px;
				}
			}
			
			div.answer-bar {
				width: 200px;
				height: 20px;
				
				@media only screen and (min-width : 1250px) { width: 350px; }
				
				.bar {
					height: 20px;
				}
				
				.bar, .answer-label {
					line-height: 20px;
				}
			}
			
			div.answer-faces {
				img.thumb {
					width: 20px;
					height: 20px;
				}
				
				.answer-faces-more {
					width: 20px;
					height: 20px;
					line-height: 12px;
					font-size: 14px;
				}
			}
		}
	}
}