#{include 'stylesheets/mixins.less' /}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

#forum-app-topic-form {
	*, *:before, *:after {
		.box-sizing;
	}
	
	input[type=text] {
		min-height: 3em;
		height: 3em;
		width: 100%;
	}
	
	textarea {
		width: 100%;
	}
	
	.forum-app-submit {
		margin: 0;
	}
}

#forum-app-container {
	
	*, *:before, *:after {
		.box-sizing;
	}
	
	.loading {
		display: block;
		width: 32px;
		height: 32px;
		overflow: hidden;
		margin: 0 auto;
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -9999em;
	}
	
	.forum-topic-header {
		padding: 1px 15px;
		margin-bottom: 15px;
		border-bottom: solid 1px #eee;
		
		h4 {
			margin-bottom: 5px;
		}
		
		.forum-topic-meta {
			float: right;
			font-size: 11px;
			margin-top: 7px;
		} 
		
	}
	
	/* 
	 * Fix for absolute positioning in table cells for FF 
	 * see: http://davidwalsh.name/table-cell-position-absolute
	 */
	table, tr {
		height: 100%;
	}
	
	td.forum-topic-options {
		padding: 0;
	}
	
	.forum-topic-options > div, li.forum-post-container {
		position: relative;
		
		div.btn-group {
			position: absolute;
			top: -2px;
			right: 10px;
			
			a.btn {
				padding: 2px 5px;
				-webkit-border-top-left-radius: 0;
				-webkit-border-top-right-radius: 0;
				   -moz-border-top-left-radius: 0;
				   -moz-border-top-right-radius: 0;
				        border-top-left-radius: 0;
				        border-top-right-radius: 0;
			}
		}
	}
	
	td span.label {
		margin-right: 6px;
	}
	
	
	#forum-topic-postlist {
		margin-bottom: 20px;
		-webkit-margin-after: 20px;
	}
	
	.forum-nav {
		background-color: #F9F9F9;
		.border-radius(3px);
	}
	
	.forum-nav-footer {
		margin-bottom: 20px;
	}
	
		
	.forum-nav, .forum-nav-footer {
		display: block;
		height: 30px;
		
		.pagination {
			display: inline-block;
			float: right;
			margin: 0;
			
			li a {
				cursor: pointer;
			}
		}
	}
	
	.forum-post-container {
		position: relative;
		display: inline-block;
		width: 100%;
		min-height: 145px;
		border-bottom: solid 1px #eee;
		
		*, *:before, *:after {
			.box-sizing;
		}
		
		&.first {
			.border-radius(5px);
			background: #F9F9F9;
			border-bottom: none;
		}
		
		&.highlight {
			background: #FFFFCC;
		}
		
		.forum-post-meta {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			padding-top: 20px;
			width: 180px;
			text-align: center;
			
			.forum-post-avatar {
				display: block;
				width: 50px;
				margin: 0 auto 15px;
				
				img {
					.border-radius(3px);
				}
			}
			
			.forum-post-name {
				font-size: 1.2em;
				font-weight: bold;
			}
		}
		
		.forum-post-message {
			display: block;
			padding: 15px;
			margin-left: 180px;
		}
		
		h5.attachments-header {
			color: #999;
			font-weight: normal;
			font-size: 12px;
			text-transform: uppercase;
			margin: 30px 0 0;
		}
		
	}
	
	.form-actions {
		.textarea-wrapper {
			position: relative; // fix for placeholder bug in IE9 (COYO-2924)
			textarea {
				display: block;
				width: 100%;
				min-height: 90px;
				height: 90px;
				.border-radius;
			}
		}
	}
}

/* files chooser */
#forum-app-topic-form, #forum-app-container {
	
	.file-chooser-container {
		width: 75%;
		margin-bottom: 10px;
	}
	
	.files {
		width: 100%;
		.box-sizing();
		.border-radius(4px);
		border: 1px solid #ddd;
		padding: 0 4px;
		margin-bottom: 10px;
		font-size: 11px;
		line-height: 16px;
		background-color: #fff;
		
		ul {
			list-style: none;
			margin: 0;
			
			li {
				border-bottom: 1px dashed #ddd;
				padding: 6px;
				color: #555;
				position: relative;
				overflow: hidden;
				padding-right:25px;
				
				.close {
					position: absolute;
					right: 0px;
					top: 0px;
					padding-right: 8px;
					line-height: 29px;
				}
				
				.progress {
					width: 150px;
					height: 10px;
					margin: 9px 0;
					float: right;
				}
				
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

/* Search result */
.forum-search-header {
	font-weight: bold;
	margin-bottom: 0.3em;
}