#{include 'stylesheets/mixins.less' /}
#inno-app-overview *,
#inno-app-overview *:before,
#inno-app-overview *:after {
	/* -webkit-box-sizing: border-box; */
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#inno-app-overview {
	.input {
		min-height: 30px;
		height: 30px;
	}

	.loading {
		display: block;
		width: 32px;
		height: 32px;
		overflow: hidden;
		margin: 0 auto;
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -9999em;
	}
}

#innnoConfig {
	a {
		text-decoration: none !important;
	}
	.tab-content {
		padding-left: 5px;
	}

	ul.tagit {
		padding: 0;
	}

	ul#categoryList {
		box-shadow: none;
	}
}

.verticalAlign {
	display: table-row;
	vertical-align: middle;
	text-align: center;
}

#rating-list {

	ul {
		margin: 0;
		padding: 0;

		li {
			margin-top: 10px;
			float: left;
			width: 33%;

			&.top-row {
				margin-top: 0;
			}

			.rating-list-details {
				float: left;
				margin-left: 10px;
			}
		}
	}
}

.categories {
	.tags {
		margin: 10px 0;
	}
	.tags .tag {
	.border-radius(6px);
		background-color: #EFEFEF;
		border: 1px solid #DDD;
		padding: 5px;
		margin: 3px 3px 3px 0;
		position: relative;
		display: inline-block;
	}
	.text-icon {
		display: none;
		cursor: pointer;
		position: absolute;
		right: .1em;
		top: 50%;
		margin-top: -8px;
	}

}

.inno-app-edit-modal {
	input[type=text], input[type=number], input[type=url], select {
		min-height: 32px;
		height: 32px;
		width: 100%;
	}

	.select2-container {
		width: 100%;
	}

	.userfield-control-group {
		margin-bottom: 12px;

		ul > li.select2-search-field > input[type=text] {
			height: inherit;
		}
	}

	select[multiple] {
		height: auto;
	}

	textarea {
		min-height: 6em;
		height: 6em;
		width: 100%;
	}
}

#idea-details-header {
	button.close {
		margin-left: 20px;
	}
}

#idea-details {
	overflow-y: auto;
	overflow-x: hidden;
	hr {
		margin: 10px 0 10px 0;
	}

	.uppercase {
		text-transform: uppercase;
	}

	div.ecke {
		position: absolute;
		top: -3px;
		right: 0px;
		width: 98px;
		height: 96px;
		background-image: url("../images/app/innoapp/ecke.png");
		text-align: right;
		color: snow;
		font-size: 9px;

		p {
			padding: 5px 10px 0 0;
			margin: 0;
			&.remaining-days {
			padding-top: 0;
			font-size: 22px;
			font-weight: normal;
			}
		}
	}

	div.top {
		width: 100%;
		margin-bottom: 5px;

		a:hover {
			color: #333;
		}

		div.left {
			width: 75%;
			display: block;

			h5 {
			margin: 0 0 5px 0;
			color: #333;
			border-bottom: none;
			opacity: 0.8;
			}
		}

		div.right {
			position: absolute;
			top: 15px;
			right: 0;
			margin-right: 75px;
		}

		a > h5 {
			color: inherit;
			margin-bottom: 5px;
		}
	}

	div.bottom {
		width: 100%;

		a {
			color: #999;
		}

		a.icon-link {
			i {
				opacity: .6;
			}
			i:hover {
				opacity: 1.0;
			}
		}

		div.bottom-panel {
			width: inherit;
			display: inline-block;
			text-align: left;

			div.bottom-element {
				float: left;
				height: 20px;
				margin-right: 40px;

				&.average-rating {
					float: right;
					margin-right: 113px;
				}

				div.bottom-information {
					padding: 0 0 0 0;
					display: table;
					table-layout: fixed;

					div.text {
						display: table-cell;
						vertical-align: middle;
						overflow: hidden;
					}

					img.user-avatar.thumb {
						width: 20px;
						height: 20px;
						margin-right: 5px;
					}
				}
			}
		}
	}

	div.details-body {
		max-height: 350px;
		margin-right: -15px;
		padding-right: 15px;

		label {
			font-weight: bold;
		}

		span.item-value {
			font-size: 11px;
			color: #999 !important;
		}

		#idea-bookmarks {
			ul {
				clear: both;
			}

			div.add-bookmark {
				clear: both;
				background: #f0f0f0;
				border: 1px solid #aaa;
				padding: 7px;
				.border-radius(4px);

				div.select2-container {
					font-size: 11px;
					width: 100%;
					.box-sizing(border-box);

					a.select2-choice {
						line-height: 22px;
						height: 22px;
					}
				}

				a.btn-mini {
					margin-top: 3px;
					font-weight: normal;
				}
			}
		}

		.item-label {
			display: block;
			width: inherit;
			text-align: left;
			font-weight: bold;
		}

		div {
			&.left {
				width: 425px;
			}
			&.right {
				float: right;
				width: 420px;
				margin-left: 10px;
			}
		}
	}
}

.attachments {
	width: 99%;
}

.idea-rating-average {
	float: right;
	opacity: 0.6;
}

.idea-rating-overview {
	position: relative;
	float: right;

	div {
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		white-space: nowrap;
		text-align: left;

		&.filled-stars {
			color: #333;
			opacity: 0.6;
			position: absolute;
		}

		&.empty-stars {
			color: #ddd;
			position: relative;
		}
	}
}

.idea-rating {
	display: inline-block;
	padding-right: 30px;

	&:hover i.icon-remove {
		visibility: visible;
	}

	.rating {
		float: left;
	}

	a {
		position: absolute;
		top: 10px;
		right: 12px;

		i.icon-remove {
			opacity: 0.3;
			visibility: hidden;
			-webkit-transform: scale(.8);
			-moz-transform: scale(.8);
			-o-transform: scale(.8);

			&:hover {
			opacity: 0.8;
			}
		}
	}

	div.panel-fieldset {
		margin-right: -1px;
	}

	fieldset.rating {
		float: right;
	}
	i {
		margin: 2px;
	}

	/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
	 follow these rules. Every browser that supports :checked also supports :not(), so
	 it doesn’t make the test unnecessarily selective */
	.rating:not(:checked) > input {
		position: absolute;
		visibility: hidden;
	}

	.rating:not(:checked) > label {
		float: right;
		overflow: hidden;
		white-space: nowrap;
		cursor: pointer;
		font-size: 170%;
		line-height: 1.2;
		color: #ddd;
	}

	.rating:not(:checked) > label:before {
		content: '★';
	}

	.rating > input:checked ~ label {
		color: gold;
	}

	.rating:not(:checked):not([disabled]) > label:hover,
	.rating:not(:checked):not([disabled]) > label:hover ~ label {
		color: #f70;
	}
}

ul.list-ideas-overview {
	list-style: none;
	margin: 0;

	.uppercase {
		text-transform: uppercase;
	}

	.row {
		margin: 0;
	}

	.avatar {
		width: 100px;
	}

	div.idea {
		padding: 25px 25px 20px;
		.border-radius(10px);
		background: #F9F9F9;
		border-bottom: none;
		position: relative;
		display: inline-block;
		width: 100%;
		border-bottom: solid 1px #eee;
		font-size: 11px;

		-webkit-background-clip: padding-box; /* for Safari */
		background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

		&.status-new {
			border-left: 10px solid rgb(51, 153, 255);
			border-left: 10px solid rgba(51, 153, 255, .5);
		}

		&.status-accepted {
			border-left: 10px solid rgb(100, 183, 52);
			border-left: 10px solid rgba(100, 183, 52, .5);
		}

		&.status-audit {
			border-left: 10px solid rgb(255, 204, 0);
			border-left: 10px solid rgba(255, 204, 0, .5);
		}

		&.status-declined {
			border-left: 10px solid rgb(200, 50, 20);
			border-left: 10px solid rgba(200, 50, 20, .5);
		}


		div.ecke {
			position: absolute;
			top: 0px;
			right: 0px;
			width: 98px;
			height: 96px;
			background-image: url("../images/app/innoapp/ecke.png");
			text-align: right;
			color: snow;
			font-size: 9px;
			padding: 5px 10px 0 0;

			p {
				margin: 0;
				&.remaining-days {
					font-size: 22px;
					font-weight: normal;
				}
			}
		}

		hr {
			margin: 5px 0 10px 0;
		}

		div.top {
			width: 100%;
			height: 80px;
			max-height: 100px;
			margin-bottom: 20px;

			a:hover {
				color: #333;
			}

			div.left {
				width: 70%;
				display: inline-block;

				h5 {
					margin: 0 0 5px 0;
					color: #333;
					opacity: 0.8;
				}
			}

			div.right {
				position: absolute;
				margin-right: 90px;
				right: 0;
				top: 25px;
			}
		}

		div.bottom {
			width: 100%;
			vertical-align: middle;

			div.bottom-panel {
				line-height: 20px;
				width: 95%;
				display: inline-block;
				text-align: left;

				div.bottom-element {
					float: left;
					margin-right: 40px;
					margin-bottom: 5px;

					a {
						color: #999;
					}

					div.bottom-information {
						padding: 0 0 0 0;
						display: table;
						table-layout: fixed;

						div.text {
							display: table-cell;
							vertical-align: middle;
							overflow: hidden;
						}

						img.user-avatar.thumb {
							width: 20px;
							height: 20px;
							margin-right: 5px;
						}
					}
				}
			}
		}

		div.idea-menu {
			float: right;
			i {
				opacity: 0.6;
			}
			i:hover {
				opacity: 1.0;
			}
		}

		div.menu {
			position: absolute;
			bottom: 5px;
			right: 15px;

			i {
				opacity: 0.6;
			}
		}

		div.verticalAlignContainer.avatar {
			display: table;
			table-layout: fixed;
			margin-left: 1px;
		}
	}
}

#edit-idea {
	*, *:before, *:after {
	.box-sizing;
	}

	input[type=text], input[type=number], input[type=url], select {
		min-height: 32px;
		height: 32px;
		width: 100%;
	}

	.input-prepend {
		width: 100%;

		.add-on {
			width: 4%;
			height: 32px;
			min-height: 32px;
			line-height: 25px;
		}

		input[type=text], input[type=date], input[type=number], input[type=url], select {
			width: 96%;
		}
	}

	.select2-container {
		width: 100%;
	}

	.userfield-control-group {
		margin-bottom: 12px;

		ul > li.select2-search-field > input[type=text] {
			height: inherit;
		}
	}

	select[multiple] {
		height: auto;
	}

	textarea {
		min-height: 6em;
		height: 6em;
		width: 100%;
	}

	.file-chooser-container {
		margin-bottom: 10px;
	}

	.files {
		width: 100%;
		.box-sizing();
		.border-radius(4px);
		border: 1px solid #ddd;
		padding: 0 4px;
		margin-bottom: 10px;
		font-size: 11px;
		line-height: 16px;

		ul {
			list-style: none;
			margin: 0;

			li {
				border-bottom: 1px dashed #ddd;
				padding: 6px;
				color: #555;
				position: relative;
				overflow: hidden;
				padding-right: 25px;

				.close {
					position: absolute;
					right: 0px;
					top: 0px;
					padding-right: 8px;
					line-height: 29px;
				}

				.progress {
					width: 150px;
					height: 10px;
					margin: 9px 0;
					float: right;
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
}

ul.likesAndRemainingDaysH, ul.likesAndRemainingDaysV {
	list-style: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid;
	margin: 0;
	display: table;

	li {
		display: table;

		span {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			margin: 0;
			padding: 0;

			strong {
			font-size: large;
			}
		}
	}

	&.success {
		border-color: seagreen;
	}
	&.error {
		border-color: #cc0000;
	}
	.days {
		color: #696969;
	}

}

ul.likesAndRemainingDaysV {
	padding: 5px 0 5px 0;
	display: table;

	li {
		height: 40px;
		width: 95px;

		span {
			line-height: 15px;
		}
	}
}

ul.likesAndRemainingDaysH {
	margin: 0;
	padding: 0;

	li {
	float: left;

		span {
			height: 55px;
			width: 60px;
		}
	}
}

.clear {
	clear: both;
}

.similar-ideas {
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0;
	padding: 5px;
	max-height: 600px;
	width: 100%;
}


.idea-delete-error {
  .alert {
	margin-bottom: 0;
  }
}


.top5 {
	margin-top: 5px;
}

.top7 {
	margin-top: 7px;
}

.top10 {
	margin-top: 10px;
}

.top15 {
	margin-top: 15px;
}

.top20 {
	margin-top: 20px;
}

.top25 {
	margin-top: 25px;
}

.top30 {
	margin-top: 30px;
}

.w100 {
	width: 100%;
}

.w98 {
	width: 98%;
}

.fadein,
.fadeout {
	-webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .25s;
	-moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .25s;
	-o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .25s;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) .25s;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
	opacity: 0;
	display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
	display: block !important;
}

@media only screen and (max-width : 1250px) {
	html div.navbar div.navbar-inner div.container form.navbar-search input.search-query  {
		width: 100px;
	}
}



%{
themeSettings = controllers.administration.ThemeSettings.getThemeSettings();
if(themeSettings == null) {
throw new play.exceptions.UnexpectedException("could not load theme settings. they are null.");
}

}%


#{if themeSettings.contains('themeStyle')}
@themeStyle: ${themeSettings.getString('themeStyle')};
#{/}#{else}
@themeStyle: dark;
#{/}


div.navbar {
	.innovation-icon {
		display: block;
		margin-top: -10px;
		width: 25px;
		height: 40px;
		background-repeat: no-repeat;
		background-position: center 7px;
		position: relative;
	}

	ul.navbar-ideas {
		max-height: 500px;
		width: 300px;
		overflow: auto;

		span.likes-dislikes {
			position: absolute;
			right: 10px;
			top: 6px;
		}

		span.blocking {
			display: block;
		}

		li {
			position: relative;
		}
		li.ideaItem {
			border-bottom: 1px solid #e5e5e5;
		}
	  	li>a:hover * {
		  &:not(p) {
			color: rgb(187, 187, 187);
		  }
		}

		li.ideaItem:last-child {
			border-bottom: none;
		}

		.idea {
			display: inline-block;
			font-size: 11px;
			line-height: 14px;
			font-weight: bold;
			white-space: nowrap;
			text-overflow: ellipsis;
			padding-top: 2px;
			width: 100%;

			a {
				padding: 3px 10px;
			}

			span {
				&.btn {
					margin-right: 5px;
				}
				margin-right: 1px;
			  	text-shadow: none;
			  &.status-new {
				background-color:  rgb(153, 204, 255);
				color: darken(rgb(153, 204, 255), 30%);
			  }

			  &.status-accepted {
				background-color:  rgb(178, 219, 154);
				color: darken(rgb(178, 219, 154), 35%);
			  }

			  &.status-audit {
				background-color:  rgb(255, 230, 128);
				color: darken(rgb(255, 230, 128), 40%);
			  }

			  &.status-declined {
				background-color:  rgb(228, 153, 138);
				color: darken(rgb(228, 153, 13), 20%);
			  }
			}

			p {
				font-weight: bold;
				margin: 0;
			}
		}
	}
}

.styleInnoHub() when (@themeStyle = light) {
	.innovation-icon {
		background-image: url(../images/app/innoapp/navbar-innovation.png);
	}
}


.styleInnoHub() when (@themeStyle = dark) {
	.innovation-icon {
		background-image: url(../images/app/innoapp/navbar-innovation-white.png);
	}
}

.styleInnoHub();
