div.group.forum {
	ul {
		margin-bottom: 0;
		
		li {
			margin-bottom: 10px;
			line-height: 17px;
			
			> a {
				font-size: 12px;
			}
			
			span.label {
				display: inline-block;
				text-transform: uppercase;
				font-size: 9px;
				padding: 1px 3px 0 3px;
				vertical-align: text-top;
			}
			
		}
	}
}