div.group.wiki {
	ul {
		margin-bottom: 0;
		
		li {
			margin-bottom: 7px;
			padding-bottom: 7px;
			line-height: 18px;
			border-bottom: 1px solid #F0F0F0;
			
			> a {
				font-size: 12px;
			}
			
			span.label {
				display: inline-block;
				text-transform: uppercase;
				font-size: 9px;
				padding: 1px 3px 0 3px;
				vertical-align: text-top;
			}
			
			.infolink > a {
				font-size: 11px;
				text-decoration: none;
				color: #999;
			}
			
			&:last-child {
				margin-bottom: 0;
				border: 0;
			}
		}
	}
}