#{include 'stylesheets/mixins.less' /}

#fileBrowser {
	div.files-nav {
		display: block;
		background-color: #F9F9F9;
		.border-radius(3px);
		margin-bottom: 20px;
	
		div.files-nav-inner {
			margin-left: 0;
			
			a.btn:first-child {
				.border-radius(3px 0 0 3px);
				
				&.last {
					.border-radius(3px);
				}
			}
		
			a.last {
				.border-radius(0 3px 3px 0);
			}
		}
	}
	
	div.files-add {
		a.btn.dropdown-toggle {
			.border-radius(0 3px 3px 0);
		}
		
		+ div.files-options {
			a.btn.dropdown-toggle {
				.border-radius(3px 0 0 3px);
			}
		}
	}
	
	div.files-options {
		a.btn.dropdown-toggle {
			.border-radius(3px);
			
		}
	}
}

#files-table table {
	td {
		line-height: 26px;
	}
}

.popover {
	.preview-popover-wrapper {
		display: block;
		width: 250px;
		
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: -9999px top;
		
		&.loading {
			min-height: 50px;
			background-position: center center;	
		}
	}
	
	.preview-image img {
		max-width: 250px;
	}
	
	.preview-audio {
		.inline-playable {
			width: 215px;
		}
	}
}

#cmtree {
	li > a {
		background-image: none;
		padding-left: 0;
	}	
}

.truncate {
  max-width: 840px;
  display: block;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}