#{include 'stylesheets/mixins.less' /}

ul.rss {
	li {
		img {
			float: left;
			width: 150px;
			.border-radius(3px);
		}
		
		div.body {
			margin: 0;
		}
		
		img + div.body {
			margin-left: 160px;
		}
	}
}