#{include 'stylesheets/mixins.less' /}

div.rightbar div.group.tasks-rightbar {
	font-size: 12px;
	
	small.overdue {
		color: #800;
	}
	
	li{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#tasks {
	margin: -20px 0 -60px -20px;
	position: relative;
	
	div.tasks-lists-border {
		position: absolute;
		top: 0;
		left: 200px;
		width: 1px;
		height: 100%;
		background-color: #DDD;
		#gradient.vertical(#DDD, #FFF);
	}
	
	ul.tasks-lists {
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		height: 100%;
		min-height: 400px;
		margin: 0 20px 0 0;
		background-color: #FFF;
		#gradient.vertical(#F6F6F6, #FFF);
		
		li {
			position: relative;
			display: block;
			list-style: none;
			padding: 0;
			
			&.header {
				font-size: 13px;
				text-transform: uppercase;
				font-weight: bold;
				color: #BBB;
				text-shadow: 0 1px 0 #FFF;
				padding: 10px 7px 4px 10px;
			}
			
			&:LAST-CHILD {
				margin: 0;
			}
			
			&.dragover {
				a {
					background-color: #FFF;
					cursor: pointer;
				}
			}
			
			&.active a {
				#gradient > .vertical(#2371ae, #3699dd);
				@shadow: inset 0px 11px 3px -10px rgba(0,0,0,0.5), inset 0px -11px 3px -10px rgba(0,0,0,0.2);
				.box-shadow(@shadow);
				color: white;
				
				span.tasks-count {
					background-color: white !important;
					color: #2371ae;
				}
			}
			
			&.active a, &.active + li a {
				border-top: 1px solid #F6F6F6;
			}
			
			a {
				display: block;
				padding: 7px 5px 7px 10px;
				line-height: 16px;
				cursor: pointer;
				overflow: hidden;
				font-weight: bold;
				color: #404040;
				border-top: 1px dotted #CCC;
				
				&:hover {
					text-decoration: none;
				}
				
				&.add {
					color: #999;
					font-weight: normal;
				}
				
				span.tasks-count {
					float: right;
					font-size: 11px;
					padding: 3px;
					width: 12px;
					line-height: 1;
					text-align: center;
				}
			}
		}
	}
	
	div.tasks-body {
		margin-left: 220px; 
		padding-top: 20px;
		paddinb-bottom: 20px;
		
		form#task-new {
			padding-right: 30px;
			
			input.task-name {
				width: 100%;
			}
		}
		
		div.task-list-options {
			position: absolute;
			left: 220px;
			bottom: 10px;
		}
		
		div.tasks-container {
			padding-bottom: 40px; 
		}
	} 
	
	ul.tasks {
		margin: 0;
		padding: 0;
		list-style: none;
		
		&.tasks-completed {
			margin-top: 10px;
		}
		
		li.task {
			padding: 0 6px 0 48px;
			margin-bottom: 5px;
			height: 30px;
			line-height: 30px;
			background-color: #DDD;
			#gradient > .vertical(#F6F6F6,#EEE);
			.border-radius(5px);
			.box-shadow(0 1px 0 #DDD);
			cursor: default;
			position: relative;
			overflow: hidden;
			
			&.overdue {
				#gradient > .vertical(#FFEEE3,#FFE0D6);
				.box-shadow(0 1px 0 #CCC);
			}
			
			a.task-checkbox {
				border: 1px solid #a0a6ad;
				@shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 0 rgba(255,255,255,0.5);
				.box-shadow(@shadow);
				width: 12px;
				height: 12px;
				vertical-align: middle;
				.border-radius(2px);
				position: absolute;
                display: inline-block;
				top: 9px;
				left: 11px;
				cursor: pointer;
				
				i.icon-ok {
					position: absolute;
					top: -2px;
					left: -1px;
					display: none;
				}
				
				&:hover {
					.box-shadow(none);
					background-color: #AAA;
					border-color: #AAA;
				}
			}
			
			span.task-divider {
              border-right: 1px solid rgba(0,0,0,0.1);
              .box-shadow(1px 0 rgba(255,255,255,0.5));
				height: 100%;
				position: absolute;
				top: 0;
				left: 35px;
			}
			
			div.task-name-text {
				color: rgba(0,0,0,0.6);
				font-weight: bold;
				text-shadow: 0 1px 0 rgba(255,255,255,0.75);
				padding-right: 15px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			
			div.task-info {
				float: right;
				
				span.label, a.label {
					font-size: 11px;
					padding: 3px 7px;
					background-color: rgba(0,0,0,0.2);
					text-shadow: none;
					font-weight: normal;
					
					&.task-edit, &.task-delete {
						padding-top: 2px;
						&:hover { background-color: rgba(0,0,0,0.3); }
					}
				}
				
				.task-delete { display: none; }
			}
			
			input[type=text] {
				vertical-align: top;
				padding: 0;
				margin: 3px 0 0 0;
				font-size: 12px;
				background: transparent;
				border: 0;
				.box-shadow(none);
				color: #666;
				text-shadow: 0 1px 0 #FFF;
				height: 20px;
				width: 50%;
			}
			
			&.task-completed {
				#gradient > .vertical(#E9FFE9,#DDF6DD);
				
				a.task-checkbox {
					.box-shadow(none);
					background-color: #ACA;
					border-color: #ACA;
					
					i.icon-ok { display: inline; }
					
					&:hover {
						background-color: #888;
						border-color: #888;
					}
				}
				
				div.task-info {
					.task-edit {
						display: none;
					}
					
					.task-delete {
						display: inline-block;
					}
				}
			}
		}
	}
}