
#{include 'stylesheets/mixins.less' /}
a.link-add, a.link-remove {
	margin-bottom: 9px;
}

.loadLinks {
	margin:auto;
}

ul.linklist {
	li {
		margin-bottom: 15px;
		padding: 10px 10px;
		.border-radius(4px);
		background-color: #F9F9F9;
		cursor:move; 		
		
		.dropdown-edit-link {
			padding: 0px;
	   		margin: 0px;
				}	
					
		div {
			margin-top: -7px;
			border-top-left-radius: 0px;
				
			div.btn-group {
				
				a.btn {
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
					}
				}
				
				ul.dropdown-menu{
					min-width: 120px;
	
				a {
					background-color: #fff;		
					}
				}
			}
				
		ul.dropdown-edit{
			width: 40%;
			margin: 0px;
			}
			
		ul.li.a {
			display:inline;
			}
			
		p {
			border-bottom: 1px solid #EEE;
			margin-top: 2px;
			}
			
		a.title {
			display: inline;
			font-size: 16px;
			padding-bottom: 3px;
			margin-bottom: 3px;
			text-decoration: none;
						
				i.defaultIcon {
					margin-top: 4px;
					}
				}
				
		img {
			vertical-align: bottom;
			margin-bottom: 2px;
			height: 16px;
			width: 16px;
			}
			
		a.url {
			display: block;
			color: #999;
			}
		}
	}

#linklist-app-link-form {

	.loading {
		display: block;
		width: 32px;
		height: 32px;
		overflow: hidden;
		margin: 0 auto;
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -9999em;
	}	
	div.modal-body {
		div.control-group {
			div.controls {		
				padding-right:15px;
				#title, #description{
					width:100%;
				}
			}
			div.input-div {
				display: block;
				input.span6 {
					width: 88%;
				}
				input.invalid {
					border-color: rgba(167, 53, 53, 0.8);
					.box-shadow(0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(249, 6, 6, 0.8));
				}
			}
		}
	}
} 



#linklist-app-container {
	
	*, *:before, *:after {
		.box-sizing;
	}
	
	.loading{
		display: block;
		width: 32px;
		height: 32px;
		overflow: hidden;
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -9999em;
	}
	
	.linklist-topic-header {
		padding: 1px 15px;
		margin-bottom: 15px;
		border-bottom: solid 1px #eee;
		
		h4 {
			margin-bottom: 5px;
		}
		
		.linklist-topic-meta {
			float: right;
			font-size: 11px;
			margin-top: 7px;
		} 
		
	}
	
	/* 
	 * Fix for absolute positioning in table cells for FF 
	 * see: http://davidwalsh.name/table-cell-position-absolute
	 */
	table, tr {
		height: 100%;
	}
	
	td.linklist-topic-options {
		padding: 0;
	}
	
	.linklist-link-options > div, li{
		position: relative; 
		
	.div.btn-group {
			position: absolute;
			top: -2px;
			right: 10px;
			
			a.btn {
				padding: 2px 5px;
				.border-radius(0 4px);
			}
		}
	}
		
	.linklist-nav, .linklist-nav-footer {
		display: block;
		height: 30px;
		background-color: #F9F9F9;
		
		.pagination {
			display: inline-block;
			float: right;
			margin: 0;
			
			li a {
				cursor: pointer;
			}
		}
	}
}	
	