div.group.calendar {
	ul {
		li {
			margin-bottom: 10px;
			line-height: 17px;
			padding-left: 18px;
			position: relative;

			> i {
				position: absolute;
				top: 0;
				left: 0;
			}
			
			> a {
				font-size: 12px;
			}
		}
	}
}