html body {
	margin: 50px 20px 20px 20px;
}

h3 {
	margin-bottom: 15px;
}

div.weblink {
	img.weblink-thumb {
		float: left;
		width: 100px;
	}
	
	div.weblink-details {
		font-size: 12px;
		line-height: 18px;
	}
	
	div.weblink-details-thumb {
		margin-left: 110px;
	}
}

img.user-avatar.thumb {
	float: left;
}

form {
	margin-left: 60px;
	padding-right: 14px;
	
	textarea {
		width: 100%;
		height: 80px;
	}
	
	div.control-group {
		display: inline-block;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}