.files.files-styled {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	.border-radius(5px);
	background: #fff;
	padding: 4px 6px;
	border: 1px solid #ccc;
	.box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));
	margin-bottom: 10px;
	font-size: 12px;
	
	ul {
		list-style: none;
		margin: 0;
		
		li {
			height: 28px;
			line-height: 28px;
			border-bottom: 1px dashed #ddd;
			padding: 0 10px;
			color: #333;
			
			.close {
				line-height: 29px;
			}
			
			.progress {
				width: 150px;
				height: 10px;
				margin: 9px 0;
				float: right;
			}
			
			&:last-child {
				border-bottom: none;
			}
		}
	}
}