#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/mixins.less' /}

.popover-userchooser {
	max-width: 600px;
	width: 600px;
	z-index: 9999999;

	div.userchooser-list-wrapper {
		max-height: 320px;
		overflow: auto;
	
		ul.userchooser-list {
			display: block;
			padding: 0;
			margin: 0 0 0 -5px;
			list-style: none;
			min-height: 43px;

			background-image: url(../images/ajax-loader.gif);
			background-repeat: no-repeat;
			background-position: -9999px top;

			li {
				float: left;

				a.userchooser-user {
					position: relative;
					display: block;
					width: 275px;
					height: 38px;
					padding: 4px 4px 4px 45px;
					text-align: left;
					font-size: 11px;
					line-height: 28px;
					margin-bottom: 5px;
					margin-left: 5px;
					overflow: hidden;

					&.twolines {
						line-height: 14px;
					}

					&.btn-primary small {
						color: rgba(255,255,255,0.75);
					}

					small { display: block; }

					img.thumb {
						position: absolute;
						top: 0;
						left: 0;
						.border-radius(3px 0 0 3px);
						border-right: 1px solid rgba(0,0,0,0.2);
						width: 36px;
						height: 36px;
						margin-right: 5px;
					}
				}
			}
		}
	}

	&.loading div.userchooser-list-wrapper ul.userchooser-list {
		background-position: center 5px;
	}

	.popover-title {
		line-height: 22px;

		div.userchooser-options {
			input.search-query {
				position: absolute;
				top: 6px;
				right: 175px;
				width: 220px;
				height: 18px;
			}

			i.search-clear {
				position: absolute;
				top: 12px;
				right: 183px;
				opacity: 0.2;
				cursor: pointer;
				z-index: 99999;

				&:hover {
					opacity: 0.5;
				}
			}

			a.btn.userchooser-popover-close {
				height: 16px;
				line-height: 16px;
				padding: 3px 8px 4px 8px;
				margin-top: -3px;
			}
		}
	}

	.userchooser-empty {
		text-align: center;
		font-style: italic;
	}
}


/* General styles for new user chooser and option chooser (select2) introduced by list app */
.options-chooser, .user-chooser {

	width: 100%;

	&.select2-container, &.select2-container-multi {
		margin-bottom: 10px;
	}
		
	&.select2-container .select2-choice {
		height: 32px;
	}
	
	&.select2-container-multi .select2-choices .select2-search-field {
		height: 32px;
		
		input {
			font-family: @fontFamily;
		}
	}
	
	&.select2-container .select2-choice .select2-search-choice, &.select2-container-multi .select2-choices .select2-search-choice {
		font-family: @fontFamily;
		color: @linkColor;
		font-weight: bold;
		padding: 4px 20px 5px 5px;
		margin: 3px 0 3px 3px;
		border: 1px solid #ddd;
		
		background-color: #fcfcfc;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f6f6f6', GradientType=0);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fcfcfc), color-stop(100%, #f6f6f6));
		background-image: -webkit-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
		background-image: -moz-linear-gradient(top, #fcfcfc 0%, #f6f6f6 100%);
		background-image: linear-gradient(to top, #fcfcfc 0%, #f6f6f6 100%);
	}
	
	&.select2-container-multi .select2-search-choice-close {
		left: inherit;
	}
}

.user-chooser-result {
	height: 40px;
	
	img {
		float:left;
		width: 40px;
		.border-radius(3px);
		margin: 0 7px 0 -4px;
	}
	
	.department {
		text-transform: uppercase;
		font-size: 11px;
		color: #999;
	}
	
}

.select2-highlighted .user-chooser-result {
	.department {
		color: #ddd;
	}
}