#search {
	ul.search-typeahead {
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: -9999px;
		width: 400px;
		z-index: 5000;

		li.divider {
			margin: 0;
		}
		
		li.result {
			display: block;
			padding: 10px;
			height: 36px;
			word-wrap: break-word;
			line-height: 18px;
			overflow: hidden;
			text-overflow: ellipsis;
			cursor: pointer;
			
			&.hover { background-color: #F6F6F6; }
			
			div.body {
				margin-left: 43px;
				
				.name {
					padding-top: 1px;
					font-size: 12px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				
				small {
					color: #999;
					display: block;
					height: 15px;
					line-height: 13px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				
				.highlight {
					background-color: #FFFF88;
				}
			}
			
			> a.thumb-link, > img.thumb {
				display: inline;
				float: left;
				padding: 0;
				clear: none;
				line-height: 18px;
				margin-right: 8px;
				width: 35px;
				height: 35px;
				
				> img {
					width: 35px;
					height: 35px;
				}
				
				&:hover { background: transparent; }
			}
		}
		
		&.loading {
			min-height: 50px;
			background-position: center;
			
			> li { display: none !important; }
		}
		
		li.empty-msg {
			display: none;
			padding: 6px 15px;
			font-style: italic;
		}
		
		&.empty {
			li.permanent {
				display: none;
			}
			
			li.empty-msg {
				display: block;
			}
		}
	}
}

#search-full {
	background-image: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: -9999px;
	
	&.loading {
		min-height: 100px;
		background-position: center;
	}
	
	ul.search-results {
		padding: 0;
		margin: 0;
		list-style: none;
		border-top: 1px solid #EEE;
	
		> li > a {
			display: block;
			border-bottom: 1px solid #EEE;
			padding: 10px;
			min-height: 40px;
			
			&:hover {
				background-color: #F9F9F9;
				text-decoration: none;
			}
			
			img.thumb {
				width: 40px;
				height: 40px;
				.border-radius(3px);
				float: left;
			}
			
			.name {
				color: #404040;
			}
			
			.search-result-body {
				margin-left: 50px;
			}
			
			.highlight {
				background-color: #FFFF88;				
			}
		}
	}
}