img.workspace-avatar {
	width: 170px;
	.border-radius(3px);
	
	&.thumb {
		max-width: none;
		width: 50px;
		height: 50px;
	}
}

.page-header > h1 > i.icon.icon-workspaces {
	display: block;
	background-image: url(../images/icon-workspace.png);
}

#workspaces {
	.loading {
		display: block;
		width: 32px;
		height: 32px;
		overflow: hidden;
		margin: 0 auto;
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -9999em;
	}
}