.list-filter{
	margin-bottom: 20px;	

	select, .chzn-container{
		float:left;
		margin-bottom: 0;
	}
	
	.chzn-container {
		margin-top: 2px;
	}
	
	input {
		margin-bottom: 0;
		display:block;
		width: 100%;
    	.box-sizing(border-box);
    	height: 30px;
	}
	
	.chzn-container-single .chzn-search input {
		height: 30px;
	}

	input.list-filter-input-short {
		.border-radius(15px 3px 3px 15px);
		margin-right: 10px;
		float: left;
		width:520px;
		
		@media only screen and (min-width : 1250px) { width: 720px; }
		@media only screen and (min-width : 1450px) { width: 920px; }
	}
}