#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/mixins.less' /}

div.container {
	div.frame {
		padding-left: 0;
	}
}

div.navbar {
	ul.nav {
		> li.active {
			> a, > a:hover {
				background-color: @themeSecondaryColor;
			}
		}
	}
	
	.navbar-search {
		.search-query {
			background-color: @themeSecondaryColor;
		}
	}
}

div.page-header {
	h1 {
		float: left;
		overflow: hidden;
		white-space: nowrap;
	}
}