div.chzn-container {
	height: auto;
}

form {
	.btn {
		margin: 0;
		vertical-align: middle;
	}
}

select[size='1'] {
	height: 28px;
}

.alert {
	ul {
		margin-bottom: 0;
	}
}

div.tab-content {
	overflow: visible;
}

div.popover {
	h3 {
		margin: 0;
	}
}

.cke_dialog {
	input {
		height: 24px !important;
		font-size: 12px !important;
		margin: 0 !important;
		line-height: 16px !important;
	}
}

// Fix z-index issue for jQuery UI date picker
// see http://stackoverflow.com/questions/715677/trouble-with-jquery-dialog-and-datepicker-plugins
input.hasDatepicker {
  position: relative; 
  z-index: 1002;
}

// remove cleasr icon from IE10+ input fields
::-ms-clear {
    display: none;
}