#{include 'stylesheets/mixins.less' /}

div.flashes {
	div.alert {
		width: 200px;
		padding: 15px 20px 15px 55px;
		background-color: #333;
		text-shadow: none;
		border: 3px solid transparent;
		.border-radius(7px);
		.box-shadow(0 0 3px #555);
		color: white;
		cursor: pointer;
		position: fixed;
		z-index: 9999;
		top: 50px;
		right: 10px;
		background-repeat: no-repeat;
		background-position: 15px 10px;
		
		&.alert-success {
			background-image: url(../images/flash-success.png);
		}
		
		&.alert-error {
			background-image: url(../images/flash-error.png);
		}
		
		&:hover {
			border-color: white;
		}
		
		&.in {
			opacity: 0.8;
		}
		
		a.close {
			display: none;
		}
	}
}