div.translatable {
	min-height: 25px;
	position: relative;
	padding-top: 20px;
	
	.translatable-options {
		position: absolute;
		top: -3px;
		right: 0;
		
		> a.btn {
			.border-radius(20px 0 0 20px);
			padding-left: 10px;
		}
	}
}