#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/mixins.less' /}

form.conversation-create {
	div.userchooser a.userchooser-btn {
		
		margin-bottom: 10px;
	}
	
	textarea {
		min-height: 80px;
	}
}

img.conversation-avatar {
	width: 170px;
	.border-radius(3px);
	
	&.thumb {
		max-width: none;
		width: 50px;
		height: 50px;
	}
}

#chat {
	position: fixed;
	bottom: -10px;
	left: 0;
	padding: 0 0 0 20px;
	z-index: 1020;
	white-space: nowrap;
		
	div.chat-conversation {
		position: relative;
		display: inline-block;
		white-space: normal;
		
		.chat-wrapper {
			margin-right: 10px;
			width: 54px;
			.transition(all 0.4s ease-in-out);
			
			&.removing {
				opacity: 0;
				width: 0;
				margin-right: 0;
			}
		}
		
		@-webkit-keyframes slideIconUp {
			0% { -webkit-transform: translateY(50px); }
			100% { -webkit-transform: translateY(0px); }
        }
		
		@-ms-keyframes slideIconUp {
		    0% { -webkit-transform: translateY(50px); }
			100% { -webkit-transform: translateY(0px); }
		}
		@-moz-keyframes slideIconUp {
		    0% { -webkit-transform: translateY(50px); }
			100% { -webkit-transform: translateY(0px); }
		}
		@keyframes slideIconUp {
		    0% { -webkit-transform: translateY(50px); }
			100% { -webkit-transform: translateY(0px); }
		}
		
		-ms-animation-name: slideIconUp;
		-ms-animation-duration:0.4s;
		-moz-animation-name: slideIconUp;
		-moz-animation-duration:0.4s;
		-webkit-animation-name: slideIconUp;
		-webkit-animation-duration:0.4s;
		animation-name: slideIconUp;
		animation-duration:0.4s;
		
		.chat-open {
			width: 330px;
			
			div.chat-window {
				bottom: 25px;
			}
		}
		
		div.chat-icon {
			a.chat-thumb {
				display: block;
				.border-radius(50px);
				.box-shadow(0 0 4px #AAA);
				border: 2px solid white;
				width: 50px;
				height: 50px;
				.transition(border-color 0.4s);
				
				&:hover {
					.box-shadow(0 0 5px #777);	
				}
				
				&.ONLINE {
					border-color: #51a351;
				}
				
				&.OFFLINE {
					border-color: #E8E8E8;
				}
				
				&.AWAY {
					border-color: #fbb450;
				}

				&.BUSY {
				  border-color: rgb(51, 153, 255);
				  border-color: rgba(51, 153, 255, .5);
				}

			}
			
			div.loading-icon {
				position:absolute;
				bottom: 0;
				width: 50px;
				height: 50px;
				background-image: url(../images/ajax-loader.gif);
				background-repeat: no-repeat;
				background-position: center center;
			}
				
			span.chat-new-icon {
				display: inline-block;
				background-color: #C00;
				color: white;
				font-weight: bold;
				width: 20px;
				height: 20px;
				text-align: center;
				line-height: 20px;
				font-size: 11px;
				.border-radius(20px);
				
				position: absolute;
				top: 0;
				left: 35px;
			}
		}
		
		div.chat-window {
			position: absolute;
			bottom: -370px;
			left: 25px;
			z-index: 8000;
			.transition(bottom .3s ease-in-out);
			background-color: white;
			.box-shadow(1px 1px 6px 0 #BBB);
			.border-radius(3px);
			font-size: 12px;

			.chat-title {
				cursor: pointer;
				display: block;
				@shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.045) 0px 1px 2px 0px;
				.box-shadow(@shadow);
				#gradient.vertical(@secondaryButtonColor, @buttonColor);
				background-color: @buttonColor;
				color: white;
				padding: 3px 60px 3px 6px;
				.border-radius(3px 3px 0 0);
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 234px;
				
				.chat-options {
					position: absolute;
					right: 6px;
					top: 5px;
					i {
						float: left;
						margin-left: 3px;
					}

				}

			  	.chat-options-audio, .chat-options-video {
					i {
						margin-left: 2px;
						margin-top: 2px;
					}
				}
				
				.chat-options, .chat-options-video, .chat-options-audio {
					i {
						cursor: pointer;
						opacity: 0.75;
						&:hover {
							opacity: 1;
						}
					}
				}
			}
			
			div.loading-icon {
				position:absolute;
				top: 30;
				width: 300px;
				height: 50px;
				background-image: url(../images/ajax-loader.gif);
				background-repeat: no-repeat;
				background-position: center center;
				z-index:4000;
			}
			
			.conversation-form {
				margin-bottom:0px;
				
				textarea.form-message {
					position: relative;
					margin: 0;
					border: 0;
					padding-top: 8px;
					border-top: 1px solid #CCC;
					.box-shadow(none);
					.border-radius(0 0 3px 3px);
					font-size: 12px;
					width: 247px;
					display: block;
					line-height: 16px;
					height: 20px;
					resize: none;
					float:left;
					&.error-empty {
						border-color: fadeout(#C00, 20%);
						@shadow: inset 0 1px 1px rgba(200,0,0,0.075),0 0 8px fadeout(#C00, 50%);
						.box-shadow(@shadow);
					}
				}
				
				.files {
					box-sizing:border-box;
					width: 300px;
					background: #fff;
					padding: 4px 0px;
					border-top: 1px solid #ccc;
					margin-bottom: 0px;
					font-size: 11px;
					line-height: 16px;
					
					ul {
						list-style: none;
						margin: 0;
						max-height:200px;
						overflow-y:scroll;
						li {
							border-bottom: 1px dashed #ddd;
							padding: 6px;
							color: #555;
							position: relative;
							overflow:hidden;
							padding-right:25px;
							
							.close {
								position:absolute;
								right:0px;
								top:0px;
								padding-right:8px;
								line-height: 29px;
							}
							
							.progress {
								width: 150px;
								height: 10px;
								margin: 9px 0;
								float: right;
							}
							
							&:first-child { padding-top: 0; }
							&:last-child {
								border-bottom: none;
								padding-bottom: 0;
							}
						}
					}
				}
				
				input.submit {
					display: none;
				}
				
				.upload-trigger {				
					height: 33px;
					width:41px;
					border-top: 1px solid #CCC;
					background-image: url(../images/attachment-icon.png);
					background-repeat: no-repeat;
					background-position: center;
					float:left;
						
					&:hover {
						background-color: #DDD;
						border-color: #999;
					}
					
					&.ie {
						display: none;
					}
				}
				
				input[type=file] {
					float: left;
					width: 0;
					height: 0;
		
					&.ie {
						margin: 7px 7px 0 7px;			
						width: 200px;
						height: 28px;
						background: transparent;
					}
				}
			}
			
			div.chat-scrollable {
				overflow-y: scroll;
				overflow-x: hidden;
				height: 300px;
				width: 300px;
				border-top: 0;
				.border-radius(0 0 3px 3px);
				position: relative;
			
				ul.chat-stream {
					padding: 0;
					margin: 0;
					border: 0;
					border-top: 1px solid #EEE;
					bottom: 0;
					list-style: none;
					width: 100%;
					
					li.post {
						padding: 5px;
						min-height: 30px;
						border-bottom: 1px solid #EEE;
					
						&.me {
							background-color: #F6F6F6;
						}
					
						img.thumb {
							.border-radius(3px);
							width: 30px;
							height: 30px;
							margin-right: 5px;
							float: left;
						}
						
						.post-time {
							display: block;
							font-weight: bold;
							font-size: 11px;
						}
							
						div.post-body {
							margin-left: 35px;
							line-height: 12px;
							
							.post-message {
								margin-top: 0;
								margin-bottom: 0;
								line-height: 18px;
							}
							
							.post-author { display: none; }
						}
						
						.attachments {
							border-top: 1px dashed #EEE;
							.attachment {
								margin-right:10px;
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}	
	}
}

.dropdown-menu.messaging-items {
	width: 300px;
	
	li.divider {
		margin: 0;
	}
	
	li.item {
		position: relative;
		
		a {
			display: block;
			padding: 10px;
			height: 35px;
			overflow: hidden;
			
			img {
				float: left;
				width: 35px;
				height: 35px;
				margin-right: 8px;
				.border-radius(3px);
			}
			
			span.subject {
				display: inline-block;
				font-size: 12px;
				font-weight: bold;
				line-height: 16px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 190px;
				padding-top: 2px;
				
				small { font-weight: normal; }
			}
			
			span.badge {
				position: absolute;
				right: 10px;
				top: 18px;
			}
			
			&:hover {
				small { color: rgba(255,255,255,0.5); }
				
				span.badge {
					background-color: white;
					color: #0081c2;
				}
			}
			
			&.unread {
				background-color: #F3F3F3;
			}
		}
	}		
	
	li.item2 {
		position: relative;
		
		a {
			display: block;
			padding: 10px;
			color: #333;
			text-decoration: none;
			min-height: 40px;
			font-size: 11px;
			line-height: 14px;
			
			&.unread {
				background-color: #F3F3F3;
			}
			
			img {
				float: left;
				width: 40px;
				height: 40px;
				margin-right: 6px;
				.border-radius(3px);
			}
			
			span.subject {
				display: block;
				margin-top: 5px;
			}
			
			span.date-fuzzy {
				color: #bbb;
				display: block;
			}
			
			&:hover {
				color: #fff;
				text-decoration: none;
				background-color: #0081c2;
				#gradient.vertical(#08c,#0077b3);
			}
		}
		
		span.badge.badge-important {
			position: absolute;
			top: 20px;
			right: 10px;
			padding: 0;
			margin: 0;
			display: inline-block;
			background-color: #C00;
			color: white;
			font-weight: bold;
			width: 20px;
			height: 20px;
			text-align: center;
			line-height: 20px;
			font-size: 11px;
			.border-radius(20px);
		}
	}
	
}

.navbar .nav li.dropdown.messaging.open.active>.dropdown-toggle {
	background-color: rgba(255, 255, 255, 0.2);
}