#{include 'stylesheets/mixins.less' /}

.call-modal {

	.item-detail-info {
		.box-sizing;
		width: 100%;
		float: left;
		padding: 10px 20px;
		.border-radius(0 0 5px 5px);
		background-color: #f0f0f0;

		ul {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			align-items: center;
			justify-content: space-around;
			margin: 0;
		}

		li {
			font-size: 12px;
			color: #999;
			float: left;
			position: relative;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			i {
				opacity: 0.5;
			}
		}

		a {
			color: #999;
			font-size: 12px;
		}
	}

	.item-detail-content {
		.box-sizing;
		float: left;
		width: 100%;
	}

	.item-value {
		display: block;
		float: left;
	}

  	.call-details-fuzzy-date {
		font-size: 12px;
		color: #999;
		float: right;
  	}

  	.modal-summary-body {
	  	font-weight: bold;
	  	font-size: 15px;
	  	margin-bottom: 10px;
	}

  	.summary-content {
		white-space: pre;
  	}
}

.call-table {
  	td.show-call-row {
		width: 30px;
	  	padding-right: 0;
  	}

	.ng-table th.sortable.sort-desc, .ng-table th.sortable {
		background-color: transparent !important;
		text-shadow: none !important;
	}
	
	.call-status {
		width: 20px;
	}

	.btn-showcall-disabled {
	  	opacity: 0.3;
	}
	
	.call-participant {
		min-width: 150px;
	}
	
	.call-options {
		width: 30px;
		vertical-align: top;
	  	padding-left: 0;
	}
	
	.call-meta {
		
		.label {
			text-transform: uppercase;
		}
		
		.call-date {
			min-width: 100px;
			font-size: 11px;
			color: #999;
		}
	}
	
	.call-user {
		img {
			margin-right: 5px;
			height: 25px;
			.border-radius(4px);
		}
	}
	
	
	.no-items {
		overflow: visible;
		width: 100%;
		color: #999;
		font-style: italic;
		text-align: center;
	}	
	
}