div.comments {
  font-size: 11px;

  ul.attachments {
	border-top: 1px dashed #DDD;
	margin: 3px 0 0 0;
	padding: 5px 0 0 0;

	li.attachment {
	  line-height: 16px;
	  overflow: hidden;
	  float: left;
	  max-width: 100%;
	  margin-bottom: 3px;

	  &.attachment-link {
		&.thumb {
		  a.link-thumb {
			float: left;
			display: block;
			width: 100px;
			margin-bottom: 7px;
			position: relative;

			img {
			  width: 100%;
			}

			img.play {
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  margin-left: -15px;
			  margin-top: -11px;
			  height: 22px;
			  width: 30px;
			}
		  }

		  .details {
			margin-left: 108px;
		  }
		}

		.attachment-link-title {
		  font-weight: bold;

		  img {
			overflow: hidden;
			max-height: 16px;
			max-width: 16px;
		  }
		}

		.loading {
		  display: block;
		  width: 32px;
		  height: 32px;
		  overflow: hidden;
		  margin: 0 auto;
		  background-image: url(../images/ajax-loader.gif);
		  background-repeat: no-repeat;
		  background-position: center center;
		  text-indent: -9999em;
		}
	  }

	  .preview-image, .preview-pdf {
		float: left;
		display: inline-block;

		img {
		  max-width: 200px;
		  border: 1px solid #CCC;
		  .border-radius(2px);
		  .box-shadow();
		  margin-bottom: 3px;
		  margin-right: 3px;

		  &:hover {
			border-color: #999;
		  }
		}
	  }

	  .preview-pdf {
		img {
		  max-width: 100px;
		}
	  }

	  .preview-download {
		margin-right: 20px;
	  }

	  div.ui360 a.inline-playable {
		display: block;
		width: 400px;
		margin-right: 3px;
	  }
	}

	&.loading {
	  height: 17px;

	  background-image: url(../images/ajax-loader-small.gif);
	  background-repeat: no-repeat;
	  background-position: center;

	  li.attachment {
		display: none;
	  }
	}
  }

  .upload-trigger {
	height: 33px;
	width: 41px;
	border-top: 1px solid #CCC;
	background-image: url(../images/attachment-icon.png);
	background-repeat: no-repeat;
	background-position: center;
	float: left;

	&:hover {
	  background-color: #DDD;
	  border-color: #999;
	}

	&.ie {
	  display: none;
	}
  }

  a.comment-upload-trigger {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 24px;
	width: 30px;
	z-index: 1;
	background-repeat: no-repeat;
	background-position: center;

	&:hover {
	  background-color: #DDD;
	}

	&.ie {
	  display: none;
	}

	&.active {
	  background: #A9DBA9;
	  border-color: #46A546;

	  &:hover {
		background: #FFCCCC;
		border-color: #EE5F5B;
	  }
	}

	.appendix-bg {
	  padding: 0px 10px 5px 10px;
	  background-image: url(../images/attachment-icon.png);
	  background-repeat: no-repeat;
	  background-position: center;
	}
  }

  div.comments-expand {
	clear: both;
	position: relative;
	color: #444;
	background-color: #F5F5F5;
	border-bottom: 1px solid #E8E8E8;
	padding: 5px 6px;
	margin-bottom: 2px;
  }

  div.comment {
	clear: both;
	position: relative;
	color: #444;
	background-color: #F5F5F5;
	border-bottom: 1px solid #E8E8E8;
	padding: 5px 6px;
	margin-bottom: 2px;
	overflow: hidden;

	img.thumb {
	  float: left;
	  width: 35px;
	  height: 35px;
	  margin-right: 8px;
	}

	div.comment-body {
	  margin-left: 43px;
	  line-height: 16px;
	}

	a.comment-delete {
	  display: inline;
	  visibility: hidden;
	  float: right;
	  font-size: 18px;
	  color: #CCC;
	  text-decoration: none;

	  &:hover {
		color: #999;
	  }
	}

	&:hover a.comment-delete {
	  visibility: visible;
	}

	.likelist:BEFORE {
	  content: ' - ';
	}
	.likelist.empty:BEFORE {
	  display: none;
	}
  }
}

form.comment-form {
  background-color: #F5F5F5;
  border-bottom: 1px solid #E8E8E8;
  padding: 5px 6px 5px 6px;

  .progress {
	float: inherit;
  }

  div.input-wrapper {
	position: relative;
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding-right: 60px;

	textarea {
	  height: 26px;
	  font-size: 11px;
	  line-height: 14px;
	  height: 16px;
	  width: 100%;
	  resize: none;
	  overflow: hidden;
	  margin-bottom: 0;
	}
  }
}

.comment-inputs {
  ul {
	list-style: none;
	margin: 5px 0 0px 5px;

	li {
	  overflow: hidden;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  padding-right: 20px;
	  position: relative;
	}

	a {
	  position: absolute;
	  top: 0;
	  right: 0;
	}
  }
}