#{include 'stylesheets/mixins.less' /}

ul.apps, ul.app-widgets {
	li {
		display: block;
		width: 400px;
		margin-left: 20px;
		float: left;
		
		a {
			display: block;
			float: left;
			margin-right: 15px;
		}
		
		h4 {
			margin-top: 3px;
			margin-bottom: 5px;
			font-size: 16px;
			line-height: 18px;
		}
		
		p {
			margin: 0;
			font-size: 12px;
			line-height: 18px;
		}
	}
}

#modal ul.apps li {
	margin-left: 30px;
}

#app-widgets-create {
	.tabbable {
		.nav-tabs, .tab-content {
			min-height: 200px;
		}

		ul.app-widgets {
			> li {
				margin-left: 0;
				
				&.disabled {
					color: #999;
					
					a.thumbnail {
						box-shadow: none;
						border-color: #DDD;
						
						&:hover {
							box-shadow: none;
							border-color: #DDD;
						}
						
						img { opacity: 0.3; }
					}
				}
			}
		}		
	}
}

#app-widgets-rightbar {
	position: relative;
	
	.options-top, .options-bottom {
		display: none;
	}
	
	&.editmode {
		.options-top, .options-bottom {
			display: block;
			margin-left: 20px;
			width: 240px;
		}
		
		.widget {
			.widget-icon { display: block; }
			
			h4 {
				cursor: pointer;
			}
		}
	}
	
	.options-top {
		h5 {
			color: #AAA;
			text-align: center;
			text-transform: uppercase;
		}
	}
	
	.options-bottom {
		a.btn {
			margin-bottom: 10px;
		}
	}
	
	.widget {
		position: relative;
		
		&:last-child {
			margin-bottom: 10px;
		}
		
		.img-widget {
			height: 16px;
			width: 16px;
			margin-right: 3px;
			vertical-align: top;
			margin-top: 3px;
		}
		
		.a-widget {
			display: inline-block;
			width: 196px;
		}
		
		i.defaultIcon {
			margin-right: 5px;
			vertical-align: top;
			margin-top: 3px;
		}
	
		.widget-icon {
			display: none;
			position: absolute;
			background-color: #444;
			width: 20px;
			height: 20px;
			line-height: 22px;
			text-align: center;
			border: 2px solid white;
			.border-radius(20px);
			.box-shadow(0 0 3px #999);

			&:hover {
				background-color: #777;
			}
			
			&.widget-remove {
				top: 18px;
				right: -10px;
				background-color: #800;
				
				&:hover {
					background-color: #C00;
				}
			}
			
			&.widget-sort {
				top: -10px;
				right: -10px;
			}
		}
	}
}