span.smiley {
	background-image: url(../images/smileys.png);
	display: inline-block;
	text-indent: -9999px;
	vertical-align: top;
	margin-top: 1px;
}
.smiley-angel{ background-position: 0 0; width: 15px; height: 17px; } 
.smiley-angry{ background-position: 0 -21px; width: 15px; height: 15px; } 
.smiley-aww{ background-position: 0 -40px; width: 15px; height: 15px; } 
.smiley-blushing{ background-position: 0 -59px; width: 15px; height: 15px; } 
.smiley-confused{ background-position: 0 -78px; width: 15px; height: 15px; } 
.smiley-cool{ background-position: 0 -97px; width: 15px; height: 15px; } 
.smiley-creepy{ background-position: 0 -116px; width: 15px; height: 15px; } 
.smiley-crying{ background-position: 0 -135px; width: 15px; height: 15px; } 
.smiley-cthulhu{ background-position: 0 -154px; width: 15px; height: 16px; } 
.smiley-cute{ background-position: 0 -174px; width: 15px; height: 15px; } 
.smiley-cute_winking{ background-position: 0 -193px; width: 15px; height: 15px; } 
.smiley-devil{ background-position: 0 -212px; width: 15px; height: 17px; } 
.smiley-frowning{ background-position: 0 -233px; width: 15px; height: 15px; } 
.smiley-gasping{ background-position: 0 -252px; width: 15px; height: 15px; } 
.smiley-greedy{ background-position: 0 -271px; width: 15px; height: 15px; } 
.smiley-grinning{ background-position: 0 -290px; width: 15px; height: 15px; } 
.smiley-happy{ background-position: 0 -309px; width: 15px; height: 15px; } 
.smiley-happy_smiling{ background-position: 0 -328px; width: 15px; height: 15px; } 
.smiley-heart{ background-position: 0 -347px; width: 13px; height: 15px; } 
.smiley-irritated{ background-position: 0 -366px; width: 15px; height: 15px; } 
.smiley-irritated_2{ background-position: 0 -385px; width: 15px; height: 15px; } 
.smiley-kissing{ background-position: 0 -404px; width: 15px; height: 15px; } 
.smiley-laughing{ background-position: 0 -423px; width: 15px; height: 15px; } 
.smiley-lips_sealed{ background-position: 0 -442px; width: 15px; height: 15px; } 
.smiley-madness{ background-position: 0 -461px; width: 15px; height: 15px; } 
.smiley-malicious{ background-position: 0 -480px; width: 15px; height: 15px; } 
.smiley-naww{ background-position: 0 -499px; width: 15px; height: 15px; } 
.smiley-pouting{ background-position: 0 -518px; width: 15px; height: 15px; } 
.smiley-shy{ background-position: 0 -537px; width: 15px; height: 15px; } 
.smiley-sick{ background-position: 0 -556px; width: 15px; height: 15px; } 
.smiley-smiling{ background-position: 0 -575px; width: 15px; height: 15px; } 
.smiley-speechless{ background-position: 0 -594px; width: 15px; height: 15px; } 
.smiley-spiteful{ background-position: 0 -613px; width: 15px; height: 15px; } 
.smiley-stupid{ background-position: 0 -632px; width: 15px; height: 15px; } 
.smiley-surprised{ background-position: 0 -651px; width: 15px; height: 15px; } 
.smiley-surprised_2{ background-position: 0 -670px; width: 15px; height: 15px; } 
.smiley-terrified{ background-position: 0 -689px; width: 15px; height: 15px; } 
.smiley-thumbs_down{ background-position: 0 -708px; width: 12px; height: 14px; } 
.smiley-thumbs_up{ background-position: 0 -726px; width: 12px; height: 14px; } 
.smiley-tired{ background-position: 0 -744px; width: 15px; height: 15px; } 
.smiley-tongue_out{ background-position: 0 -763px; width: 15px; height: 15px; } 
.smiley-tongue_out_laughing{ background-position: 0 -782px; width: 15px; height: 15px; } 
.smiley-tongue_out_left{ background-position: 0 -801px; width: 15px; height: 15px; } 
.smiley-tongue_out_up{ background-position: 0 -820px; width: 15px; height: 15px; } 
.smiley-tongue_out_up_left{ background-position: 0 -839px; width: 15px; height: 15px; } 
.smiley-unsure{ background-position: 0 -858px; width: 15px; height: 15px; } 
.smiley-unsure_2{ background-position: 0 -877px; width: 15px; height: 15px; } 
.smiley-winking{ background-position: 0 -896px; width: 15px; height: 15px; } 
.smiley-winking_grinning{ background-position: 0 -915px; width: 15px; height: 15px; } 
.smiley-winking_tongue_out{ background-position: 0 -934px; width: 15px; height: 15px; } 


/*
span.smiley {
	background-image: url(../images/smileys.png);
	display: inline-block;
	text-indent: -9999px;
	vertical-align: bottom;
	width: 16px;
	height: 18px;
}
span.smiley-agape{ background-position: 0 0; } 
span.smiley-angry{ background-position: 0 -20px; } 
span.smiley-asleep{ background-position: 0 -40px; } 
span.smiley-asleep_2{ background-position: 0 -60px; } 
span.smiley-bashful{ background-position: 0 -80px; } 
span.smiley-bashful_cute{ background-position: 0 -100px; } 
span.smiley-bashful_cute_2{ background-position: 0 -120px; } 
span.smiley-big_grin{ background-position: 0 -140px; } 
span.smiley-big_grin_evil{ background-position: 0 -160px; } 
span.smiley-big_grin_squint{ background-position: 0 -180px; } 
span.smiley-big_grin_wink{ background-position: 0 -200px; } 
span.smiley-bored{ background-position: 0 -220px; } 
span.smiley-confused{ background-position: 0 -240px; } 
span.smiley-crying{ background-position: 0 -260px; } 
span.smiley-dead{ background-position: 0 -280px; } 
span.smiley-delicious{ background-position: 0 -300px; } 
span.smiley-dont_cry{ background-position: 0 -320px; } 
span.smiley-evil{ background-position: 0 -340px; } 
span.smiley-evil_grin{ background-position: 0 -360px; } 
span.smiley-evil_invert{ background-position: 0 -380px; } 
span.smiley-frown{ background-position: 0 -400px; } 
span.smiley-grin{ background-position: 0 -420px; } 
span.smiley-impatient{ background-position: 0 -440px; } 
span.smiley-inlove{ background-position: 0 -460px; } 
span.smiley-kiss{ background-position: 0 -480px; } 
span.smiley-little_laugh{ background-position: 0 -500px; } 
span.smiley-mad{ background-position: 0 -520px; } 
span.smiley-nerdy{ background-position: 0 -540px; } 
span.smiley-not_entertained{ background-position: 0 -560px; } 
span.smiley-not_even{ background-position: 0 -580px; } 
span.smiley-oh_rly{ background-position: 0 -600px; } 
span.smiley-sarcasm{ background-position: 0 -620px; } 
span.smiley-shocked{ background-position: 0 -640px; } 
span.smiley-sick{ background-position: 0 -660px; } 
span.smiley-silly{ background-position: 0 -680px; } 
span.smiley-sing{ background-position: 0 -700px; } 
span.smiley-smile{ background-position: 0 -720px; } 
span.smiley-smitten{ background-position: 0 -740px; } 
span.smiley-smug{ background-position: 0 -760px; } 
span.smiley-sour{ background-position: 0 -780px; } 
span.smiley-stress{ background-position: 0 -800px; } 
span.smiley-sunglasses_1{ background-position: 0 -820px; } 
span.smiley-sunglasses_2{ background-position: 0 -840px; } 
span.smiley-sunglasses_3{ background-position: 0 -860px; } 
span.smiley-tongue{ background-position: 0 -880px; } 
span.smiley-whistle{ background-position: 0 -900px; } 
span.smiley-wink{ background-position: 0 -920px; } 
span.smiley-wink_tongue{ background-position: 0 -940px; } 
span.smiley-yawn{ background-position: 0 -960px; } 
span.smiley-zipped{ background-position: 0 -980px; }
*/