img.user-avatar {
	width: 165px;
	.border-radius(3px);
	
	&.thumb {
		max-width: none;
		width: 50px;
		height: 50px;
	}
}

.page-header > h1 > i.icon.icon-users {
	display: block;
	background-image: url(../images/icon-user.png);
}