.required:after {
	content:" *";
	position: relative;
	top: -3px;
	font-size: 12px;	
	color: @themeBaseColor;
}

.list-nav {
	display: block;
	height: 30px;
	background-color: #F9F9F9;
	.border-radius(3px);
	margin: 25px 0;
	
	.icon-filter {
		margin-top: 3px;
	}
}

.dropdown-menu {
	z-index: 99999;
}
		
.date-field {
	.dropdown-menu {
		position: relative;
		top: 0px !important;
		padding: 5px 5px 5px 4px;
	}
	input[type="date"] {
		height: 30px !important;
		margin-bottom: 10px;
	}
}

.show-newline {
	white-space:pre-wrap;
}

.input-field-wrapper {
	display: inline;
}

#list-app-create-field {

	.thumbnails {
		columns: 440px 2;
		-moz-columns: 440px 2;
		-webkit-columns: 440px 2;
	}
	
	.list-app-field-thumb {
		display: block;
		margin: 0;
		width: 90px;
		height: 85px;
		background: #fff no-repeat center center;
		&.TEXT {
			background-image: url(../images/list-form-fields/text.png);
		}
		&.DATE {
			background-image: url(../images/list-form-fields/date.png);
		}
		&.BOOLEAN {
			background-image: url(../images/list-form-fields/boolean.png);
		}
		&.OPTIONS {
			background-image: url(../images/list-form-fields/options.png);
		}
		&.USER {
			background-image: url(../images/list-form-fields/user.png);
		}
		&.FILE {
			background-image: url(../images/list-form-fields/file.png);
		}
		&.NUMBER {
			background-image: url(../images/list-form-fields/number.png);
		}
		&.LINK {
			background-image: url(../images/list-form-fields/link.png);
		}
	}
}

#list-app-edit-field-form {
	
	.field-entry-content {
		float: left;
		width: 100%;
		
		.field-settings, .field-properties {
			float: left;
			width: 50%;
		}
	}
}

#list-configuration {
	
	.list-configuration-content {
		margin: 25px 0;
	}
	
	ul.list-form-fields {
	
		li {
			position: relative;
			border: 1px solid #DDD;
			.border-radius(5px);
			margin-bottom: 3px;
			padding-left: 10px;
			font-weight: bold;
			background-color: #FFF;
			
			&:hover {
				background-color: #F8F8F8;
				cursor: move;
			}
			
			.field-icon {
				width: 16px;
				height: 16px;
				background: transparent url(../images/list-form-fields/text-icon.png) no-repeat center center;
				&.TEXT {
					background-image: url(../images/list-form-fields/text-icon.png);
				}
				&.DATE {
					background-image: url(../images/list-form-fields/date-icon.png);
				}
				&.BOOLEAN {
					background-image: url(../images/list-form-fields/boolean-icon.png);
				}
				&.OPTIONS {
					background-image: url(../images/list-form-fields/options-icon.png);
				}
				&.USER {
					background-image: url(../images/list-form-fields/user-icon.png);
				}
				&.FILE {
					background-image: url(../images/list-form-fields/file-icon.png);
				}
				&.NUMBER {
					background-image: url(../images/list-form-fields/number-icon.png);
				}
				&.LINK {
					background-image: url(../images/list-form-fields/link-icon.png);
				}
			}
			
			.field-name {
				position: absolute;
				left: 34px;
				bottom: 8px;
			}
			
			.field-actions {
				display: block;
				position: absolute;
				right: 5px;
				top: 6px;
				width: 60px;
				height: 16px;
			}
			
		}
		
	}
	
}


#list-app-overview {

	table th {
		position: relative;
		padding-right: 26px;
	
		&:hover {
			cursor: pointer;
		}
	
		&.options-header {
			width: 60px;
			min-width: 60px;
			max-width: 60px;
			padding-right: 8px;
		}
		
		span.caret {
			position: absolute;
			bottom: 16px;
			right: 12px;
		}
		
	}

	table div.item-options {
		position: relative;
		margin-top: -10px;
		height: 15px;
		width: 60px;
	}
	
	table button.item-options-mobile {
		display: none;
	}
	
	.loading {
		display: block;
		width: 32px;
		height: 32px;
		overflow: hidden;
		margin: 0 auto;
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -9999em;
	}
	
	.alert {
		margin-top: 25px;
	}

}

#list-app-new-item-form {
	*, *:before, *:after {
		.box-sizing;
	}
	
	.input-prepend {
		width: 100%;
		
		.add-on {
			width: 6%;
			height: 32px;
			min-height: 32px;
			line-height: 25px;
		}
		
		input[type=text], input[type=date], input[type=number], input[type=url], select {
			width: 94%;
		}
	}
	
	input[type=text], input[type=date], input[type=number], input[type=url], select {
		min-height: 32px;
		height: 32px;
		width: 100%;
	}
	
	.select2-container {
		width: 100%;
	}
	
	.userfield-control-group {
		margin-bottom: 12px;
		
		ul > li.select2-search-field > input[type=text] {
			height: inherit;
		}
		
	}
	
	select[multiple] {
		height: auto;
	}
	
	textarea {
		min-height: 6em;
		height: 6em;
		width: 100%;
	}
	
	.file-chooser-container {
		margin-bottom: 10px;
	}
	
	.files {
		width: 100%;
		.box-sizing();
		.border-radius(4px);
		border: 1px solid #ddd;
		padding: 0 4px;
		margin-bottom: 10px;
		font-size: 11px;
		line-height: 16px;
		
		ul {
			list-style: none;
			margin: 0;
			
			li {
				border-bottom: 1px dashed #ddd;
				padding: 6px;
				color: #555;
				position: relative;
				overflow: hidden;
				padding-right:25px;
				
				.close {
					position: absolute;
					right: 0px;
					top: 0px;
					padding-right: 8px;
					line-height: 29px;
				}
				
				.progress {
					width: 150px;
					height: 10px;
					margin: 9px 0;
					float: right;
				}
				
				&:last-child {
					border-bottom: none;
				}
			}
		}
	}
	
}

#item-detail-view {
	
	.item-detail-info {
		.box-sizing;
		width: 100%;
		float: left;
		padding: 10px 20px;
		.border-radius(0 0 5px 5px);
		background-color: #f0f0f0;
		
		ul {
			display: -webkit-box;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    align-items: center;
		    justify-content: space-around;
		    margin: 0;
		}
		
		li {
			font-size: 12px;
			color: #999;
			float: left;
			position: relative;
			margin-right: 20px;
			
			&:last-child {
				margin-right: 0;
			}
			
			i {
				opacity: 0.5;
			}
		}
		
		a {
			color: #999;
			font-size: 12px;
		}
	}
	
	.item-detail-content {
		.box-sizing;
		float: left;
		width: 100%;
	}

	.field-item-container {
		float: left;
		padding: 2px;
		margin: 2px 0;
		width: 100%;
		
		&.stripe {
			background-color: #F9F9F9;
		}
	}
	
	.item-label {
		display: block;
		width: 30%;
		float: left;
		padding-right: 5px;
		text-align: right;
		font-weight: bold;
	}
	
	.item-value {
		display: block;
		width: 60%;
		float: left;
	}
	
}


/*
 * Attachments
 */
#item-detail-view, #list-app-overview {
	ul.unstyled.attachments {
		margin: 0;
		.preview-image, .preview-pdf {
			display: block;
			width: 120px;
			float: left;
			margin-right: 5px;
		}
		
		audio, canvas, video {
			max-width: 100%;
		}
	}
}