input[type=submit].hide {
	display: inline-block;
	width: 0;
	height: 0;
	border: 0;
	background: transparent;
	padding: 0;
}

div#ui-datepicker-div {
	.box-shadow(0 1px 10px rgba(0,0,0,.25));
}


div.control-group {
	div.chzn-container {
		display: block;
		margin-bottom: 5px;
	}

	p.help-block {
		font-size: 12px;
		color: #999;
	}
}

textarea.editor {
	height: 400px;
}

form.form-stacked div.control-group {
	> label {
		font-weight: bold;
	}
}