#{include 'stylesheets/layout.config.less' /}

@font-face {
	font-family:"Open Sans";
	src:url("../fonts/OpenSans-Regular-webfont.eot");
	src:url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), 
		url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
		url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
		url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
	font-weight:400;
	font-style:normal
}
@font-face {
	font-family:"Open Sans";
	src:url("../fonts/OpenSans-Semibold-webfont.eot");
	src:url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"),
		url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"),
		url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
	font-weight:bold;
	font-style:normal
}

body {
	font-family: @fontFamily;
	font-size: 13px;
	color: @textColor;
}

a {
	color: @linkColor;
	
	&:hover, &:focus {
		color: @secondaryLinkColor;
	}
}

a:not(.btn,.label,.badge,.dropdown-menu li a) {
	&:visited, &:active {
		color: @linkColor;
	}
}

label, input, button, select, textarea {
	font-size: 13px;
	font-family: @fontFamily;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	font-size: 13px;
	font-family: @fontFamily;
}

.btn-group {
	> .btn, > .dropdown-menu {
		font-size: 13px;
	}
	
	> .btn-mini {
		font-size: 11px;
	}
}

.btn {
	font-size: 13px;
	
	&.btn-mini {
		font-weight: bold;
		font-size: 11px;
	}
	
	&.btn-large {
		font-size: 17px;
	}
}

small {
	font-size: 11px;
	color: #999;
}

.light {
	color: #999;
}

a.small {
	font-size: 11px;
}

h3 {
	font-size: 20px;
	line-height: 26px;
	border-bottom: 1px solid #EEE;
	margin-bottom: 10px;
}

center, .no-content, .emptyMessage {
	color: #999;
	font-style: italic;
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}