.blog-app {
	.blog-nav {
		background-color: #F6F6F6;
		.border-radius(4px);
		margin-bottom: 30px;
	}
	
	div.blog-article {
		padding: 20px;
		.border-radius();
		margin-bottom: 20px;
		border: 1px solid #DDD;
		border-bottom: 1px solid #CCC;
		
		.blog-teaserimage {
			float: left;
			margin: 5px 15px 8px 0;
			
			img { .border-radius(3px); }
		}
		
		.blog-teasertext {
			font-weight: bold;
		}
		
		a.blog-teaser-link {
			    margin-top: 10px;
		}
		
		.blog-teaser-wrapper {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #EEE;
		}
		
		div.blog-article-titlebar {
			.border-radius(5px 5px 0 0);
			margin: -20px -20px 20px -20px;
			padding: 10px 20px;
			background-color: whiteSmoke;
			border-bottom: 1px solid #F0F0F0;
			
			.blog-article-title {
				display: block;
				color: #404040;
				text-shadow: 0 1px 0 white;
				text-decoration: none;
				font-size: 24px;
				line-height: 24px; 
				font-weight: normal;
				margin: 8px 0; 
				
				&:hover {
					color: #222;
				}
			}
			
			.blog-article-info {
				margin: 0;
				padding: 0;
				list-style: none;
				font-size: 12px;
				font-weight: normal;
				color: #999;
				
				li { display: inline-block; margin-right: 15px; }
				a { color: #999; }
				i { margin-right: 2px; opacity: 0.5; }
			}
			
			div.options {
				line-height: 35px;
			}
		}
		
		&.unpublished div.blog-article-titlebar {
			background-color: #FFF6E6;
		}
		
		div.blog-article-footer {
			font-size: 12px;
			color: #999;
			border-top: 1px solid #F0F0F0;
			margin: 10px -20px -20px -20px;
			.border-radius(0 0 5px 5px);
			padding: 10px 20px;
		}
		
		div.blog-comments {
			
		}
		
		.likelist {
			&:BEFORE {
				content: ' - ';
			}
			
			&.empty {
				&:BEFORE {
					content: '';
				}
			}
		}
	}
}