.carousel {
	display: none;
	background: #000;
	border-radius: 5px 5px 0 0;
	
	a {
		color: white;
		text-transform: uppercase;
		font-weight: lighter;
	}
	
	.item img {
		width: auto;
		height: 300px;
		max-height: 300px;
		margin: 0 auto;
	}
	
	.carousel-caption {
		padding: 12px 15px;
		background: rgba(0, 0, 0, 0.5);
	}
	
	.carousel-caption > p {
		opacity: 0.7;
	}
	
	.carousel-control {
		top: 50%;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
	}
	
	.carousel-inner > .item {
		height: 320px;
	}
	
	.carousel-inner {
		border-radius: 5px 5px 0 0;
	}
}

.teaser-carousel {
	.input-default {
		margin-right: 10px;
	}
	
	.options {
		.input-append, .input-prepend {
			margin-bottom: 0px;
		}
	}
	
	.teaser-table {
		margin-top: 20px;
	}
	
	.animate-show.ng-hide-add {
		animation:0.5s easeOut ease;
	}
	
	.animate-show.ng-hide-remove {
		animation:0.5s easeIn ease;
	}
	
	@keyframes easeOut {
		0% {
			opacity: 1;
		}
		
		100% {
			opacity: 0;
		}
	}
	
	@keyframes easeIn {
		0% {
			opacity: 0;
		}
		
		100% {
			opacity: 1;
		}
	}
	
	.table {
		width: 100%;
	}
	
	.icon-teaser-table {
		margin: 2px 0px 0px 7px;
	}
	
	.teaser-image-current {
		margin-bottom: 20px;
	}
	
	.teaser-image {
		width: 160px;
		height: 90px;
		max-height: 90px;
		overflow: hidden;
	}
	
	div.teaserModalBody {
		input:not(.externalLink), textarea:not(.externalLink) {
			width: 100%;
			min-height: 32px;
			.box-sizing(border-box);
		}
	}
	
	.teaser-nav {
		display: block;
		height: 30px;
		background-color: #F9F9F9;
		.border-radius(3px);
		margin-bottom: 20px;
	}
	
	ul.teaser-list {
		list-style: none;
		margin: 0;
		display: block;
		-webkit-margin-before: 0;
	 	-webkit-margin-after: 0;
	 	-webkit-padding-start: 0;
		
		li.teaser-entry-list {
			box-sizing: border-box;
			background-color: #fff;
			border: 1px solid #ddd;
			.border-radius(5px);
			margin: 5px 0;
			padding: 5px 10px;
			width: 100%;
		}
		
		div.teaser-entry:not(:last-child) {
			margin: 5px 10px 5px 0px;
		}
		
		div.teaser-entry-title {
			font-weight: bold;
		}
		
		div.teaser-entry-description {
			max-width: 550px;
		}
		
		div.teaser-entry-created {
			color: #999;
		}
		
		div.teaser-delete:hover, div.teaser-entry-state:hover {
			.label, badge {
				opacity: 0.8;
			}
		}
	}
	
	/* files chooser */
	#teaser-form {
		
		.file-chooser-container {
			width: 75%;
			margin-bottom: 10px;
		}
		
		.files {
			width: 100%;
			.box-sizing();
			.border-radius(4px);
			border: 1px solid #ddd;
			padding: 0 4px;
			margin-bottom: 10px;
			font-size: 11px;
			line-height: 16px;
			background-color: #fff;
			
			ul {
				list-style: none;
				margin: 0;
				
				li {
					border-bottom: 1px dashed #ddd;
					padding: 6px;
					color: #555;
					position: relative;
					overflow: hidden;
					padding-right:25px;
					
					.close {
						position: absolute;
						right: 0px;
						top: 0px;
						padding-right: 8px;
						line-height: 29px;
					}
					
					.progress {
						width: 150px;
						height: 10px;
						margin: 9px 0;
						float: right;
					}
					
					&:last-child {
						border-bottom: none;
					}
				}
			}
		}
	}
}