.modal {
	overflow: visible;
	outline:0;

	.modal-body {
		max-height: 360px;
		@media only screen and (min-height : 600px) { max-height: 400px; }
		@media only screen and (min-height : 700px) { max-height: 500px; }
		@media only screen and (min-height : 800px) { max-height: 500px; }
		@media only screen and (min-height : 900px) { max-height: 600px; }
		@media only screen and (min-height : 1000px) { max-height: 700px; }
	}

	z-index: 10000;
	
	&.fade {
		top: -300px;
	}
	
	&.fade.in {
		top: 50px;
		@media only screen and (min-height : 800px) { top: 150px; }
		@media only screen and (min-height : 1200px) { top: 250px; }
	}

	form {
		margin: 0;
		
		&.form-stacked {
			padding-left: 0;
		
			div.actions {
				margin: 15px -15px -15px -15px;
				padding: 14px 15px 15px 15px;
			}
		}
		
		div.control-group {
			&:LAST-CHILD {
				margin-bottom: 0;
			}
		}
	}
	
	input.fullwidth, textarea.fullwidth {
		min-height: 3em;
		height: 3em;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	h3 {
		border: 0;
		margin-bottom: 0;
	}
	
	h5 {
		padding-bottom: 3px;
		margin-bottom: 10px;
		line-height: normal;
		border-bottom: 1px solid #EEE;
	}
	
	div.form-actions, .form-horizontal div.form-actions {
		margin: 15px -15px -15px -15px;
		padding: 14px 15px 15px;
		.border-radius(0 0 6px 6px);
		.box-shadow(inset 0 1px 0 #FFF);
		.clearfix();

		.btn {
			margin-left: 5px;
			float: right;
			
			&.left, &.pull-left {
				float: left;
			}
		}
		
		div.chzn-container {
			position: fixed;
		}
	}
	
	.xxlarge, .span100 {
		width: 516px;
	}
	
	&.large {
		width: 900px;
		margin-left: -450px;

		.xxlarge, .span100 {
			width: 856px;
		}
	}
	
	&.small {
		width: 400px;
		margin-left: -200px;
	}
	
	textarea {
		resize: none;
	}
	
	@media only screen and (max-width : 800px) {
		width: 100% !important;
		height: 100% !important;
		top: 0 !important;
		left: 0 !important;
		margin: 0 !important;
	}
}

#ui-datepicker-div {
	z-index: 10010 !important;
}