.webrtc-user-avatar {
	width: 50px;
	margin: 0 auto;
	img {
		.border-radius(4px);
	}
}

.webrtc-user-name {
	margin-top: 5px;
	text-align: center;
}

.webrtc-video-chat-header {
	height: 50px;
	
	.webrtc-user-name {
		display: inline-block;
		margin: 0 5px 0;
	}
	
	.webrtc-user-avatar {
		display: inline-block;
		margin: 0;
	}
}

.webrtc-modal-footer {
	.caret {
	  	margin-left: 5px !important;
	}

	.option {
	  	margin-top: 10px;
	}

  	.dropdown-menu {
	  	min-width: 0px;
	}
}

.webrtc-modal-body {
	
	*, *:before, *:after {
		.box-sizing;
	}
	
	textarea, input {
		width: 100%;
		min-height: 32px;
	}
	
	.select2-container {
		width: 100% !important;
	}
	
	.select2-choice {
		min-height: 32px;
	}
	
	.alert {
		margin: 0;
	}
	
	.loading {
		display: block;
		width: 32px;
		height: 32px;
		overflow: hidden;
		margin: 0 auto;
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -9999em;
	}

  	.loading-gap {
	  	margin-bottom: 10px;
	}

  	.missed-cancel-fuzzy-date {
	  	float: right;
	  	color: #999;
	  	font-size: 11px;
	}

  	.call-context-chooser {
	  	margin-bottom: 10px;
	}

	.caret {
	  	margin-left: 5px !important;
	}

	.btn-group.inline ul {
	  	min-width: 0px;
	}

	.choose-type img {
		margin-left: calc(~'50% - 45px');
		box-shadow: none;
		cursor: pointer;
		border: 1px solid #ddd;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
		box-shadow: 0 1px 3px rgba(0,0,0,0.055);

		&:hover {
			box-shadow: 0 1px 4px rgba(0,105,214,0.25);
			border-color: #76a735;
		}
	}
}

.webrtc-modal-video-chat {
	
	video {
		width: 100%;
		max-height: 405px;
	}
	
	.webrtc-video-container {
		position: relative;
		width: 60%;
		float: left;
	
		.webrtc-video-wrapper {
			overflow: hidden;
			height: 405px;
			max-height: 405px;
			background: #000;
			.border-radius(4px 0 0 4px);

		  	.webrtc-audio-muted {
				position: absolute;
				padding: 5px;
				background-color: rgba(200, 25, 25, 0.6);
				bottom: 44px;
				right: 10px;
				text-align: left;
				z-index: 1;
			}
		
			.webrtc-remote-disabled {
				position: absolute;
				height: 35px;
				line-height: 35px;
				width: 100%;
				top: 33%;
				color: #fff;
				text-align: center;
				z-index: 1;
				background: rgba(0,0,0,0.5);
			}
			
			.webrtc-disabled-avatar {
				height: 425px;
				margin: -10px;
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				.blur(3px);
			}
			
			.webrtc-local-video video {
				position: absolute;
				width: 160px;
				bottom: 44px;
				left: 10px;
			}
			
			.webrtc-remote-video {
				video {
					.border-radius(4px 0 0 4px);
				}
			}
		
		}
		
		.webrtc-video-footer {
			position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    height: 35px;
		    background-color: rgba(30, 30, 30, 0.5);
		    
		    .webrtc-call-with {
		    	display: inline-block;
		    	margin-left: 15px;
		    	line-height: 35px;
		    	color: #fff;
		    }
		    
		    .webrtc-video-controls {
		    	position: absolute;
		    	right: 10px;
		    	bottom: 0;
		    	
		    	a {
		    		padding: 8px 5px;
		    		height: 35px;
		    		display: inline-block;
		    		.box-sizing(border-box);
		    		
		    		&:hover {
		    			background-color: rgba(200, 200, 200, 0.25);
		    		}
		    	}
		    }
		}
	
	}
	
	.webrtc-notes-container {
		position: relative;
		float: right;
		width: 40%;
		height: 405px;
			
		.webrtc-notes-header {
			border-bottom: 1px solid #ddd;
    		padding: 15px;
    		
    		h4 {
    			display: inline-block;
    			padding: 0;
    			margin: 0
    		}
    		
    		.typing {
    			display: inline-block;
			    margin-left: 10px;
			    font-size: 12px;
			    line-height: 12px;
			    color: #aaa;
    		}
		}
		
		.webrtc-notes {
			textarea {
				width: 100%;
				.box-sizing(border-box);
				.box-shadow(none);
				height: 317px;
				padding: 15px;
				border-style: none; 
    			border-color: transparent; 
			}
		}
		
		.webrtc-hangup-button {
			display: block;
			width: 100%;
			color: #fff;
			background-color: @buttonColor;
			text-align: center;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 35px;
			line-height: 35px;
			.border-radius(0 0 4px 0);
			
			&:hover {
				text-decoration: none;
				background-color: lighten(@buttonColor, 5%);
			}
		}
	
	}
	
}