// stuff that overwrites bootstrap

// move icons up because of open sans font
.btn, .btn-group {
	i[class^="icon-"], i[class*=" icon-"] {
		margin-top: 2px;
	}
	
	&.btn-mini {
		i[class^="icon-"], i[class*=" icon-"] {
			margin-top: 1px;
		}
	} 
	
	&.btn-large {
		i[class^="icon-"], i[class*=" icon-"] {
			margin-top: 5px;
		}
	} 
}

span.label {
	display: inline-block;
}

select, input[type="file"] {
	height: auto;
	line-height: inherit;
}

.nav-tabs > .active > a > [class^="icon-"] {
	background-image: url("../img/glyphicons-halflings.png");
}

form fieldset legend {
	margin-bottom: 10px;
}

div.tooltip {
	line-height: 12px;
}

// add reverse caret
.caret.reverse {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}

// prevent background from scrolling when modal is open
body.modal-open {
	overflow: hidden;
}

// add large modal
.modal-large {
	width: 900px;
	margin-left: -450px;
}

// add small modal 
.modal-small {
	width: 300px;
	margin-left: -150px;
}

// add scrollable modal
.modal-scroll {
	max-height: 85%;
	overflow-x: auto!important;
}

form.form-stacked .form-horizontal div.control-group > label {
  font-weight: normal;
}

// add dropdown submenu opening on the left
.left-menu .dropdown-submenu > .dropdown-menu {
	left: -72%;
}

// tooltips need a high z-index. Otherwise they are not shown in modals
.tooltip {
    z-index: 2000 !important;
}

body.modal-open mentio-menu {
	z-index: 99999 !important
}