img.page-avatar {
	width: 170px;
	.border-radius(3px);
	
	&.thumb {
		max-width: none;
		width: 50px;
		height: 50px;
	}
}

.page-header > h1 > i.icon.icon-pages {
	display: block;
	background-image: url(../images/icon-page.png);
}