img.event-avatar {
	width: 170px;
	.border-radius(3px);
	
	&.thumb {
		max-width: none;
		width: 50px;
		height: 50px;
	}
}

.page-header > h1 > i.icon.icon-events {
	display: block;
	background-image: url(../images/icon-event.png);
}

div.event-popover {
	a.thumb-link {
		float: left;
	}

	div.event-popover-body {
		margin-left: 70px;
	}	
}