body {
	font: 11pt sans-serif;
	color: #000;
	background: #ffffff;
	padding: 0 10mm;
	margin: 0;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	page-break-after: avoid;
	font-weight: normal;
}

h1 {
	font-size: 22pt;
	font-weight: normal;
}

h2 {
	font-size: 20pt;
}

h3 {
	font-size: 17pt;
	border-bottom: 1px solid #EEE;
	margin-bottom: 5pt;
}

h4 {
	font-size: 15pt;
	font-weight: bold;
}

h5 {
	font-size: 12pt;
	font-weight: bold;
}

h6 {
	font-size: 11pt;
	font-weight: bold;
}

p {
	margin: 3mm 0;
}

pre {
	display: block;
	padding: 3mm;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}

table {
	font: 10pt sans-serif;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

table td {
	padding: 0.5mm;
	text-align: left;
	vertical-align: top;
	page-break-inside: avoid;
}

table th {
	text-align: left;
	vertical-align: top;
	page-break-inside: avoid;
}

.info {
	color: #aaa;
	font-size: 9pt;
	margin-top: -15px;
	border-bottom: 1px solid #EEE;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

img.no-img {
	border: 0.2mm #aaa solid;
	background: #EEE;
}