/* DATATABLES
------------------------------------------------------------*/
div.dataTables_top {
	padding: 14px;
	
	&.form-inline {
		label {
			margin: 0;
			font-weight: bold;
		}
	}
}

div.dataTables_wrapper {
	table.table {
		thead {
			th.nosort {
				background: none !important;
				cursor: default !important;
			}
		}
	}
}

/* TABLE
------------------------------------------------------------*/
table.table {
	tbody {
		td.lbl {
			font-weight: bold;
			
			&:after {
      			content: ':';
    		}
		}
		
		th.status {
			width: 5px;
		}
	
		td.status {
			background-color: #FFDDDD;
			width: 5px;
			padding: 0;
			margin: 0;
			&.active {
				background-color: #DDFFDD;
			}
		}
		
		td.options {
			width: 30px;
			text-align: center;
			vertical-align: middle;
			
			a.dropdown-toggle {
				display: block;
				float: left;
				width: 18px;
				height: 18px;
				margin: 0;
				padding: 0;
				opacity: 0.5;
				text-indent: -9999px;
				background-color: transparent;
				background-image: url(../images/options-icon.png);
				background-repeat: no-repeat;
				.box-shadow(none);
				
				&:hover {
					opacity: 1;
				}
			}
			
			ul {
				text-align: left;
			}
		}
	}
}



/* UL LIST
------------------------------------------------------------*/
ul.list {
	list-style: none;
	margin: 0;
	
	background-image: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: -9999px bottom;
	
	&.loading {
		padding-bottom: 50px;
		background-position: center bottom;
	}
	
	&.list-boxes {
		> li {
			display: block;
			min-height: 50px;
			#gradient.vertical(#FCFCFC, #F5F5F5);
			border: 1px solid #EEE;
			border-bottom-color: #CCC;
			margin-bottom: 12px;
			padding: 10px;
			.border-radius(3px);
			text-shadow: 0 1px 0 #FFF;
			
			&.unread {
				border: 1px solid @themeBaseColor;
			}
			
			.thumb {
				float: left;
				margin-right: 8px;
			}
			
			&:LAST-CHILD {
				border-bottom: 1px solid #CCC;
			}
			
			span.label {
				display: inline-block;
				margin-top: 3px;
				padding: 0 4px 1px;
				font-size: 11px;
			}
		}
	}
	
	> li {
		clear: both;
		padding: 10px 0 10px 0;
		border-bottom: 1px solid #F0F0F0;
		
		a.thumb-link {
			float: left;
		}
		
		div.body {
			margin-left: 58px;
		}
		
		small {
			display: block;
			line-height: 15px;
			
			&.inline {
				display: inline-block;
			}
			
			&.right {
				float: right;
			}
		}
		
		p {
			margin-top :5px;
		}
		
		&:LAST-CHILD {
			border-bottom: none;
		}
		
		div.options {
			float: right;
		}
	}
	
	&.compact > li {
		padding: 5px 0 5px 0;
	}
}

/* DL LIST
------------------------------------------------------------*/
dl.list {
	margin: 0px; padding: 0px;
	dt {
		width: 20%;
		display: inline-block;
		margin-right: 10px;
		vertical-align: top;
		&:after {
      		content: ':';
    	}
	}
	
	dd {
		width: 75%;
		display: inline-block;
		vertical-align: bottom;
	}
	
	dt,dd {
		margin-bottom: 5px;
	}
}

/* DROPDOWN ICONS
------------------------------------------------------------*/
ul.dropdown-menu {
	li.active > a, a:hover {
		i {
			background-image: url(../img/glyphicons-halflings-white.png);
		}
	}
}

/* MORE BUTTON
------------------------------------------------------------*/
a.more, a.more-colleagues, a.more-items {
	opacity: 0.3;
	color: #000;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	
	&:hover {
		opacity: 0.6;
	}
}

/* MISC
------------------------------------------------------------*/
a {
	cursor: pointer;
}

h3 {
	.options {
		float: right;
		margin-top: -6px;
	}
}

hr.spacer {
	background: transparent;
	border: 0;
}

hr.thin {
	margin: 5px 0;
}

hr.footer {
	margin-bottom: 3px;
}

div.well {
	.right {
		float: right;
	}
}

.center {
	margin-left: auto;
	margin-right: auto;
}

img.center {
	display: block;
}

.text-center, .table td.text-center, .table th.text-center {
	text-align: center;
}

a.center {
	display: block;
}

.pointer {
	cursor: pointer;
}

.hidden, .hide {
	display: none;
}

div.inline {
	display: inline-block;
}

ul.nav-tabs a.error {
	color: #B94A48;
}

.small {
	font-size: 75%;
}