div.media-room {
	div.media-nav {
		display: block;
		background-color: #F9F9F9;
		.border-radius(3px);
		margin-bottom: 20px;
	}
	
	div.media-collections, div.media-collection {
		ul > li {
			background-color: white;
		}
	
		ul > li > a {
			display: inline-block;
			width: 140px;
			min-height: 140px;
			position: relative;
			text-align: center;
			margin: 0;
			
			color: #999;
			font-size: 12px;
			
			&:hover { color: #404040; text-decoration: none; }
			
			> img {
				width: 140px;
				height: 140px;
			}
			
			> span.media-title {
				display: block;
				padding: 0;
				margin: 5px 0 0 0;
				text-overflow: ellipsis;
				white-space: nowrap;
				word-wrap: normal;
				overflow: hidden;
			}
			
			> span.badge {
				position: absolute;
				top: -6px;
				right: -6px;
			}
			
			
			&.loading {
				> img { visibility: hidden; }
				
				background-image: url(../images/ajax-loader.gif);
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		
		.loader {
			display: block;
			width: 32px;
			height: 32px;
			overflow: hidden;
			margin: 0 auto;
			background-image: url(../images/ajax-loader.gif);
			background-repeat: no-repeat;
			background-position: center center;
			text-indent: -9999em;
		}
	}
}

div.media-details-header {
	display: none;
}

div.media-details {
	height: 500px;
	overflow: hidden;
	
	div.media-preview-wrapper {
		position: relative;
		.border-radius(5px 0 0 5px);
		background-color: black;
		margin-right: 350px;
		height: 100%;
		
		div.media-preview {
			width: 100%;
			height: 100%;
		}
		
		div.media-photo-preview {
			width: 100%;
			height: 100%;
			
			.border-radius(5px 0 0 5px);
			
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			
			&.media-photo-preview-portrait { background-size: auto 100%; }
			&.media-photo-preview-landscape { background-size: 100% auto; }
		}
		
		a.media-nav {
			position: absolute;
			top: 50%;
			margin-top: -38px;
			display: block;
			width: 43px;
			height: 77px;
			background-repeat: no-repeat;
			background-position: center;
			
			opacity: 0;
			-webkit-transition: opacity 0.2s ease-in-out;
			-moz-transition: opacity 0.2s ease-in-out;
			-ms-transition: opacity 0.2s ease-in-out;
			-o-transition: opacity 0.2s ease-in-out;
			transition: opacity 0.2s ease-in-out;
			
			&:hover {
				opacity: 1 !important;
			}
			
			&.media-nav-next {
				background-image: url(../images/media-next.png);
				right: 20px;
			}
			
			&.media-nav-previous {
				background-image: url(../images/media-previous.png);
				left: 20px;
			}
		}
		
		&:hover a.media-nav {
			opacity: 0.5;
		}
	}
	
	div.media-sidebar {
		position: absolute;
		right: 0;
		top: 0;
		padding: 20px;
		width: 350px;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		
		div.media-title-wrapper {
			height: 26px;
			margin: 0 0 8px 0;
			position: relative;
			
			input.media-title, h4.media-title {
				width: 100%;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				border: 0;
				.box-shadow(none);
				font-size: 15px;
				font-weight: normal;
				height: 26px;
				line-height: 26px;
				padding: 0;
				margin: 0;
			}
			
			> i {
				position: absolute;
				top: 5px;
				right: 0;
				opacity: 0.5;
				&:hover { opacity: 1; }
				
				&.icon-ok {
					display: none;
				}
			}
			
			input.media-title:focus ~ i {
				opacity: 1;
			}
			
			input.media-title:focus ~ i.icon-pencil { display: none; }
			input.media-title:focus ~ i.icon-ok { display: block; }
		}
		
		div.likebar {
			font-size: 11px;
			background-color: #F5F5F5;
			border-bottom: 1px solid #E8E8E8;
			padding: 3px 5px;
			margin-bottom: 2px;
		}
		
		.btn-mini {
			margin-bottom: 3px;
		}
	}
	
	/* Custom Video Player Skin
	------------------------------------------------------- */
	.mejs-container .mejs-controls {
		background: transparent;
		
		.mejs-time-rail .mejs-time-loaded { background: #666; }
		.mejs-time-rail .mejs-time-current { background: #fff; }
		.mejs-time-rail .mejs-time-total.mejs-time-slider { background: #333; }
	}
}

/* MOBILE */
@media only screen and (max-width : 800px) {
	
	div.media-details-header {
		display: block;
	    height: 25px;
	    padding: 5px 7px 0 0;
	}

	div.media-details {
		height: 100%;
		overflow: scroll;
		
		div.media-preview-wrapper {
			height: 320px;
			margin: 0;
			.border-radius(0);
		}
		
		div.media-sidebar {
			position: relative;
			width: initial;
			height: initial;
		}
	}
}

div.post-share.media-collection, div.post-share.media {
	ul.thumbnails {
		margin: 5px 0 -15px 0;
		
		/* this overrides the bootstrap default */
		li {
			margin-right: 20px;
			margin-left: 0;
		}
	}
}