div.rightbar {
	div.group {
		margin-left: 20px;
		border: 1px solid #DDD;
		border-bottom: 1px solid #CCC;
		.border-radius(5px);
	
		font-size: 11px;
		padding: 10px 10px 0 10px;
		margin-bottom: 20px;
		color: #555;
		background-color: white;
		width: 218px;
		
		h4 {
			display: block;
			background-color: #F5F5F5;
			border-bottom: 1px solid #F0F0F0;
			.border-radius(5px 5px 0 0);
			margin: -10px -10px 10px -10px;
			padding: 0 10px;
			line-height: 34px;
			font-size: 13px;
			color: #999;
			text-shadow: 0 1px 0 #FFF;
			text-transform: uppercase;
			
			span.options {
				float: right;
				margin-top: -3px;
			}
		}
		
		dl.list {
			font-size: 12px;
			margin-bottom: 5px;
		
			dt {
				display: block;
				margin: 0;
				line-height: 18px;
				float:none;
				width:auto;
			}
			
			dd {
				display: block;
				width: auto;
				margin-left: 0;
				margin-top: 0;
				margin-bottom: 7px;
				line-height: 18px;
			}
		}
		
		div.alert {
			font-size: 12px;
			margin-bottom: 10px;
		}
		
		&.thumblist {
			padding-bottom: 4px;
			
			ul {
				li {
					float: left;
					height: 46px;
					margin: 0 1px;
					
					a {
						display: inline-block;
						width: 41px;
					
						img.thumb {
							width: 41px;
							height: 41px;
						}
					}
				}
			}
		}
		
		.emptyMessage {
			margin-bottom: 10px;
		}
	}
}