#{include 'stylesheets/mixins.less' /}
#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/layout.colors.less' /}
#{include 'stylesheets/layout.footer.less' /}

html {
	height: 100%;
	#gradient.radial(@themeSecondaryColor,@themeBaseColor);
	background-image: radial-gradient(circle, @themeSecondaryColor, @themeBaseColor);
	min-height: 600px;
}

body {
	background: transparent;
	.font();
}

.font() when (@themeStyle = dark) {
	color: white;
	text-shadow: 0 1px 0 darken(@themeBaseColor, 10%);
}

.font() when (@themeStyle = light) {
	color: #404040;
	text-shadow: 0 1px 1px #FFF;
}

h2 {
	.font();
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 8px;
}

hr {
	background-color: transparent;
	border: 0;
	border-top: 1px solid rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(255,255,255,0.25);
}

div.content {
	position: absolute;
	width: 300px;
	top: 50%;
	left: 50%;
	margin-top: -275px;
	margin-left: -150px;
	
	h1.logo {
		text-indent: -9999px;
		background-image: @logoUrl;
		background-repeat: no-repeat;
		background-position: center bottom;
		width: 300px;
		height: 200px;
		margin: 0 auto 10px auto;
	}
}

.alert.alert-error {
	border: 0;
	background-color: darken(@themeBaseColor, 10%);
	background-color: rgba(0,0,0,0.25);
	margin: 0 0 10px 0;
	color: white;
	text-shadow: none;
	font-size: 12px;
	
	ul {
		margin-bottom: 0;
	}
}

form {
	label {
		.font();
	}
}

a {
	.font();
	opacity: 0.8;
	
	&:hover {
		opacity: 1;
		color: white;
		text-decoration: none;
	}
	
	&.btn {
		opacity: 1;
	}
}

input[type=text],input[type=password] {
	display: block;
	height: 28px;
	width: 286px;
	font-size: 16px;
	border: 1px solid darken(@themeBaseColor, 10%);
	box-shadow: 0 1px 0 rgba(255,255,255,.6);
	
	&:focus {
		border-color: darken(@themeBaseColor, 10%);
	}
}

input[type=submit] {
	margin-bottom: 9px;
	font-size: 16px;
	width: 300px;
	
	&.btn-block {
		padding-left: 10px;
		padding-right: 10px;
	}
}

div.center {
	text-align: center;
}

label.checkbox {
	display: inline-block;
	white-space: nowrap;
	margin-left: -10px;
}

div.flashes {
	div.alert {
		width: auto;
		display: block;
		position: static;
		.box-shadow(none);
		
		&.in {
			opacity: 1;
			background-color: rgba(0,0,0,0.25);
		}
	}
}

div.license-warning {
	top: 0;
	bottom: auto;
	color: white;
}