#{include 'stylesheets/mixins.less' /}
#{include 'stylesheets/layout.footer.less' /}
#{include 'stylesheets/layout.generic.less' /}

@logoUrl: url('@{open.Application.logo()}');
@smallLogoUrl: url('@{open.Application.logo(true)}');

div.navbar {
	div.navbar-inner {
		background-color: #222;
		#gradient.vertical(#444,#222);
		@shadow: 0 1px 3px rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.1);
		.box-shadow(@shadow);
	}

	div.container {
		padding-left: 20px;
		width: 980px;
		@media only screen and (min-width : 1250px) { width: 1180px; }
		@media only screen and (min-width : 1450px) { width: 1380px; }
	}

}

/* smoothly embed the actions bar into the bottom of the content container */
div.form-actions {
	.border-radius(0 0 5px 5px);
}

.form-horizontal {
	div.form-actions {
		padding-left: 180px;
	}
}

/* button colors */
.btn-primary {
	.buttonBackground(#555, #333);
}

a {
	color: #0066CC;

	&:hover {
		color: #0088FF;
	}
}

div.content {
	padding-top: 40px;
	padding-bottom: 60px;

	width: 1000px;
	@media only screen and (min-width : 1250px) { width: 1200px; }
	@media only screen and (min-width : 1450px) { width: 1400px; }

  div.logo {
    background-image: @logoUrl;
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 300px;
    height: 200px;
    margin: 0 auto 10px auto;
    float: right;
    margin-right: 40%;
  }

  div.brand {
    background-image: @smallLogoUrl;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 40px;
    margin: 0 auto 10px auto;
    float: right;
    margin-right: 40%;
  }

  div.favicon {
    width: 32px;
    height: 32px;
    margin: 0 auto 10px auto;
    float: right;
    margin-right: 40%;
  }
}

div.page-header {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  .border-radius(0 0 5px 5px);
  border-left: 1px solid #DDD;
}
