#{include 'stylesheets/mixins.less' /}

#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/layout.generic.less' /}

body {
	margin: 0;
	padding: 0;
}

/* button colors */
.btn-primary {
	background-color: @secondaryLinkColor;
	#gradient.vertical(@secondaryLinkColor, @linkColor);
	border-color: @secondaryLinkColor @secondaryLinkColor darken(@secondaryLinkColor, 5%);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	
	&:hover, &:active, &.active, &.disabled, &[disabled] {
		background-color: @linkColor;
	}
}

/* input glow */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, 
input[type="datetime"]:focus, input[type="datetime-local"]:focus, 
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, 
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, 
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, 
input[type="color"]:focus, .uneditable-input:focus {
	border-color: fadeout(@linkColor, 20%);
	@shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px fadeout(@linkColor, 50%);
	.box-shadow(@shadow);
}

// custom
div.wall {
	margin-top: 3px;
	margin-left: 3px;
	margin-right: 6px;
}