// touch
body.touch div.navbar.navbar-fixed-top {
	position: absolute;
}

// cannot be bundled
div.navbar input.search-query:-moz-placeholder {
	color: #FFF;
	color: rgba(255,255,255,0.75);
}

div.navbar input.search-query::-webkit-input-placeholder {
	padding-top: 2px;
}

div.navbar {
	div.navbar-inner {
		background-color: @themeBaseColor;
		#gradient.vertical(@themeSecondaryColor, @themeBaseColor);
		@shadow: 0 1px 3px rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.2);
		.box-shadow(@shadow);
		border: 0;
				
		div.container {
			width: 1000px;
			@media only screen and (min-width : 1250px) { width: 1200px; }
			@media only screen and (min-width : 1450px) { width: 1400px; }
			
			a.brand {
				text-indent: -9999px;
			  	line-height: inherit;
			  	background-image: @smallLogoUrl;
			  	background-repeat: no-repeat;
			  	background-position: center;
			  	width: 200px;
			  	height: 40px;
			  	padding: 0;
			  	margin: 0;
			  	//.box-shadow(inset -10px 0 10px -4px rgba(0,0,0,0.1));
			  	
			  	&:hover, &.active {
					background-color: transparent;
		  			#translucent > .background(@topbarHoverColor, 0.2); 
		  			filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#10FFFFFF,endColorstr=#10FFFFFF)";
		  		}
			}
			
			form.navbar-search {
				input.search-query {
					width: 150px;
					font-family: @fontFamily;
				}
			}
			
			ul.nav {
				> li {
					> a {
						height: 20px;
						padding: 10px;
						color: @topbarTextColor;
						
						i.icon-colleagues {
							width: 19px;
							background-position: center;
							background-image: url(../images/icon-colleagues-tiny.png); 
						}
						
						&:visited, &:active {
							color: @topbarTextColor;
						}
						
					}
					
					&.active > a, &.open > a, > a:hover {
						color: @topbarTextColor;
						background-color: transparent;
						#translucent > .background(@topbarHoverColor, 0.2);
						filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#10FFFFFF,endColorstr=#10FFFFFF)";
						.box-shadow(none);
					}
				}
				
				&.pull-right {
					margin-right: -20px;
				}
			}
			
			ul.dropdown-menu {
				li.active a {
					color: #FFF;
				}
				
				li.action {
					a {
						padding-top: 5px;
						padding-bottom: 5px;
					}
				}
				
				li.nav-header-dark {
					background-color: #EEE;
				}
				
				li i {
					margin-top: 2px;
				}
			}
			
			ul.nav.pull-right {
				margin-right: 0;
			}
			
			.profile .profile-icon {
				display: block;
		    	width: 48px;
		    	height: 40px;
		    	padding: 0;
		    	background-image: url(../images/navbar-profile-icon.png);
		    	background-repeat: no-repeat;
		    	background-position: center 9px;
			}
			
			.settings .settings-icon {
				display: block;
		    	width: 50px;
		    	height: 40px;
		    	padding: 0;
		    	background-image: url(../images/navbar-settings-icon.png);
		    	background-repeat: no-repeat;
		    	background-position: center 8px;
			}
			
			.messaging .messaging-icon {
				display: block;
				margin-top: -10px;
		    	width: 35px;
		    	height: 35px;
		    	background-image: url(../images/navbar-messaging-icon.png);
		    	background-repeat: no-repeat;
		    	background-position: center 10px;
		    	position: relative;
		    	
		    	span.label {
		    		position: absolute;
		    		top: 3px;
		    		right: -3px;
		    		
		    		&.hide {
		    			display: none;
		    		}
		    	}
			}
			
			.notifications {
				.notifications-icon {
					display: block;
			    	margin-top: -10px;
			    	width: 35px;
			    	height: 35px;
			    	background-image: url(../images/navbar-notifications-icon.png);
			    	background-repeat: no-repeat;
			    	background-position: center 9px;
			    	position: relative;
			    	
			    	span.label {
			    		position: absolute;
			    		top: 3px;
			    		right: -3px;
			    	}
			    }
			    
			    ul.dropdown-menu {
					width: 300px;
					max-width: 300px;

					li.divider {
						margin: 0;
					}
					
					li.loading {
						height: 50px;
						background-image: url(../images/ajax-loader.gif);
						background-position: center center;
						background-repeat: no-repeat;
						border-bottom: 1px solid #EEE;
					}
			    
		      		li.notification {
			  			clear: both;
			  			
			  			&.unread {
			  				background-color: #F3F3F3;
			  				
			  				a {
			  					font-weight: bold;
			  				}
			  			}
			  			
			  			a {
			  				display: block;
			  				white-space: normal;
			  				font-size: 11px;
			  				line-height: 14px;
			  				min-height: 40px;
			  				padding: 10px;
			  			
			  				small {
			  					color: #BBB;
			  				}
			  			
			  				img {
			  					float: left;
			  					.border-radius(3px);
			  					width: 40px;
			  					height: 40px;
			  					margin-right: 6px;
			  				}
			  				
			  				.notificaiton-body {
			  					display: block;
			  					margin-left: 46px;
			  				}
			  				
			  				&:hover {
			  					
			  				}
			  			}
			  		}
	  			}
			}
		}
	}
}

.styleNavbar() when (@themeStyle = light) {
	div.navbar div.navbar-inner div.container {
		form.navbar-search {
			input.search-query {
				border-color: darken(@themeBaseColor, 1%);
			}
		}
	
		ul.nav {
			> li {
				> a {
					text-shadow: 0px 1px 0 rgba(255,255,255,.6);
				}
	  
				&.active > a, &.open > a, > a:hover {
					text-shadow: 0px 1px 0 rgba(255,255,255,.7);
				}
			}
		}
	}
} 

.styleNavbar() when (@themeStyle = dark) {
	div.navbar div.navbar-inner div.container {
		form.navbar-search {
			input.search-query {
				color: white;
				border-color: darken(@themeBaseColor, 1%);
				background: transparent;
			  	#translucent > .background(@topbarHoverColor, 0.3);
			  	
			  	&:hover {
			  		#translucent > .background(@topbarHoverColor, 0.4);
			  	}
			  	
			  	&:focus, &.focused {
			  		color: #555;
			  		background-color: #FFF;
			  	}
			}
		}
	
		ul.nav {
			> li {
				> a {
					[class^="icon-"], [class*=" icon-"] {
						background-image: url("../img/glyphicons-halflings-white.png");
					}
					
					i.icon-colleagues {
						background-image: url(../images/icon-colleagues-tiny-white.png);
					}
				
					text-shadow: 1px 1px 1px rgba(0,0,0,.2);
				}
	  
				&.active > a, &.open > a, > a:hover {
					text-shadow: 1px 1px 1px rgba(0,0,0,.3);
				}
			}
		}
		
		.profile .profile-icon {
	    	background-image: url(../images/navbar-profile-icon-white.png);
		}
		
		.settings .settings-icon {
	    	background-image: url(../images/navbar-settings-icon-white.png);
		}
		
		.messaging .messaging-icon {
	    	background-image: url(../images/navbar-messaging-icon-white.png);
		}
		
		.notifications .notifications-icon {
	    	background-image: url(../images/navbar-notifications-icon-white.png);
		}
	}
	
	div.navbar input.search-query::-webkit-input-placeholder {
		color: #FFF;
		color: rgba(255,255,255,0.75);
		padding-top: 2px;
	}
}

.styleNavbar();