#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/mixins.less' /}

div.content {
	width: 500px;
	margin-top: -350px;
	margin-left: -250px;
	
	h1.logo {
		background-image: url(../images/logo.png);
		background-position: left bottom;
		width: 500px;
		cursor: default;
		margin-bottom: 20px;
	}
}

input[type=text],
input[type=password] {
	width: 488px;
}

input[type=submit] {
	width: 100%;
}

div.license-warning {
	display: none;
}

.btn-ultralarge {
	color: white;
	font-size: 20px;
	line-height: 40px;
	margin: 10px 0;
	text-align: left;
	padding-left: 20px;
}

.btn > input[type=file] {
	height: 20px;
	line-height: 20px;
}

.btn-left {
	text-align: left;
	padding-left: 20px;
}