div.sidebar {
	margin-right: 0;
	padding-right: 20px;
	min-height: 10px;

	div.welcome {
		.clearfix();
		line-height: 1.4;
		
		.user-avatar.thumb {
			float: left;
			margin-right: 8px;
		}
	}
	
	div.confirm-buttons {
		display: inline-block;
		float: right;
		a {
			opacity: 0.5;
			&:hover {
				opacity: 1;
			}
		}
	}
	
	div.title-header {
		position: relative;
	}
	
	a.icon-link {
		position: absolute;
		right: 0;
		top: 0;
		opacity: 0.3;
		
		&:hover {
			opacity: 0.8;
		}
	}
	
	.loading {
		display: block;
		width: 32px;
		height: 32px;
		overflow: hidden;
		margin: 20px auto;
		background-image: url(../images/ajax-loader.gif);
		  background-repeat: no-repeat;
		  background-position: center center;
		  text-indent: -9999em;
	}
	
	.no-items {
		overflow: visible;
		width: 100%;
		color: #999;
		font-size: 11px;
		font-style: italic;
		line-height: 18px;
		white-space: normal;
	}
	
	#sidebar-bookmarks {
	
		div.add-bookmark {
			margin-bottom: 10px;
			background: #f0f0f0;
			border: 1px solid #aaa;
			padding: 7px;
			.border-radius(4px);
			
			form {
				margin: 0;
			
				input {
					font-size: 11px;
					width: 100%;
					min-height: 24px;
					margin: 0 0 5px;;
					.box-sizing(border-box);
				}
			}
			
			a.btn-mini {
				font-weight: normal;
			}
		}

	  li {
		position: relative;
	  }
	}
	
	ul.sidebar-user-list {
		
		li {
			line-height: 27px;
			margin-bottom: 3px;
			
			&.last {
				margin-bottom: 0;
			}
	
			.thumb {
				width: 25px;
				height: 25px;
				margin-right: 5px;
				vertical-align: top;
				
				&.medium {
					width: 32px;
					height: 32px;
				}
			}
			
			a.thumb-link {
				position: relative;
				display: block;
				float: left;
			}
			
			.user-name-role {
				.user-role {
					font-size: 11px;
					color: #999;
				}
			}
		}
		
		hr { margin: 10px 0; }
	
		.workspace-member {
			line-height: 16px;
			margin-bottom: 8px;
		
			.sidebar-user-entry:hover {
				left: -46px;
			}
			
			.thumb {
				width: 32px;
				height: 32px;
				margin-right: 7px;
			}
		}
	
		.sidebar-user-entry {
			width: 215px;
			position: relative;
		    .transition(all 0.3s ease-in-out);
		    left: 0;
			
			&:hover {
				position: relative;
				left: -46px;
			}
			
			.icon-link {
				position: absolute;
				opacity: 0.5;
			  	line-height: 26px;
				&:hover {
					opacity: 1;
				}
				
				&.message-link {
					right: 32px;
				}

				&.message-link-right {
				  	right: 0px;
				}

				&.audiochat-link {
				  	right: 16px;
				}

				&.videochat-link {
				  	right: 0px;
				}
			}
		}
	}
	
	.user-info {
		
		img {
			padding-left: 1px;
			border-left-style: solid;
			border-left-width: 3px;
			border-left-color: transparent;
			.transition(border-color 0.3s);
		}
		
		&.ONLINE {
			img {
				border-left-color: #51a351;
			}
			.user-status-name {
				color: #51a351;
			}
			.caret{
				border-top-color: #51a351;
			}
		}
		
		
		&.OFFLINE {
			img {
				border-left-color: #E8E8E8;
			}
			.user-status-name {
				color: #bbb;
			}
			.caret {
				border-top-color: #bbb;
			}
		}
		
		&.AWAY {
			img {
				border-left-color: #fbb450;
			}
			.user-status-name {
				color: #fbb450;
			}
			.caret{
				border-top-color: #fbb450;
			}
		}

		&.BUSY {
		  img {
			border-left-color: rgb(51, 153, 255);
			border-left-color: rgba(51, 153, 255, .5);
		  }
		  .user-status-name {
			color: rgb(51, 153, 255);
			color: rgba(51, 153, 255, .5);
		  }
		  .caret{
			border-top-color: rgb(51, 153, 255);
			border-top-color: rgba(51, 153, 255, .5);
		  }
		}


		.user-status-chooser {
			
			&.btn-group.open .btn.dropdown-toggle {
				background: none;
			}
			
			.dropdown-toggle {
				text-align: left;
				color: #555;
				border: none;
				.border-radius(0);
				background: none;
				box-shadow: none;
				padding: 0;
				margin: 0;
				outline: none;
			
				&:hover {
					background-position: inherit;
				}
				
				&:focus, &:active {
					background: none;
				}
				
				.user-status-name {
					font-size: 11px;
					text-transform: uppercase;
				}
				
			}
			
			.dropdown-menu {
				width: auto;
				min-width: initial;
				font-size: 11px;
				text-transform: uppercase;
				
				li a {
					padding: 3px 20px 3px 10px;
					border-left: 3px solid white;
					
					&:hover {
						background: #ddd;
						color: #555;
					}
					
					&.ONLINE:hover {
						border-left-color: #51a351;
					}
					
					&.OFFLINE:hover {
						border-left-color: #E8E8E8;
					}
					
					&.AWAY:hover {
						border-left-color: #fbb450;
					}

					&.BUSY:hover {
					  border-left-color: rgb(51, 153, 255);
					  border-left-color: rgba(51, 153, 255, .5);
					}
				}
			}
		}
		
	}
	
	.etiquette {
		display: block;
		margin-top: 10px;
		height: 26px;
		line-height: 26px;
		vertical-align: middle;
		text-align: center;
		
		background-color: #EEE;
		#gradient.vertical(#F0F0F0, #DDD);
		border-bottom: 1px solid #CCC;
		.border-radius(3px);
		
		color: #777;
		text-shadow: 0 1px 0 #FFF;
		font-size: 11px;
		text-decoration: none;
		
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		[class^="icon-"], [class*=" icon-"] {
			opacity: 0.75;
			margin-right: 3px;
		}
	}
	
	div.etiquette {
		cursor: default;
	}
	
	a.etiquette:hover {
		background-color: #E0E0E0;
		#gradient.vertical(#E5E5E5, #D0D0D0);
	}
	
	div.group {
		padding-bottom: 15px;
		margin-bottom: 15px;
			
		&:LAST-CHILD {
			border: 0;
		}
		
		h6 {
			padding: 0;
			margin: 0 0 5px 0;
			line-height: normal;
			font-size: 12px;
			color: #999;
			text-transform: uppercase;
		}
		
		a.active {
			font-weight: bold;
		}
		
		img.icon {
			vertical-align: top;
		}
		
		ul {
			margin-bottom: 0;
			
			li {
              max-width: 170px;
              white-space: nowrap;
              word-wrap: normal;
              overflow: hidden;
              text-overflow: ellipsis;
				
				&.divider {
					padding-top: 5px;
					margin-bottom: 5px;
					border-bottom: 1px solid #EEE;
				}
			}
		}
	}
	
}
