body {
	background-repeat: repeat-x;
	background-color: #FFF;
	word-wrap:break-word;
}

.page-header {
	
	background-color: #F5F5F5;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	.border-radius(0 0 5px 0);
	padding: 17px 20px;
	margin: 0 0 20px -20px;
	
	h1 {
		i.icon {
			float: left;
			display: none;
			background-repeat: no-repeat;
			background-position: center center;
			min-width: 32px;
			min-height: 42px;
			line-height: 1;
			margin: 0 8px 0 0;
			vertical-align: middle;
		}

		small {
			font-weight: normal;
			font-size: 18px;
			color: #BBB;
			text-shadow: 0px 1px 0px #FFF;
		}
		
		&:AFTER {
			color: red;
		}

		margin: 0;
		padding: 0 20px 0 0;
		vertical-align: top;
	
		color: #333;
		line-height: 40px;
		font-size: 30px;
		font-weight: normal;
		text-shadow: 0px 1px 0px #FFF;
		
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	
	div.page-actions {
		line-height: 30px;
		float: right;
		display: inline-block;
		margin: 6px 0 0 20px;
		
		form {
			line-height: inherit;
		}
		
		> * {
			vertical-align: middle;
		}
		
		div.btn-group {
			line-height: 1;
			display: inline-block;
		}
		
		.chat-button {
			display: inline;
			vertical-align: inherit;
		}
	}
}

.chat-button-dropdown {
	.user-call-dropdown {
	  	text-align: left;
	}
  	.btn-primary {
	  	text-shadow: none;
	}
}

.chat-button {
	display: inline;
	vertical-align: inherit;
	.btn-primary {
		&:not(.btn-mini) {
			padding: 0;
			span {
				padding: 4px 12px;
				width: calc(~'100% + 8px');
				height: calc(~'100% + 24px');
				line-height: 28px;
			}
		}
		&.btn-mini {
			padding: 0;
			span {
				padding: 7px;
				width: 14px;
				height: 14px;
			}
		}
	}
}

div.content {
	min-height: 600px;
	position: relative;
}

div.container {
	width: 1000px;
	@media only screen and (min-width : 1250px) { width: 1200px; } 
	@media only screen and (min-width : 1450px) { width: 1400px; } 
}

div.footer {
	position: static;
	height: 50px;
	background-color: #FFF;
	#gradient.vertical(#F9F9F9, #FFF);
	color: #999;
	border-top: 1px solid #EEE;
	
	div.footer-inner {
		margin: 0 auto;
		width: 1000px;
		@media only screen and (min-width : 1250px) { width: 1200px; }
		@media only screen and (min-width : 1450px) { width: 1400px; }
	}
}