#{include 'stylesheets/mixins.less' /}

#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/layout.colors.less' /}
#{include 'stylesheets/layout.footer.less' /}
#{include 'stylesheets/layout.generic.less' /}
#{include 'stylesheets/layout.main.navbar.less' /}
#{include 'stylesheets/layout.main.sidebar.less' /}
#{include 'stylesheets/layout.main.rightbar.less' /}

body > div.container {
	background-image: url(../images/layout-sidebar-bg.png);
	background-repeat: repeat-y;
	background-repeat: repeat-y;
	background-position: 187px;

	.sidebar {
		float: left;
		padding-top: 60px;
		margin-left: 10px;
		width: 170px;
	}
	
	.content {
		padding-top: 40px;
		padding-bottom: 60px;
		
		float: left;
		margin-left: 20px;
		width: 780px;
		@media only screen and (min-width : 1250px) { width: 980px; }
		@media only screen and (min-width : 1450px) { width: 1180px; }
		
		.content-inner {
			display: table;
			width: 100%;
		
			.rightbar {
				display: table-cell;
				vertical-align: top;
			}
			
			.content-body {
				display: table-cell;
				vertical-align: top;
				width: 100%;
				max-width: 1px;
			}
		}
	}
}

/* smoothly embed the actions bar into the bottom of the content container */
div.form-actions {
	clear: both;
	margin: 0 0 0 -20px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

.form-horizontal {
	div.form-actions {
		padding-left: 200px;
	}
}