div.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.25);
	color: #FFF;
	color: rgba(255,255,255,0.7);
	text-shadow: none;
	font-size: 11px;

	@media only screen and (min-width : 1250px) {
		font-size: 12px;
	}
	
	div.footer-inner {
		height: 16px;
		line-height: 16px;
		padding: 8px 20px;
		vertical-align: middle;
		text-shadow: none;
	}
	
	span.divider {
		margin: 0 10px;
		color: rgba(255,255,255,0.25);
	}
	
	a {
		font-weight: bold;
		text-shadow: none;
		color: #FFF;
		color: rgba(255,255,255,0.7);
		
		&:hover {
			color: #FFF;
			color: rgba(255,255,255,1);
		}
	}
	
	.copyright {
		font-weight: normal;
	}
}

div.footer-warning {
	position: fixed;
	bottom: 0;
	padding: 0;
	width: 100%;
	z-index: 1000;
	
	p {
		background-color: red;
		#gradient.vertical(#D00, #800);
		color: white;
		padding: 30px 0;
		font-size: 20px;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
		opacity: 0.75;
		text-align: center;
		margin: 0;
		
		a { color: white; }

		&.superadmin-warning {
			background-color: #F90;
			#gradient.vertical(#F90, #A60);
			color: #FDB;
			padding: 15px 0;
			font-size: 14px;
		}
	}
}