/* button colors */
.btn-primary {
	.buttonBackground(@secondaryButtonColor, @buttonColor);
}
.btn-primary:focus, .btn-primary.dropdown-toggle {
	background-color: @buttonColor !important;
}

/* media gallery colors */
a.thumbnail:hover {
	border-color: fadeout(@linkColor, 20%);
	@shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px fadeout(@linkColor, 40%);
}

/* input glow */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, 
input[type="datetime"]:focus, input[type="datetime-local"]:focus, 
input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, 
input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, 
input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, 
input[type="color"]:focus, .uneditable-input:focus {
	border-color: fadeout(@linkColor, 20%);
	@shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px fadeout(@linkColor, 50%);
	.box-shadow(@shadow);
}

.input-glow {
	.box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
	.transition(border linear 0.2s, box-shadow linear 0.2s);
}
.input-glow-focus {
	border-color: fadeout(@linkColor, 20%);
}