/* 
   Plupload
------------------------------------------------------------------- */
.plupload_button {
	display: -moz-inline-box; /* FF < 3*/
	display: inline-block;
	text-decoration: none;
	color: #42454a;
	border: 1px solid #bababa;
	padding: 0 8px 0 20px;
	margin-right: 4px;
	background: #f3f3f3 url('../images/plupload/buttons.png') no-repeat 0
		center;
	outline: 0;
	/* Optional rounded corners for browsers that support it */
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.plupload_button:hover {
	color: #000;
	text-decoration: none;
}

.plupload_disabled,a.plupload_disabled:hover {
	color: #737373;
	border-color: #c5c5c5;
	background: #ededed url('../images/plupload/buttons-disabled.png')
		no-repeat 0 center;
	cursor: default;
}

.plupload_add {
	background-position: -181px center;
}

.plupload_wrapper {
	width: 100%;
	font-size: 11px;
}

.plupload_container {
	background: url('../images/plupload/transp50.png');
	/*-moz-border-radius: 5px;*/
}

.plupload_container input {
	border: 1px solid #DDD;
	font-size: 11px;
	width: 98%;
}

.plupload_header {
	margin-bottom: 8px;
}

.plupload_header_title {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 3px;
}

.plupload_header_text {
	font-size: 11px;
	color: #999;
}

.plupload_content {
	border: 2px solid #DDD;
	border-radius: 3px;
}

.plupload_filelist {
	margin: 0;
	padding: 0;
	list-style: none;
}

.plupload_scroll .plupload_filelist {
	height: 185px;
	overflow-y: scroll;
}

.plupload_filelist li {
	padding: 5px 8px;
	border-bottom: 1px solid #EEE;
	background-color: #FAFAFA;
}

.plupload_filelist_header,.plupload_filelist_footer {
	padding: 6px 6px;
	background-color: #F0F0F0;
}

.plupload_filelist_header {
	border-bottom: 1px solid #DDD;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: normal;
}

.plupload_filelist_footer {
	border-top: 1px solid #DDD;
	height: 22px;
	line-height: 20px;
	vertical-align: middle;
}

.plupload_file_name {
	float: left;
	overflow: hidden
}

.plupload_file_status {
	color: #777;
}

.plupload_file_status span {
	color: #42454A;
}

.plupload_file_size,.plupload_file_status,.plupload_progress {
	float: right;
	width: 80px;
}

.plupload_file_size,.plupload_file_status,.plupload_file_action {
	text-align: right;
}

.plupload_filelist .plupload_file_name {
	width: 300px;
	overflow: hidden;
}

.plupload_file_action {
	float: right;
	width: 16px;
	height: 16px;
	margin-left: 15px;
}

.plupload_file_action * {
	display: none;
	width: 16px;
	height: 16px;
}

li.plupload_uploading {
	background-color: #EEFFEE;
}

li.plupload_done {
	color: #AAA
}

li.plupload_delete a {
	background: url('../images/plupload/delete.gif');
}

li.plupload_failed a {
	background: url('../images/plupload/error.gif');
	cursor: default;
}

li.plupload_done a {
	background: url('../images/plupload/done.gif');
	cursor: default;
}

.plupload_progress,.plupload_upload_status {
	display: none;
}

.plupload_progress_container {
	margin-top: 3px;
	border: 1px solid #CCC;
	background: #FFF;
	padding: 1px;
}

.plupload_progress_bar {
	width: 0px;
	height: 7px;
	background: #CDEB8B;
}

/* Floats */
.plupload_clear,.plupload_clearer {
	clear: both;
}

.plupload_clearer,.plupload_progress_bar {
	display: block;
	font-size: 0;
	line-height: 0;
}

li.plupload_droptext {
	background: transparent;
	text-align: center;
	vertical-align: middle;
	border: 0;
	line-height: 165px;
}