// customized by mindsmash
#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/mixins.less' /}

ul.tagit {
	font-family: @fontFamily;
	color: @linkColor;
    padding: 1px 5px;
    overflow: auto;
    margin: 0 0 10px 0;
    width: 520px;
    .border-radius(3px);
    .box-shadow(rgba(0, 0, 0, 0.0742188) 0px 1px 1px 0px inset);
}
ul.tagit li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit li.tagit-choice {
	font-family: @fontFamily;
	color: @linkColor;
    padding: .2em 18px .2em .5em;
    position: relative;
    line-height: inherit;
}
ul.tagit li.tagit-new {
    padding: .25em 4px .25em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
	font-family: @fontFamily;
    cursor: pointer;
    text-decoration: none;
    color: @linkColor;
}
ul.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -8px;
}

/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"], ul.tagit input[type="text"]:focus {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
	
	font-family: @fontFamily;
    border: none !important;
    .box-shadow(none);
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: inherit;
    outline: none;
}
