#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/mixins.less' /}

// cannot be bundled
textarea.form-message:-moz-placeholder {
	line-height: 54px;
	text-indent: 16px;
	font-size: 16px;
}
textarea.form-message::-webkit-input-placeholder {
	line-height: 54px;
	text-indent: 16px;
	font-size: 16px;
}

div#main {
	background-position: 287px;

	.sidebar {
		width: 270px;
	}
	
	.content {
		padding-bottom: 0;
		width: 680px;
		@media only screen and (min-width : 1250px) { width: 880px; }
		@media only screen and (min-width : 1450px) { width: 1080px; }
		
		.row {
			.content-body {
				width: 420px;
				@media only screen and (min-width : 1250px) { width: 620px; }
				@media only screen and (min-width : 1450px) { width: 820px; }
			}
		}
	}
}

#sidebar-messaging {
	div.conversation-status-switch {
		margin: 0 0 10px -10px;
			
		a.conversation-status-link {
			font-weight: normal;
		}
	}

	ul.conversations-list {
		margin-left: -10px;
		margin-right: -19px;
		
		li {
			a.conversation-link {
				.border-radius(5px 0 0 5px);
				display: block;
				font-size: 12px;
				color: #404040;
				text-decoration: none;
				line-height: 14px;
				padding: 8px 10px;
				margin-bottom: 3px;
				
				@shadow: inset -7px 0 7px -4px rgba(0,0,0,0.1), rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.045) 0px 1px 2px 0px;
				.box-shadow(@shadow);
				
				#gradient.vertical(#FFF, #E6E6E6);
				background-color: #F6F6F6;
				
				border: 1px solid rgba(0, 0, 0, 0.1);
				border-bottom-color: rgba(0, 0, 0, 0.25);
			
				&.active, &.active:hover {
					#gradient.vertical(@secondaryButtonColor, @buttonColor);
					background-color: @buttonColor;
					color: white;
					
					small {
						color: #DDD;
						color: rgba(255,255,255,0.75);
					}
					
					i {
						background-image: url("../img/glyphicons-halflings-white.png");
					}					
				}
				
				span.unread-count { display: none; }
				&.unread span.unread-count { display: inline-block; }
				
				&:hover {
					#gradient.vertical(#F6F6F6, #E0E0E0);
					background-color: #F0F0F0;
					
					span.options { display: inline-block; }
					span.unread-count { display: none; }
				}
				
				img {
					&.thumb {
						.border-radius(3px);
						width: 28px;
						height: 28px;
						margin-right: 5px;
						margin-left: 3px;
						float: left;
						.transition(border-color 0.25s);
						border-color: transparent;
											
						&.ONLINE {
							margin-left: 0;
							border-left: 3px solid #51a351;
						}
						
						&.OFFLINE {
							margin-left: 0;
							border-left: 3px solid #E8E8E8;
						}
						
						&.AWAY {
							margin-left: 0;
							border-left: 3px solid #fbb450;
						}

					  &.BUSY {
						margin-left: 0;
						border-left: 3px solid rgb(51, 153, 255);
						border-left: 3px solid rgba(51, 153, 255, .5);
					  }
					}
				}
				
				span.conversation-link-body {
					display: block;
					margin-left: 33px;
					margin-right: 20px;
					
					span.title {
						margin-top: 1px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						display: block;
					}
				}
				
				small {
					font-weight: normal;
				}
				
				span.options {
					display: none;
					float: right;
					
					i {
						opacity: 0.5;
						&:hover { opacity: 1; }
					}
				}
			}
		}
	}
	
	p.conversations-empty {
		margin-left: -10px;
	}
}

#sidebar-messaging #conversations ul.conversations-list {
	@media only screen and (min-height : 800px) { height: 650px; }
	@media only screen and (min-height : 900px) { height: 750px; }
	@media only screen and (min-height : 1000px) { height: 850px; }
	@media only screen and (min-height : 1100px) { height: 950px; }
	@media only screen and (min-height : 1200px) { height: 1050px; }
	overflow-y: scroll;
}

#conversation {
	margin-top: -20px;


	div.loading {
	  width: 32px;
	  height: 32px;
	  overflow: hidden;
	  margin: 20px auto;
	  background-image: url(../images/ajax-loader.gif);
	  background-repeat: no-repeat;
	  background-position: center center;
	}

	
	.dragover {
		background: rgba(137, 187, 90, 0.5);
	}
	
	#conversation-form {
		div.form-message-wrapper {
			padding-right: 15px;
		
			textarea.form-message {
				display: block;
				width: 100%;
				min-height: 54px;
				height: 54px;
				.border-radius(5px);
				resize: none;
				
				&.error-empty {
					border-color: fadeout(#C00, 20%);
					@shadow: inset 0 1px 1px rgba(200,0,0,0.075),0 0 8px fadeout(#C00, 50%);
					.box-shadow(@shadow);
				}
			}
			
			.files.files-styled {
				-webkit-box-sizing: content-box;
				-moz-box-sizing: content-box;
				box-sizing: content-box;
			}
		}
		
		input.submit {
			padding-left: 30px;
			padding-right: 30px;
		}
		
		.appendix {
			margin-right: 5px;					
			
			.appendix-bg {
				padding: 5px 14px 6px 14px;
				height: 28px;
				background-image: url(../images/attachment-icon.png);
				background-repeat: no-repeat;
				background-position: center;
			}
			
			&.active {
				background: #A9DBA9;
				border-color: #46A546;
				
				&:hover {
					background: #FFCCCC;
					border-color: #EE5F5B;
				}
			}
			
			&.ie {
				display: none;
			}
		}
		
		input[type=file] {
			float: left;
			width: 0;
			height: 0;

			&.ie {
				margin: 7px 7px 0 7px;			
				width: 200px;
				height: 28px;
				background: transparent;
			}
		}
	}
	
	#conversation-scrollable {
		height: 350px;
		@media only screen and (min-height : 800px) { height: 500px; }
		@media only screen and (min-height : 900px) { height: 600px; }
		@media only screen and (min-height : 1000px) { height: 700px; }
		@media only screen and (min-height : 1100px) { height: 800px; }
		@media only screen and (min-height : 1200px) { height: 900px; }
		overflow-y: scroll;
		overflow-x: hidden;
		position: relative;
		margin-left: -20px;
	}
	
	ul#conversation-stream {
		margin: 0 0 10px 0;
		list-style: none;
		width: 100%;
		bottom: 0;
		border-top: 1px solid #EEE;
		
		li.post {
			padding: 10px 10px 10px 20px;
			border-bottom: 1px solid #EEE;
		
			&.me {
				background-color: #F9F9F9;
			}
		
			img.thumb {
				.border-radius(3px);
				width: 35px;
				height: 35px;
				margin-right: 10px;
				float: left;
			}
			
			.post-time {
				float: right;
			}
			
			div.post-body {
				margin-left: 45px;
				line-height: 16px;
				
				.post-message {
					margin-top: 3px;
					margin-bottom: 0;
					line-height: 18px;
				}
			}
			
			#{include 'stylesheets/tag.wall.attachments.less' /}
		}
	}
}