div.group.invite form {
	margin-bottom: 0;
}

div.group.invite div.input-append {
	
}

div.group.invite div.input-append {
	input[type=text] {
		font-size: 12px;
		height: 16px;
		width: 154px;
	}
	
	input[type=submit] {
		font-size: 12px;
		height: 26px;
		line-height: 17px;
	}
}