li.tagcloud {
  a {
    margin: 1px;

    &.s1 {
      opacity: 0.2;
    }
    &.s2 {
      opacity: 0.3;
    }
    &.s3 {
      opacity: 0.4;
    }
    &.s4 {
      opacity: 0.5;
    }
    &.s5 {
      opacity: 0.6;
    }
    &.s6 {
      opacity: 0.7;
    }
    &.s7 {
      opacity: 0.8;
    }
    &.s8 {
      opacity: 0.9;
    }
    &.s9 {
      opacity: 1;
    }
    &.s10 {
      opacity: 1.1;
    }
  }
}
