#{include 'stylesheets/mixins.less' /}

div.userActivity {
	min-width: 200px;
	cursor: default;
	margin-bottom: 10px;
}

div.userActivity-mini {
	height: 16px;
	
	div.bar {
		font-size: 11px;
		line-height: 16px;
	}
}

div.userActivity-inline {
	display: inline-block;
	margin: 2px 0 0 0;
}

div.userActivity div.bar {
	min-width: 20%;
	background-color: #AAA; #gradient.vertical(#BBB, #999);
}

div.userActivity-10 div.bar { background-color: #AD0; #gradient.vertical(#AD0, darken(#AD0, 10%)); }
div.userActivity-9 div.bar { background-color: #CD0; #gradient.vertical(#CD0, darken(#CD0, 10%)); }
div.userActivity-8 div.bar { background-color: #DD0; #gradient.vertical(#DD0, darken(#DD0, 10%)); }
div.userActivity-7 div.bar { background-color: #EB0; #gradient.vertical(#EB0, darken(#EB0, 10%)); }
div.userActivity-6 div.bar { background-color: #EA0; #gradient.vertical(#EA0, darken(#EA0, 10%)); }
div.userActivity-5 div.bar { background-color: #EA0; #gradient.vertical(#EA0, darken(#EA0, 10%)); }
div.userActivity-4 div.bar { background-color: #D90; #gradient.vertical(#D90, darken(#D90, 10%)); }
div.userActivity-3 div.bar { background-color: #D80; #gradient.vertical(#D80, darken(#D80, 10%)); }
div.userActivity-2 div.bar { background-color: #C40; #gradient.vertical(#C40, darken(#C40, 10%)); }
div.userActivity-1 div.bar { background-color: #C00; #gradient.vertical(#C00, darken(#C00, 10%)); }