div.completeProfile ol {
	padding: 0;
	margin: 0;
	list-style-position: inside;
	font-size: 14px;
	font-weight: bold;
}

div.completeProfile li {
	font-size: 12px;
}

div.completeProfile li, div.completeProfile li a {
	font-weight: bold;
}

div.completeProfile li.incomplete, div.completeProfile li.incomplete a {
	color: #AAA;
	font-weight: normal;
}

div.completeProfile li.incomplete i {
	opacity: 0.5;
}
