#{include 'stylesheets/mixins.less' /}

#tour-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.5;
	z-index: 1034;
}

#tour-bubble {
	display: none;
	left: auto;
	position: absolute;
	z-index: 1035;
	width: 276px;

	.tour-bubble-options {
		border-top: 1px solid #EEE;
		padding: 10px 12px 8px 12px;
		
		.btn {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	
	.tour-bubble-body {
		margin: 0;
	}

	.popover-title { font-weight: bold; }
	
	&.bottom-right div.arrow { left: 20%; }
	&.bottom-left div.arrow { left: 80%; }
}