#{include 'stylesheets/mixins.less' /}
#{include 'stylesheets/layout.config.less' /}

div.sidebar {
	div.group.events {
		font-size: 12px;
		
		ul {
			li {
				position: relative;
				padding-left: 18px;
				
				i {
					position: absolute;
					left: 0;
					top: 1px;
				}
			}
		}
	}
}