#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/mixins.less' /}

// cannot be bundled
textarea.post-message:-moz-placeholder {
	line-height: 36px;
	text-indent: 10px;
	font-size: 16px;
}
textarea.post-message::-webkit-input-placeholder {
	line-height: 36px;
	text-indent: 10px;
	font-size: 16px;
}

// touch device css
body.touch .wall .post-options {
	display: block !important;
}

.wall {
	form {
		margin: 0;
	}
	
	form.post-new-form {
		clear: both;
		margin-right: 10px;
		padding-right: 4px;
	
		.post-message-wrapper {
			float: left;
			width: 100%;
			padding: 4px 8px 4px 4px;
		
			.post-message {
				display: block;
				width: 100%;
				min-height: 36px;
				height: 36px;
				.border-radius(5px);
				resize: none;
				margin-left: -5px;
				margin-top: -5px;
				margin-bottom: 6px;
				
				&.error-empty {
					border-color: fadeout(#C00, 20%);
					@shadow: inset 0 1px 1px rgba(200,0,0,0.075),0 0 8px fadeout(#C00, 50%);
					.box-shadow(@shadow);
				}
			}
			
			&.active {
				min-height: 76px;
				.border-radius(5px);
				background-color: #F5F5F5;
				border: 1px solid #DDD;
				margin-bottom: 8px;
				
				.post-message {
					.border-radius(5px 5px 0 0);
				}
				
				.post-actions {
					display: block;
				}
			}
			
			.post-actions {
				display: none;
				
				.post-asowner, .post-important {
					float: left;
					margin: 5px 15px 0 25px;
					
					label {
						margin: 0;
						padding: 0;
						float: none;
						font-size: 12px;
						color: #999;
						text-shadow: 1px 1px 1px #FFF;
						white-space: nowrap;
					}
				}
				
				.appendix {
					float: right;
					margin-right: 5px;					
					
					.appendix-bg {
						padding: 5px 14px 6px 14px;
						height: 28px;
						background-image: url(../images/attachment-icon.png);
						background-repeat: no-repeat;
						background-position: center;
					}
					
					&:hover {
					}
					
					&.active {
						background: #A9DBA9;
						border-color: #46A546;
						
						&:hover {
							background: #FFCCCC;
							border-color: #EE5F5B;
						}
					}
					
					&.ie {
						display: none;
					}
				}
				
				input[type=submit] {
					float: right;
					width: 100px;
				}
			}
		}
		
		input[type=file] {
			float: left;
			width: 0;
			height: 0;
			
			&.ie {
				width: 200px;
				height: 28px;
				background: transparent;
			}
		}
	}
	
	div.weblink-info {
		position: relative;
		padding: 10px;
		margin: 0 0 10px 0;
		background-color: #F6F6F6;
		.border-radius(5px);
		overflow: hidden;
		min-height: 30px;
		line-height: 16px;
		
		img.link-thumb {
			display: none;
		}
		
		&.thumb {
			img.link-thumb {
				display: block;
				float: left;
				width: 100px;
			}
			
			.weblink-details {
				margin-left: 107px;
			}
		}

		.description {
			font-size: 11px;
		}
		
		&.loading {
			background-image: url(../images/ajax-loader.gif);
			background-repeat: no-repeat;
			background-position: center;
		}
		
		.weblink-clear {
			position: absolute;
			top: 5px;
			right: 10px;
			font-size: 20px;
			display: inline-block;
			text-decoration: none;
		}
	}
	
	ul.posts {
		padding: 0;
		margin: 0;
		list-style: none;
		
		&.loading {
			padding-bottom: 50px;
			background-image: url(../images/ajax-loader.gif);
			background-repeat: no-repeat;
			background-position: center bottom;
		}
		
		> li.post {
			position: relative;
			color: #444;
			padding: 10px 20px 10px 20px;
			margin: 0;
			min-height: 50px;
			border-bottom: 1px solid #E8E8E8;
			
			&:first-child { border-top: 1px solid #E8E8E8; }
			&.important-unread + li.post { border-top: 1px solid #E8E8E8; }
			&.important-unread {
				margin: 10px 0;
				border: 0;
				.box-shadow();
				background-color: #FAFAFA;
				
				.post-read-toggle { display: inline-block; }
			}
			
			a.post-flagged-bar {
				position: absolute;
				width: 10px;
				height: 100%;
				top: 0;
				right: 0;
				background-color: transparent;
				
				&:hover { background-color: lighten(@buttonColor, 40%); }
			}
			&.flagged a.post-flagged-bar { background-color: lighten(@buttonColor, 30%); }

			.post-flagged-on { display: none; }
			&.flagged {
				.post-flagged-on { display: block; }
				.post-flagged-off { display: none; }
			} 

			div.post-status-bar {
				position: absolute;
				width: 10px;
				height: 100%;
				top: 0;
				left: 0;
				background-color: #E8E8E8;
			}
			
			&.important div.post-status-bar { background-color: #D8D8D8; }
			
			&.highlighted div.post-status-bar, &.important-unread div.post-status-bar {
				background-color: lighten(@buttonColor, 30%);
			}
			
			.post-options {
				display: none;
				position: absolute;
				top: -2px;
				right: 20px;
				
				> a {
					margin-left: 5px;
					.border-radius(1px 1px 2px 2px);
					padding: 2px 7px;
					font-size: 12px;
					
					&.dropdown-toggle {
						padding: 2px 5px;
					}
				}
				
				ul.dropdown-menu li.nav-header { padding-left: 20px; }
			}
			
			&:hover {
				.post-options { display: block; }
				
				a.post-flagged-bar {
					background-color: #F0F0F0;
					&:hover { background-color: lighten(@buttonColor, 40%); }
				}
				&.flagged a.post-flagged-bar { background-color: lighten(@buttonColor, 30%); }
			}
			
			&.loading {
				background-image: url(../images/ajax-loader.gif);
				background-repeat: no-repeat;
				background-position: center;
			}
			
			div.post-body {
				margin-left: 58px;
				
				> .likelist {
					display: block;
					font-size: 11px;
					background-color: #F5F5F5;
					border-bottom: 1px solid #E8E8E8;
					margin-bottom: 2px;
					padding: 3px 5px;
					margin-top: 2px;
					
					&.empty {
						display: none;
					}
				}
				
				div.post-share {
					border-top: 1px dashed #EEE;
					padding-top: 5px;
					margin-top: 3px;
					margin-bottom: 5px;
					min-height: 50px;
					
					.post-share-body {
						margin-left: 58px;
					}
					
					&.sender {
						img {
							float: left;
						}
					}
				}
				
				.wiki-teaser, .blog-teaser, .call-teaser {
					display: inline-block;
					width: 90%;
					.box-shadow(0 1px 3px 0px rgba(0,0,0,0.35));
					background-color: #F9F9F9;
					.border-radius(4px);
					margin: 10px 0 7px;
					padding: 15px;
				}
				
				.wiki-teaser-header, .blog-teaser-header {
					font-weight: bold;
					margin: -5px 0 10px;
					border-bottom: 1px solid #DDD;
				}
				
				.wiki-teaser-link, .blog-teaser-link {
					margin-top: 10px;
				}
				
				.blog-teaserimage, .call-teaserimage {
					float: left;
					width: 75px;
					padding: 0 15px 5px 0;
					
					img {
						.border-radius(4px);						
					}
				}
				
				.call-teasertext {
					width: 75%;
					float: left;
				}
			}

			#{include 'stylesheets/tag.wall.attachments.less' /}			
			
			img.thumb {
				float: left;
				margin-right: 8px;
			}
		}
	}
}