#{include 'stylesheets/mixins.less' /}

#appsorter {
	margin-bottom: 20px;

	li {
		border: 1px solid #DDD;
		.border-radius(5px);
		margin-bottom: 3px;
		padding-left: 10px;
		font-weight: bold;
		
		&:hover {
			background-color: #F8F8F8;
			cursor: pointer;
		}
	}
}