#{include 'stylesheets/mixins.less' /}
#{include 'stylesheets/layout.config.less' /}

div.calendar {
	.calendar-body {
		min-height: 100px;
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: -9999px 50px;
	}
	
	&.loading .calendar-body {
		background-position: center 50px;
		text-indent: -9999px;
	}
	
	div.calendar-nav {
		background-color: #F6F6F6;
		height: 22px;
		.border-radius(4px);
		margin-bottom: 20px;
	}
	
	h3 {
		.pull-right {
			margin-left: 5px;
		}
	}
	
	div.calendar-filter {
		ul.dropdown-menu {
			width: 250px;
			
			li a {
				line-height: 20px;
				font-size: 12px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			
				span.badge {
					margin-right: 4px;
				}
				
				i.icon-ok {
					display: none;
					float: right;
				}
				
				&.ok i.icon-ok {
					display: inline-block;
				}
			}
		}
	}
	
	ul.calendar-events {
		padding: 0;
		margin: 5px 0;
		list-style: none;
		
		li {
			a {
				display: block;
				position: relative;
				padding: 3px 55px 3px 5px;
				margin: 5px 0;
				
				.border-radius(3px);
				.box-shadow(inset 0 0px 3px 0px rgba(0,0,0,0.3));
				
				color: white;
				text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
				font-size: 11px;
				font-weight: bold;
    			line-height: 16px;
				
    			&:hover {
    				text-decoration: none;
    				.box-shadow(inset 0 0px 3px 2px rgba(0,0,0,0.2));
    			}
    			
    			span.time {
    				position: absolute;
    				top: 3px;
    				right: 5px;
    				font-size: 11px;
					font-weight: normal;
				}
				
				span.location {
					font-size: 11px;
					font-weight: normal;
				}
				
				@media only screen and (max-width : 1249px) {
					padding-right: 5px;
					
					span.time {
						display: block;
						position: static;
					}	
				}
			}
			
			&.event-fulltime a {
				padding: 3px 5px 3px 5px;
			}
		}
	}
	
	table.calendar {
		table-layout:fixed;
		
		td {
			padding: 0;
			height: 100px;
			width: 14.28%;
			
			background-color: #FFF;

			&.grey, &.weekend {
				background-color: #FBFBFB;
			}
			
			&.otherMonth {
				opacity: 0.5;
			}
			
			&.today {
				background-color: #F6F6F6;
				
				.date {
					color: white;
					text-shadow: 0 -1px 0 #999;	
					background-color: #CCC;
					#gradient.vertical(#CCC, #AAA);
					border-bottom: 1px solid #999;
					.box-shadow(inset 0 1px 0 #DDD);
				}
			}
			
			ul.calendar-events {
				margin: 4px 5px;
			}
		
			.date {
				padding: 3px 5px 1px 5px;
				font-size: 12px;
				background-color: #F0F0F0;
				#gradient.vertical(#F9F9F9, #F0F0F0);
				.box-shadow(inset 0 1px 0 #FFF);
				border-bottom: 1px solid #DDD;
				font-weight: bold;
				color: #999;
				text-shadow: 0 1px 0 #FFF;
			}
		}
		
		&.calendar-week {
			th {
				background-color: #F0F0F0;
				#gradient.vertical(#F9F9F9, #F0F0F0);
				.box-shadow(inset 0 1px 0 #FFF);
				font-weight: bold;
				color: #666;
				text-shadow: 0 1px 0 #FFF;
				text-align: left;
				
				small {
					font-weight: normal;
				}
				
				&.today {
					color: white;
					text-shadow: 0 -1px 0 #999;	
					background-color: #CCC;
					#gradient.vertical(#CCC, #AAA);
					border-bottom: 1px solid #888;
					.box-shadow(inset 0 1px 0 #DDD);
					
					small {
						color: white;
					}
				}
			}
		}
	}
	
	#{include 'stylesheets/tag.calendar.list.less' /}
}