#{include 'stylesheets/mixins.less' /}

ul.calendar-list {
	height: 450px;
	margin-top: 10px;
	background-image: url(../images/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: -9999px 50px;

	&.loading {
		background-position: center 50px;
	}
	
	@media only screen and (min-height : 900px) { height: 500px; }
	@media only screen and (min-height : 1000px) { height: 600px; }
	@media only screen and (min-height : 1100px) { height: 700px; }
	@media only screen and (min-height : 1200px) { height: 800px; }
	
	overflow: auto;
	background-color: white;
	border: 1px solid #DDD;
	.border-radius(2px);

	li {
		padding: 4px 10px 3px 10px;
		border-bottom: 1px solid #EEE;
	}

	li.date {
		background-color: #F0F0F0;
		#gradient.vertical(#F9F9F9, #F0F0F0);
		.box-shadow(inset 0 1px 0 #FFF);
		border-bottom: 1px solid #DDD;
		font-weight: bold;
		color: #999;
		text-shadow: 0 1px 0 #FFF;
		
		&.today {
			color: white;
			text-shadow: 0 -1px 0 #999;	
			background-color: #CCC;
			#gradient.vertical(#CCC, #AAA);
			border-bottom: 1px solid #888;
			.box-shadow(inset 0 1px 0 #DDD);
		}
	}
	
	li.event {
		height: 35px;
		line-height: 35px;
		padding: 10px 10px 10px 20px;
		font-weight: normal;
		color: #333;
		text-decoration: none;
		cursor: pointer;
		position: relative;
		
		span.border {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 10px;
			height: 100%;
		}
		
		div.title {
			display: inline-block;
			line-height: 1.3;
			
			span.name {
				font-weight: bold;
			}
			
			span.status {
				font-size: 11px;
			}
			
			span.badge {
				font-size: 11px;
				padding: 0 8px 1px 6px;
				vertical-align: top;
			}
		}

		span.time {
			color: #999;
		}
	
		&.today {
			background-color: #F9F9F9;
			&:hover {background-color: #F0F0F0;}
			border-bottom: 1px solid #DDD;
		}
		
		&:hover {
			background-color: #F9F9F9;
		}
		
		img.thumb {
			width: 35px;
			height: 35px;
			float: left;
			margin-right: 10px;
		}
	}
}