ul.attachments {
	border-top: 1px dashed #DDD; 
	margin: 3px 0 0 0;
	padding: 5px 0 0 0;
	
	li.attachment {
		line-height: 16px;
		overflow: hidden;
		float: left;
		max-width: 100%;
	
		&.attachment-link {
			&.thumb {
				a.link-thumb {
					float: left;
					display: block;
					width: 100px;
					margin-bottom: 7px;
					position: relative;
					
					img {
						width: 100%;
					}
					
					img.play {
						position: absolute;
						top: 50%;
						left: 50%;
						margin-left: -15px;
						margin-top: -11px;
						height: 22px;
						width: 30px;
					}
				}
				
				.details {
					margin-left: 108px;
				}
			}
			
			.attachment-link-title {
				font-weight: bold;
				
				img {
					overflow: hidden;
					max-height: 16px;
					max-width: 16px;
				}
			}
			
			.loading {
				display: block;
				width: 32px;
				height: 32px;
				overflow: hidden;
				margin: 0 auto;
				background-image: url(../images/ajax-loader.gif);
				background-repeat: no-repeat;
				background-position: center center;
				text-indent: -9999em;
			}
		}
		
		.preview-image, .preview-pdf {
			float: left;
			display: inline-block;
		
			img {
				max-width: 200px;
				border: 1px solid #CCC;
				.border-radius(2px);
				.box-shadow();
				margin-bottom: 3px;
				margin-right: 3px;
				
				&:hover {
					border-color: #999;
				}
			}
		}
		
		.preview-pdf {
			img {
				max-width: 100px;
			}
		}
		
		.preview-download {
			margin-right: 20px;
		}
		
		div.ui360 a.inline-playable {
			display: block;
			width: 400px;
			margin-right: 3px;
		}
	}
	
	&.loading {
		height: 17px; 
		
		background-image: url(../images/ajax-loader-small.gif);
		background-repeat: no-repeat;
		background-position: center;

		li.attachment {
			display: none;
		}
	}
}
