#{cache cacheKey, for:'15min'}
	%{ articles = plugins.WikiPlugin.getArticles(); }%
	#{if articles.size() > 0}
		<div class="group wiki">
			<h4>&{'plugin.wiki.title'}</h4>
			<ul class="unstyled">
				#{list items:articles, as:'article'}
					<li>
						<i class="icon-book"></i>
						<a href="@{WikiApp.article(article.id)}">${article.title}</a>
						&raquo;
						<small class="infolink">#{sender.link article.app.sender /}</small>
						<br>
						<small class="info">
							<span class="tip" title="#{date.full article.currentVersion.created /}">
								&{'plugin.wiki.article.' + ((article.getVersionCount() == 1) ? 'new' : 'modified')}
							</span>
							
							${messages.get('by')?.toLowerCase()} #{user.link article.currentVersion.author /}
						</small>
					</li>
				#{/}
			</ul>
		</div>
	#{/}
#{/}