#{append 'actions'}
	<div data-rest-link data-url="@{resetServerID}" data-type="POST" class="btn btn-danger" data-confirmation-really="&{'really'}"><i class="icon-repeat icon-white"></i>&nbsp;&{'license.serverId.reset'}</div>
#{/}

<fieldset>
	<legend>&{'license'}</legend>
	
	#{if !licenseInfo}
		<div class="alert alert-error">
			&{'administration.settings.noValidLicenseFound'}.
		</div>
	#{/}#{elseif !license.LicenseValidator.valid()}
		<div class="alert alert-error">
			&{'layouts.nonValidLicense'}
		</div>
	#{/}
	
	#{if licenseInfo}
		#{admin.license.info licenseInfo /}
	#{/}
</fieldset>

<fieldset>
	<legend>&{'license.change'}</legend>
	#{if !play.configuration['license']}
		#{form @save()}
			<textarea name="license" rows="4" style="width: 95%;">${licenseKey}</textarea>
			<div class="form-actions">
				#{form.submit 'save' /}
			</div>
		#{/form}
	#{/}#{else}
		<div class="alert alert-info">&{'administration.settings.licenseCanBeChanged'}</div>
	#{/}
</fieldset>