<fieldset>
	<legend>
		&{'serverInfo'}
	</legend>
	
	<table class="table table-striped table-bordered">
		<tbody>
			<tr>
				<th>&{'serverInfo.version'}</th>
				<td>${license.LicenseValidator.getVersion()}</td>
			</tr>
			<tr>
				<th>&{'serverInfo.serverId'}</th>
				<td>${license.LicenseValidator.getServerID()}</td>
			</tr>
			<tr>
				<th>&{'serverInfo.userCount'}</th>
				<td>${license.LicenseValidator.getUserCount()}</td>
			</tr>
		</tbody>
	</table>
</fieldset>