<fieldset>
	<legend>
		&{'quota'} (${quota.currentUsage.formatSize()} / ${quota.totalSpace.formatSize()})
	</legend>
	<div class="progress">
		%{
		percent = quota.getUsagePercent();
		barType = percent >= 70 ? percent > 95 ? 'bar-danger' : 'bar-warning' : 'bar-success';
		}%
		<span class="bar ${barType}" style="width: ${percent}%;">${String.format("%.1f", percent)} %</span>
	</div>
</fieldset>