#{extends 'layouts/main.html' /}
#{set title:messages.get('misc.about') /}

<h3>&{'misc.about.coyo'}</h3>
<div class="row">
	<div class="span4">
		<address>
			<strong>mindsmash GmbH</strong><br />
			Gro&szlig;e Elbstra&szlig;e 145e<br />
			22767 Hamburg, Germany
		</address>
		<address>
			<strong>&{'contact'}</strong><br />
			Tel. +49 (0) 40 609 4000-70<br />
			Fax +49 (0) 40 609 4000-79<br />
			Mail mail@mindsmash.com<br />
			<a href="http://www.mindsmash.com/">http://www.mindsmash.com</a><br>
			<a href="http://www.coyoapp.com/">http://www.coyoapp.com</a>
		</address>
	</div>
	<div class="span4" style="padding: 70px;">
		<a href="http://www.mindsmash.com/"><img src="#{resource 'images/logo-mindsmash.png' /}" border="0" alt="mindsmash GmbH" title="mindsmash GmbH" /></a>
	</div>
</div>
<hr>
<center>
	#{if customVersion}
		&{'misc.about.coyoCustomVersion', play.configuration['application.version'], customVersion}
	#{/}#{else}
		&{'misc.about.coyoVersion', play.configuration['application.version']}
	#{/}
</center>