#{extends 'layouts/main.html' /}
#{set title:messages.get('misc.downloads.title') /}
#{set subtitle:messages.get('misc.downloads.subtitle') /}

<h3>&{'misc.downloads.desktop'}</h3>
<div class="row">
    <div class="span1">
        <img src="#{resource 'images/desktop-icon.png' /}" border="0" alt="Coyo Tray" style="width: 100%;" />
    </div>
    <div class="span6">
        <h4>&{'misc.downloads.coyotray'}</h4>
        <p>&{'misc.downloads.infoCoyoTray'}</p>
        <ul>
            <li>&{'misc.downloads.attribute1CoyoTray'}</li>
            <li>&{'misc.downloads.attribute2CoyoTray'}</li>
            <li>&{'misc.downloads.attribute3CoyoTray'}</li>
        </ul>
    </div>

    <div class="span2">
        <h4>&{'misc.downloads.download'}</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>&{'misc.downloads.os'}</th>
                <th>&{'misc.downloads.type'}</th>
                <th>&{'misc.downloads.arch'}</th>
            </tr>
            </thead>
            <tbody style="cursor: pointer;">
                <tr onclick="window.location='http://download.coyoapp.com/coyo-tray-macos32.pkg';">
                    <td><img src="#{resource 'images/mac-icon.png' /}" border="0" alt="&{'misc.downloads.os.macosx'} &{'misc.downloads.32bit'} &{'misc.downloads.installer'}" /></td>
                    <td><a href="http://download.coyoapp.com/coyo-tray-macos32.pkg">&{'misc.downloads.installer'}</a></td>
                    <td>&{'misc.downloads.32bit'}</td>
                </tr>
                <tr onclick="window.location='http://download.coyoapp.com/coyo-tray-macos64.pkg';">
                    <td><img src="#{resource 'images/mac-icon.png' /}" border="0" alt="&{'misc.downloads.os.macosx'} &{'misc.downloads.64bit'} &{'misc.downloads.installer'}" /></td>
                    <td><a href="http://download.coyoapp.com/coyo-tray-macos64.pkg">&{'misc.downloads.installer'}</a></td>
                    <td>&{'misc.downloads.64bit'}</td>
                </tr>
                *{ Commented out, since the .dmg compilation is currently broken but may be working in the future
                <tr onclick="window.location='http://download.coyoapp.com/coyo-tray-mac32.dmg';">
                    <td><img src="#{resource 'images/mac-icon.png' /}" border="0" alt="&{'misc.downloads.os.macosx'} &{'misc.downloads.32bit'} &{'misc.downloads.diskImage'}" /></td>
                    <td><a href="http://download.coyoapp.com/coyo-tray-mac32.dmg">&{'misc.downloads.diskImage'}</a></td>
                    <td>&{'misc.downloads.32bit'}</td>
                </tr>
                <tr onclick="window.location='http://download.coyoapp.com/coyo-tray-mac64.dmg';">
                    <td><img src="#{resource 'images/mac-icon.png' /}" border="0" alt="&{'misc.downloads.os.macosx'} &{'misc.downloads.64bit'} &{'misc.downloads.diskImage'}" /></td>
                    <td><a href="http://download.coyoapp.com/coyo-tray-mac64.dmg">&{'misc.downloads.diskImage'}</a></td>
                    <td>&{'misc.downloads.64bit'}</td>
                </tr>
                }*
                <tr onclick="window.location='http://download.coyoapp.com/coyo-tray-win32.exe';">
                    <td><img src="#{resource 'images/windows-icon.png' /}" border="0" alt="&{'misc.downloads.os.windows'} &{'misc.downloads.32bit'} &{'misc.downloads.installer'}" /></td>
                    <td><a href="http://download.coyoapp.com/coyo-tray-win32.exe">&{'misc.downloads.installer'}</a></td>
                    <td>&{'misc.downloads.32bit'}</td>
                </tr>
                <tr onclick="window.location='http://download.coyoapp.com/coyo-tray-win64.exe';">
                    <td><img src="#{resource 'images/windows-icon.png' /}" border="0" alt="&{'misc.downloads.os.windows'} &{'misc.downloads.64bit'} &{'misc.downloads.installer'}" /></td>
                    <td><a href="http://download.coyoapp.com/coyo-tray-win64.exe">&{'misc.downloads.installer'}</a></td>
                    <td>&{'misc.downloads.64bit'}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

#{misc.mobileApps}
<p><a href="@{Misc.mobileAccess()}" class="btn btn-primary"><i class="icon-qrcode icon-white"></i> &{'misc.downloads.mobileAccess.qr'}</a></p>
#{/}