#{extends 'layouts/main.html' /}
#{set title:messages.get('misc.help.title') /}

#{if supportCenterUrl}
	#{set 'actions'}
		<a href="${supportCenterUrl}" target="_blank" class="btn"><i class="icon-info-sign"></i> &{'misc.help.support.link'}</a>
	#{/}
#{/}
${settings.getString('helpHtml').userHtml()}
