#{extends 'layouts/main.html' /}
#{set title:messages.get('misc.mobileAccess.title') /}
#{set subtitle:messages.get('misc.mobileAccess.qr') /}

#{misc.mobileApps /}
<hr>

<div class="alert alert-info text-center">&{'misc.mobileAccess.qr.help'}</div>
<div class="text-center">
	<img src="@{Users.mobileAuthQR()}" border="0">
</div>
	