#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.search.title') /}

<div class="alert">
	<strong>&{'admin.search.tip.note'}:</strong> &{'admin.search.tip', models.User.getOnlineUserCount()}
</div>

#{if !active}
	#{if finished}
		<div class="alert alert-info">&{'admin.search.reindex.last', finished.format(libs.DateI18N.fullFormat)}</div>
	#{/}
	
	<div data-rest-link data-url="@{reindex}" data-type="POST" class="btn btn-primary btn-block btn-large"><i class="icon-refresh icon-white"></i> &{'admin.search.reindex'}</div>
#{/}#{else}
	<div class="progress progress-striped active reindex-bar">
		<div class="bar" style="width: 100%;">&{'admin.search.reindex.active'}</div>
	</div>
	<div data-rest-link data-url="@{cancel}" data-type="POST" class="btn btn-mini pull-right reindex-cancel"><i class="icon-remove"></i> &{'admin.search.reindex.cancel'}</div>
	<script type="text/javascript">
		function updateSearchStatus() {
			$.get('@{status}', function(data){
				if(data != 'true') {
					$('.reindex-cancel').remove();
					
					$('.reindex-bar').removeClass('progress-striped');
					$('.reindex-bar').removeClass('active');
					$('.reindex-bar').addClass('progress-success');
					$('.reindex-bar .bar').html('&{'admin.search.reindex.success'}');
				} else {
					setTimeout(updateSearchStatus, 5000);
				}
			});
		}
		updateSearchStatus();
	</script>
#{/}