#{user.thumb item, lazy:true /}
<strong class="filter-field-name">#{user.link item /}</strong> <small class="filter-field-department inline">${item.department}</small>
<small>
	#{if item.email}
		<a class="filter-field-mail" href="mailto:${item.email}">${item.email}</a>
	#{/if}
	#{if item.workPhone}
		/ ${item.workPhone}
	#{/if}
	#{if item.currentLocation}
		<span class="hidden filter-field-currentLocation">${item.currentLocation}</span>
	#{/if}
	#{if item.expertise}
		<span class="hidden filter-field-expertise">${item.expertise}</span>
	#{/if}
</small>