#{set sub_nav_title:'Info' /}
#{set 'sub_nav_url'}@{api.NavigationAPI.appList(user.id)}#{/}

<div class="sender-quickinfo whitebox">
	#{user.thumb user /}
	<h1>#{user.link user /} #{get 'subtitle' /}</h1>
	<small>${user.department}</small>
	<small>
		#{if user.email}
			<a href="mailto:${user.email}">${user.email}</a>
		#{/if}
		#{if user.workPhone}
			<div>${user.workPhone}</div>
		#{/if}
	</small>
	
	<div class="clearfix"></div>
</div>