<div class="group">
	<ul class="unstyled">
		<li><i class="icon-list"></i> #{aa @Users.wall(user.id), label:messages.get('users.sidebar.wall') /}</li>
		<li><i class="icon-info-sign"></i> #{aa @Users.info(user.id), label:messages.get('users.sidebar.info') /}</li>
		<li><i class="icon-picture"></i> #{aa @Users.media(user.id), label:messages.get('users.sidebar.media') /}</li>
	</ul>
</div>