#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.teaser.title') /}

<div class="teaser-carousel" data-ng-controller="AdminTeaserController">
	<div class="alert alert-info" data-ng-show="!loading">
		<div>
			{{'administration.teaser.tooltip.aboutTeasers' | i18n}}
		</div>
		<div class="animate-show" data-ng-show="teasers.length > 1">
			{{'administration.teaser.tooltip.dragndrop' | i18n}}
		</div>
	</div>
	
	<div class="alert alert-info" data-ng-show="loading">
		{{'loading' | i18n}}
	</div>
	
	<div class="alert alert-error animate-show" data-ng-show="errorFetchData || errorDelete">
		<span data-ng-show="errorFetchData">{{'administration.teaser.errorFetchData' | i18n}}</span>
		<span data-ng-show="errorDelete">{{'administration.teaser.errorDelete' | i18n}}</span>
	</div>
	
	<div class="alert alert-success animate-show" data-ng-show="successSaveSettings">
		{{'administration.teaser.successSaveSettings' | i18n}}
	</div>
	
	<div class="teaser-nav form-inline" data-ng-show="!loading">
		<div class="btn-group pull-right">
			<a class="btn" data-ng-click="showSettings()"><i class="icon-cog icon"></i></a>
			<a class="btn btn-primary" data-ng-click="newTeaser()"><i class="icon-plus icon-white"></i> {{'administration.teaser.new' | i18n}}</a>
		</div>
	</div>

	<div class="no-content" data-ng-show="!loading && teasers.length <= 0">
		{{'administration.teaser.empty.message' | i18n}} <a data-ng-click="newTeaser()">{{'administration.teaser.empty.link' | i18n}}</a>
	</div>
	
	<div class="teaser-table" data-ng-show="!loading && teasers.length > 0">
		<table data-ng-table="tableParams" data-template-pagination="template/table/pager.html" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th></th>
					<th>{{'administration.teaser.table.image' | i18n}}</th>
					<th>{{'administration.teaser.table.title' | i18n}}</th>
					<th>{{'administration.teaser.table.created' | i18n}}</th>
					<th>
						<i class="icon-remove-sign icon-teaser-table" data-ng-show="errorSyncOrder"></i>
						<!-- <i class="icon-ok-sign icon-teaser-table" data-ng-show="!errorSyncOrder && !syncingOrder"></i> -->
						<i class="icon-refresh icon-teaser-table" data-ng-show="!errorSyncOrder && syncingOrder"></i>
					</th>
				</tr>
			</thead>
			<tbody data-ui-sortable="sortableOptions" data-ng-model="teasers">
				<tr data-ng-repeat="teaser in teasers">
					<td class="status" data-ng-class="{'active': teaser.active}"></td>
					<td>
						<div class="teaser-image" data-ng-if="teaser.image">
							<img data-ng-src="{{teaser.image}}" />
						</div>
					</td>
					<td>{{teaser.title}}</td>
					<td><span data-user-link="teaser.author"></span> <span data-fuzzy-date="teaser.created"></span></td>
					<td class="options">
						<div class="btn-group">
							<a class="dropdown-toggle" data-toggle="dropdown">{{'actions' | i18n}}</a>
							<ul class="dropdown-menu pull-right">
								<li>
									<a data-ng-click="updateTeaser($index, true)" data-ng-if="!teaser.active">
										<i class="icon-ok"></i> {{'administration.teaser.activate' | i18n}}
									</a>
									<a data-ng-click="updateTeaser($index, false)" data-ng-if="teaser.active">
										<i class="icon-remove"></i> {{'administration.teaser.deactivate' | i18n}}
									</a>
								</li>
								<li>
									<a data-ng-click="editTeaser($index)">
										<i class="icon-edit"></i> {{'administration.teaser.edit' | i18n}}
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a data-confirm-dialog="deleteTeaser($index)" data-confirm-message="{{'deleteCheck.teaser' | i18n}}">
										<i class="icon-trash"></i> {{'administration.teaser.delete'| i18n}}
									</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
