#{cache cacheKey, for:'30min'}
	%{ workspaces = plugins.internal.MeetWorkspacesPlugin.getWorkspaces(); }%
	#{if workspaces && workspaces.size() > 0}
		<div class="group thumblist">
			<h4>&{'plugin.meetWorkspaces'}</h4>
			<ul class="unstyled">
				#{list items:workspaces, as:'ws'}
					<li class="tip" title="${ws.displayName}">#{workspace.thumb ws /}</li>
				#{/list}
			</ul>
			<div class="clearfix"></div>
		</div>
	#{/}
#{/}