<li class="post ${(post.author == connectedUser).yesno('me','')}" data-post-id="${post.id}">
	#{if post.event}
		<small class="post-time">#{date.fuzzy post.created /}</small>
		<small>${post.getEventMessage(connectedUser)}</small>
	#{/}#{else}
		#{sender.thumb post.author /}
		<div class="post-body">
			<small class="post-time">#{date.fuzzy post.created /}</small>
			<strong class="post-author">#{sender.link post.author /}</strong>
			<p class="post-message">#{if !post.message && post.attachments.size() == 0}<i class="muted">&{'messaging.post.emptyMessage'}</i>#{/}#{else}${post.linkifiedMessage.raw()}#{/}</p>
			
			#{if chat}
				#{if post.attachments.size() > 0}
					<ul class="unstyled attachments">
						#{list items:post.attachments, as:'att'}#{preview.download att /}#{/}
					</ul>
					<div class="clearfix"></div>
				#{/}
			#{/}#{else}
				#{wall.post.attachments post /}
			#{/}
		</div>
	#{/}
</li>