<div id="sidebar-messaging" data-ng-controller="SidebarController">
	<div class="btn-group pull-left conversation-status-switch">
		#{list items:models.messaging.ConversationStatus.getDefault(), as:'s'}
			<a data-ui-sref="conversation({status : '${s}'})" data-ui-sref-active="active" class="conversation-status-link btn"><i class="${s.icon}"></i> ${s.label}</a>
		#{/}
	</div>
	
	<a href="@{Messaging.create}" target="_self" class="btn btn-primary ajax tip pull-right" title="&{'messaging.conversation.portal.create'}"><i class="icon-plus icon-white"></i></a>
	<div class="clearfix"></div>
	<div id="conversations" data-ng-class="{'loading' : loading}">
		<ul class="conversations-list unstyled" data-ng-if="conversations.length > 0">
			<li data-ng-repeat="cm in conversations | orderBy:'-modified'">
				<a data-ui-sref="conversation({id: cm.id})" data-ui-sref-active="active" class="conversation-link" data-ng-class="{'unread' : cm.unreadCount > 0}">
					<span class="options">
						<i data-ng-if="!cm.archived" data-conversation-move="cm" data-status="archive" class="option icon-folder-close" title="&{'messaging.conversation.archive'}"></i>
						<i data-ng-if="cm.archived" data-conversation-move="cm" data-status="reopen" class="option icon-inbox" title="&{'messaging.conversation.unarchive'}"></i>
						<i data-ng-if="cm.archived" data-conversation-delete="cm" class="option icon-remove" title="&{'messaging.conversation.delete'}"></i>
					</span>
					<span data-conversation-unread-count="cm"></span>
					<img data-ng-src="{{cm.thumbURL}}" class="thumb" data-ng-class="cm.conversationStatus" alt="{{cm.subject}}" title="{{cm.subject}}">
					<span class="conversation-link-body">
						<span class="title" title="{{cm.subject}}">{{cm.subject}}</span>
						<small data-fuzzy-date="cm.modified"></small>
					</span>
				</a>
			</li>
		</ul>
		<p class="conversations-empty" data-ng-if="conversations.length == 0"><small>&{'messaging.noConversations'}</small></p>
	</div>
</div>