#{if conversations.size() > 0}
	<li class="nav-header nav-header-dark injected">&{'messaging.conversation.navbar.recentConversations'}</li>
	<li class="divider injected"></li>
	
	#{list items:conversations,  as:'conversationMember'}
		<li class="item injected">
			<a href="@{Messaging.portal(conversationMember.id)}" class="#{if conversationMember.isUnread()}unread#{/}#{else}read#{/else}" title="${conversationMember.subject}">
				<img src="${conversationMember.getThumbURL()}">
				<span class="subject">
					${conversationMember.subject.shorten(50, null)}<br>
					<small>#{date.fuzzy conversationMember.conversation.lastPost /}</small>
				</span>
				#{if conversationMember.isUnread()}<span class="badge badge-important">${conversationMember.getUnreadCount()}</span>#{/}
			</a>
		</li>
		<li class="divider injected"></li>
	#{/list}
#{/if}