#{extends 'layouts/modal.html' /}
#{set title:messages.get('messaging.conversation.create') /}

#{form @save(), enctype:'multipart/form-data', class:'conversation-create'}
	<input type="hidden" name="redirectToPortal" value="true">
	
	#{if user}
		<input type="hidden" name="members" value="${user.id}">
		#{set subtitle:messages.get('messaging.conversation.to') + ': ' + user.fullName /}
	#{/}#{else}
		#{userchooser id:'messageMembers', name:'members', showExternals:true, showMe:false, label:messages.get('messaging.conversation.form.members') /}
	#{/}
	
	#{form.field.textarea 'message', label:' ', rows:6, class:'span100', placeholder:messages.get('messaging.conversation.form.message') /}
	#{form.field.file 'file', label:'messaging.conversation.form.attachment', class:'span100', multiple:true /}
	
	<div class="form-actions">
		<input type="submit" id="messageSubmit" class="btn btn-primary" value="&{'messaging.conversation.form.submit'}">
	</div>
#{/}

<script type="text/javascript">
	$('form.conversation-create textarea').autogrow();

	var $userchooser = $('#messageMembers');
	if($userchooser.length > 0) {
		var $submit = $('#messageSubmit');
		$submit.attr('disabled', 'disabled');
		
		$userchooser.bind('userchooserChange', function(){
			if($userchooser.find('select option').length == 0) {
				$submit.attr('disabled', 'disabled');
			} else {
				$submit.removeAttr('disabled');
			}
		});
	}
	
	#{if !redirectToPortal}
		$('form.conversation-create').ajaxForm({
			success: function() {
				$('#modal').modal('hide');
			}
		});
	#{/}
</script>