#{extends 'layouts/modal.html' /}
#{set title:messages.get('messaging.conversation.invite') /}

#{form @doInvite()}
	<input type="hidden" name="id" value="${cm.id}">

	#{userchooser name:'members', class:'span100', showExternals:true, showMe:false, label:'messaging.conversation.invite.form.members' /}
	<div class="clearfix"></div>
	
	<div class="form-actions">
		<input type="submit" class="btn btn-primary" value="&{'messaging.conversation.invite.form.submit'}">
	</div>
#{/}