#{extends 'layouts/main.html' /}
#{set title:messages.get('messaging.portal.title') /}

#{addLess 'messaging.portal' /}
*{addScript 'messaging.portal' /}*

#{addScript 'coyo/messaging/portal' /}
#{addScript 'coyo/messaging/portal/SidebarController' /}
#{addScript 'coyo/messaging/portal/ConversationOptionsController' /}

#{set angular_app: 'coyo.messaging.portal' /}

<span data-ng-view></span>

#{set 'actions'}
	<div id="conversation-options" data-ng-controller="ConversationOptionsController">
		#{if settings.getBoolean('messagingChat') && models.Settings.findApplicationSettings().getBoolean('messagingWebRTC')}
		<div class="btn-group"><div data-video-chat-button="conversation.otherUsers"></div></div>
		#{/}
			
		<div class="btn-group" data-ng-show="conversation">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#" target="_self"><i class="icon-cog"></i></a>
			<ul class="dropdown-menu pull-right">
				<li><a href="#" data-conversation-invite="conversation" ><i class="icon-plus-sign"></i> &{'messaging.conversation.option.invite'}</a></li>
				<li class="divider"></li>
				<li data-ng-if="!conversation.archived"><a href="#" data-conversation-move="conversation" data-status="archive" class="option"><i class="icon-folder-close"></i> &{'messaging.conversation.option.archive'}</a></li>
				<li data-ng-if="conversation.archived"><a href="#" data-conversation-move="conversation" data-status="reopen" class="option"><i class="icon-inbox"></i> &{'messaging.conversation.option.unarchive'}</a></li>
				<li class="divider"></li>
				<li><a href="#" data-conversation-delete="conversation" class="option"><i class="icon-remove"></i> {{'messaging.conversation.option.' + (conversation.activeMemberCount > 2 && 'leave' || 'delete') | i18n}}</a></li>
			</ul>
		</div>
	</div>
#{/}

<div id="conversation" data-ng-controller="ConversationController" data-ng-init="init(true)">
	<div data-ng-class="{'loading' : loading}"></div>
	<div id="conversation-scrollable" data-endless-scroll-top="loadMorePosts()" data-enabled="!loading" data-ng-show="enabled">
		<ul id="conversation-stream" data-stream-adjust="postCollection.posts">
			<li data-ng-repeat="post in postCollection.posts" class="post" data-ng-class="{'me' : post.author.currentUser}">
				<div data-ng-if="post.event">
					<small class="post-time" data-fuzzy-date="post.created"></small>
					<small>{{post.message}}</small>
				</div>
				<div data-ng-if="!post.event">
					<div data-user-thumb="post.author"></div>
					<div class="post-body">
						<small class="post-time" data-fuzzy-date="post.created"></small>
						<strong class="post-author"><span data-user-link="post.author"></span></strong>
						<p class="post-message"><i data-ng-if="!post.message && post.attachments.length == 0" class="muted">&{'messaging.post.emptyMessage'}</i><span data-ng-bind-html="post.linkifiedMessage"></span></p>
						
						<div data-ng-if="post.attachments.length" data-wall-post-attachments="post.attachments"></div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<form id="conversation-form" data-upload-dropzone="attachments" name="postForm" data-ng-submit="addPost(post)" data-ng-controller="PostFormController" data-ng-show="enabled">
		<div class="form-actions">
			<div class="form-message-wrapper">
				<textarea data-focus-me="!loading" data-ng-disabled="loading" class="form-message" data-ng-model="post.message" rows="3" data-autogrow data-focus="postCollection" placeholder="&{'messaging.placeholder'}" data-on-enter="addPost(post)"></textarea>
				<div data-ng-model="post.attachments" data-upload="getUploadOptions()" class="files-styled"></div>
			</div>
			<div class="pull-right">
				<a id="upload-trigger" class="btn appendix tip" title="&{'messaging.form.attachAFile'}" data-ng-disabled="loading" data-upload-trigger="attachments" data-upload-refresh="enabled"><span class="appendix-bg">&nbsp;</span></a>
				<input type="submit" class="submit prevent btn btn-primary" value="&{'messaging.submit'}" data-ng-disabled="loading || !post.message">
			</div>
		</div>
	</form>
</div>
