#{textExpander}${_arg.linkifiedMessage.raw()}#{/}

<ul class="unstyled attachments">
	#{if _arg.file}
		<li class="attachment">#{preview _arg.file /}</li>
	#{/}#{else}
		<li><small>&{'notfound'}</small></li>
	#{/}
</ul>
<div class="clearfix"></div>