<strong>#{sender.link _arg.author /}</strong> &{'app.files.share.post.text'}
#{if _arg.file}
	<a href="${controllers.app.Files.getBrowseUrl(_arg.app, _arg.targetFile)}"><i class="icon-file"></i> <strong>${_arg.file.name}</strong></a>
#{/}#{else}
	<strong>&{'notfound'}</strong>
#{/}