<form id="linklist-app-link-form" name="linklistform">
	<div class="modal-body">
		<div class="control-group">
			<label class="control-label" for="link">{{'app.socialLinklist.link.form.link'|i18n}}</label>
				<div class="input-append input-div">
					<input class="span6" id="appendedInputButton" type="text" name="linkUrl"
						data-ng-model="currData.linkUrl" data-ng-keyup="enter($event, currData, linklistform.linkUrl.$valid)" data-ng-class="{invalid: linklistform.linkUrl.$invalid}"
						data-focus required data-ng-pattern='url_regexp' data-ng-disabled="loading.busy"/>
					<button class="btn" type="button" data-ng-disabled="linklistform.linkUrl.$invalid || loading.busy"
						data-ng-click="getMetaOfUrl(currData)">{{'app.socialLinklist.link.form.searchMeta' | i18n}}
					</button>
				</div>
				<div class="loading" data-ng-show="loading.busy"></div>
				<div class="alert alert-danger inputMessage" data-ng-show="inputUrlInvalid">{{'app.socialLinklist.form.enterLinkInvalidMessage' | i18n}}</div>
		</div>
		<div class="control-group" data-ng-show="currData.enterTitelAndDescription || currData.edit">
				<label class="control-label" for="title">{{'app.socialLinklist.link.form.title'|i18n}}</label>
				<div class="controls">
					<input type="text" id="title" name="title" data-ng-model="currData.title" data-ng-keyup="enter($event, currData, linklistform.$valid)"
					 maxlength="120" required pattern=".*\S+.*"/>
				</div>
				<div class="alert alert-danger inputMessage" data-ng-show="currData.title.length > 120">{{'app.socialLinklist.form.enterLinkTitleInvalidMessage' | i18n}}
				</div>
			</div>
		<div class="control-group" data-ng-show="currData.enterTitelAndDescription || currData.edit">
			<label class="control-label" for="description">{{'app.socialLinklist.link.form.description'| i18n}}</label>
			<div class="controls">
				<textarea id="description" name="description"
						data-ng-model="currData.description" rows="5">
				</textarea>
			</div>
		</div>
	</div>
	<div class="modal-footer control-group">
		<div class="controls">
			<button class="btn" type="button"
				data-ng-click="$dismiss()">{{'cancel' | i18n}}
			</button>
			<button class="btn btn-primary pull-right link-app-submit"
				data-ng-click="save(currData)" type="button"
				data-ng-disabled="linklistform.$invalid || inputUrlInvalid || currData.title.length > 120"
				data-ng-keyup="enter($event, currData, linklistform.$valid)">
				<i class="icon-ok icon-white"></i>&nbsp;{{'save' | i18n}}
			</button> 
		</div>
	</div>
</form>