<div id="call-detail-view" class="call-modal">
    <div class="modal-header">
        <div class="call-status">
            <h4 class="modal-summary-title">{{'calls.summary.title' | i18n}}</h4>
        </div>
    </div>
    <div class="modal-body item-detail-content" data-ng-show="!summaryEmpty">
        <span class="item-value ng-isolate-scope show-newline">{{currentCall.summary}}</span>
    </div>
    <div class="modal-footer item-detail-info">
        <ul class="unstyled">
            <li>
                <div data-ng-show="currentCall.incoming"><i class="icon-arrow-down"></i>&nbsp;<span>{{'calls.incoming' | i18n}}</span></div>
                <div data-ng-show="!currentCall.incoming"><i class="icon-arrow-up"></i>&nbsp;<span>{{'calls.outgoing' | i18n}}</span></div>
            </li>
            <li><i class="icon-user" title="{{'date.created' | i18n}}"></i>&nbsp;<span>{{currentCall.otherUsers[0].fullName}}</span></li>
            <li><i class="icon-time" title="{{'date.modified' | i18n}}"></i>&nbsp;<span class="call-details-fuzzy-date" data-fuzzy-date="date"></span></li>
        </ul>
    </div>
</div>
