<div class="modal-header">
	<h3>{{modalHeader}}</h3>
</div>
<div class="modal-body webrtc-modal-body">
	<div class="alert" data-ng-if="response === 'DECLINED'">{{'webrtc.call.declined' | i18n:user.fullName}}</div>
    <div class="alert" data-ng-if="response === 'TIMEOUT'">{{'webrtc.call.cancelled' | i18n:user.fullName}}</div>
    <div class="alert" data-ng-if="response === 'TIMEOUTSELF'">{{'webrtc.call.timeout' | i18n:user.fullName}}</div>
	<div class="alert" data-ng-if="response === 'NOTSUPPORTED'">{{'webrtc.error.notsupported.caller' | i18n:user.fullName}}</div>
	<div class="alert" data-ng-if="response === 'NOPERMISSIONSGRANTED'">{{'webrtc.error.nopermissions.caller' | i18n:user.fullName}}</div>
	<div class="alert" data-ng-if="response === 'NOTAVAILABLE'">{{'webrtc.error.offline.caller' | i18n:user.fullName}}</div>
	<div class="missed-cancel-fuzzy-date" data-fuzzy-date="declinedCallDate" data-ng-if="response == 'DECLINED' || response == 'TIMEOUT' || response === 'NOTSUPPORTED' || response === 'NOPERMISSIONSGRANTED' || response === 'NOTAVAILABLE'"></div>
	<div data-ng-if="!response" class="loading"></div>
</div>
<div class="modal-footer">
	<a data-ng-if="!response || response === 'CANCEL'" data-ng-click="$close('CANCEL')" class="btn btn-danger">{{'cancel' | i18n}}</a>
	<a data-ng-if="response === 'DECLINED'" data-ng-click="$close('DECLINED')" class="btn btn-primary">{{'ok' | i18n}}</a>
    <a data-ng-if="response === 'TIMEOUT'" data-ng-click="$close('TIMEOUT')" class="btn btn-primary">{{'ok' | i18n}}</a>
    <a data-ng-if="response === 'TIMEOUTSELF'" data-ng-click="$close('TIMEOUT')" class="btn btn-primary">{{'ok' | i18n}}</a>
	<a data-ng-if="response === 'NOTSUPPORTED'" data-ng-click="$close('NOTSUPPORTED')" class="btn btn-primary">{{'ok' | i18n}}</a>
	<a data-ng-if="response === 'NOPERMISSIONSGRANTED'" data-ng-click="$close('NOPERMISSIONSGRANTED')" class="btn btn-primary">{{'ok' | i18n}}</a>
	<a data-ng-if="response === 'NOTAVAILABLE'" data-ng-click="$close('NOTAVAILABLE')" class="btn btn-primary">{{'ok' | i18n}}</a>
</div>
