<div>
	<select data-ui-select2="options" data-placeholder="{{'webrtc.context.chooser.placeholder' | i18n}}" data-ng-model="ngModel">
		<option value=""></option>
        <option data-ng-repeat="context in list track by $index" value="{{context.uid}}">{{context.name}}</option>
	</select>
</div>
