<div class="modal-header">
	<h3>{{modalTitle}}</h3>
</div>
<div class="modal-body webrtc-modal-body">
	<div class="alert" data-ng-if="response === 'CANCEL' || response === 'TIMEOUT' || response === 'NOTSUPPORTED' || response === 'NOTAVAILABLE' || response === 'UNKNOWN'">{{'webrtc.call.cancelled' | i18n:caller.fullName}}</div>
	<div class="missed-cancel-fuzzy-date" data-fuzzy-date="cancelledCallDate" data-ng-if="response === 'CANCEL' || response === 'TIMEOUT' || response === 'NOTSUPPORTED' || response === 'NOTAVAILABLE' || response === 'UNKNOWN'"></div>
	<div data-ng-hide="response === 'CANCEL' || response === 'TIMEOUT' || response === 'NOTSUPPORTED' || response === 'NOTAVAILABLE' || response === 'UNKNOWN'">
		<div class="webrtc-user-avatar">
			<img data-ng-src="{{caller.thumbUrl}}" alt="{{caller.fullName}}" title="{{caller.fullName}}" />
		</div>
		<div class="webrtc-user-name">{{caller.fullName}}</div>
	</div>
</div>
<div class="modal-footer webrtc-modal-footer">
	<a data-ng-if="!response" data-ng-click="$close('DECLINED')" class="btn btn-danger">{{'webrtc.call.decline' | i18n}}</a>
    <div class="btn-group inline" data-ng-if="!response">
        <a class="btn btn-primary" data-ng-click="$close('ACCEPTED')"><i class="icon-white" data-ng-class="{'icon-facetime-video' : !isAudioOnly, 'icon-headphones' : isAudioOnly}"></i> {{'webrtc.call.accept' | i18n}}</a>
    </div>
	<a data-ng-if="response === 'CANCEL' || response === 'TIMEOUT' || response === 'NOTSUPPORTED' || response === 'NOTAVAILABLE' || response === 'UNKNOWN'" data-ng-click="$close('OK')" class="btn btn-primary">{{'ok' | i18n}}</a>
</div>