<div class="webrtc-modal-video-chat">
	<div class="webrtc-video-container">
		<div class="webrtc-video-wrapper">
			<div data-ng-if="muted" class="webrtc-audio-muted"><img data-ng-src="{{img.audio.muted}}" /></div>
			<div data-ng-if="streams.remote.disabled" class="webrtc-remote-disabled">{{'webrtc.message.novideo' | i18n:user.fullName}}</div>
			<div data-ng-if="streams.remote.disabled" class="webrtc-disabled-avatar" style="background-image: url({{user.avatarUrl}});"></div>
			<div data-ng-if="streams.local && !videoOff" class="webrtc-local-video" data-video-element data-video-muted data-video-src="streams.local.url"></div>
			<div class="webrtc-remote-video" data-video-element data-video-src="streams.remote.url"></div>
		</div>
		<div class="webrtc-video-footer">
			<div class="webrtc-call-with">{{'webrtc.call.with' | i18n}} <strong>{{user.fullName}}</strong></div>
			<div class="webrtc-video-controls">
				<a data-ng-click="mute()" data-ng-attr-title="{{ (muted ? 'webrtc.unmute' : 'webrtc.mute') | i18n}}"><i data-ng-class="{'icon-volume-up icon-white' : !muted}" class="icon-volume-off"></i></a>
				<a data-ng-click="toggleVideo()" data-ng-attr-title="{{ (videoOff ? 'webrtc.withvideo' : 'webrtc.novideo') | i18n}}"><i data-ng-class="{'icon-white' : !videoOff}" class="icon-facetime-video"></i></a>
				<a data-ng-click="browse()" title="{{'webrtc.browse' | i18n}}"><i class="icon-share-alt icon-white"></i></a>
			</div>
		</div>
	</div>
    
    <div class="webrtc-notes-container">
    	<div class="webrtc-notes-header">
            <h4>{{'calls.notes' | i18n}}</h4>
		    <div class="typing">{{typingStr | i18n:userTyping}}</div>
    	</div>
    	<div class="webrtc-notes">
    		<textarea class="notes-area" data-ng-keyup="keyUp($event)" data-ng-readonly="textAreaReadOnly" data-ng-disabled="!textareaEnabled" placeholder="{{'calls.notes.placeholder' | i18n}}" data-ng-model="summaryNotes" rows="14"></textarea>
    	</div>
		<a data-ng-click="hangUp()" class="webrtc-hangup-button">{{'webrtc.hangup' | i18n}}</a>
    </div>
    
</div>