<div data-video-chat-header="user"></div>
<div class="modal-body webrtc-modal-body">
    <div class="loading loading-gap"></div> <center>{{'webrtc.call.waiting' | i18n:user.fullName}}</center>
</div>
<div class="modal-footer">
    <a data-ng-click="cancel()" class="btn btn-primary">{{'cancel' | i18n}}</a>
</div>