<div class="modal-header webrtc-video-chat-header">
		<div class="webrtc-user-avatar">
		<img data-ng-src="{{user.thumbUrl}}" alt="{{user.fullName}}" title="{{user.fullName}}" />
	</div>
	<div class="webrtc-user-name">{{user.fullName}}</div>
</div>