<div data-video-chat-header="user"></div>
<div class="modal-body webrtc-modal-body">
	<div data-ng-show="message" class="alert">{{message}}</div>
	<div data-ng-show="error" class="alert alert-danger">{{error}}</div>
	<div class="missed-cancel-fuzzy-date" data-fuzzy-date="endedCallDate"></div>
</div>
<div class="modal-footer">
	<a data-ng-click="ok()" class="btn btn-primary">{{'ok' | i18n}}</a>
</div>