<div>
    <span data-ng-show="showButton || buttonDisabled">
        <div class="btn-group" data-ng-show="userList.length == 1" data-ng-class="{'btn-mini' : btnMini, 'disabled': buttonDisabled && !showButton, 'btn-showcall-disabled': buttonDisabled && !showButton}">
            <span data-tooltip-append-to-body="true" data-tooltip="{{'messaging.conversation.startAudioChat' | i18n}}" class="btn btn-primary" data-ng-class="{'btn-mini' : btnMini}"><span data-open-video-chat="userList[0]" data-audio-only="true"><i class="icon-headphones icon-white"></i></span></span>
            <span data-tooltip-append-to-body="true" data-tooltip="{{'messaging.conversation.startVideoChat' | i18n}}" class="btn btn-primary" data-ng-class="{'btn-mini' : btnMini}"><span data-open-video-chat="userList[0]" data-audio-only="false"><i class="icon-facetime-video icon-white"></i></span></span>
        </div>
        <div data-ng-show="userList.length > 1" data-ng-class="{'btn-mini' : btnMini, 'disabled': buttonDisabled && !showButton, 'btn-showcall-disabled': buttonDisabled && !showButton}">
            <span class="btn-group chat-button-dropdown">
                <span data-tooltip-append-to-body="true" data-tooltip="{{'messaging.conversation.startAudioChat' | i18n}}" class="btn btn-primary" data-ng-class="{'btn-mini' : btnMini}">
                    <span class="dropdown-toggle">
                        <span data-audio-only="true" data-toggle="dropdown" target="_self"><i class="icon-headphones icon-white"></i> <span class="caret"></span></span>
                        <ul class="dropdown-menu pull-right">
                            <li data-ng-repeat="user in userList" class="user-call-dropdown" data-ng-class="{disabled : !user.isCallable}">
                                <a data-open-video-chat="user" data-audio-only="true">{{user.fullName}}</a>
                            </li>
                        </ul>
                    </span>
                </span>
                <span data-tooltip-append-to-body="true" data-tooltip="{{'messaging.conversation.startVideoChat' | i18n}}" class="btn btn-primary" data-ng-class="{'btn-mini' : btnMini}">
                    <span class="dropdown-toggle">
                        <span data-audio-only="false" data-toggle="dropdown" target="_self"><i class="icon-facetime-video icon-white"></i> <span class="caret"></span></span>
                        <ul class="dropdown-menu pull-right">
                            <li data-ng-repeat="user in userList" class="user-call-dropdown" data-ng-class="{disabled : !user.isCallable}">
                                <a data-open-video-chat="user" data-audio-only="false">{{user.fullName}}</a>
                            </li>
                        </ul>
                    </span>
                </span>
            </span>
        </div>
    </span>
</div>
