<div data-video-chat-header="user"></div>
<div class="modal-body webrtc-modal-body">
    <div class="alert alert-info">
		{{'webrtc.activateAudioVideo' | i18n}}
    </div>
</div>
<div class="modal-footer">
    <a data-ng-click="cancel()" class="btn btn-primary">{{'cancel' | i18n}}</a>
</div>