<div data-video-chat-header="user"></div>
<div class="modal-body webrtc-modal-body">
	<form class="form-stacked">
		<div data-ng-show="showContextChooser" class="call-context-chooser">
            <div data-context-chooser="select2OptionsContextChooser" data-context-list="{{contextList}}" data-ng-model="contextUid"></div>
		</div>
		<div class="control-group">
			<label class="control-label" for="summary">{{'calls.summary.label' | i18n}}</label>
			<div class="controls">
				<textarea id="summary" data-ng-model="call.summary" rows="5"></textarea>
			</div>
		</div>
		<div data-wall-chooser="select2OptionsWallChooser" data-ng-model="wall"></div>
	</form>
</div>
<div class="modal-footer">
    <a data-ng-click="save()" class="btn btn-primary">{{saveButtonMsg}}</a>
</div>
