<link rel="stylesheet" type="text/css" href="#{resource 'stylesheets/plugin.tour.less' /}">
<script type="text/javascript" src="#{resource 'scripts/plugin.tour.js' /}"></script>

<div id="tour-overlay"></div>
<div class="popover" id="tour-bubble">
	<div class="arrow"></div>
	<h3 class="popover-title"></h3>
	<div class="popover-content">
		<p class="tour-bubble-body"></p>
	</div>
	<div class="tour-bubble-options">
		<a class="btn btn-mini tour-bubble-button-close">&{'tour.close'}</a>
		<a class="btn btn-mini btn-primary pull-right tour-bubble-button-next">&{'tour.next'}</a>
	</div>
 </div>