#{extends 'layouts/main.html' /}
#{set title:messages.get('calls.index.title') /}

#{addLess 'generic.calls' /}

<div class="call-table" data-ng-controller="CallsController">
	<table data-ng-show="total > 0" data-ng-table="tableParams" data-template-pagination="template/table/pager.html" class="table table-striped">
		<tbody>
			<tr data-ng-repeat="call in $data">
				<td class="call-status">
					<span data-ng-show="call.incoming" data-tooltip="{{'calls.incoming' | i18n}}" data-ng-class="{'label-success' : call.status == 'OK', 'label-important' : call.status != 'OK'}" class="label"><i class="icon-arrow-down icon-white"></i></span>
					<span data-ng-show="!call.incoming" data-tooltip="{{'calls.outgoing' | i18n}}" data-ng-class="{'label-success' : call.status == 'OK', 'label-important' : call.status != 'OK'}" class="label"><i class="icon-arrow-up icon-white"></i></span>
				</td>
				<td data-title="'calls.date' | i18n" data-sortable="'date'" class="call-meta">
					<div class="call-date" data-fuzzy-date="call.created"></div>
				</td>
				<td class="call-participant" data-title="'calls.participants' | i18n">
					<div data-ng-repeat="participant in call.otherUsers" class="call-user">
						<img data-ng-src="{{participant.thumbUrl}}" alt="{{participant.fullName}}" title="{{participant.fullName}}" />
						<div data-user-link="participant" class="call-user-name"></div>
					</div>
				</td>
				<td data-title="'calls.context' | i18n" data-sortable="'context.title'"><a href="{{call.context.url}}">{{call.context.title}}</a></td>
				<td class="show-call-row">
					<button class="btn btn-mini" data-ng-class="{'disabled': !showSummary(call), 'btn-showcall-disabled': !showSummary(call)}" title="{{'list.item.display' | i18n}}" data-ng-click="showCall(call)"><i class="icon-comment"></i></button>
				</td>
				<td class="call-options">
					<div class="chat-button">
						<div data-video-chat-button="call.otherUsers" data-show-disabled-placeholder="true" data-btn-mini="true"></div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div data-ng-show="total < 1"><p class="no-items">{{'calls.empty.message' | i18n}}</p></div>
</div>