#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

#{form action:@create(), enctype:'multipart/form-data', class:'form-horizontal'}
	#{crud.form /}
	<div class="form-actions">
		<input class="btn btn-primary" type="submit" name="_save" value="&{'crud.save', type.modelName}" />
		<input class="btn" type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
		<input class="btn" type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
	</div>
#{/form}

