#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.index.title') /}

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>&{'crud.index.objectType'}</th>
			<th>&{'crud.index.action'}</th>
		</tr>
	</thead>
	<tbody>
		#{crud.types}
			<tr>
				<td><a href="${type.listAction}">&{type.name}</a></td>
				<td class="options">
					<a class="btn btn-primary" href="${type.blankAction}">&{'crud.index.add', type}</a>
				</td>
			</tr>
		#{/crud.types}
	</tbody>
</table>