#{extends 'layouts/CRUD.html' /}
#{addLess 'bootstrap-crud' /}

#{if request.actionMethod != 'index'}
	<ul class="breadcrumb">
		<li><a href="@{CRUD.index()}">&{'crud.home'}</a>
		#{if type}
			<span class="divider">/</span></li>
			<li><a href="@{list()}">&{type.name}</a>
		#{/if}
		#{if object?._key()}
			<span class="divider">/</span></li>
			<li><a href="@{show(object._key())}">${object?.toString()?.escape()?.raw()}</a>
		#{/if}
		#{if request.actionMethod == 'blank' || request.actionMethod == 'create'}
			<span class="divider">/</span></li>
			<li><a href="@{blank()}">&{'crud.blank'}</a></li>
		#{/if}
	</ul>
#{/if}

#{doLayout /}