#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.list.title', type.name) /}

#{form action:@list().remove('page'), method:'GET', class:'well form-inline'}
	#{if _fields}
		<input type="hidden" name="searchFields" value="${_fields.toString().substring(1, _fields.toString().length()-1).replace(',', '')}" />
	#{/if}
	<input type="text" name="search" value="${params.search?.escape()?.raw()}" />
	<input class="btn" type="submit" value="&{'crud.search'}" /> 	
	#{if params.search}
		(<a href="@{list()}">&{'crud.list.totalSize', totalCount}</a>)
	#{/if}
	
	<a class="btn btn-primary pull-right" href="@{blank()}">&{'crud.add', type.modelName}</a>
#{/form}

<div class="crud-list">
	#{crud.table /}
</div>

<div class="crud-pagination">
	#{crud.pagination /}
</div>

<script type="text/javascript">
	$('.crud-list table').addClass('table table-striped table-bordered');
</script>