#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

#{form action:@save(object._key()), enctype:'multipart/form-data', class:'form-horizontal'}
	#{crud.form /}
	<div class="form-actions">
		<input type="submit" class="btn btn-primary" name="_save" value="&{'crud.save', type.modelName}" />
		<input type="submit" class="btn" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
		<a href="javascript:document.getElementById('deleteForm').submit();" class="btn btn-danger">&{'crud.delete', type.modelName}</a>
	</div>
#{/form}

#{form @delete(object._key()), id:'deleteForm'}
#{/form}