#{secure acl.Permission.ACCESS_POST, args:[_arg.id]}
	#{set postUrl:@Posts.post(_arg.id, _wall.id) /}
	%{
		connectedUser = _caller.connectedUser;
		wall = _caller.wall;
		following = _arg.isFollowing(connectedUser);
		flagged = _arg.isFlagged(connectedUser);
		importantForUser = _arg.isImportant(connectedUser);
		
		if(params['fullPost']) {
			postUrl = util.HttpUtil.appendParam(postUrl.toString(), 'fullPost', true);
		}
	}%
	
	<li class="post ${(_arg.hasNewNotifications(connectedUser)).yesno('highlighted','')} ${_arg.important.yesno('important','')} ${importantForUser.yesno('important-unread','')} ${flagged.yesno('flagged','')} ${_class}" href="${postUrl}" data-modified="${_arg.modified.time}">
		#{sender.thumb _arg.author /}
		<div class="post-body">
			<div>
				#{wall.post.title _arg /}
			</div>
			<div class="smilify">#{wall.post.content _arg /}</div>
			<div>#{wall.post.attachments _arg /}</div>
	
			#{secure acl.Permission.COLLABORATE_POST, args:[_arg.id]}
				<small>
					#{if params['fullPost']}
						#{collaboration.like _arg /} -
					#{/} 

					#{date.fuzzy _arg.created /}
				</small>
			#{/}
		</div>
		
		#{if params['fullPost']}
			#{collaboration.likelist _arg /}
			#{collaboration.comments _arg /}
		#{/}#{else}
			<div class="post-options">
				#{secure acl.Permission.COLLABORATE_POST, args:[_arg.id]}
					#{collaboration.like _arg /} &bull;
					<a href="@{Posts.show(_arg.id)}">&{'post.link.comment'}</a>
				#{/}
				
				<span class="pull-right">
					#{if _arg.likes.size() > 0}
						<a href="@{Posts.show(_arg.id)}"><i class="icon-star"></i> ${_arg.likes.size()}</a>
					#{/}
					#{if _arg.comments.size() > 0}
						&nbsp;&nbsp;&nbsp;<a href="@{Posts.show(_arg.id)}"><i class="icon-comment"></i> ${_arg.comments.size()}</a>
					#{/}
				</span>
			</div>
		#{/}
	</li>
	
	%{ _arg.markNotificationsRead(connectedUser); }%
#{/secure}
