#{extends 'layouts/main.html' /}
#{set title:messages.get('activityStream.title') /}
#{set subtitle:displayType?.label /}

#{set 'actions'}
	<div class="btn-group as-displayType-switch">
		#{list items:models.User.ActivityStreamSelect.DisplayType.sticky(), as:'dt'}
			<a href="@{index(dt, true)}" class="btn btn-primary ${(displayType == dt).yesno('active','')}">
				<i class="icon-white ${dt.icon}"></i>
				${dt.label}
				#{if dt.showCount}<span class="label">${dt.getCount(connectedUser)}</span>#{/}
			</a>
		#{/}
	</div>
	
	<div class="btn-group as-displayType-switch">
		#{list items:models.User.ActivityStreamSelect.DisplayType.extra(), as:'dt'}
			<a href="@{index(dt)}" class="btn btn-primary ${(displayType == dt).yesno('active','')}">
				<i class="icon-white ${dt.icon}"></i>
				${dt.label}
				#{if dt.showCount}<span class="label">${dt.getCount(connectedUser)}</span>#{/}
			</a>
		#{/}
	</div>
#{/}

#{include 'Teasers/_show.html' /}

#{wall connectedUser.getDefaultWall(), id:'activityStream', route:@load(displayType), form:displayType.showForm}
	#{if displayType.showActivities}
		<div class="btn btn-large as-update hide"></div>
	#{/}
#{/wall}


#{if displayType.showActivities}
<script type="text/javascript">
	var asStateTime = ${connectedUser.lastActivityStreamUpdate.time};

	// save original title
	$('title').attr('data-original', $('title').html());
	
	function updateActivityStream(){
		$('.as-update').addClass('disabled');
		$('.as-update').html('&{'loading'}');
		
		$.get('@{update()}', {}, function(data) {
			var $ul = $(data);

			asStateTime = parseInt($ul.attr('data-state-time'));
			
			$($ul.children().get().reverse()).each(function(i, el){
				$('#activityStream').wall('addPost', el, ('highlighted'));
			});

			$('.as-update').removeClass('disabled');
			$('.as-update').hide();
		});
	}
	
	// updates new post button
	function updateActivityStreamState() {
		var newPostTxt = '&{'newPost', '%'}';
		var newPostsTxt = '&{'newPosts', '%'}';
		
		$.get('@{status()}', function(data) {
			// check if state changed (user updated AS in another window)
			if(data.newPosts > 0) {
				var txt = newPostTxt;
				if(data.newPosts > 1) {
					txt = newPostsTxt;
				}
				
				$('.as-update').text(txt.replace('%', data.newPosts));
				$('.as-update').show();
			}
			
			// reschedule
			window.setTimeout(updateActivityStreamState, Coyo.activityStreamStatusInterval || 30000);
		});
	}
	
	// load new posts on click
	$('.as-update').click(function(){ updateActivityStream() });
	
	// update now
	updateActivityStreamState();
</script>
#{/}