#{if !completed}
	#{addLess 'plugin.completeProfile' /}
	
	<div class="group completeProfile">
		<h4>&{'plugin.completeProfil.ribbon'}</h4>
		<ul class="unstyled">
			<li class="${step1.yesno('complete','incomplete')}"><i class="${step1.yesno('icon-ok','icon-remove')}"></i> <a href="@{Users.edit()}">&{'plugin.completeProfile.step1'}</a></li>
			<li class="${step2.yesno('complete','incomplete')}"><i class="${step2.yesno('icon-ok','icon-remove')}"></i> <a href="@{Users.edit()}">&{'plugin.completeProfile.step2'}</a></li>
			<li class="${step3.yesno('complete','incomplete')}"><i class="${step3.yesno('icon-ok','icon-remove')}"></i> <a href="@{Colleagues.index()}">&{'plugin.completeProfile.step3'}</a></li>
			<li class="${step4.yesno('complete','incomplete')}"><i class="${step4.yesno('icon-ok','icon-remove')}"></i> <a href="@{Pages.index()}">&{'plugin.completeProfile.step4'}</a></li>
			<li class="${step5.yesno('complete','incomplete')}"><i class="${step5.yesno('icon-ok','icon-remove')}"></i> <a href="#" onclick="$('textarea[name=\'form.message\']').focus();">&{'plugin.completeProfile.step5'}</a></li>
		</ul>
	</div>
#{/}