#{cache cacheKey, for:'10min'}
	%{ articles = plugins.BlogPlugin.getArticles(); }%
	#{if articles.size() > 0}
		<div class="group blog">
			<h4>&{'plugin.blog.title'}</h4>
			
			<ul class="unstyled">
				#{list items:articles, as:'article'}
					<li>
						<i class="icon-tags"></i> 
						<a href="${article.getURL()}">${article.title}</a> <small>(<a href="${article.app.sender.getURL()}">${article.app.sender.displayName}</a>)</small><br>
						<small>
							#{date.fuzzy article.getPublishDate(connectedUser) /}
							${messages.get('by')?.toLowerCase()}  #{user.link article.author /}
						</small>
					</li>
				#{/}
			</ul>
		</div>
	#{/}
#{/}