#wall {
	ul.posts {
		> li.post {
			margin: 0;
			
			> .likelist {
				display: block;
				font-size: 11px;
				background-color: #F5F5F5;
				border-bottom: 1px solid #E8E8E8;
				margin-bottom: 2px;
				padding: 3px 5px;
				margin-top: 2px;
				
				&.empty {
					display: none;
				}
			}
			
			.comments {
				.thumb {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}