ul.notifications.list {
	li {
		
		&.whitebox{
			padding: 0;
		}
	
		a {
			padding: 8px;
			
			display: block;
			min-height: 50px;
			
			img {
				float: left;
				margin-right: 8px;
			}
			
			&:hover {
				text-decoration: none;
				background-color: #F0F0F0;
			}
		}
		
		&.unread {
			a {
				background-color: #FAFAFA;
				font-weight: bold;
				
				&:hover {
					text-decoration: none;
					background-color: #F8F8F8;
				}
			}
			
		}
	}
}