#{include 'stylesheets/mobile.mixins.less' /}

div.poll {
	.whitebox;
	
	div.answer {
		height: auto;
	
		div.answer-title {
			width: auto;
			float: none;
			line-height: 30px;
			text-align: left;
			
			p {
				display: inline-block;
				line-height: 1.3;
				font-weight: bold;
			}
		}
		
		div.answer-bar {
			width: auto;
			float: none;
		}
		
		div.answer-faces { display: none; }
	}
	
	div.answer-share {
		margin-top: -4px;
	}
}

li.post div.poll {
	div.answer {
		height: auto;
	}
	
	div.answer-title {
		text-align: left;
	}
	
	div.answer-faces { display: none; }
}