#{include 'stylesheets/mixins.less' /}

div.wiki-nav {
  display: block;
  background-color: #F9F9F9;
  .border-radius(3px);
  margin-bottom: 20px;

  a.btn.dropdown-toggle {
	.border-radius(3px 0 0 3px);
  }
}


.wiki-tree-content {
  position: relative;
  border: solid #ddd 1px;
  .border-radius(4px);
  background: #fff;

  &.editable:hover {
	background-color: #F8F8F8;
	cursor: move;
  }

  .wiki-tree-entry {
	padding: 6px;
    width: 35%;
  }

}

.wiki-tree-info {
  position: absolute;
  right: 10px;
  top: 7px;
}


form.wiki-chooseHome {
}