.list-nav {
	display: none !important;
}

.item-options {
	display: none !important;
}

.item-options-mobile {
	display: block !important;
}

#list-app-overview {
	overflow-y: scroll;
	background: white;
	padding: 10px;
	-webkit-box-shadow: 0 1px 2px #999999;
	-moz-box-shadow: 0 1px 2px #999999;
	box-shadow: 0 1px 2px #999999;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-top: 0;
	border-bottom: 0;
	
	table th.options-header {
		width: 30px;
	}
	
	.no-content > a {
		display: none !important;
	}
	
	.loading {
		display: block;
		width: 32px;
		height: 32px;
		overflow: hidden;
		margin: 0 auto;
		background-image: url(../images/ajax-loader.gif);
		background-repeat: no-repeat;
		background-position: center center;
		text-indent: -9999em;
	}
}

#item-detail-view {
	.box-sizing;
	float: left;
	width: 100%;
	padding: 25px;

	.field-item-container {
		float: left;
		padding: 2px;
		margin: 2px 0;
		width: 100%;
		
		&.stripe {
			background-color: #F9F9F9;
		}
	}
	
	.item-label {
		display: block;
		width: 30%;
		float: left;
		padding-right: 5px;
		text-align: right;
		font-weight: bold;
	}
	
	.item-value {
		display: block;
		width: 60%;
		float: left;
	}
}