dl.event-info{
	margin-top:0;
}

img.event-avatar {
	width: 160px;
	.border-radius(3px);
	
	&.thumb {
		width: 50px;
	}
}

.page-header > h1 > i.icon.icon-events {
	display: block;
	background-image: url(../images/icon-event.png);
}