.dropdown-menu.sidebar {
	margin-right: 0;
	padding:10px;
	left:5px;
	width:200px;
	
	div.welcome {
		.clearfix();
		
		.user-avatar.thumb {
			float: left;
			margin-right: 8px;
		}
	}
	
	.no-items {
		overflow: visible;
		width: 100%;
		color: #999;
		font-size: 11px;
		font-style: italic;
		line-height: 18px;
		white-space: normal;
	}
	
	a{
		display: inline;
		padding: 0;
		clear: none;
		font-weight: normal;
		line-height: 18px;
		color: @linkColor;
		white-space: nowrap;
		
		&:hover{
			background:inherit;
			color:@linkColor;
		}
	}
	
	div.group {
		border-bottom: 1px solid #EEE;
		padding-bottom: 15px;
		margin-bottom: 15px;
			
		&:LAST-CHILD {
			border: 0;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		
		h6 {
			padding: 0;
			margin: 0 0 5px 0;
			line-height: normal;
			font-size: 12px;
			color: #999;
			text-transform: uppercase;
		}
		
		a.active {
			font-weight: bold;
		}
		
		img.icon {
			vertical-align: top;
		}
		
		ul {
			margin-bottom: 0;
		}
		
		a.more, a.more-items {
			opacity: 0.3;
			color: #000;
			font-size: 11px;
			text-decoration: none;
			font-weight: bold;
			
			&:hover {
				opacity: 0.6;
			}
		}
	}
}
