div.navbar {
	background-color: @themeBaseColor;
	#gradient.vertical(@themeSecondaryColor, @themeBaseColor);
	@shadow: 0 1px 3px rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.2);
	.box-shadow(@shadow);
	float:left;
	width:100%;
	margin-bottom:0;
	
	.sidebar {
    	[class^="icon-"], [class*=" icon-"] {
    		background-image: url("../img/glyphicons-halflings.png");
    	}
    }
	
	ul.nav {
		&.main{
			margin: 0 auto;
			width:145px;
			float:none;
		}
		
		> li {
			> a {
				height: 20px;
				padding: 10px 7px;
				color: @topbarTextColor;
				text-shadow: 1px 1px 1px rgba(0,0,0,.2);
				
				i.icon-colleagues {
					width: 19px;
					background-position: center;
					background-image: url(../images/icon-colleagues-tiny.png); 
				}
			}
			
			> a.button {
				.border-radius(4px);
				border-top: 1px solid rgba(0,0,0,0.3);
				border-bottom: 1px solid rgba(255,255,255,0.2);
				@shadow: inset 0 1px 3px -1px rgba(0,0,0,0.6), inset 0 -2px 3px -1px rgba(0,0,0,0.1);
				.box-shadow(@shadow);
				
				background-color: darken(@themeBaseColor, 2%);
				#gradient.vertical( darken(@themeSecondaryColor, 2%), darken(@themeBaseColor, 2%));
				
				font-weight: bold;
				margin: 6px;
				padding: 3px 10px;
				height: 20px;
				text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
	
				i {
					margin-top: 2px;
				}
				
				&:hover {
					background-color: darken(@themeBaseColor, 4%);
					#gradient.vertical( darken(@themeSecondaryColor, 4%), darken(@themeBaseColor, 4%));
				}
			}
			
			&.active > a, &.active > a:hover, &.open > a, > a:hover {
				color: @topbarTextColor;
				text-shadow: 1px 1px 1px rgba(0,0,0,.3);
				background-color: transparent;
				#translucent > .background(@topbarHoverColor, 0.2);
				filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FFFFFF,endColorstr=#33FFFFFF)";
				.box-shadow(none);
				
				&.button {
					text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
				}
			}
			
			&.open > a.button {
				border-top: 1px solid rgba(0,0,0,0.5);
				background-color: darken(@themeBaseColor, 10%);
				#gradient.vertical( darken(@themeSecondaryColor, 10%), darken(@themeBaseColor, 10%));
			}
		}
	}
	
	.notifications {
		.dropdown-toggle {
			height: 100%;
			padding: 2px 0 3px 2px;
			background-color: transparent;
		}
		
		&.open .dropdown-toggle {
			background-color: rgba(255,255,255,0.2) !important;
		}
		
		.notifications-icon {
	    	width: 30px;
	    	height: 35px;
	    	background-image: url(../images/navbar-notifications-icon.png);
	    	background-repeat: no-repeat;
	    	background-position: 8px 7px;
	    	padding: 0 0 0 20px;
	    	
	    	.label {
	    		margin-left: 10px;
	    	}
	    }
	    
	    ul.dropdown-menu {
			width: 250px;
			right:4px;
			top:43px;
	    
      		li.notification {
	  			clear: both;
	  			
	  			&.unread {
	  				background-color: #F3F3F3;
	  				
	  				a {
	  					font-weight: bold;
	  				}
	  			}
	  			
	  			a {
	  				display: block;
	  				white-space: normal;
	  				font-size: 11px;
	  				line-height: 14px;
	  				min-height: 40px;
	  				padding: 5px 10px;
	  			
	  				small {
	  					color: #BBB;
	  				}
	  			
	  				img {
	  					float: left;
	  					.border-radius(3px);
	  					width: 40px;
	  					height: 40px;
	  					margin-right: 6px;
	  				}
	  				
	  				.notificaiton-body {
	  					display: block;
	  					margin-left: 46px;
	  				}
	  				
	  				&:hover {
	  					
	  				}
	  			}
	  		}
 		}
	}
}

.styleNavbar() when (@themeStyle = light) {
} 

.styleNavbar() when (@themeStyle = dark) {
	div.navbar {
		[class^="icon-"], [class*=" icon-"] {
			background-image: url("../img/glyphicons-halflings-white.png");
		}
		
		ul.nav > li > a i.icon-colleagues {
			background-image: url(../images/icon-colleagues-tiny-white.png); 
		}
		
		.notifications .notifications-icon {
	    	background-image: url(../images/navbar-notifications-icon-white.png);
	    }
	    
	    .dropdown-menu {
	    	[class^="icon-"], [class*=" icon-"] {
				background-image: url("../img/glyphicons-halflings.png");
			}
	    }
	}
}

.styleNavbar();
