#{include 'stylesheets/mobile.mixins.less' /}

/* LAYOUT
------------------------------------------ */
html,body {
	&.mobile-main {
		background-color: #F6F6F6;
		
		div.content {
			> h1, > h2, > h3 {
				.whitebox;
				margin-top: 0;
			}
		}
	}
	
	min-height:410px;
	word-wrap:break-word;
	
	> .whitebox {
		margin: 10px;
	}
}

div.content{
	position:static;
	margin:0 auto;
	padding:10px;
	padding-bottom:20px;
}

.hidden-mobile {
	display: none;
}

/* TYPE
------------------------------------------ */
a:active, a:hover {
	text-decoration: none;
}

h1 {
	margin-top: 0;
	margin-bottom: 7px;
	font-size:16px;
	line-height:16px;
}

/* MISC
------------------------------------------ */
div.license-warning {
	background-color: red;
	#gradient.vertical(#D00, #800);
	color: white;
	padding: 10px 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.btn.small {
	line-height: 10px;
	padding-bottom: 8px;
}

ul.list > li, ul.list.list-boxes > li, ul.list.list-boxes > li:last-child {
	.whitebox;
}

.thumbnail{
	> img{
		width:70px;
	}
}

.thumbnails{
	margin-bottom:0;
	
	li.last-three{
		margin-bottom:0;
	}	
}

#modal{
	padding:0;
	
	h3{
		border-bottom:none;
		margin-bottom:0;
	}
	
	.modal-body{
		padding:0;
		max-height:none;
		
		form{
			margin-bottom:0;
			padding:15px;
			padding-bottom:0;
			
			.form-actions{
				padding: 10px 15px;
				width: 100%;
				margin:0 0 0 -15px;
			}
		}
	}
}


div.flashes {
	div.alert {
		width:auto;
		margin-bottom:0;
		display: block;
		left:5px;
		right:5px;
		top:45px;
		
		&.in {
			opacity:1;
			background-color: rgba(0,0,0,0.8);
		}
	}
}

ul{
	&.list{
		.thumb-link + .item-text{
			margin-left:58px;
		}
	}
	
}

/* ACTIVITY STREAM
------------------------------------------ */
div.as-update {
	margin-bottom: 10px;
	font-size: 16px;
	color: #888;
}

/* WALL
------------------------------------------ */
.post-message-wrapper {
	.whitebox;
}

ul.posts > li.post {
	.whitebox;
}

/* WIKI APP
------------------------------------------ */
table.wiki-table, div.wiki-nav {
	.whitebox;
}

/* BLOG APP
------------------------------------------ */
.blog-article {
	.whitebox;
	
	h3 { margin-top: 0; }
} 

.blog-collaboration {
	.whitebox;
	
	h5 { margin-top: 0; }
	
	form {
		margin: 0;
	}
}

/* FILES APP
------------------------------------------ */
#fileBrowser {
	.whitebox;
	
	.files-options, .files-add, td.options { display: none; }
}

/* RSS APP
------------------------------------------ */
ul.rss {
	li {
		img {
			width: 50px;
			
			+ div.body {
				margin-left: 60px;
			}
		}
	}
}

/* SOCIALLINKLIST APP
------------------------------------------ */
ul.linklist li {
	.whitebox;
}

/* CONTENT APP
------------------------------------------ */
div.content-app {
	.whitebox;
}

/* PHOTOS
------------------------------------------ */
div.photos h3 {
	.whitebox;
}

/* EVENTS & CALENDAR
------------------------------------------ */
.calendar {
	h3 {
		.whitebox;
		margin-top: 0;
	}
}

/* MEDIA APP
------------------------------------------ */

div.media-room {
	
	div.media-collections, div.media-collection {
	
		ul > li > a {
			width: 120px;
			min-height: 120px;
			
			> img {
				width: 120px;
				height: 120px;
			}
		}
	}
}


/* SENDERS
------------------------------------------ */
.sender-quickinfo{
	.user-avatar.thumb, .page-avatar.thumb, .event-avatar.thumb, .workspace-avatar.thumb{
		float:left;
		margin-right:10px;
	}
	
	small{
		display:block;
		margin-left:60px;
		line-height:1.2em;
		margin-top:5px;
	}

	& + div.whitebox dl.list {
		dt, dd {
	    	width: 95%;
		}
  }

	& + .event-info {
		dt {
	    	width: 95%;
	    	margin-left:10px;
		}
		dd {
	    	width: 90%;
	    	margin-left:20px;
		}
	}
}

/* TRANSLATABLE BUTTON
------------------------------------------ */
div.translatable {
	.translatable-options {
		display: none !important;
	}
}