#{include 'stylesheets/mixins.less' /}

.whitebox{
	background:white;
	padding:10px;
	.box-shadow(0 1px 2px #999);
	margin-bottom:10px;
	.border-radius(3px);
	border-top: 0;
	border-bottom: 0;

	h3:first-child {
		margin-top: 0;
	}
}