div.calendar {
	h3 {
		div.btn-group, .btn {
			display: none;
		}
	}
	
	ul.calendar-list {
		height: auto !important;
		overflow: show !important;
		
		li.event {
			height: 45px !important;
			
			img.thumb {
				width: 45px !important;
				height: 45px !important;
			}
		}
	}

	div.title {
		width: 180px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;	
	}
}

div.calendar-nav-mobile {
	margin-bottom: 10px;
}