#{include 'stylesheets/layout.config.less' /}
#{include 'stylesheets/mixins.less' /}

// cannot be bundled
textarea.post-message:-moz-placeholder {
	line-height: 22px;
	font-size: 16px;
}
textarea.post-message::-webkit-input-placeholder {
	line-height: 24px;
	font-size: 16px;
}

.wall {
	form {
		margin: 0;
	}
	
	form.post-new-form {
		clear: both;
	
		.post-message-wrapper {
			background-color: white;
			padding: 10px;
			.border-radius(2px);
		
			.post-message {
				border: 0;
				background: transparent;
				.box-shadow(none);
				.border-radius(0);
				display: block;
				width: 98%;
				height: 24px;
				min-height: 24px;
				resize: none;
				margin: 0;
			}
			
			&.active {
				.post-actions {
					display: block;
				}
			}
			
			.post-important, .appendix, .post-asowner { display: none; } 
			
			.post-actions {
				clear: both;
				display: none;
				height: 30px;
				border-top: 1px solid #DDD;
				padding-top: 10px;
				
				input[type=submit] {
					float: right;
					width: 100px;
				}
			}
		}
		
		input[type=file] {
			float: left;
			width: 150px;
			height: 28px;
			background: transparent;
		}
	}
	
	div.weblink-info {
		display: none;
	}
	
	ul.posts {
		border-top: 1px solid #F0F0F0;
		padding: 0;
		margin: 0;
		list-style: none;
		
		> li.post {
			position: relative;
			color: #444;
			padding: 5px;
			margin: 10px 0;
			border-left: 5px solid #F0F0F0;
			background: white;
			.border-radius(2px);
			
			.thumb {
				float: left;
				margin-right: 8px;

			}
			
			&.unread, &.important {
				border-left: 5px solid lighten(@themeBaseColor, 30%);
			}
			
			&.important-unread {
				background-color: #FAFAFA;
			}
			
			div.post-body {
				min-height: 55px;
				margin-left: 58px;
				
				div.post-share {
					border-top: 1px dashed #EEE;
					padding-top: 5px;
					margin-top: 3px;
					margin-bottom: 5px;
					min-height: 50px;
					
					.post-share-body {
						margin-left: 58px;
					}
					
					&.sender {
						img {
							float: left;
						}
					}
					
					&.photo {
						img {
							.border-radius(3px);
							.box-shadow();
						}
					}
				}
				
				.blog-teaserimage {
					float: left;
					width: 75px;
					padding: 5px 5px 5px 0;
					
					img {
						.border-radius(4px);						
					}
				}
				
				.wiki-teaser, .blog-teaser {
					margin: 8px 0 0;
					padding-top: 5px;
					border-top: 1px solid #ddd;
				}
				
				.wiki-teaser-header, .blog-teaser-header {
					font-weight: bold;
					margin: 3px;
				}
			}
			
			div.post-options {
				margin: 2px -5px -5px -5px;
				padding: 3px;
				border-top: 1px solid #DDD;
				background-color: #F0F0F0;
				.border-radius(0 0 3px 0);
				font-size: 11px;
				font-weight: bold;
				color: #999;
				
				a {
					color: #666;
				}
			}
			
			.attachment {
				overflow: hidden;
			
				&.attachment-link {
					border-top: 1px dashed #DDD;
					padding-top: 5px;
					margin-top: 3px;
					
					&.thumb {
						.link-thumb {
							display: block;
							float: left;
							width:60px;
							height:60px;
							margin-bottom: 7px;
						}
						
						.details {
							margin-left: 68px;
							white-space: nowrap;
							width: 150px;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}
				}
				
				.preview-image, .preview-pdf {
					img {
						width: 200px;
						border: 1px solid #CCC;
						.border-radius(2px);
						.box-shadow();
						margin-bottom: 2px;
						
						&:hover {
							border-color: #999;
						}
					}
					
					a.sm2_link {
						width: 200px;
						display: inline-block;
						font-size: 11px;
						background-color: #F0F0F0;
						background-repeat: no-repeat;
						background-image: url(../images/audio-play.png);
						background-position: 3px center;
						padding: 2px 5px 2px 25px;
						margin: 2px 0;
						.border-radius();
						text-decoration: none;
						
						&.sm2_playing {
							background-color: #DDD;
							background-image: url(../images/audio-pause.png);
						}
						
						&.sm2_paused {
							background-color: #DDD;
						}
					}
				}
			}
		}
	}
}