#{datatables.table 'files-table', filter:false, pagination:false}
	<table class="table table-striped files-table">
		<thead>
			<tr>
				<th data-sType="filename">&{'files.filename'}</th>
				<th>&{'files.size'}</th>
				<th data-sType="dataAttr">&{'files.changed'}</th>
				#{if !app.anonymous}
					<th>&{'files.modifiedBy'}</th>
				#{/}
				<th class="nosort"></th>
			</tr>
		</thead>
		<tbody>
			#{list items:file.children, as:'item'}
				<tr>
					<td>
						#{app.file.link item, maxLength:40 /}
						#{if item.app.hasPublicLink(item)}
							&nbsp;<a href="@{publicLink(item.app.id, item.uid)}" class="ajax"><span class="label label-info tip" title="&{'file.share'}"><i class="icon-share-alt icon-white"></i></span></a>
						#{/}
					</td>
					<td>#{app.file.size item /}</td>
					<td><span data-sort-value="${item.getModified(connectedUser)}">#{date.full item.getModified(connectedUser) /}</span></td>
					#{if !app.anonymous}
						<td>#{if item.modifier}#{user.link item.modifier /}#{/}</td>
					#{/}
					<td class="options">
						<div class="btn-group">
							<a href="" class="dropdown-toggle" data-toggle="dropdown">&{'actions'}</a>
							#{app.file.options item, operations:true /}
						</div>
					</td>
				</tr>
			#{/list}
		</tbody>
	</table>
#{/}