<input type="hidden" name="destUid" id="cmdestination" />

<div id="cmtree">
	#{app.file.tree app.root, skip:file, hideFiles:true /}
</div>

<script type="text/javascript">
$("#cmtree").bind("loaded.jstree", function (event, data) {
	$("#cmtree").jstree("open_all");
});

$("#cmtree").jstree({
	"plugins" : ["themes","html_data","ui"],
	"themes": {
		"theme": "coyo"
	}
}).bind("select_node.jstree", function (e, data) {
	$('#cmdestination').val($('#cmtree a.jstree-clicked').data('file-uid'));
	$('#cmsubmit').removeAttr('disabled');
});
</script>