<div class="result" data-current-file-uid="${file.uid}">
	<div class="files-nav">
		#{if !app.readOnly}
			#{secure acl.AppsPermission.EDIT_FILE, args:[app.id, file.uid]}
				<div class="btn-group pull-right files-add">
					<a href="" target="_self" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-plus icon-white"></i></a>
					<ul class="dropdown-menu">
						<li><a href="@{upload(app.id, file.uid)}" class="ajax"><i class="icon-upload"></i> &{'files.uploadFiles'}</a></li>
						<li><a href="@{createFolder(app.id, file.uid)}" class="ajax"><i class="icon-folder-open"></i> &{'files.createFolder'}</a></li>
					</ul>
				</div>
			#{/}
		#{/}
		
		<div class="btn-group pull-right files-options">
			<a href="" target="_self" class="btn tip dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></a>

			#{app.file.options file, operations:(file != app.root)}
				<li class="divider"></li>
				#{if view == 'table'}
					<li><a href="" data-view="list" data-file-uid="${file.uid}" class="active"><i class="icon-align-justify"></i> &{'files.listView'}</a></li>
				#{/}#{else}
					<li><a href="" data-view="table" data-file-uid="${file.uid}" class="active"><i class="icon-th"></i> &{'files.tableView'}</a></li>
				#{/}
			#{/}
		</div>
	
		<div class="btn-group files-nav-inner" style="max-width: 980px;">
			#{if app.root.childFolders.size() > 0}
				<a class="btn btn-primary dropdown-toggle files-nav-toggle" data-toggle="dropdown" href=""><span class="caret"></span></a>
			#{/}

			<script type="text/javascript">
			    $('a.files-nav-toggle').click(loadFilesNav);
			    function loadFilesNav(e){
			        e.preventDefault();
			        var link = $('a.files-nav-toggle');
			        link.unbind('click', loadFilesNav);
			        $.get('/app/files/navigation?id=${app.id}', function( data ) {
			            link.after($(data));
			        });
			    }
			</script>

			#{list items:utils.FileUtil.getBreadcrumb(file), as:'f'}
				<a href="#"data-file-uid="${f.uid}" class="btn">${f.name} <i class="icon-chevron-right"></i></a>
			#{/}
			<a href="#" data-file-uid="${file.uid}" class="btn last disabled truncate">${file.name}</a>
		</div>
	</div>
	
	<hr class="spacer">
	#{if file.children.size() > 0}
		#{include 'app/Files/_browse-'+view+'.html' /}
		
		<hr class="footer">
		<small>#{app.file.size file /}</small>
	#{/}#{else}
		<hr>
		<center>&{'files.emptyFolder'}</center>
	#{/}
</div>