#{extends 'layouts/modal.html' /}
#{set title:messages.get("files.confirmDelete.title") /}

#{form @delete(app.id, file.uid), class:'ajaxForm'}
	<p>&{'files.confirmDelete.question', file.name}</p>
	
	<div class="form-actions">
		<input type="submit" value="&{'delete'}" class="btn btn-primary">
	</div>
#{/}