#{extends 'layouts/modal.html' /}
#{set title:messages.get("files.createFolder.title") /}

#{form @doCreateFolder(app.id, file.uid), class:'ajaxForm'}
	<input type="text" name="name" maxlength="255" placeholder="&{'files.newFolder.placeholder'}" class="span100">
	
	<div class="form-actions">
		<input type="submit" value="&{'create'}" class="btn btn-primary">
	</div>
#{/}