#{extends 'layouts/modal.html' /}
#{set title:messages.get("file.share") /}

<h5>&{'files.publicDownloadLink'}</h5>
<div class="input-prepend share">
	<span class="add-on ${active.yesno('active','')}">
		<input type="checkbox" ${active.yesno('checked','')}>
	</span><input type="text" class="span6" value="#{if active}@@{FilesAppExternal.download(publicLink.token)}#{/if}" #{if !active}disabled="true"#{/}>
	<br>
	<a href="#" class="new-link small ${active.yesno('','hide')}">&{'files.generateNewLink'}</a>
</div>

<script type="text/javascript">
	$('.share input[type=text]').mouseup(function(e) {
		e.preventDefault();
		$('.share input[type=text]').select();	
	});

	$('.share input[type=checkbox]').change(function(e) {
		$.post('@{togglePublicLink(app.id, file.uid)}', function(data){
			if(data.url) {
				$('.share input[type=text]').val(data.url);
				$('.share .new-link').show();
				$('.share .add-on').addClass('active');
				$('.share input[type=text]').removeAttr("disabled");	
			} else {
				$('.share input[type=text]').val('');
				$('.share .new-link').hide();
				$('.share .add-on').removeClass('active');
				$('.share input[type=text]').attr("disabled", true);
			}
			 
		});
	});
	
	$('.share a.new-link').click(function(e) {
		e.preventDefault();
		
		$('.share input[type=text]').val('');
		$.post('@{togglePublicLink(app.id, file.uid, true)}', function(data){
			$('.share input[type=text]').val(data.url);
		});
	});
</script>