#{extends 'layouts/modal.html' /}
#{set title:messages.get("files.rename.title") /}

#{form @doRename(app.id, file.uid), class:'ajaxForm'}
	%{ fileExtension = utils.FileUtil.getFileExtension(file, true); }%
	#{if fileExtension}
		<div class="input-append">
			<input type="text" name="name" maxlength="255" value="${utils.FileUtil.getDisplayName(file)}" class="span6" />
			<span class="add-on">${fileExtension}</span>
		</div>
		<input type="hidden" name="extension" value="${fileExtension}">
	#{/}#{else}
		<input type="text" name="name" maxlength="255" value="${file.name}" class="span100" />
	#{/}
	
	<div class="form-actions">
		#{form.submit 'save' /}
	</div>
#{/}