#{extends 'layouts/modal.html' /}
#{set title:messages.get("upload") /}

#{form @doUpload(app.id, file.uid), enctype:'multipart/form-data', id:'upload-advanced'}
	<div id="uploader">
		&{'files.chooseFile'}: <input type="file" id="inputUpload" name="upload" multiple="multiple">
		
		<div class="form-actions">
			<input type="submit" value="&{'files.startUpload'}" disabled="disabled" id="upload-classic-submit" class="btn btn-primary">
		</div>
	</div>
	
	<div class="form-actions switchToClassic hide">
		<a href="#" class="btn btn-mini" id="upload-toggle"><i class="icon-refresh"></i> &{'switchToClassicUploader'}</a>
	</div>
#{/}

#{form @doUpload(app.id, file.uid, fileID), enctype:'multipart/form-data', id:'upload-classic', class:'hide'}
	&{'files.chooseFile'}: <input type="file" id="inputUpload" name="upload" multiple="multiple">

	<div class="form-actions">
		<input type="submit" value="&{'files.startUpload'}" disabled="disabled" id="upload-classic-submit" class="btn btn-primary">
	</div>
#{/}

#{if fileID != null}
<script type="application/javascript">
    $('#upload-advanced').hide();
    $('#upload-classic').show();
</script>
#{/if}

<script type="text/javascript">
$('#upload-toggle').click(function(e) {
	e.preventDefault();
	$('#upload-advanced').hide();
	$('#upload-classic').show();
});

$("#uploader").pluploadQueue({
	runtimes : 'html5',
	url : '@{doUpload(app.id, file.uid)}',
	//chunk_size: '10mb',
	urlstream_upload: true,
	multipart_params: {
		authenticityToken: '${session.getAuthenticityToken()}',
		uploadId: null,
		ajax: true
	}
});

$("#inputUpload").live("change", function () {
	$('#upload-classic-submit').prop('disabled', $("#inputUpload").val() == "");
});

// fix misplaced file button due to modal
window.setTimeout(function(){
	$('#uploader').pluploadQueue().refresh();
}, 600);

function UUID() {
	var S4 = function() {
		return (((1+Math.random())*0x10000)|0).toString(16).substring(1);
	};
	return (S4()+S4()+"-"+S4()+"-"+S4()+"-"+S4()+"-"+S4()+S4()+S4());
}

$('#uploader').pluploadQueue().bind('PostInit', function() {
	$('.switchToClassic').show();
});

$('#uploader').pluploadQueue().bind('BeforeUpload', function() {
	// we generate a UUID for each upload to allow the upload handler to
	// correctly manage file chunks
	$('#uploader').pluploadQueue().settings.multipart_params.uploadId = UUID();
});

$('#uploader').pluploadQueue().bind('UploadComplete', function() {
	// top.location.href='${util.HttpUtil.appendParam(util.HttpUtil.getReferrerUrl(), "file", file.uid).raw()}';
	$('#modal').modal('hide');
});
</script>
