#{extends 'layouts/modal.html' /}
#{set title:messages.get("files.versions.title") /}
#{set subtitle:file.name /}

<table class="table table-striped">
	<thead>
		<tr>
			<th>&{'file.version'}</th>
			<th>&{'files.size'}</th>
			<th>&{'files.changed'}</th>
			#{if !app.anonymous}
				<th>&{'files.modifiedBy'}</th>
			#{/}
			<th></th>
		</tr>
	</thead>
	<tbody>
		#{list items:file.versions, as:'version'}
			<tr>
				<td>#{if version.versionNumber == file.currentVersion.versionNumber}<i class="icon-ok"></i>#{/}#{else}<i class="icon-time"></i>#{/}</td>
				<td>${version.size.formatSize()}</td>
				<td>#{date.fuzzy version.getCreated(connectedUser) /}</td>
				#{if !app.anonymous}
					<td>#{if version.creator}#{user.link version.creator /}#{/}</td>
				#{/}
				<td>
					<a href="@{download(app.id, file.uid, version.versionNumber)}" class="badge badge-success"><i class="icon-download icon-white"></i> &{'download'}</a>
					#{secure acl.AppsPermission.EDIT_FILE, args:[app.id, file.uid]}
						#{if version.versionNumber != file.currentVersion.versionNumber}
							<div data-rest-link data-url="@{revert(app.id, file.uid, version.versionNumber)}" data-type="POST" class="badge restlink"><i class="icon-repeat icon-white"></i> &{'files.revert'}</div>
						#{/}
					#{/}
				</td>
			</tr>
		#{/}
	</tbody>
</table>

<script type="text/javascript">
	/* we need to compile the loaded modal with angular, to display proper revert links */
	var elem = angular.element("body"),
		compileFn = elem.injector().get('$compile');
	compileFn(angular.element('div.restlink'))(elem.scope());
</script>