#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.plugins.title') /}

<div class="alert">
	&{'admin.sortPlugins'}
</div>

<table class="table table-striped table-bordered plugins">
	<thead>
		<tr>
			<th></th>
			<th>&{'plugin'}</th>
			<th>&{'plugin.key'}</th>
			<th class="text-center span2">&{'license'}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		#{list items:plugins, as:'plugin'}
			<tr data-key="${plugin.key}" class="pointer">
				<td class="status ${plugins.PluginManager.isActive(plugin).yesno('active','')}"></td>
				<td>${plugin.name}</td>
				<td><small>${plugin.key}</small></td>
				<td class="text-center">
					#{if !plugin.isLicenseRequired()}
						<span class="label tip" title="&{'plugin.license.notRequired'}"><i class="icon-ok icon-white"></i></span>
					#{/}#{else}
						<a href="@{license(plugin.getKey())}">
							#{if plugin.isLicenseValid()}
								<span class="label label-success"><i class="icon-ok icon-white"></i></span>
							#{/}#{else}
								<span class="label label-important"><i class="icon-remove icon-white"></i></span>
							#{/}
						</a>
					#{/}
				</td>
				<td class="options">
					<div class="btn-group">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'actions'}</a>
						<ul class="dropdown-menu pull-right">
							<li><div data-rest-link data-url="@{administration.Plugins.turn(plugin.key)}" data-type="POST"><i class="icon-off"></i> ${messages.get(plugins.PluginManager.isActive(plugin).yesno('deactivate','activate'))}</div></li>
							#{if plugin.hasSettings()}
								<li><a href="@{administration.Plugins.settings(plugin.key)}"><i class="icon-cog"></i> &{'settings'}</a></li>
							#{/}
						</ul>
					</div>
				</td>
			</tr>
		#{/list}
	</tbody>
</table>


<script type="text/javascript">
	$(document).ready(function(){
		$('.plugins tbody').sortable({
			items: 'tr[data-key]',
			// preserve cell widths
			helper: function(e, ui) {
				ui.children().each(function() {
					$(this).width($(this).width());
				});
				return ui;
			},
			update: function(event, ui) {
				var order = '';
				$('.plugins tr[data-key]').each(function(i, el) {
					order = order + $(el).attr('data-key') + ',';
				});
				$.post('@{administration.Plugins.order}', {order: order});
			}
		});
	});
</script>