#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.plugin.settings') /}
#{set subtitle:plugin.name /}

#{set 'actions'}
	<a href="@{administration.Plugins.index}" class="btn">&{'admin.backToPluginList'}&rarr;</a>
#{/}

#{form @saveSettings(), class:'form-horizontal'}
	<input type="hidden" name="key" value="${plugin.key}" />
	
	%{ noSettings = false; }%
	#{plugin.settings plugin.key /}
	#{else}
		%{ noSettings = true; }%
		<center>&{'admin.noSettingsForPlugin'}.</center>
		<hr class="spacer" />
	#{/else}

	#{if !noSettings}
		<div class="form-actions">
			#{form.submit 'save' /}
			<a href="@{administration.Plugins.index}" class="btn">&{'cancel'}</a>
		</div>
	#{/}
#{/form}