#{form @saveList(), class:'form-horizontal'}
	<input type="hidden" name="list.id" value="${list.id}" />
	<input type="hidden" name="list.app.id" value="${list.app.id}" />
	
	<div class="control-group">
		<label for="name" class="control-label">&{'app.tasks.list.name'}</label>
		<div class="controls">
			<input type="text" name="list.name" id="name" value="${list.name}" />
		</div>
	</div>
	
	<div class="control-group">
		<label for="color" class="control-label">&{'app.tasks.list.color'}</label>
		<div class="controls">
			#{list items:['#E22','#F84','#FB4','#4A4','#04A','#A4A','#333'], as:'color'}
				<label class="radio">
					<input type="radio" name="list.color" value="${color}" ${(color==list.color || (!list.persistent && color_isFirst)).yesno('checked','')}>
					<span style="background-color: ${color};">&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</label>
			#{/list}
		</div>
	</div>
	
	<div class="form-actions">
		#{if list.persistent}
			<div data-rest-link data-url="@{TasksApp.deleteList(list.id)}" data-type="DELETE" class="btn btn-danger left restlink" data-confirmation-really="&{'really'}">&{'delete'}</div>
		#{/}
		#{form.submit 'save' /}
	</div>
#{/form}

<script type="text/javascript">
	/* we need to compile the loaded options with angular, to display proper delete links */
	var elem = angular.element("body"),
		compileFn = elem.injector().get('$compile');
	compileFn(angular.element('div.restlink'))(elem.scope());
</script>