#{extends 'layouts/modal.html' /}
#{set title:messages.get('app.tasks.edit') /}

#{form @saveTask(), class:'form-horizontal', id:'task-edit-form'}
	<input type="hidden" name="task.id" value="${task.id}" />
	
	#{form.field.textarea 'task.name', label:'app.task.name', value:task.name, class:'span4', rows:3 /}
	
			#{form.field.custom 'task.assignee', label:'app.task.assignee'}
				#{userchooser name:'assignee.id', selected:[task.assignee], label:'userchooser.btn.label', null:true, max:1, url:@userchooser(task.id) /}
			#{/}
			#{form.field.custom 'task.due', label:'app.task.due'}
				<input type="text" name="task.due" class="date span2" value="${task.due?.format()}" data-format="${libs.DateI18N.getLocalizedDateFormat('date.format.picker')}">
			#{/}
	
	<div class="form-actions">
		<a href="@{deleteTask(task.id)}" class="btn btn-danger pull-left" id="task-edit-form-delete">&{'delete'}</a>
		<input type="submit" class="btn btn-primary" value="&{'save'}">
	</div>
#{/}