<ul class="tasks tasks-uncompleted">
	#{list items:uncompleted, as:'task'}
		#{tasksapp.task task /}
	#{/list}
</ul>

<ul class="tasks tasks-completed">
	#{list items:completed, as:'task'}
		#{tasksapp.task task /}
	#{/list}
</ul>

<div class="task-list-options">
	<a href="@{TasksApp.clearDone(app.id, list?.id)}" class="task-list-cleardone btn btn-mini"><i class="icon-ok"></i> &{'app.tasks.list.cleardone'}</a>
	#{if list}
		<a href="@{TasksApp.editList(list.id)}" class="task-list-edit btn btn-mini ajax"><i class="icon-pencil"></i> &{'app.tasks.list.edit'}</a>
	#{/}
</div>