%{
	if(_month == null) _month = _arg.getMonthOfYear();
	data = models.event.Event.getWeekEvents(_arg, _connectedUser.getDateTimeZone(), _filter);
}%
<tr>
	#{list items:1..7, as:'day'}
		%{ date = _arg.withDayOfWeek(day); }%
		<td class="${(_month != date.getMonthOfYear()).yesno('otherMonth','')} ${date.today().yesno('today','')} ${(day>5).yesno('weekend','')} ${(day>5&&!_showWeekend).yesno('hide','')}">
			#{if _showDate}
				<div class="date">${date.format('E, d')}</div>
			#{/}
			<ul class="unstyled calendar-events">
				#{list items:data.get(date.toLocalDate()), as:'event'}
					#{event.calendar.item event, connectedUser:_connectedUser, day:date /}
				#{/}
			</ul>
		</td>
	#{/}
</tr>