#{cache cacheKey, for:'30min'}
	%{ polls = plugins.PollPlugin.getPolls(); }%
	#{if polls.size() > 0}
		#{addLess 'plugin.polls' /}
		<div class="group polls">
			<h4>&{'plugin.polls.ribbon'}</h4>
			
			<ul class="unstyled">
				#{list items:polls, as:'poll'}
					<li class="#{if poll_index > pollsMax}hidden#{/}#{if poll.frozen} frozen#{/}">
						<i title="#{if poll.hasAnswered(connectedUser)}&{'plugin.polls.answered'}#{/}#{else}&{'plugin.polls.unanswered'}#{/}" class="${poll.hasAnswered(connectedUser).yesno('icon-ok-circle','icon-signal')}"></i> <a href="@{Senders.show(poll.sender.id, poll.id)}">${poll.question}</a>
					</li>
				#{/list}
				#{if polls.size() > pollsMax}
					<li class="more-item"><a href="#" class="more"><i class="icon-chevron-down"></i> &{'showAll'}</a></li>
				#{/}
			</ul>
		</div>
		
		#{if polls.size() > pollsMax}
			<script type="text/javascript">
				$('.polls li.more-item').click(function(){
					$('.polls li').show();
					$(this).hide();
				});
			</script>
		#{/}
	#{/}
#{/}