%{
	fileAttachments = _arg.attachments;
}%

#{if fileAttachments.size() > 0}
	<ul class="unstyled attachments">
		#{list items:fileAttachments, as:'att'}
			%{ att.source = _commentable; }%
			<li class="attachment">#{preview att, imageWidth:200 /}</li>
		#{/}
	</ul>
	<div class="clearfix"></div>
#{/}
