<ul class="thumbnails apps">
	#{list items:apps, as:'app'}
		<li>
			<a href="@{Apps.create(sender.id, app.key)}" title="${app.name}" class="thumbnail pull-left">
				<img src="#{resource 'images/app-' + app.key + '.png' /}" alt="${app.name}" />
			</a>
			<h4>${app.name}</h4>
			<p>${app.description}</p>
		</li>
	#{/list}
</ul>