#{addLess 'lib.tagit' /}
#{addScript 'jquery.tagit' /}

#{addLess 'app.forms' /}
#{addScript 'jquery.form' /}
#{addScript 'app.forms.edit' /}
#{addScript 'app.forms.select' /}
#{addScript 'app.forms.checkboxes' /}
#{addScript 'app.forms.h2' /}
#{addScript 'json2' /}

<ul class="nav nav-tabs">
	<li class="active"><a href="#general" data-toggle="tab">&{'formsapp.form.tab.general'}</a></li>
	<li><a href="#recipients" data-toggle="tab">&{'formsapp.form.tab.recipients'}</a></li>
</ul>
	
<div class="tab-content">
	<div class="tab-pane active" id="general">
		<div class="row">
			<div class="span6">
				#{form.field.textarea 'app.description', label:'description', class:'span6', rows:5, value:app.description /}
			</div>
			<div class="span4">
				#{form.field.text 'app.maxSubmits', label:'formsapp.maxSubmits.label', help:'formsapp.maxSubmits.help', value:app.maxSubmits, class:'span2' /}
			</div>
		</div>
		
		<h3>&{'formsapp.editor.title'}</h3>
		<input type="hidden" name="forms_formString" id="forms_formString" value=""/>
		<div class="forms-editor clearfix">
			<div class="forms-form form-horizontal">
				#{list items:app.fields, as:'field'}
					#{include 'FormsApp/form-elements/' + field.type + '/edit.html' /}
				#{/list}
			</div>
			<div class="forms-rightbar">
				<ul class="forms-field-types">
					<li data-type="text"><span class="text"></span>&{'formsapp.field.text.name'}</li>
					<li data-type="textarea"><span class="textarea"></span>&{'formsapp.field.textarea.name'}</li>
					<li data-type="select"><span class="select"></span>&{'formsapp.field.select.name'}</li>
					<li data-type="checkboxes"><span class="checkboxes"></span>&{'formsapp.field.checkboxes.name'}</li>
					<li data-type="h2"><span class="h2"></span>&{'formsapp.field.h2.name'}</li>
					<li data-type="hr"><span class="hr"></span>&{'formsapp.field.hr.name'}</li>
				</ul>
			</div>
			<div class="forms-templates">
				%{
					field = new models.FormField();
					field.label = play.i18n.Messages.get('formsapp.defaultLabel');
				}%
				#{include 'FormsApp/form-elements/text/edit.html' /}
				#{include 'FormsApp/form-elements/textarea/edit.html' /}
				#{include 'FormsApp/form-elements/select/edit.html' /}
				#{include 'FormsApp/form-elements/checkboxes/edit.html' /}
				#{include 'FormsApp/form-elements/h2/edit.html' /}
				#{include 'FormsApp/form-elements/hr/edit.html' /}
			</div>
		</div>
	</div>
	<div class="tab-pane" id="recipients">
		#{form.field.custom 'formsapp.receiver.label'}
			#{userchooser name:'forms_receivers', selected:app.receivers /}
		#{/}
		#{form.field.checkbox 'app.sendToUser', label:' ', help:'formsapp.sendToUser.help', value:true, falseValue:false, checked:app.sendToUser /}
		<hr>
		#{form.field.text 'forms_external_recipients', label:'formsapp.externalRecipients.label', value:util.Util.implode(app.externalRecipients, ',') /}
		<br>
	</div>
</div>

<script type="text/javascript">
	$('#forms_external_recipients').tagit();
</script>