#{form.field.checkbox 'usersCanComment', checked: app.usersCanComment, value: 'true', falseValue:'false', label: messages.get('app.wiki.comments.title'), help: messages.get('apps.wiki.usersCanComment') /}

#{form.field.custom 'apps.form.wiki.editSettings'}
    <label class="checkbox">
        <input type="checkbox" name="onlyAdminsCanDelete" value="true" data-ng-model="onlyAdminsCanDelete" #{if app.onlyAdminsCanDelete || app.onlyAdminsCanEdit} data-ng-init="onlyAdminsCanDelete=true" #{/if} data-ng-disabled="!!onlyAdminsCanEdit" />
        &{'apps.wiki.onlyAdminsCanDeleteArticles'}
    </label>
    <label class="checkbox">
        <input type="checkbox" name="onlyAdminsCanEdit" value="true" data-ng-model="onlyAdminsCanEdit" #{if app.onlyAdminsCanEdit} data-ng-init="onlyAdminsCanEdit=true" #{/if} data-ng-change="onlyAdminsCanEdit && (onlyAdminsCanDelete=true)"/>
        &{'apps.wiki.onlyAdminsCanEditAndDeleteArticles'}
    </label>
#{/}

#{if app.persistent}
	<hr>
	#{form.field.select 'homeArticleId', label:'app.wiki.chooseHome', help:'app.wiki.chooseHome.help', class:'span8 chosen', items:app.articles, labelProperty:'title', valueProperty:'id', value:app.getHome()?.id}
		<option value="">&{'app.wiki.home.showList'}</option>
	#{/}
#{/}