#{addLess 'app.linklist' /}

#{addScript 'coyo/app/socialLinklist/socialLinklist' /}
#{addScript 'coyo/app/socialLinklist/socialLinklist.controller' /}
#{addScript 'coyo/app/socialLinklist/socialLinklist.services' /}
#{addScript 'coyo/generic.filechooser' /}
#{addScript 'coyo/app/socialLinklist/socialLinklist.directives' /}

#{set angular_app: 'coyo.socialLinklist' /}


<div class="control-group">
  	<div class="controls">
			#{form.field.checkbox 'app.usersCanAddLinks', value:true, falseValue:false, checked:app.usersCanAddLinks , help:'app.socialLinklist.allowAdd'/}
  			#{form.field.checkbox 'app.usersCanEditLinks', value:true, falseValue:false, checked:app.usersCanEditLinks, help:'app.socialLinklist.allowRemove' /} 
	</div> 
</div>