#{addLess 'lib.tagit' /}


#{addScript 'app.list' /}
#{addScript 'coyo/generic.userchooser' /}
#{addScript 'coyo/generic.filechooser' /}
#{addScript 'coyo/generic.optionchooser' /}
#{addScript 'coyo/list/generic.list.services' /}
#{addScript 'coyo/list/generic.list.directives' /}
#{addScript 'coyo/list/generic.list.controllers' /}

#{addScript 'coyo/likes/likes.directives'/}
#{addScript 'coyo/likes/likes.services'/}
#{addScript 'coyo/likes/likes'/}

#{addScript 'coyo/comments/comments.directives'/}
#{addScript 'coyo/comments/comments.services'/}
#{addScript 'coyo/comments/comments'/}

#{addScript 'coyo/app/innoapp/services'/}
#{addScript 'coyo/app/innoapp/controllers'/}
#{addScript 'coyo/app/innoapp/directives'/}
#{addScript 'coyo/app/innoapp/inno'/}
#{addLess 'app.inno' /}

#{set angular_app: 'coyo.inno' /}

#{form @Apps.save(), class:'form-stacked', enctype:'multipart/form-data', name:'saveform', novalidate:'true'}

<div class="tabbable" id="innnoConfig" data-ng-controller="InnoAppConfigController"
	 data-ng-init="init(#{if app.id}${app.id}#{/}); authorSearch=${app.FEATURE_AUTHOR_SEARCH}; revoke=${app.FEATURE_REVEAL}">

	<input type="hidden" name="id" value="${sender.id}"/>
	<input type="hidden" name="key" value="${app.appKey}"/>
	<input type="hidden" name="app.id" value="${app.id}"/>
	<input type="hidden" name="app.sender.id" value="${app.sender.id}"/>
	<input type="hidden" name="innoApp" value="{{app}}"/>
	<input type="hidden" name="container" value="{{app.container}}"/>

	<div class="row">
		<div class="span8">
			<label class="control-label" data-ng-class="{required: true}" for="title">{{'app.title' | i18n}}</label>

			<div class="controls">
				<input class="pull-left" id="title" name="title" type="text" data-ng-model="app.title" name="title"
					   min="1"
					   max="255"
					   required="true"/>
			</div>
		</div>

		#{if !app.active || !app.persistent || app.sender.activeApps.size() > 1}
			<div class="span5">#{form.field.checkbox 'app.active', value:true, falseValue:false, checked:app.active, help:'app.active.help' /}</div>
		#{/}
	</div>
	<hr>

	<!-- Tab header -->
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">{{'app.inno.settings.general'| i18n }}</a></li>
		<li><a href="#tab2" data-toggle="tab">{{'app.inno.settings.fields' | i18n}}</a></li>
		<li><a href="#tab3" data-toggle="tab">{{'app.inno.settings.mods' | i18n}}</a></li>
	</ul>

	<!-- Tab 1 content -->
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<div class="alert alert-info">{{'app.inno.settings.general.help' | i18n}}</div>
			<div class="clear"></div>
			<h4>{{'app.inno.settings.general' | i18n}}</h4>
			<br/>
			<!-- app description -->
			<div class="control-group form-horizontal">
				<label data-ng-class="{required: true}" class="control-label">{{'app.inno.label.teaser' | i18n}}</label>

				<div class="controls">
				<textarea class="input input-xxlarge" rows="4" data-ng-model="app.description" required="true"
						  name="description"
						  data-ng-minlength="1" data-ng-trim="true"
						  placeholder="{{'app.inno.description.placeholder' | i18n}}">
				</textarea>
				</div>
			</div>
			<br/>
			<!-- categories -->
			<div class="control-group form-horizontal">
				<div class="controls">
					<ul id="categoryList" class="tagit">
						<li data-ng-repeat="category in app.categories"
							class="tagit-choice ui-widget-content ui-state-default ui-corner-all">
							<span>{{category.name}}</span>
							<a class="tagit-close" data-ng-if="!category.usedByItem">
								<span class="text-icon">×</span>
										<span class="ui-icon ui-icon-close"
											  data-ng-click="remove($index, category.id)"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="control-group form-horizontal">
				<label data-ng-class="{required: true}" class="control-label">{{'app.inno.settings.categories' |
					i18n}}</label>

				<div class="controls">
					<div class="categories control-group"
						 data-ng-class="{ 'error' : saveform.categoryInput.$invalid && focus}"
						 data-ng-init="focus=false;blur=false;active=false">

						<div class="input-append">
							<input class="input input-medium" name="categoryInput" type="text"
								   data-ng-model="new.category" data-custom="true"
								   data-ng-keypress="addCategory($event)" data-ng-focus="focus=true;blur=false;"
								   data-ng-blur="blur=true;focus=false;"/>
							<button class="btn" type="button" data-ng-click="addCategory()">Add</button>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<!-- ttl -->
			<div class="control-group form-horizontal">
				<label data-ng-class="{required: true}" class="control-label">{{'app.inno.settings.ttl' | i18n}}</label>

				<div class="controls">
					<input class="input input-medium" name="ttl" type="number" data-ng-model="app.ttl"
						   value="{{app.ttl}}" min="0" max="365"
						   required="false"/>

					<p class="help-block">{{'app.inno.settings.ttl.help' | i18n}}</p>
				</div>
			</div>
			<br/>
			<!-- general settings -->
			<div class="control-group form-horizontal">
				<label class="control-label" for="ttl">{{'app.inno.settings.options' | i18n}}</label>

				<div class="controls">
					<label class="checkbox" data-ng-if="revoke">
						<input type="checkbox" data-ng-model="app.canBeRevoked">
						</input>
						{{'app.inno.settings.revokable.help' | i18n}}
					</label>
					<label class="checkbox">
						<input type="checkbox" data-ng-model="app.commentsAllowed">
						</input>
						{{'app.inno.settings.commentable.help' | i18n}}
					</label>
					<label class="checkbox">
						<input type="checkbox" data-ng-model="app.ideasHiddenField">
						</input>
						{{'app.inno.settings.hiddenField' | i18n}}
					</label>
					<label class="checkbox" data-ng-show="authorSearch">
						<input type="checkbox" data-ng-model="app.allowSearchByAuthor">
						</input>
						{{'app.inno.settings.allowSearchByAuthor' | i18n}}
					</label>
					<label class="checkbox">
						<input type="checkbox" data-ng-model="app.allowDeanonymization">
						</input>
						{{'app.inno.settings.allowDeanonymization' | i18n}}
					</label>
				</div>
			</div>
			<br/>
			<!-- visibility -->
			<div class="control-group form-horizontal">
				<label class="control-label">{{'app.inno.visibility.label' | i18n}}</label>

				<div class="controls">
					<label class="radio">
						<input type="radio" data-ng-model="app.visibility" value="PUBLIC">
		  <span><strong>{{'app.inno.visibility.public' |
			  i18n}}:</strong> {{'app.inno.visibility.public.help' | i18n}}</span>
					</label>

					<label class="radio">
						<input type="radio" data-ng-model="app.visibility" value="CHOICE">
		  <span><strong>{{'app.inno.visibility.choose' |
			  i18n}}:</strong> {{'app.inno.visibility.choose.help' | i18n}}</span>
					</label>

					<label class="radio">
						<input type="radio" data-ng-model="app.visibility" value="ANON">
		  <span><strong>{{'app.inno.visibility.anon' |
			  i18n}}:</strong> {{'app.inno.visibility.anon.help' | i18n}}</span>
					</label>
				</div>
			</div>
			<br/>

			<!-- freeze -->
			<div class="control-group form-horizontal">
				<label class="control-label" for="ttl">{{'app.inno.freeze' | i18n}}</label>

				<div class="controls">
					<label class="checkbox">
						<input type="checkbox" data-ng-model="app.archived">
						{{'app.inno.freeze.help' | i18n}}
					</label>
				</div>
			</div>
		</div>

		<!-- Tab 2 content -->
		<div class="tab-pane" id="tab2">
			<div class="alert alert-info">{{'app.inno.settings.fields.help' | i18n}}</div>
			<div class="clear"></div>
			<h4>{{'list.container.setup' | i18n}}</h4>

			<div class="control-group">
				<div class="" id="list-configuration">
					<ul class="list list-form-fields" data-ui-sortable data-ng-model="app.container.fields">
						<li class="field-entry-container" data-ng-repeat="field in app.container.fields">
							<div class="field-icon {{field.type}}"></div>
							<div class="field-name">{{field.label}}</div>
							<div class="field-actions">
								<a href="" class="btn btn-mini" data-ng-click="editField(field, $index)"
								   title="{{'list.field.edit' | i18n}}"><i class="icon-edit"></i></a>
								<a href="" class="btn btn-mini"
								   data-confirm-dialog="removeField($index)"
								   data-confirm-message="{{'list.field.remove.confirm' | i18n}}"
								   title="{{'list.field.remove' | i18n}}"><i class="icon-trash"></i></a>
							</div>
						</li>
					</ul>
					<br/>
					<button type="button" class="btn" data-ng-click="createField()">
						<i class="icon-plus"></i>&nbsp;{{'list.field.add' | i18n}}
					</button>
					<br/>
				</div>
			</div>
		</div>

		<!-- Tab 3 content -->
		<div class="tab-pane" id="tab3">
			<div class="alert alert-info">{{'app.inno.settings.moderators.help' | i18n}}</div>
			<div class="clear"></div>
			<h4>{{'app.inno.settings.mods' | i18n}}</h4>

			<div class="control-group row">
				<div class="span9">
					<div class="control-group userfield-control-group">
						<label class="control-label" for="{{field.id}}">{{field.label}}</label>

						<div class="field-properties">
							<div class="field-property-container">
								<user-chooser data-field="userchooser.field" data-ng-model="app.moderators"
											  data-options="userchooser.options">
								</user-chooser>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	#{app.angularSave saveform:saveform, apps:apps, sender:sender, app:app /}
</div>
#{/form}