#{form.field.text 'app.rssUrl', value:app.rssUrl, placeholder:'http://', class:'span8' /}
#{form.field.custom 'apps.rss.basicAuthentication', label:messages.get('apps.rss.basicAuthentication') + ' <small>(' + messages.get('optional') + ')</small>'}
	<input type="text" name="app.username"  id="app-username" value="${app.username}" placeholder="&{'rss.username'}" /><br />
	<input type="password" name="app.password"  id="app-password" value="${app.password}" placeholder="&{'rss.password'}" autocomplete="off" />
#{/}
#{form.field.checkbox 'app.postOnWall', label:' ', help:'apps.rss.postOnWall', value:true, falseValue:false, checked:app.postOnWall /}
<p class="help-block">&{'apps.rss.postOnWall.help'}</p>