#{form.field.checkbox 'showInfo', checked: app.showInfo, value: 'true', falseValue:'false', label: messages.get('app.wall.showInfo.title'), help: messages.get('app.wall.showInfo') /}

#{form.field.custom 'apps.form.wall.privacySettings'}
	<label class="checkbox">
		<input type="checkbox" name="restrictPosts" value="true" #{if app.wall?.restrictPosts} checked="checked" #{/if} />
		&{'apps.form.wall.onlyAdminsCanPostUpdates'}
	</label>
	<label class="checkbox">
		<input type="checkbox" name="restrictCollaboration" value="true" #{if app.wall?.restrictCollaboration} checked="checked" #{/if} />
		&{'apps.form.wall.onlyAdminsCanLikeAndComment'}
	</label>
#{/}