#{addLess 'app.polls' /}

#{form.field.text 'app.question', label:'app.poll.question', value:app.question, class:'span10' /}
#{form.field.textarea 'app.description', label:'app.poll.description', value:app.description, class:'span10', rows:4 /}
<hr>

<div class="row">
	<div class="span6">
		#{form.field.custom 'app.answers'}
			<div id="answer-template" class="hide">
				<input type="text" class="span4 name" value="" name="answer.{i}.name">
				<input type="hidden" class="rank" value="" name="answer.{i}.rank">
				<button class="btn btn-danger answer-remove"><i class="icon-remove icon-white"></i></button>
				<a onclick="return false;" class="btn answer-drag"><i class="icon-move"></i></a>
			</div>
			
			<div id="answers">
				%{ i = 1; }%
				#{list items:app.answers, as:'answer'}
					<div>
						<input type="text" class="span4 name" value="${answer.name}" name="answer.${i}.name">
						<input type="hidden" class="rank" value="${answer.rank}" name="answer.${i}.rank">
						<input type="hidden" value="${answer.id}" name="answer.${i++}.id">
						<button class="btn btn-danger answer-remove"><i class="icon-remove icon-white"></i></button>
						<a onclick="return false;" class="btn answer-drag"><i class="icon-move"></i></a>
					</div>
				#{/}
			</div>
			
			<div id="answer-new">
				<input type="text" class="span4" value="" name="new" placeholder="&{'app.poll.answer.placeholder'}">
				<button class="btn btn-success"><i class="icon-plus icon-white"></i></button>
			</div>
		#{/}
	</div>
	<div class="span4">
		<div>&{'options'}</div>
		*{
		#{form.field.radiogroup 'app.type', label:'app.poll.type', items:['pie','bar'], value:app.type /}
		<hr>
		}*
		#{if !app.persistent || !app.anonymous}
			#{form.field.checkbox 'app.anonymous', label:' ', help:'app.poll.anonymous', value:true, falseValue:false, checked:app.anonymous /}
		#{/}
		#{form.field.checkbox 'app.maxAnswers', label:' ', help:'app.poll.maxAnswers', value:1000, falseValue:1, checked:(app.maxAnswers>1) /}
		#{form.field.checkbox 'app.frozen', label:' ', help:'app.poll.frozen', value:true, falseValue:false, checked:app.frozen /}
	</div>
</div>
<div class="clearfix"></div>


<script type="text/javascript">
	var i = ${i};
	
	// new
	$('#answer-new button').click(function(e){
		e.preventDefault();
		
		if($('#answer-new input').val().trim() != '') {
			// copy tpl
			var $new = $('#answer-template').clone().appendTo('#answers').show();
			$new.find('input.name').val($('#answer-new input').val());
			$new.find('input').each(function(x, el){
				var name = $(el).attr('name');
				name = name.replace('{i}', i);
				$(el).attr('name', name);
			});
			$new.removeAttr('id');
			$new.removeClass('hide');
			
			// reset
			$('#answer-new input').val('');
			$('#answer-new input').focus();
			
			i++;
			updateRanks();
		}
	});
	
	// handle enter keys
	$('#answers input').keypress(function(e){
		if(e.which == 13) {
			e.preventDefault();
		}
	});
	
	$('#answer-new input').keypress(function(e){
		if(e.which == 13) {
			e.preventDefault();
			$('#answer-new button').trigger('click');
		}
	});
	
	// sorting
	function updateRanks() {
		$('#answers > div').each(function(i, el){
			$(el).find('input.rank').val(i+1);
		});
	}
	
	// sorting
	$('#answers').sortable({
		handle: '.answer-drag',
		opacity: 0.75,
		revert: 200,
		update: updateRanks
	});
	
	// remove clicks
	$(document).on('click', '.answer-remove', function(e){
		e.preventDefault();
		$(e.currentTarget).parent('div').remove();
	});
</script>