#{validation /}

#{if app instanceof models.app.AngularApp}
	#{include 'Apps/_form.' + app.appKey + '.html' /}
#{/}
#{else}
	#{form @Apps.save(), class:'form-stacked', enctype:'multipart/form-data'}
		#{app.formValue sender:sender, app:app/}
		#{include 'Apps/_form.' + app.appKey + '.html' /}

	<div class="form-actions">
		#{form.submit 'save', name: 'save' /}
		#{get 'form-actions' /}
		<a href="@{Senders.show(sender.id, app.id)}" class="btn">&{'cancel'}</a>
		#{if app.persistent}
			#{if !app.active || app.sender.activeApps.size() > 1}
				<div data-rest-link data-url="@{Apps.delete(sender.id, app.id)}"
					 data-redirect="@{Senders.show(sender.id)}" data-type="DELETE" class="btn btn-danger"
					 data-confirmation-really="&{'apps.delete.really'}">&nbsp;&{'delete'}</div>
			#{/}
			#{else}
				<a href="" class="btn btn-danger disabled">&{'apps.cantDeleteDefault'}</a>
			#{/}
		#{/}
	</div>
	#{/form}
#{/}
