<div class="control-group">
	<label class="control-label">&{'app.files.settings'}</label>
	
	<div class="controls">
		<label class="checkbox">
			<input type="checkbox" name="app.adminsOnly" value="true" #{if app.adminsOnly}checked="checked"#{/}>
			<input type="hidden" name="app.adminsOnly" value="false">
			&{'app.files.settings.adminOnly'}
		</label>
		<label class="checkbox">
			<input type="checkbox" name="app.anonymous" value="true" #{if app.anonymous}checked="checked"#{/}>
			<input type="hidden" name="app.anonymous" value="false">
			&{'app.files.settings.anonymous'}
		</label>
	</div>
</div>