#{form.field.checkbox 'allowGuestAuthor', checked: app.allowGuestAuthor, value: 'true', falseValue:'false', label: messages.get('blogApp.form.authors'), help: messages.get('blogApp.form.allowGuestAuthor')/}
#{form.field.checkbox 'usersCanComment', checked: app.usersCanComment, value: 'true', falseValue:'false', label: messages.get('app.blog.comments.title'), help: messages.get('app.blog.usersCanComment') /}
#{if app.sender.defaultWall != null}
	#{form.field.custom 'apps.publishSettings'}
		<label class="checkbox">
			<input type="checkbox" name="autoshare" value="true" #{if app.autoshare} checked="checked" #{/if} />
			&{'apps.publishAutomatically'}
		</label>
		<label class="checkbox">
			<input type="checkbox" name="autoshareImportant" value="true" #{if app.autoshareImportant} checked="checked" #{/if} />
			&{'apps.MakeAutomaticallySharedPostsSticky'}
		</label>
	#{/}
#{/}

<script type="text/javascript">
	function updateAutoshareImportant() {
		if($('input[name=autoshare]').is(':checked')) {
			$('input[name=autoshareImportant]').removeAttr('disabled');
		} else {
			$('input[name=autoshareImportant]').attr('disabled', 'disabled');
			$('input[name=autoshareImportant]').attr('checked', false);
		}
	}
	$('input[name=autoshare]').change(updateAutoshareImportant);
	updateAutoshareImportant();
</script>