#{addLess 'lib.minicolors' /}
#{addScript 'jquery.minicolors' /}

#{form.field.text 'app.displayName', label:'app.calendar.displayName', value:app.displayName, help:'app.calendar.displayName.help' /}
#{form.field.text 'app.color', label:'app.calendar.color', value:app.color, class:'span2' /}
<hr>

#{form.field.custom 'apps.form.calendar.settings'}
    <label class="checkbox">
        <input type="checkbox" name="onlyAdminsEdit" value="true" #{if app.onlyAdminsEdit} checked="checked" #{/if} />
        &{'apps.form.calendar.onlyAdminsEdit'}
    </label>
    <label class="checkbox">
        <input type="checkbox" name="eventsMayNotOverlap" value="true" #{if app.eventsMayNotOverlap()} checked="checked" #{/if} />
        &{'apps.form.calendar.eventsMayNotOverlap'}
    </label>
    <p class="help-block">&{'apps.form.calendar.eventsMayNotOverlap.help'}</p>
#{/}


<script type="text/javascript">
	$('#app-color').minicolors({
		theme: 'bootstrap'
	});
</script>
