#{addScript 'coyo/list/generic.list.services' /}
#{addScript 'app.list' /}

#{set angular_app: 'app.list' /}

#{form @Apps.save(), class:'form-stacked', enctype:'multipart/form-data', name:'saveform', novalidate:'true'}

#{app.formValue sender:sender, app:app/}

<div data-ng-controller="ListAppFormController" data-ng-init="init(#{if app.container}${app.container.id}#{/})" >
	<div class="control-group">
		<label class="control-label" for="inputEntityName" data-ng-class="{required: true}">{{'app.list.container.name' | i18n}}</label>
		<div class="controls">
			<input id="inputEntityName" name="entityName" type="text" data-ng-model="container.name" placeholder="{{'app.list.container.name' | i18n}}" required="true">
		</div>
	</div>
	<div class="form-horizontal">
		<h3>{{'app.list.settings.permissions' | i18n}}</h3>
		<div class="control-group">
			<label class="control-label">{{'app.list.permission.create.label' | i18n}}</label>
			<div class="controls">
				<label class="radio"><input type="radio" name="Create" data-ng-value="true" data-ng-model="container.permissions['Create']" />{{'yes' | i18n}}</label>
				<label class="radio"><input type="radio" name="Create" data-ng-value="false" data-ng-model="container.permissions['Create']">{{'no' | i18n}}</label>
				<p class="help-block">{{'app.list.permission.create.help' | i18n}}</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">{{'app.list.permission.read.label' | i18n}}</label>
			<div class="controls">
				<label class="radio">
					<input type="radio" name="Read" data-ng-model="container.permissions['Read']" value="all" /> {{'app.list.permission.value.all' | i18n}}
				</label>
				<label class="radio">
					<input type="radio" name="Read" data-ng-model="container.permissions['Read']"  value="own" /> {{'app.list.permission.value.own' | i18n}}
				</label>
				<label class="radio">
					<input type="radio" name="Read" data-ng-model="container.permissions['Read']"  value="none" /> {{'app.list.permission.value.none' | i18n}}
				</label>
				<p class="help-block">{{'app.list.permission.read.help' | i18n}}</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">{{'app.list.permission.update.label' | i18n}}</label>
			<div class="controls">
				<label class="radio">
					<input type="radio" name="Update" data-ng-model="container.permissions['Update']" value="all" data-ng-disabled="isDisabled('all')" /> {{'app.list.permission.value.all' | i18n}}
				</label>
				<label class="radio">
					<input type="radio" name="Update" data-ng-model="container.permissions['Update']" value="own" data-ng-disabled="isDisabled('own')" /> {{'app.list.permission.value.own' | i18n}}
				</label>
				<label class="radio">
					<input type="radio" name="Update" data-ng-model="container.permissions['Update']" value="none" /> {{'app.list.permission.value.none' | i18n}}
				</label>
				<p class="help-block">{{'app.list.permission.update.help' | i18n}}</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">{{'app.list.permission.delete.label' | i18n}}</label>
			<div class="controls">
				<label class="radio">
					<input type="radio" name="Delete" data-ng-model="container.permissions['Delete']" value="all" data-ng-disabled="isDisabled('all')" /> {{'app.list.permission.value.all' | i18n}}
				</label>
				<label class="radio">
					<input type="radio" name="Delete" data-ng-model="container.permissions['Delete']" value="own" data-ng-disabled="isDisabled('own')" /> {{'app.list.permission.value.own' | i18n}}
				</label>
				<label class="radio">
					<input type="radio" name="Delete" data-ng-model="container.permissions['Delete']" value="none" /> {{'app.list.permission.value.none' | i18n}}
				</label>
				<p class="help-block">{{'app.list.permission.delete.help' | i18n}}</p>
			</div>
		</div>
	</div>


	<div class="form-horizontal">
		<h3>{{'app.list.settings.notifications' | i18n}}</h3>
		<div class="control-group">
			<div class="controls">
				<label class="radio">
					<input type="radio" name="notificationRecipient" data-ng-model="container.notificationRecipient" value="NONE" /> {{'app.list.settings.notifications.none' | i18n}}
				</label>
				<label class="radio">
					<input type="radio" name="notificationRecipient" data-ng-model="container.notificationRecipient"  value="ADMINS" /> {{'app.list.settings.notifications.admins' | i18n}}
				</label>
				<label class="radio">
					<input type="radio" name="notificationRecipient" data-ng-model="container.notificationRecipient"  value="FOLLOWERS"/> {{'app.list.settings.notifications.followers' | i18n}}
				</label>
				<p class="help-block">{{'app.list.settings.notifications.help' | i18n}}</p>
			</div>
		</div>
	</div>

	#{app.angularSave saveform:saveform, apps:apps, sender:sender, app:app /}
</div>
#{/form}
