#{addLess 'app.forum' /}

#{addScript 'coyo/generic.filechooser' /}
#{addScript 'coyo/app/forum/forum' /}
#{addScript 'coyo/app/forum/controllers' /}
#{addScript 'coyo/app/forum/services' /}

#{set angular_app: 'coyo.forum' /}

<div data-ng-controller="CoyoForumCtrl" data-ng-init="init(${app.id}, ${security.CheckCaller.check(acl.AppsPermission.CREATE_FORUM_TOPIC, app.id)})" id="forum-app-container">
	<div ng-view></div>
</div>