#{addLess 'app.rss' /}

%{ entries = app.entries; }%
#{if entries != null}
	<ul class="list rss">
		%{ max = 25; }%
		#{list items:entries.subList(0, (entries.size() > max)?max:entries.size()), as:'entry'}
			%{ info = utils.WebLinkInfo.get(entry.link); }%
			<li>
				#{if info.thumbnailUrl}
					<img src="${info.thumbnailUrl}" border="0" alt="">
				#{/}
				<div class="body">
					#{if entry.publishedDate}<small>#{date.full entry.publishedDate /}</small>#{/}
					<div><a href="${app.getEntryLink(entry)}" target="_blank"><strong>${entry.title}</strong></a></div>
					<div>${models.app.RSSApp.getMessage(entry, null).raw()}</div>
				</div>
				<div class="clearfix"></div>
			</li>
		#{/list}
	</ul>
#{/}#{else}
	#{if app.currentError}
		#{secure acl.Permission.EDIT_SENDER, args:[app.sender.id]}
			<div class="alert alert-error">${app.currentError}</div>	
		#{/}
	#{/}
	<center>&{'apps.render.rss.invalidFeedUrl'}</center>
#{/}