#{addLess 'app.tasks' /}
#{addScript 'jquery.form' /}
#{addScript 'app.tasks' /}

<div id="tasks" data-save-url="@{TasksApp.saveTask}" data-sort-url="@{TasksApp.sortTasks()}" data-update-url="@{TasksApp.updateTask()}">
	<ul class="tasks-lists" data-sort-url="@{TasksApp.sortLists()}">
		<li class="header">&{'app.tasks.lists.header'}</li>
		<li class="tasks-list" data-list-id="0">
			<a href="@{TasksApp.tasks(app.id)}">
				&{'app.tasks.inbox'}
				<span class="tasks-count label">${app.getInbox(false).size()}</span>
			</a>
		</li>
		#{list items:app.lists, as:'item'}
			<li class="tasks-list tasks-list-sortable" data-list-id="${item.id}">
				<a href="@{TasksApp.tasks(app.id, item.id)}">
					${item.name.shorten(22, '..')}
					<span class="tasks-count label" style="background-color: ${item.color};">${item.getTasks(false).size()}</span>
				</a>
			</li>
		#{/}
		
		<li>
			<a href="@{TasksApp.createList(app.id)}" class="ajax add">
				&{'app.tasks.addList'}
			</a>
		</li>
	</ul>
	<div class="tasks-lists-border"></div>
	<div class="tasks-body">
		#{form @TasksApp.saveTask(), id:'task-new'}
        <div id="task-name-control">
			<input type="hidden" name="task.app.id" value="${app.id}">
			<input type="hidden" name="task.list.id" id="task-new-list-id">
			<input  id="task-new-name" type="text" name="task.name" placeholder="&{'app.tasks.addPlaceholder'}" class="task-name search-query">
        </div>
		#{/}
		
		<div class="tasks-container">
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<script type="text/javascript">
	$('#tasks').tasksApp();
</script>