#{if params['form']}
	#{addScript 'angular-chosen/chosen' /}
	#{addScript 'rrule/rrule' /}
	#{addScript 'coyo/events/directives' /}
	#{addScript 'coyo/events/form' /}
	#{set angular_app: 'coyo.events.form' /}

	#{form.smartform form:@Events.form(null, app.id) /}
#{/}#{else}
	#{append 'actions'}
		#{secure acl.Permission.CREATE_EVENT, args:[app.id]}
			<a href="${util.HttpUtil.appendParam(request.url, 'form', 'true')}" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> &{'event.createnew'}</a>
		#{/}
	#{/}
	
	#{event.calendar app, filter:app.filter, connectedUser:connectedUser /}
#{/}
