#{addLess 'app.wiki' /}

#{addLess 'lib.angular-ui-tree' /}
#{addScript 'angular/angular-ui-tree' /}
#{addScript 'coyo/app/wikiapp/services' /}
#{addScript 'coyo/app/wikiapp/controller' /}
#{addScript 'coyo/app/wikiapp/app' /}

#{set angular_app: 'coyo.wikiapp' /}

#{if params['form']}
	#{form.smartform form:@WikiApp.form(app.id, params['form'], params['article']) /}
#{/}
#{else}
	#{if app.articles.size() == 0}
		<center>
			&{'apps.render.wiki.noArticles'}.
			#{secure acl.AppsPermission.EDIT_WIKI, args:[app.id]}
				<a href="${util.HttpUtil.appendParam(request.url, 'form', true)}">&{'apps.render.wiki.createNow'}!</a>
			#{/secure}
		</center>
	#{/}#{elseif params['overview']}
		#{include 'WikiApp/_navigation.html' /}
		#{include 'WikiApp/_list.html' /}
	#{/}#{else}
		%{
			if (params['article']) {
				article = app.getArticle(params['article']);
			}
			if (params['articleId']) {
				article = app.getArticle(params['articleId']);
			}
			if (!article) {
				article = app.getHome()
			} 
			if (params['version']) {
				version = article.getVersion(Long.valueOf(params['version']));
			}
			if (article && !version) {
				version = article.currentVersion;
				current = true;
			}
		}%
		
		#{include 'WikiApp/_navigation.html' /}
		
		#{if article}
			#{include 'WikiApp/_show.html' /}
		#{/}#{else}
			#{include 'WikiApp/_list.html' /}
		#{/}
	#{/}
#{/}

<script type="text/javascript">
	$('a.wiki-nav').click(loadWikiNav);
	function loadWikiNav(e){
		e.preventDefault();
		var link = $('a.wiki-nav');
		link.unbind('click', loadWikiNav);
		$.get('/app/wiki/article/nav?appId=${app.id}', function( data ) {
			var wikiNav = $(data);
			link.after(wikiNav);
			initLayoutTools(wikiNav, false);
		});
	}

	*{ handle anchor links with jQuery, since otherwise angular would interfere }*
	$(document).ready(function() {
		var $links = $('.article-content').find('a[href^="#"]');
		if ($links.length > 0) {
			$links.scrollTo({offset : -50});
		}
	});
</script>