#{addLess 'app.linklist' /}

#{addScript 'coyo/app/socialLinklist/socialLinklist' /}
#{addScript 'coyo/app/socialLinklist/socialLinklist.controller' /}
#{addScript 'coyo/app/socialLinklist/socialLinklist.services' /}
#{addScript 'coyo/generic.filechooser' /}
#{addScript 'coyo/app/socialLinklist/socialLinklist.directives' /}

#{set angular_app: 'coyo.socialLinklist' /}

<div data-ng-controller="CoyoLinklistShowListCtrl" data-ng-init="init(${app.id})" id="linklist-app-container">
	<div class="linklist-nav">
		<button class="btn btn-primary pull-right" data-ng-click="showForm()" data-ng-show="addAllowed || admin" ><i class="icon-plus icon-white"></i>&nbsp;{{'app.socialLinklist.link.create' | i18n}}</button>
	</div>
	
	<hr class="spacer">
	
	<div class="loading loadLinks" data-ng-show="loading.busy"></div>
	<div data-ng-show="!loading.busy && links.length < 1" class="no-content">{{'app.socialLinklist.empty' | i18n}} <a href="" data-ng-click="showForm()" data-ng-show="addAllowed || admin">{{'app.socialLinklist.empty.link' | i18n}}</a></div>
	
	<div data-ng-show="links.length > 0" >
	<ul class="unstyled linklist" data-ng-model="links" data-ui-sortable="sortableOptions">
		<li data-ng-repeat="link in links" data-ng-mouseenter="hoverShowOptions(link)" data-ng-mouseleave="hoverHideOptions(link)" data-ng-class="{'unsortable': editAllowed === false && admin === false}">
			<div class="linkList-link-options pull-right" data-ng-show="editAllowed || link.canEdit">
				<div class="btn-group" data-ng-show="link.showOptions">
					<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
					<ul class="dropdown-menu pull-right dropdown-edit">
						<li class="dropdown-edit-link"><a href="" tabindex="1" data-ng-click="editLink($index)"><i class="icon-pencil"></i>&nbsp;{{'app.socialLinklist.link.edit' |i18n}}</a></li>
						<li class="dropdown-edit-link"><a href="" tabindex="1" data-confirm-dialog="deleteLink($index)" data-confirm-message="{{'app.socialLinklist.link.edit.confirmDelete' | i18n}}"><i class="icon-trash"></i>&nbsp;{{'app.socialLinklist.link.delete' |i18n}}</a></li>				
					</ul>
				</div>
			</div>
			<a href="{{link.linkUrl}}" class="title" target="_blank"><img data-ng-show="link.faviconUrl" src="{{link.faviconUrl}}"/><i data-ng-show="!link.faviconUrl" class="icon-globe defaultIcon"></i> {{link.title}}</a>
			<p></p>
			<a href="{{link.linkUrl}}" class="url" target="_blank">{{link.linkUrl}}</a>
			{{link.description}}
		</li>
	</ul>
	</div>

</div>