#{addLess 'lib.tagit' /}

#{addScript 'app.list' /}

#{addScript 'coyo/generic.userchooser' /}
#{addScript 'coyo/generic.filechooser' /}
#{addScript 'coyo/generic.optionchooser' /}
#{addScript 'coyo/list/generic.list.services' /}
#{addScript 'coyo/list/generic.list.directives' /}
#{addScript 'coyo/list/generic.list.controllers' /}

#{addScript 'coyo/likes/likes.directives'/}
#{addScript 'coyo/likes/likes.services'/}
#{addScript 'coyo/likes/likes'/}

#{addScript 'coyo/comments/comments.directives'/}
#{addScript 'coyo/comments/comments.services'/}
#{addScript 'coyo/comments/comments'/}

#{addScript 'coyo/app/innoapp/services'/}
#{addScript 'coyo/app/innoapp/controllers'/}
#{addScript 'coyo/app/innoapp/directives'/}
#{addScript 'coyo/app/innoapp/inno'/}

#{addScript 'FileSaver'/}


#{addLess 'app.inno' /}

#{set angular_app: 'coyo.inno' /}

<div data-ng-controller="InnoAppRootController"  id="inno-app-overview"
	 data-ng-init="init(#{if app.id}${app.id}#{/})">
	<div data-ng-view></div>
</div>