#{addLess 'lib.video-js.min' /}

#{addLess 'app.list' /}

#{addScript 'video-js/video' /}

#{addScript 'coyo/generic.userchooser' /}
#{addScript 'coyo/generic.filechooser' /}
#{addScript 'coyo/generic.optionchooser' /}
#{addScript 'coyo/list/generic.list.services' /}
#{addScript 'coyo/list/generic.list.directives' /}
#{addScript 'coyo/list/generic.list.controllers' /}
#{addScript 'coyo/list/generic.list' /}

#{set angular_app: 'coyo.list' /}

<div data-ng-controller="CoyoListController" data-ng-init="init(${app.container.id})" id="list-app-container">
	<div data-ng-view></div>
</div>