#{addLess 'app.content' /}

<div class="content-app" data-ng-non-bindable>
	${app.html.userHtml()?.hashify(true)}
</div>

<script type="text/javascript">
	*{ handle anchor links with jQuery, since otherwise angular would interfere }*
	$(document).ready(function() {
		var $links = $('.content-app').find('a[href^="#"]');
		if ($links.length > 0) {
			$links.scrollTo({offset : -50});
		}
	});
</script>