#{addLess 'app.polls' /}

#{secure acl.Permission.EDIT_SENDER, args:[app.sender.id]}
	#{append 'actions'}
		#{if app.frozen}
			<div data-rest-link data-url="@{Polls.toggle(app.id)}" type="POST" class="btn"><i class="icon-repeat"></i>&nbsp;&{'app.polls.unfreeze'}</div>
		#{/}#{else}
			<div data-rest-link data-url="@{Polls.toggle(app.id)}" type="POST" class="btn"><i class="icon-off"></i>&nbsp;&{'app.polls.freeze'}</div>
		#{/}
	#{/}
#{/}

<h3>
	${app.question?.hashify()}
	#{collaboration.share app, class:'btn btn-mini pull-right' /}
</h3>
#{if app.description != null && app.description?.trim() != ''}
	<div class="alert alert-info">${app.description.nl2br()?.hashify()}</div>
#{/}

#{poll.render app, maxUsers:5 /}

<hr class="footer" />
<small>&{'app.poll.onlineSince'} #{date.normal app.created /}</small>