#{secure acl.Permission.EDIT_SENDER, args:[app.sender.id]}
	<div class="alert alert-info">
		&{'workspaces.teamApp.dndMembers'}
	</div>
#{/}

#{if app.members.size() > 0}
	<ul class="list list-boxes colleagues" #{secure acl.Permission.EDIT_SENDER, args:[app.sender.id]}id="teamSortable"#{/}>
		#{list items:app.activeMembers, as:'item'}
			<li>
				#{include 'Users/_listItem.html' /}
			</li>
		#{/list}
	</ul>
#{/}#{else}
	<center>&{'app.team.empty'}</center>
#{/}

#{secure acl.Permission.EDIT_SENDER, args:[app.sender.id]}
<script type="text/javascript">
	var users = [];
	
	function updateUsers() {
		users = [];
		$('.hiddenUserId').each(function(index, element) {
			users.push(parseInt($(element).val()));
		});
	}
	
	$(document).ready(function() {
		updateUsers();
		
		$("#teamSortable").sortable({
			stop : function(e, ui) {
				updateUsers();
				if(users.length > 1) {
					$.ajax({
						type: "POST",
						url: "@{TeamApp.order(app.id)}",
						data: {'userlist': JSON.stringify(users)},
						dataType: "json"
					}).done(function(msg) {
						// do nothing
					}).fail(function(jqXHR, textStatus) {
						// do nothing
					});
				}
			}
		});
	});
</script>
#{/}
