#{wall app.wall /}

#{if app.showInfo}
	#{addLess 'app.wall.rightbar' /}
	#{if app.sender.about}
		#{set 'rightbar'}
			<div class="group">
				<h4>&{'app.dashboard.about'}</h4>
				<p><small>${app.sender.about.nl2br()}</small></p>
			</div>
		#{/}
	#{/if}
	
	#{if app.sender instanceof models.workspace.Workspace}
		#{append 'rightbar'}
			<div class="group users">
				<h4>&{'app.dashboard.members'}</h4>
				<ul class="unstyled">
					#{list items:app.sender.userMembers, as:'user'}
						<li class="tip" title="${user.displayName}">#{user.thumb user /}</li>
					#{/}
				</ul>
			</div>
		#{/}
	#{/}
#{/}