#{if apps.AppManager.isActive(app.appDescriptor, app.sender.senderType)}
	*{ load app widget resources }*
	#{list items:apps.AppManager.getActiveApps(app.sender), as:'appDescriptor'}
		#{list items:appDescriptor.getWidgets().values(), as:'widget'}
			#{if widget.getCss()}
				#{addLess widget.getCss() /}
			#{/}
			#{if widget.getJs()}
				#{addScript widget.getJs() /}
			#{/}
		#{/}	
	#{/}

	#{include 'Apps/_render.' + app.appKey + '.html' /}
	
	#{set 'widgets'}
		<div id="app-widgets-rightbar" data-ng-controller="AppWidgetsController" data-ng-init="init(${app.id})" data-ng-class="{editmode : editMode}">
			<div class="options-top">
			</div>
			<div class="widgets" data-ui-sortable="sortableOptions" data-ng-model="widgets">
				<div class="widget" data-ng-repeat="widget in widgets" data-ng-class="{draggable : editMode}">
					<a href="" data-ng-click="deleteWidget(widget.id)" class="widget-icon widget-remove"><i class="icon-remove icon-white"></i></a>
					<a href="" class="widget-icon widget-sort"><i class="icon-move icon-white"></i></a>
					<div data-ng-include="getTemplateUrl(widget)"></div>
				</div>
			</div>
			<div class="options-bottom">
				<a href="" data-ng-click="addWidget()" class="btn btn-block btn-primary"><i class="icon-plus icon-white"></i> &{'app.widget.create'}</a>				
				<a href="" data-ng-click="finish()" class="btn btn-block"><i class="icon-ok"></i> &{'app.widgets.editMode.finish'}</a>				
			</div>
		</div>
	#{/}
#{/}#{else}
	<div class="alert alert-error">
		&{'apps.inactive'} 
	</div>
#{/else}

#{secure acl.Permission.EDIT_SENDER, args:[app.sender.id]}
	#{append 'actions'}
		<div class="btn-group">
			<a href="@{Apps.edit(app.sender.id, app.id)}" class="btn btn-primary tip" title="&{'app.edit'}"><i class="icon-cog icon-white"></i></a>
			<a href="" class="btn btn-primary tip" title="&{'app.editWidgets.start'}" data-ng-controller="AppWidgetsSwitchController" data-ng-click="switchMode()" data-ng-class="{active : editMode}"><i class="icon-th icon-white"></i></a>
		</div>
	#{/}
#{/}