#{extends 'layouts/modal.html' /}
#{set title:messages.get('app.linklist.add') /}
#{set subtitle:app.title /}

#{form @save()}
	<input type="hidden" name="id" value="${app.id}">
	
	#{form.field.text 'url', label:'app.linklist.form.url', class:'span100', placeholder:'http://' /}
	
	<div class="form-actions">
		#{form.submit 'save' /}
	</div>
#{/}

<script type="text/javascript">
	$('#url').focus(function(){
		if($(this).val() == '') {
			$(this).val('http://');
		}
	});
</script>