#{page.thumb page, lazy:true /}
<div class="item-text">
	<i class="icon-book"></i> <strong class="filter-field">#{page.link page /}</strong>
	<small>#{length page.about, max:75 /}</small>
	<small><a href="@{Pages.followers(page.id)}"><strong>#{page.followers page /}</strong></a></small>
</div>