<div class="group">
	<h6>&{'sidebar.apps.title'}</h6>
	<ul class="unstyled sidebar-apps">
		#{list items:page.apps, as:'item'}
			#{secure acl.Permission.ACCESS_APP, args:[item.id]}
				<li>
					<i class="${item.appDescriptor.iconClass}"></i>
					<a href="@{Pages.show(page.id, item.id, page.slug, item.slug)}" class="${(item==app).yesno('active','')}" title="${item.title}">#{length item.title, max:17 /}</a>
				</li>
			#{/}
		#{/list}
	</ul>
</div>

<a href="@{Pages.followers(page.id)}">
	#{page.followers page /}
</a>