<h3>
	${start.format('MMMM')}
	<small>${start.format('yyyy')}</small>
	
	<div class="btn-group pull-right">
		<a href="#" data-date="${start.minusMonths(1).format('yyyy-MM-dd')}" class="btn btn-mini"><i class="icon-arrow-left"></i></a>
		<a href="#" data-date="${new Date().format('yyyy-MM-dd')}" class="btn btn-mini">&{'today'}</a>
		<a href="#" data-date="${start.plusMonths(1).format('yyyy-MM-dd')}" class="btn btn-mini"><i class="icon-arrow-right"></i></a>
	</div>
	#{include 'Events/_calendar.weekendToggle.html' /}
</h3>
<table class="calendar calendar-month table table-bordered">
	<tbody>
	#{list items:0..6, as:'week'}
		%{ weekStart = start.withDayOfMonth(1).withDayOfWeek(1).plusWeeks(week); }%
		#{if week == 0 || start.getMonthOfYear() == weekStart.getMonthOfYear()}
			#{event.calendar.week weekStart, month:start.getMonthOfYear(), showWeekend:showWeekend, showDate:true, connectedUser:connectedUser, filter:filter /}
		#{/}
	#{/}
	</tbody>
</table>