%{
	start = start.withDayOfWeek(1);
	end = start.withDayOfWeek(7);
}%
<h3>
	&{'events.calendar.week', start.format('d MMMM'), end.format('d MMMM')}
	<small>${start.format('yyyy')}</small>
	
	<div class="btn-group pull-right">
		<a href="#" data-date="${start.minusWeeks(1).format('yyyy-MM-dd')}" class="btn btn-mini"><i class="icon-arrow-left"></i></a>
		<a href="#" data-date="${new Date().format('yyyy-MM-dd')}" class="btn btn-mini">&{'today'}</a>
		<a href="#" data-date="${start.plusWeeks(1).format('yyyy-MM-dd')}" class="btn btn-mini"><i class="icon-arrow-right"></i></a>
	</div>
	
	#{include 'Events/_calendar.weekendToggle.html' /}
</h3>
<table class="table table-bordered calendar calendar-week">
	<thead>
		<tr>
			#{list items:1..7, as:'day'}
				%{ date = start.withDayOfWeek(day); }%
				<th class="${date.today().yesno('today','')} ${(day>5).yesno('weekend','')} ${(day>5&&!showWeekend).yesno('hide','')}">${date.format('EEEE')}<br><small>#{date.normal date /}</small></th>
			#{/}
		</tr>
	</thead>
	<tbody>
		#{event.calendar.week start, showWeekend:showWeekend, showDate:false, connectedUser:connectedUser, filter:filter /}
	</tbody>
</table>