<small class="pull-right calendar-weekend-toggle">
	<a href="#" class="btn btn-mini calendar-weekend-show ${controllers.Events.isShowWeekend().yesno('hide', '')}"><i class="icon-eye-open"></i> &{'events.calendar.showWeekend'}</a>
	<a href="#" class="btn btn-mini calendar-weekend-hide ${controllers.Events.isShowWeekend().yesno('', 'hide')}"><i class="icon-eye-close"></i> &{'events.calendar.hideWeekend'}</a>
</small>
<script type="text/javascript">
	$('.calendar-weekend-show').click(function(e){
		e.preventDefault();
		toggleWeekend(true);
	});
	$('.calendar-weekend-hide').click(function(e){
		e.preventDefault();
		toggleWeekend(false);
	});
	
	var toggleShowWeekend = #{jsAction @Events.toggleShowWeekend(':show')/}
	function toggleWeekend(on) {
		if(on) {
			$('.calendar .weekend').removeClass('hide');
			$('.calendar-weekend-show').addClass('hide');
			$('.calendar-weekend-hide').removeClass('hide');
		} else {
			$('.calendar .weekend').addClass('hide');
			$('.calendar-weekend-show').removeClass('hide');
			$('.calendar-weekend-hide').addClass('hide');
		}
		
		$.post(toggleShowWeekend({show : (on ? 'true' : 'false')}));
	}
</script>