<div class="options">
	#{event.response event, left:true /}
</div>

#{event.thumb event /}
<div class="body">
	<i class="icon-calendar"></i>
	<strong>#{event.link event /}</strong><br />
	<small>
		#{event.date.start event /} -
		${event.getUsers(models.event.EventUser.EventResponse.ATTENDING).size()} #{if event.getUsers(models.event.EventUser.EventResponse.ATTENDING).size() == 1 } &{'event.guest'} #{/if} #{else} &{'event.guests'} #{/else}
	</small>
</div>