#{event.avatar event /}
<hr>

#{if event.allowGuestInvite}
	<div data-ng-controller="EventUserListController" data-ng-init="init(${event.id}, ${settings.getBoolean('messagingChat')}, ${settings.getBoolean('messagingWebRTC')})">
		<div data-ng-show="loading" class="loading">Loading...</div>
		<div data-ng-show="response.count > 0" class="group" data-ng-repeat="response in usersPerReponse">
			<h6>{{response.label}} ({{response.count}})</h6>
			<ul class="unstyled sidebar-user-list">
				<li data-ng-repeat="user in response.userList | orderBy:[orderByStatus, 'lastName', 'firstName']">
					<div data-ng-class="{'sidebar-user-entry' : chatEnabled && !user.currentUser}">
						<div data-user-avatar-status="user"></div>
						<a data-ng-href="{{user.wallUrl}}"><span data-ellipsify-text data-max-size="20" data-text-data="user.fullName"></span></a>
						<div data-user-message-icons="user" data-context-class="${event.class.getName()}" data-context-id="${event.id}" data-context-name="${event.getDisplayName()}" data-chat-enabled="chatEnabled" data-audio-video-enabled="audioVideoEnabled"></div>
					</div>
				</li>
			</ul>
		</div>
	</div>
#{/if}

#{set 'options'}
	#{secure acl.Permission.SHARE, args:[event]}
		<li>#{collaboration.share event /}</li>
		<li class="divider"></li>
	#{/}
	#{secure acl.Permission.EDIT_EVENT, args:[event.id]}
		<li><a href="@{Events.mail(event.id)}" class="ajax"><i class="icon-envelope"></i> &{'event.mail.link'}</a></li>
		<li><a href="@{Events.edit(event.id)}"><i class="icon-pencil"></i> &{'event.edit'}</a></li>
	#{/}
	#{secure acl.Permission.CREATE_EVENT}
		<li><a href="@{Events.create(event.id)}"><i class="icon-plus"></i> &{'event.duplicate'}</a></li>
	#{/}
#{/}
#{if options.trim() != ''}
	<div class="group">
		<h6>&{'options'}</h6>
		<ul class="unstyled">
			#{get 'options' /}
		</ul>
	</div>
#{/}