#{extends 'layouts/main.html' /} 
#{set title:messages.get('events') /}
#{set subtitle:messages.get('events.archive') /}
#{set 'actions'}
	<a href="@{Events.index()}" class="btn">&{'events.backToList'} &rarr;</a>
#{/set}

#{if count > 0}
	<ul class="list list-boxes" id="events"></ul>
	#{ui.list.endlessAjax '#events', route: @loadArchive(), length:20 /}
#{/if}
#{else}
	<center>&{'events.noArchiveEvents'}</center>
#{/else}