#{if !request.ajax}<html><body>#{/}

#{form @Events.save(), name:'eventForm', enctype:'multipart/form-data', class:'form-horizontal', 'data-ng-controller':'EventsFormController', 'submit-on':'submitForm'}
	<input type="hidden" name="event.id" value="${event?.id}" />
	
	<ul class="nav nav-tabs">
		<li class="active"><a href="#general" data-toggle="tab">#{if event.persistent}&{'event.edit'}#{/}#{else}&{'event.createnew'}#{/}</a></li>
		#{if !event.isPersistent() || event.isSeries()}
			<li><a href="#series" data-toggle="tab">&{'event.series'}</a></li>
		#{/if}
		<li id="inviteListTab"><a href="#inviteList" data-toggle="tab">&{'event.invitedUsers'}</a></li>
		<li><a href="#admins" data-toggle="tab">&{'event.admins'}</a></li>
	</ul>
	
	#{ifError 'event.overlapsExisting'}
	<div class="alert alert-error">
		#{error 'event.overlapsExisting'}&{error}#{/error}
   </div>
	#{/ifError}
	
	<div class="tab-content">
		<div class="tab-pane active" id="general">
			#{form.field.text 'event.name', value:event.name /}
			#{form.field.text 'event.location', value:event.location /}
			
			<hr>
			
			#{form.field.checkbox 'event.fulltime', value:true, falseValue:false, checked:event.fulltime, help:'' /}
			
			#{form.field.custom 'event.startDate', controlGroupClass:'start-date'}
				<input type="text" name="event.startDate" id="event-startDate" class="date span3" #{if event.startDate} data-ng-init="startDate='${event.getStartDate(connectedUser.dateTimeZone)?.format()}'"#{/} data-ng-model="startDate" placeholder="&{'event.startDate.date'}" data-format="${libs.DateI18N.getLocalizedDateFormat('date.format.picker')}" />
				<input type="text" name="startTime" id="event-startTime" class="time span2" value="#{if startTime != null}${startTime}#{/}#{else}${event.getStartDate(connectedUser.dateTimeZone)?.format('HH:mm')}#{/}" placeholder="&{'event.starttime'}" />
				<div class="text-error" data-ng-show="startDateInvalid">{{ 'event.startDate.not.valid' | i18n }}</div>
			#{/}
			#{form.field.custom 'event.endDate', help:messages.get('event.user.timezone', connectedUser.dateTimeZone.getName(0, connectedUser.language), connectedUser.dateTimeZone.ID)}
				<input type="text" name="event.endDate" id="event-endDate" class="date span3" #{if event.endDate} data-ng-init="endDate='${event.getEndDate(connectedUser.dateTimeZone)?.format()}'"#{/} data-ng-model="endDate" placeholder="&{'event.endDate.date'}" data-format="${libs.DateI18N.getLocalizedDateFormat('date.format.picker')}" />
				<input type="text" name="endTime" class="time span2" id="event-endTime" value="#{if endTime != null}${endTime}#{/}#{else}${event.getEndDate(connectedUser.dateTimeZone)?.format('HH:mm')}#{/}" placeholder="&{'event.endtime'}" />
			#{/}

			#{form.field.custom 'event.reminder'}
				<select class="chosen span6" name="event.sendReminder">
					<option value="" #{if !event.sendReminder}selected#{/}>&{'event.reminder.none'}</option>
					#{list items:[1,4,8,24,48,168], as:'h'}
						<option value="${h}" #{if event.sendReminder == h}selected#{/}>
							#{if h >= 24}
								&{'event.reminder.day' + (h/24).pluralize('','s'), (h/24)}
							#{/}#{else}
								&{'event.reminder.hour' + h.pluralize('','s'), h}
							#{/}
						</option>
					#{/}
				</select>
			#{/}

			<hr>
			
			#{form.field.custom 'event.guests'}
				<label class="checkbox">
					<input type="checkbox" name="event.allowGuestInvite" id="event-allowguestinvite" value="true" #{if event.allowGuestInvite}checked#{/}>
					<input type="hidden" name="event.allowGuestInvite" value="false">
					&{'event.allowGuestInvite'}
				</label>
				<label class="checkbox">
					<input type="checkbox" name="event.suppressMaybe" id="event-suppressmaybe" value="true" #{if event.suppressMaybe}checked#{/}>
					<input type="hidden" name="event.suppressMaybe" value="false">
					&{'event.suppressMaybe'}
				</label>
			#{/}
            
            #{if event.isPersistent() || event.hasNoCalendar()}
            	<script type="text/javascript">
            		eventCalendars = [];
					#{list items:groupedCalendars.keySet(), as:'sender'}
                        #{list items:groupedCalendars.get(sender), as:'cal'}
                        	%{
								if(event.calendar != cal && !controllers.Security.check(acl.Permission.CREATE_EVENT, cal.id)) continue;
							}%
                            eventCalendars.push({
                            	id : '${cal.id}',
                            	label : '${cal.displayName.cleanText().formatJs()}',
                            	group : '${sender.displayName.cleanText().formatJs()}'
                            });
                        #{/list}
                    #{/list}
            	</script>
            	#{form.field.custom 'event.calendar'}
					<select class="span6" id="event-calendar" data-chosen data-disable-search="false" 
						data-ng-model="calendarId" data-ng-init="calendarId=#{if event.calendar}'${event.calendar.id}'#{/}#{else}null#{/}"
						data-ng-options="c.id as c.label group by c.group for c in calendars" 
						data-allow-single-deselect="false">
						#{if event.calendar == null || controllers.Security.check(acl.Permission.CREATE_EVENT)}
						 	<option value="">&{'event.calendar.none'}</option>
						#{/}
					</select>
					<input type="hidden" name="event.calendar.id" value="{{calendarId}}">
				#{/}
	        #{/}
	        #{else}
	        	<input type="hidden" name="event.calendar.id" value="${event.calendar?.id}">
	        #{/}
	          
			#{form.field.custom 'event.visibility'}
			    <div id="event-visibility-wrapper" class="${event.hasNoCalendar() ? '' : 'hide'}">
					<select class="chosen span6" name="event.visibility" id="event-visibility">
						#{list items:models.event.EventBase.EventVisibility.values(), as:'vis'}
							%{
								if(!event.persistent && !controllers.Security.check(acl.Permission.CREATE_EVENT, vis)) continue;
								if(event.persistent && !controllers.Security.check(acl.Permission.EDIT_EVENT, event.id, vis)) continue;
							}%
							
							<option value="${vis}" data-description="${vis.description}" ${(vis == event.visibility).yesno('selected','')}>${vis.label}</option>
						#{/}
					</select>
					<span class="help-block">${event.visibility?.description}</span>
		        </div>
		        <div id="event-autovisibility-wrapper" class="${event.hasNoCalendar() ? 'hide' : ''}">
					<span class="help-inline">&{'event.visibility.auto'}</span>
				</div>
			#{/}
			<hr>
			
			#{form.field.textarea 'event.about', value:event.about, rows:4, class:'span6' /}
			#{form.field.image 'avatar', label:'events.form.pictureInput' /}
			
			<script type="text/javascript">
				function toggleTime() {
					if($('#event-fulltime').is(':checked')) {
						$('[id^=event].time').hide();
						$('[id^=event].time').val('');
					} else {
						$('[id^=event].time').show();
					}
				}
				$('#event-fulltime').change(toggleTime);
				toggleTime();
				
				function adjustDate() {
					if($('#event-startDate').val() !== '' && $('#event-endDate').val() === '') {
						$('#event-endDate').val($('#event-startDate').val());
					}
				}
				$('#event-startDate').change(adjustDate);
				adjustDate();
			</script>
		</div>
		<div class="tab-pane" id="inviteList">
			%{ groups = (event.hasNoCalendar()) ? groups : event.calendar.invitableGroups; }%
			#{if groups?.size() > 0}
				#{form.field.custom 'groupIds', label:'event.invitedGroups', help:'event.invitedGroups.help'}
					#{groupchooser id:'groupIds', name:'groupIds', groups:groups /}
				#{/}
			#{/}
			
			#{form.field.custom 'guestIds', label:'event.invitedUsers'}
				#{userchooser id:'guestIds', name:'guestIds', selected:event.getInvitedUsers(), url:@Events.userchooser(event.calendar?.id) /}
			#{/}
		</div>
		<div class="tab-pane" id="admins">
			#{form.field.custom 'adminIds', label:'chooseAdmins'}
				#{userchooser id:'adminIds', name:'adminIds', selected:event.admins, url:@Events.userchooser(event.calendar?.id)  /}
			#{/}
		</div>
		
		<div class="tab-pane" id="series">
			<input type="hidden" name="event.recurrenceRule" #{if event.recurrenceRule} data-ng-init="rrule.string='${event.recurrenceRule}'"#{/} value="{{rrule.string}}" />
			<span data-recurrence-rule data-model="rrule.string" data-start-date="startDate" data-start-date-invalid="startDateInvalid" data-locale="${connectedUser.getLanguage()}"
				data-date-format-picker="${libs.DateI18N.getLocalizedDateFormat('date.format.picker')}" 
				data-date-format-iso="${libs.DateI18N.getLocalizedDateFormat('date.format.iso')}"></span>
		</div>
	</div>
	
	<div class="form-actions">
		#{if event.persistent && event.isEventSeries()}
			<input type="hidden" name="event.updateType" value="{{updateType}}" />
			<div class="btn-group">
			    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			      <i class="icon-ok icon-white"></i> &{'save'}
			      <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
					<li data-ng-class="{'disabled':creationOfNewSeriesRequired()}"><a href="" data-ng-click="submit('${forms.EventForm.EventSeriesUpdateType.ONLY_THIS}')">&{'event.series.update.ONLY_THIS'}</a></li>
					<li><a href="" data-confirm-dialog="submit('${forms.EventForm.EventSeriesUpdateType.THIS_AND_FOLLOWING}')" data-confirm-message="&{'event.series.update.warning'}">&{'event.series.update.THIS_AND_FOLLOWING'}</a></li>
				</ul>
			</div>
		#{/}
		#{else}
			#{form.submit 'save' /}
		#{/}
		
		<a href="@{Events.index()}" class="btn">&{'cancel'}</a>
		#{if event.persistent}
			#{secure acl.Permission.DELETE_EVENT, args:[event.id]}
				#{if event.isEventSeries()}
					<div class="btn-group">
					    <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
					      <i class="icon-remove icon-white"></i> &{'events.form.delete.link'}
					      <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
							<li><div data-rest-link data-url="@{Events.delete(event.id)}" data-redirect="@{Events.index}" data-type="DELETE">&{'event.series.update.ONLY_THIS'}</div></li>
							<li><div data-rest-link data-url="@{Events.delete(event.id, true)}" data-redirect="@{Events.index}" data-type="DELETE">&{'event.series.update.THIS_AND_FOLLOWING'}</div></li>
						</ul>
					</div>
				#{/}
				#{else}
					<div data-rest-link data-url="@{Events.delete(event.id)}" data-redirect="@{Events.index}" data-type="DELETE" class="btn btn-danger" data-confirmation-really="&{'really'}"><i class="icon-remove icon-white"></i>&nbsp;&{'events.form.delete.link'}</div>
				#{/}
			#{/}
		#{/}
	</div>
#{/form}

<script type="text/javascript">
	function updateVisibilityDescription() {
		$('#event-visibility').siblings('.help-block').text($('#event-visibility option:selected').attr('data-description'));
	}
	$('#event-visibility').change(updateVisibilityDescription);
	
	$('#event-calendar').on('change', function(e) {
		var $select = $('#event-autovisibility-wrapper'),
		    $text = $('#event-visibility-wrapper');
		if ('' === $(this).val()) {
            $select.hide();
            $text.show();
		} else {
			$select.show();
			$text.hide();
		}
	});
	
	function toggleInviteList() {
		if($('#event-allowguestinvite').is(':checked')) {
			$('#inviteListTab').show();
			$('#event-suppressmaybe').removeAttr('disabled');
		} else {
			$('#inviteListTab').hide();
			$('#event-suppressmaybe').attr('disabled', 'disabled');
		}
	}
	$('#event-allowguestinvite').change(toggleInviteList);
	toggleInviteList();
	
	$('input[name="event.updateType"]').change(function() {
		var $this = $(this);
		if ($this.val() === '${forms.EventForm.EventSeriesUpdateType.THIS_AND_FOLLOWING}') {
			$('#event-update-warning-wrapper').show();
		} else {
			$('#event-update-warning-wrapper').hide();
		}
	});
	
	angular.element(document).ready(function() {
	   var body = angular.element('body');
	   body.injector().get('$compile')(angular.element('.smartforms form').parent().contents())(body.scope());
	});
</script>

#{if !request.ajax}</body></html>#{/}
