#{extends 'layouts/main.html' /} 

#{set title:messages.get('events') /}
#{set 'actions'}
	#{secure acl.Permission.CREATE_EVENT}
		<a href="@{Events.create()}" class="btn btn-primary"><i class="icon-plus-sign icon-white"></i> &{'event.createnew'}</a>
	#{/}
	<a href="@{Events.archive()}" class="btn"><i class="icon-folder-close"></i> &{'events.archive'}</a>
#{/set}

#{event.calendar filter:filter, connectedUser:connectedUser /}