#{extends 'layouts/modal.html' /}

#{set title:messages.get("event.mail.form.title") /}
#{set subtitle:event.name /}

#{form @sendMail()}
	<input type="hidden" name="id" value="${event.id}" />

	<div class="control-group">
		<input type="text" name="title" class="span100" placeholder="&{'event.mail.form.title.placeholder'}" />
		<textarea name="message" class="span100" placeholder="&{'event.mail.form.message.placeholder'}" rows="10" />
	</div>
#{/}

#{set 'actions'}
	<a href="#" class="btn btn-primary"><i class="icon-envelope icon-white"></i> &{'event.mail.form.submit'}</a>
#{/}

<script type="text/javascript">
	var $modal = $('#modal');
	
	$modal.find('.btn-primary').click(function(){
		var title = $modal.find('input[name=title]').val();
		var message = $modal.find('textarea[name=message]').val();
		
		if(title.trim() == '' || message.trim() == '') {
			$modal.find('.control-group').addClass('error');
		} else {
			$modal.find('form').submit();
		}
	});
</script>