#{extends 'layouts/modal.html' /}

#{set title:event.name /}

<div class="event-popover">
	#{event.thumb event /}
	
	<div class="event-popover-body">
		<dl class="list event-popover-details">
			<dt>&{'event.creator'}</dt>
			<dd>
				#{list items:event.admins, as:'user'}
					#{user.link user /}${user_isLast.yesno('',',')}
				#{/}
			</dd>
			#{if event.calendar}
				<dt>&{'event.calendar'}</dt><dd><a class="badge" style="background-color: ${event.calendar.color};" href="@{Senders.show(event.calendar.sender.id, event.calendar.id)}">${event.calendar.displayName}</a></dd>
			#{/}
			<dt>&{'event.startDate'}</dt><dd>#{event.date.start event /}</dd>
			#{if event.endDate}
				<dt>&{'event.endDate'}</dt><dd>#{event.date.end event /}</dd>
			#{/}
			#{if event.location != null && event.location != ''}
				<dt>&{'event.location'}</dt><dd>${event.location}</dd>
			#{/}
			#{if event.isEventSeriesChild()}
				<dt>&{"event.series.rrule"}</dt>
				<dd>#{event.recurrenceInfo event:event, connectedUser:connectedUser /}</dd>
			#{/}
		</dl>
		#{secure acl.Permission.ACCESS_EVENT, args:[event.id]}
			#{if event.about != null && event.about?.trim() != ''}
				<p>${event.linkifiedAbout?.hashify().raw()}</p><hr>
			#{/}
			
			#{set 'actions'}
				<div class="pull-left" style="text-align: left;">
					#{event.response event /}
				</div>
				<a href="@{Events.show(event.id, event.slug)}" class="btn btn-primary pull-right">&{'details'} &rarr;</a>
			#{/}
		#{/}
	</div>
</div>

<script type="text/javascript">
	var elem = angular.element("body"),
		compileFn = elem.injector().get('$compile');
	compileFn(angular.element('.restlink'))(elem.scope());
</script>
