#{extends 'layouts/main.html' /}
#{set title:series.name /}
#{set subtitle:messages.get('event.series.detail') /}

#{set 'actions'}
	#{event.recurrenceInfo event:eventSeriesChild, connectedUser:connectedUser, class:'btn btn-inverse disabled' /}
	
	#{secure acl.Permission.EDIT_EVENT, args:[eventSeriesChild.id]}
		<a href="@{Events.edit(eventSeriesChild.id)}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> &{'event.edit'}</a>
	#{/}
#{/set}

#{if eventSeriesChild.series.childrenAreNotGeneratedYet()}		
	<div class="alert alert-warning">&{'event.series.childrenNotGeneratedYet'}</div>
#{/if}

#{event.calendar.list total:series.getChildrenCount(), showTotal:false, route:@Events.loadSeriesChildren(series.id) /}

*{
<ul id="events" class="list list-boxes"></ul>
#{ui.list.endlessAjax '#events', route: @loadEventSeries(eventSeriesChild.series.id), length:20 /}
}*
