#{extends 'layouts/main.html' /}
#{set title:event.name /}

#{set 'actions'}
	#{event.response event, left:true /} 
	#{secure acl.Permission.EDIT_EVENT, args:[event.id]}
		<a href="@{Events.edit(event.id)}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> &{'event.edit'}</a>
	#{/}
#{/set}

#{opengraph.sender event /}

#{if event.calendar}
	<div class="calendar-lash">
		<div class="calendar-avatar">
			#{sender.avatar event.calendar.sender /}
		</div>
		<a class="calendar-label" style="background-color: ${event.calendar.color};" href="@{Senders.show(event.calendar.sender.id, event.calendar.id)}">${event.calendar.displayName}</a>
	</div>
	
	<script type="text/javascript">
		$('.calendar-lash').click(function(e){
			e.preventDefault();
			location.href = '@{Senders.show(event.calendar.sender.id, event.calendar.id)}';
		});
	</script>
#{/}

<div class="event-details">
	<div class="list-wrapper">
		#{if event.isEventSeriesChild() && event.series.childrenAreNotGeneratedYet()}		
			<div class="alert alert-warning">&{'event.series.childrenNotGeneratedYet'}</div>
		#{/if}
		
		<dl class="list">
			<dt>&{'event.creator'}</dt>
			<dd class="admins">
				#{list items:event.admins, as:'user'}
					<div class="admin tip" title="${user.displayName}">#{user.thumb user /}</div>
				#{/}
			</dd>
			#{if event.calendar}
				<dt>&{'event.calendar'}</dt><dd><a class="badge" style="background-color: ${event.calendar.color};" href="@{Senders.show(event.calendar.sender.id, event.calendar.id)}">${event.calendar.displayName}</a></dd>
			#{/}#{else}
				<dt>&{'event.type'}</dt><dd>${event.visibility.label}</dd>
			#{/}
			<dt>&{'event.startDate'}</dt><dd>#{event.date.start event /}</dd>
			#{if event.endDate}
				<dt>&{'event.endDate'}</dt><dd>#{event.date.end event /}</dd>
			#{/}
			#{if event.location}
				<dt>&{'event.location'}</dt><dd>${event.location}</dd>
			#{/}
			#{if event.about != null && event.about?.trim() != ''}
				<dt>&{'event.about'}</dt><dd>${event.linkifiedAbout?.hashify().raw()}</dd>
			#{/}
			
			#{if event.isEventSeriesChild()}
				<dt>&{"event.series.rrule"}</dt>
				<dd>#{event.recurrenceInfo event:event, connectedUser:connectedUser /}</dd>
			#{/}
			
		</dl>
	</div>
	<div class="clearfix"></div>
</div>

<hr>
#{wall event.getDefaultWall(), placeholder:messages.get("events.wall.placeholder") /}