#{form @save(), class:'form-horizontal'}
	<input type="hidden" name="group.id" value="${group.id}" />
	
	<ul class="nav nav-tabs">
	    <li class="active"><a href="#default-settings" data-toggle="tab">&{'administration.groups.default'}</a></li>
	    #{if !group.local}
	        <li><a href="#advanced-settings" data-toggle="tab">&{'administration.groups.advanced'}</a></li>
	    #{/}
	</ul>
	
	<div class="tab-content">
	    <div class="tab-pane active" id="default-settings">
			#{form.field.text 'group.name', value:group.name /}
			
			#{if group.userManageable}
				#{form.field.checkbox 'group.defaultGroup', value:true, falseValue:false, checked:group.defaultGroup, help:'group.assigningGroupToNewUser' /}
			#{/}
		
			#{form.field.select 'group.role.id', label:'group.role', class:'chosen', items:roles, labelProperty:'name', valueProperty:'id', value:group.role?.id}
				<option value="">&{'noRole'}</option>
			#{/}
		</div>
		#{if !group.local}
			<div class="tab-pane" id="advanced-settings">
				<div class="alert">&{'administration.groups.advanced.note'}</div>
		        #{form.field.text 'group.directoryUid', value:group.directoryUid, class:'span10' /}
			</div>
		#{/}
	</div>
		
	<div class="form-actions">
		<a href="@{index}" class="btn">&larr; &{'cancel'}</a>
		#{form.submit 'save' /}
	</div>
#{/form}