#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.groups.title') /}

#{set 'actions'}
	<a href="@{create}" class="btn btn-primary"><i class="icon-plus icon-white"></i> &{'admin.groups.create'}</a>
#{/set}

#{if groups?.size() > 0}
	#{datatables.table 'groups', filter:false}
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>&{'name'}</th>
				<th>&{'role'}</th>
				<th>&{'users'}</th>
				<th>&{'directory'}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			#{list items:groups, as:'group'}
				<tr>
					<td>${group.name} #{if group.defaultGroup}<small>(&{'group.defaultGroup'})</small>#{/}</td>
					<td>${group.role?.name}</td>
					<td>${group.userCount}</td>
					<td>
						#{if !group.local}
							${group.directorySource}<br />
							<small>ID: ${group.directoryUid}</small>
						#{/}#{else}
							&{'group.local'}
						#{/}
					</td>
					<td class="options">
						<div class="btn-group">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'actions'}</a>
							<ul class="dropdown-menu pull-right">
								<li><a href="@{edit(group.id)}"><i class="icon-edit"></i> &{'admin.edit'}</a></li>
								#{if group.userManageable}
									<li><a href="@{users(group.id)}"><i class="icon-user"></i> &{'admin.assignUser'}</a></li>
								#{/}
								#{if group.deletable}
									<li class="divider"></li>
									<li><div data-rest-link data-url="@{delete(group.id)}" data-type="DELETE" data-confirmation="&{'admin.group.confirmDelete'}?"><i class="icon-remove"></i>&nbsp;&{'delete'}</div></li>
								#{/}
							</ul>
						</div>
					</td>
				</tr>
			#{/list}
		</tbody>
	</table>
	#{/}
#{/}#{else}
	<center>&{'admin.groups.noGroupsFound'}, <a href="@{create}">&{'admin.groups.createNow'}!</a></center>
#{/}