#{extends 'layouts/administration.html' /}
#{set title:messages.get('admin.groups.users.title') /}
#{set subtitle:group.name /}

#{validation /}

#{form @saveUsers(), class:'form-horizontal'}
	<input type="hidden" name="group.id" value="${group.id}" />
	
	<div class="control-group">
		<label class="control-label">&{'admin.groups.selectUsers'}</label>
		<div class="controls">
			#{userchooser name:'users', selected:group.users, class:'chosen' /}
		</div>
	</div>
	
	<div class="form-actions">
		<a href="@{index}" class="btn">&larr; &{'cancel'}</a>
		#{form.submit 'save' /}
	</div>
#{/form}