<div class="form-actions">
    <button type="button" onclick="document.saveform.submit()" class="btn btn-primary"
            data-ng-disabled="saveform.$invalid" name="save"><i
            class="icon-ok icon-white"></i>&nbsp;{{'save' | i18n}}
    </button>
#{get 'form-actions' /}
    <a href="@{Senders.show(_sender.id, _app.id)}" class="btn">&{'cancel'}</a>
#{if _app.persistent}
    #{if !_app.active || _app.sender.activeApps.size() > 1}
        <div data-rest-link data-url="@{Apps.delete(_sender.id, _app.id)}"
             data-redirect="@{Senders.show(_sender.id)}" data-type="DELETE" class="btn btn-danger"
             data-confirmation-really="&{'apps.delete.really'}">&nbsp;&{'delete'}</div>
    #{/}
    #{else}
        <a class="btn btn-danger disabled">&{'apps.cantDeleteDefault'}</a>
    #{/}
#{/}
</div>