<input type="hidden" name="id" value="${_sender.id}"/>
<input type="hidden" name="key" value="${_app.appKey}"/>
<input type="hidden" name="app.id" value="${_app.id}"/>
<input type="hidden" name="app.sender.id" value="${_app.sender.id}"/>

<div class="row">
    <div class="span4">#{form.field.text 'app.title', value:_app.title /}</div>
#{if !_app.active || !_app.persistent || _app.sender.activeApps.size() > 1}
    <div class="span5">#{form.field.checkbox 'app.active', value:true, falseValue:false, checked:_app.active, help:'app.active.help' /}</div>
#{/}
</div>
<hr>