<div class="group thumblist" data-ng-show="latestMembers.length > 0">
	<h4>{{'plugin.latestMembers' | i18n}}</h4>
	<ul class="unstyled">
		<li class="tip" data-ng-repeat="colleague in latestMembers | orderBy:['fullName']" data-tooltip="{{colleague.fullName}}">
			<p class="pull-left" tooltip="colleague.fullName" data-user-thumb="colleague"></p>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>
