#{extends 'layouts/installation.html' /}
#{set title:messages.get('installation.title') /}


<h2>&{'installation.chooser.subtitle'}</h2>
<a href="@{form}" class="btn btn-primary btn-block btn-ultralarge">&{'installation.freshStart'}</a>
<a href="@{importForm}" class="btn btn-primary btn-block btn-ultralarge">&{'installation.import'}</a>