#{extends 'layouts/installation.html' /}
#{set title:messages.get('installation.title') /}

#{ifErrors}
	<div class="alert alert-error">
		<ul> 
			#{errors 'appname'}<li>&{'installation.field.appname'}: ${error}</li>#{/errors}
			#{errors 'license'}<li>&{'installation.field.license'}: ${error}</li>#{/errors}
			#{errors 'firstname'}<li>&{'installation.field.firstname'}: ${error}</li>#{/errors}
			#{errors 'lastname'}<li>&{'installation.field.lastname'}: ${error}</li>#{/errors}
			#{errors 'email'}<li>&{'installation.field.email'}: ${error}</li>#{/errors}
			#{errors 'password'}<li>&{'installation.field.password'}: ${error}</li>#{/errors}
	   </ul>
   </div>
#{/ifErrors}

<h2>&{'installation.subtitle'}</h2>
#{form @save()}
	<input type="text" name="appname" value="${appname}" placeholder="&{'installation.field.appname'}">
	#{if !license.LicenseValidator.valid()}
		<input type="text" name="license" value="${license}" placeholder="&{'installation.field.license'}">
	#{/}
	<hr>
	<input type="text" name="firstname" value="${firstname}" placeholder="&{'installation.field.firstname'}">
	<input type="text" name="lastname" value="${lastname}" placeholder="&{'installation.field.lastname'}">
	<input type="text" name="email" value="${email}" placeholder="&{'installation.field.email'}">
	<input type="password" name="password" value="${password}" placeholder="&{'installation.field.password'}" autocomplete="off">
	<input type="submit" value="&{'installation.submit'}" class="btn btn-primary btn-large">
#{/}