#{extends 'layouts/installation.html' /}
#{set title:messages.get('installation.import.title') /}

<h2>&{'installation.import.importFolder'}</h2>
#{if imports != null && imports?.size() > 0}
	#{list items:imports, as:'file'}
		<a href="@{importFromFolder(file.getName())}" class="btn btn-primary btn-block btn-large btn-left">${file.getName()}</a>
	#{/}
#{/}#{else}
	<span class="btn btn-primary btn-block btn-large btn-left disabled">&{'installation.import.importFolder.empty'}</span>
#{/}

<hr>

#{form @importFromUpload(), enctype:'multipart/form-data'}
	<h2>&{'installation.import.upload'}</h2>
	<a class="btn btn-primary btn-block btn-large btn-left disabled">
		<input type="file" name="file">
	</a>
	<input type="submit" class="btn btn-primary btn-block btn-large btn-left" value="&{'save'}">
#{/}