<div class="call-teaser">
	<div class="call-teaserimage">
		<img src="#{resource 'images/audio-call.png' /}" alt="&{'calls.displayname'}" />		
	</div>
	<div class="call-teasertext">#{textExpander}${_arg.call.summary.nl2br()}#{/}</div>
</div>