#{cache cacheKey, for:'1h'}
	%{ upcoming = models.User.getUpcomingBirthdays(daysToShow, 10); }%
	#{if upcoming.size() > 0}
		<div class="group birthdays">
			<h4>
				<span class="options">
					<a href="${controllers.ICal.createBirthdaysURL(connectedUser)}" class="btn btn-mini tip" title="&{'birthdays.ical.subscribe'}"><i class="icon-calendar"></i></a>
				</span>
				&{'birthdays.upcoming'}
			</h4>
			<ul class="unstyled">
				#{list items:upcoming, as:'user'}
					<li class="${org.apache.commons.lang.time.DateUtils.isSameDay(user.birthday, new Date()).yesno('today','')}">
						#{user.thumb user /}
						<div class="details">
							#{user.link user /} 
							&{'on'} ${user.birthdate.format(libs.DateI18N.getLocalizedDateFormat('date.format.short'))}
						</div>
					</li>
				#{/}
			</ul>
		</div>
	#{/}
#{/}