#{addLess 'app.tasks' /}
#{addLess 'app.tasks.mobile' /}
#{addScript 'app.tasks' /}

<div id="tasks" class="tasks-mobile" data-update-url="@{TasksApp.updateTask()}">
	#{tasksapp.list messages.get('app.tasks.inbox'), tasks:app.getInbox(false), completed:app.getInbox(true) /}
	#{list items:app.lists, as:'item'}
		#{tasksapp.list item.name, tasks:item.getTasks(false), completed:item.getTasks(true) /}	
	#{/}
</div>

<script type="text/javascript">
	$('#tasks').tasksApp();
</script>