<select name="settings[${prop.key}]" id="${prop.key}" class="chosen span7" data-placeholder="&{'administration.settings.key.defaultLanguage.placeholder'}">
	<option value="auto">&{'auto.detect'}</option>
	#{list items:utils.LanguageUtils.getApplicationLocales(), as:'locale'}
		<option value="${locale}" ${(settings.getString(prop.key)==''+locale).yesno('selected','')}>${locale.getDisplayName(connectedUser.language)}</option>
	#{/list}
</select>
