<select name="settings[${prop.key}]" id="${prop.key}" class="chosen span7" data-placeholder="&{'administration.settings.key.defaultTimezone.placeholder'}">
	<option></option>
	#{list items:date.GMTZone.all().values(), as:'gmt'}
		<option value="${gmt.id}" ${(settings.getString(prop.key)==gmt.id).yesno('selected','')}>${gmt.name} - #{length gmt.cities, max:60 /}</option>
	#{/list}
</select>
