#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.settings.title') /}

<ul class="nav nav-tabs">
#{list items:groups, as:'group'}
    <li class="${group_isFirst.yesno('active','')}">
        <a href="#settings-${group_index}" data-toggle="tab">${group.label}</a>
    </li>
#{/list}
    <li>
        <a href="#notifications" data-toggle="tab">&{'administration.settings.group.notifications'}</a>
    </li>
</ul>

#{form @save(), class:'form-horizontal'}
<div class="tab-content">
    #{list items:groups, as:'group'}
        <div class="tab-pane ${group_isFirst.yesno('active','')}" id="settings-${group_index}">
            <fieldset>
                <legend>
                ${group.label}
                </legend>
                #{list items:group.properties, as:'prop'}
                    #{if prop.type == 'hr'}
                        <hr>
                    #{/}#{else}
                    <div class="control-group">
                        <label class="control-label" for="${prop.key}">${prop.label}</label>
                        <div class="controls">
                            #{if prop.type == 'boolean'}
                                <label class="radio">
                                    <input type="radio" name="settings[${prop.key}]" id="${prop.key}" value="true"  #{if settings.getBoolean(prop.key)} checked="checked" #{/if} />
                                &{'yes'}</label>
                                <label class="radio">
                                    <input type="radio" name="settings[${prop.key}]" id="${prop.key}" value="false"  #{if !settings.getBoolean(prop.key)} checked="checked" #{/if} />
                                &{'no'}</label>
                            #{/if}
                            #{elseif prop.type == 'textarea'}
                                <textarea id="${prop.key}" name="settings[${prop.key}]" class="span7" rows="5">${settings.getString(prop.key)}</textarea>
                            #{/elseif}
                            #{elseif prop.type == 'custom'}
                                #{include 'administration/Settings/_' + prop.key + '.html' /}
                            #{/elseif}
                            #{else}
                                <input type="text" id="${prop.key}" name="settings[${prop.key}]" class="span7" value="${settings.getString(prop.key)}" />
                            #{/else}

                            #{if prop.help.trim() != ''}
                                <p class="help-block">
                                ${prop.help.raw()}
                                </p>
                            #{/if}
                        </div>
                    </div>
                #{/}
                #{/list}
            </fieldset>
            <div class="form-actions">
                #{form.submit 'save' /}
            </div>
        </div>
    #{/list}
    <div class="tab-pane" id="notifications">
        <fieldset>
            <legend>&{'administration.settings.group.notifications.title'}</legend>
            #{form.field.checkbox 'neverMail', label:'administration.settings.notifications.neverMailMe.label', help:'administration.settings.notifications.neverMailMe.help', value:true, falseValue:false, checked:!notSettings?.receiveMails /}
            #{form.field.select 'interval', label:'administration.settings.notifications.interval.label', help:'administration.settings.notifications.interval.help', items:intervalTypes, labelProperty:'label', value:notSettings?.mailInterval, disabled:!notSettings?.receiveMails /}

            <hr>

            #{form.field.custom 'administration.settings.notifications.notification.pretext'}
                #{list items:mailEvents, as:'key'}
                    <label class="checkbox">
                        <input type="checkbox" name="notificationKeys" id="notification-${key}" class="mailsetting" value="${key}" #{if notSettings?.mailEvents?.contains(key)} checked="checked"#{/if} />
                        ... &{'administration.settings.notifications.notificationType.' + key}
                    </label>
                #{/list}
            #{/}
        </fieldset>
        <div class="form-actions">
            #{form.submit 'save' /}
        </div>
    </div>
</div>
#{/form}

<script type="text/javascript">
    $(document).ready(function(){
        $('#nevermail').change(updateForm);
    });

    function updateForm() {
        if($('#nevermail').is(':checked')){
            $('.mailsetting, #interval').attr('disabled', true);
        } else {
            $('.mailsetting, #interval').attr('disabled', false);
        }
    }

    updateForm();
</script>
