%{
	name = _arg.name;
	if(_maxLength) {
		if(_arg.name.length() > _maxLength) {
			name = _arg.name.substring(0, _maxLength-(int)(_maxLength/3)) + "..." + _arg.name.substring(_arg.name.length()-(int)(_maxLength/3));
		}
	}
	if(_preview == null) _preview = true;
}%
<a href="@{app.Files.download(_arg.app.id, _arg.uid)}" class="file ${_arg.folder.yesno('folder','file-'+_arg.getFileExtension(false))}" title="${_arg.name}" #{if _arg.folder} data-file-uid="${_arg.uid}"#{/}>${name}</a>
#{if _preview && utils.PreviewUtils.hasPreview(_arg)}
	&nbsp;<i class="icon-zoom-in preview-toggle pointer" data-preview-url="@{app.Files.preview(_arg.app.id, _arg.uid)}"></i>
#{/}
#{if _arg.getCreated(session.UserLoader.getConnectedUser()).isAfter(new org.joda.time.DateTime().minusDays(1))}
	&nbsp;<span class="label label-success">&{'app.files.tag.new'}</span>
#{/}#{elseif _arg.getModified(session.UserLoader.getConnectedUser()).isAfter(new org.joda.time.DateTime().minusHours(4))}
	&nbsp;<span class="label label-warning">&{'app.files.tag.modified'}</span>
#{/}