<ul class="dropdown-menu">
	#{list items:_arg.children, as:'file'}
		#{if file.folder}
			#{if !utils.FileUtil.hasFolderChild(file)}
				<li><a href="#" data-file-uid="${file.uid}"><i class="icon-folder-open"></i> ${file.name}</a></li>
			#{/}#{else}
				<li class="dropdown-submenu"><a href="#" data-file-uid="${file.uid}"><i class="icon-folder-open"></i> ${file.name}</a>
					#{app.file.menu file, ds:_ds /}
				</li>
			#{/}
		#{/}
	#{/}
</ul>