<ul class="dropdown-menu pull-right">
	<li><a href="@{download(_arg.app.id, _arg.uid)}"><i class="icon-download"></i> &{'download'}</a></li>
	
	#{secure acl.AppsPermission.EDIT_FILE, args:[_arg.app.id, _arg.uid]}
		#{if utils.FileUtil.isOfficeDoc(_arg)}
			<li><a href="@@{FilesAppWebDAV.receive(controllers.TokenAuthController.createToken(session.UserLoader.getConnectedUser().id), _arg.app.id, _arg.uid, _arg.name)}" class="file-edit-office"><i class="icon-pencil"></i> &{'file.editInOffice'}</a></li>
		#{/}
	#{/}

    #{if _arg.isSharable()}
	    <li class="divider"></li>
	    <li>#{collaboration.share _arg /}</li>
    #{/}
    
    #{secure acl.AppsPermission.EDIT_FILE, args:[_arg.app.id, _arg.uid]}
        <li><a href="@{publicLink(_arg.app.id, _arg.uid)}" class="ajax"><i class="icon-tag"></i> &{'file.share'}</a></li>
    #{/}

	#{if _arg.allowVersioning() && !_arg.folder}
		<li class="divider"></li>
		#{if !_arg.app.readOnly}
			#{secure acl.AppsPermission.EDIT_FILE, args:[_arg.app.id, _arg.uid]}
				<li><a href="@{upload(_arg.app.id, _arg.parent.uid, _arg.id)}" class="ajax"><i class="icon-upload"></i> &{'file.newVersion'}</a></li>
			#{/}
		#{/}
		#{if _arg.versions.size() > 1}
			<li><a href="@{versions(_arg.app.id, _arg.uid)}" class="ajax" data-ajax-class="large"><i class="icon-time"></i> ${_arg.versions.size()-1} &{'file.history'}</a></li>
		#{/}
	#{/}
	
	#{if !_arg.app.readOnly && _operations}
		#{secure acl.AppsPermission.EDIT_FILE, args:[_arg.app.id, _arg.uid]}
			#{if _arg.allowRename() || _arg.allowCopy() || _arg.allowMove()}
				<li class="divider"></li>
			#{/}
			#{if _arg.allowRename()}<li><a href="@{rename(_arg.app.id, _arg.uid)}" class="ajax"><i class="icon-edit"></i> &{'rename'}</a></li>#{/}
			#{if _arg.allowCopy()}<li><a href="@{copy(_arg.app.id, _arg.uid)}" class="ajax"><i class="icon-share"></i> &{'copy'}</a></li>#{/}
			#{if _arg.allowMove()}<li><a href="@{move(_arg.app.id, _arg.uid)}" class="ajax"><i class="icon-share-alt"></i> &{'move'}</a></li>#{/}
			
			#{if _arg.allowDelete()}
				<li class="divider"></li>
				<li><a href="@{confirmDelete(_arg.app.id, _arg.uid)}" class="ajax"><i class="icon-remove"></i> &{'delete'}</a></li>
			#{/}
		#{/}
	#{/}
	
	#{doBody /}
</ul>

<script type="text/javascript">
	/* we need to compile the loaded options with angular, to display proper delete links */
	var elem = angular.element("body"),
		compileFn = elem.injector().get('$compile');
	compileFn(angular.element('div.restlink'))(elem.scope());
</script>