<ul>
	#{list items:_arg, as:'item'}
		#{if item != _skip && (!_hideFiles || item.folder)}
			<li>
				#{app.file.link item /}
				#{app.file.tree item.children, skip:_skip, hideFiles:_hideFiles /}
			</li>
		#{/}
	#{/}
</ul>