<div class="comments">
	<div class="comments-list">
		<div class="comments-expand" data-ng-if="!showAll && comments.length > 3">
			<a class="comments-expand-button" data-ng-click="$parent.showAll = true">{{'comments.expand.text' | i18n :
				comments.length}}</a>
		</div>

		<div class="comment" data-ng-repeat="comment in comments | limitTo: showAll ? 99999 : -3">
			<div data-user-thumb="comment.author"></div>

			<div class="comment-body">
				<a data-ng-click="remove(comment)" data-ng-if="comment.canDelete" class="comment-delete"
				   title="{{'comment.delete' | i18n}}"">&times;</a>

				<div>
					<strong><span data-user-link="comment.author"></span></strong>
					<span data-ng-bind-html="comment.linkifiedText"></span>
				</div>

				<div data-wall-post-attachments="comment.attachments" data-show-preview="true"
					 data-ng-if="comment.attachments && comment.attachments.length > 0">
				</div>

				<small>
					<span class="date-fuzzy" data-fuzzy-date="comment.created"></span>
					-
					<span data-like-button="comment"></span>
					<span data-like-list="comment"></span>
				</small>
			</div>
		</div>

		<form class="comment-form" data-ng-show="commentable.canCreateComment">
			<div class="comment-inputs" id="attachments-dropzone-{{commentable.id}}"
				 data-upload-dropzone="{{getUploadOptions(commentable).name}}">

				<div class="input-wrapper">
					<textarea
							id="{{'comment-textarea' + uniqueId}}"
							placeholder="{{'comment.inputHint' | i18n}}"
							data-autogrow
							data-ng-model="text"
							data-ng-keypress="text.length > 0 && !uploading && create($event, text)"
							data-mentio
							data-ng-disabled="uploading"
							data-mentio-trigger-char="'@'"
							data-mentio-typed-text="typedTerm"
							data-mentio-items="userToMention"
							data-mentio-search="getUserToMention(term)"
							data-mentio-select="getUserSlug(item)"
							data-mentio-template-url="template/mention.html"></textarea>
					<a href="" class="btn btn-mini appendix comment-upload-trigger tip"
					   id="comment-upload-trigger-{{commentable.id}}"
					   title="&{'messaging.form.attachAFile'}"
					   data-upload-trigger="{{getUploadOptions(commentable).name}}" data-upload-refresh="enabled"><span
							class="appendix-bg">&nbsp;</span></a>
				</div>

				<div data-ng-model="attachments" data-upload="getUploadOptions(commentable)"></div>
			</div>
		</form>
	</div>
</div>