<ul class="dropdown-menu" style="display:block">
	<li data-mentio-menu-item="item" data-ng-repeat="item in items track by $index">
		<a class="text-primary" data-ng-bind-html="item.name | mentioHighlight:triggerText:'menu-highlighted' | unsafe"></a>
	</li>
</ul>