#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.pageCategories.title') /}

#{set 'actions'}
	<a href="@{create}" class="btn btn-primary"><i class="icon-plus icon-white"></i> &{'admin.create'}</a>
#{/set}

<div class="alert">
	&{'admin.pageCategories.sort'}
</div>

<table class="table table-striped table-bordered page-categories">
	<thead>
		<tr>
			<th>&{'page.category.name'}</th>
			<th>&{'page.category.size'}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		#{list items:categories, as:'category'}
			<tr data-category-id="${category.id}" class="pointer">
				<td><i class="icon-tag"></i> ${category.name}</td>
				<td>${category.pages.size()}</td>
				<td class="options">
					<div class="btn-group">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">&{'actions'}</a>
						<ul class="dropdown-menu pull-right">
							<li><a href="@{edit(category.id)}"><i class="icon-edit"></i> &{'admin.edit'}</a></li>
							<li class="divider"></li>
							<li><div data-rest-link data-url="@{delete(category.id)}" data-type="DELETE" data-confirmation="&{'administration.pageCategories.delete.confirm'}"><i class="icon-remove"></i> &{'admin.delete'}</div></li>
						</ul>
					</div>
				</td>
			</tr>
		#{/list}
	</tbody>
</table>

<script type="text/javascript">
	$(document).ready(function(){
		$('.page-categories tbody').sortable({
			items: 'tr[data-category-id]',
			// preserve cell widths
			helper: function(e, ui) {
				ui.children().each(function() {
					$(this).width($(this).width());
				});
				return ui;
			},
			update: function(event, ui) {
				var order = '';
				$('.page-categories tr[data-category-id]').each(function(i, el) {
					order = order + $(el).attr('data-category-id') + ',';
				});
				$.post('@{order}', {order: order});
			}
		});
	});
</script>