<span>
	<!-- Join Workspace -->
	<a data-ng-show="!workspace.isMember && workspace.canJoin && !workspace.isJoinRequested" class="btn" data-ng-class="{'disabled' : inProgress}" data-ng-click="joinWorkspace(workspace.id, false)">
		<i class="icon-check"></i>&nbsp;
		<span data-ng-show="inProgress">{{'loading' | i18n}}</span>
		<span data-ng-show="!inProgress">{{'workspace.join' | i18n}}</span>
	</a>
	
	<!-- You are a member -->
	<a data-ng-show="workspace.isMember" href="" class="btn btn-primary disabled"><i class="icon-ok icon-white"></i> {{'workspace.youAreMember' | i18n}}</a>
	
	<!-- Join Request -->
	<a data-ng-show="!workspace.isMember && !workspace.canJoin && !workspace.isJoinRequested" class="btn" data-ng-class="{'disabled' : inProgress}" data-ng-click="joinWorkspace(workspace.id, true)" title="{{'workspace.requestInvitationToAccess'}}">
		<i class="icon-check"></i>&nbsp;
		<span data-ng-show="inProgress">{{'loading' | i18n}}</span>
		<span data-ng-show="!inProgress">{{'workspace.join.request' | i18n}}</span>
	</a>
	
	<!-- Join Request sent -->
	<a data-ng-show="workspace.isJoinRequested" href="" class="btn disabled"><i class="icon-time"></i> {{'workspace.join.request.waiting' | i18n}}</a>
</span>