%{
	connectedUser = _caller.connectedUser;
	commentable = _arg;
}%

<div class="comments" commentable-id="${_arg.id}" href="@{Collaboration.comments(_arg.id, _arg.class.name, true)}">
	<div class="comments-list">
		#{include 'Collaboration/comments.html' /}
	</div>
	
	#{form @Collaboration.createComment(), class:'comment-form'}
		<input type="hidden" name="id" value="${_arg.id}" />
		<input type="hidden" name="clazz" value="${_arg.class.name}" />
		
		#{form.submit '', class:'comment-submit pull-right' /}
		<div class="comment-text">
			<textarea name="comment.text" placeholder="&{'comment.inputHint'}"></textarea>
		</div>
		
	#{/form}
</div>