#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.apps.title') /}

<div class="alert alert-info">
	&{'administration.apps.help'}
</div>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>&{'app'} / &{'description'}</th>
			<th class="text-center span2">&{'license'}</th>
			<th class="text-center span2">&{'pages'}</th>
			<th class="text-center span2">&{'workspaces'}</th>
		</tr>
	</thead>
	<tbody>
		#{list items:apps, as:'app'}
			<tr>
				<td>
					<strong>${app.name}</strong><br>
					<small>${app.description}</small>
				</td>
				<td class="text-center">
					#{if !app.isLicenseRequired()}
						<span class="label tip" title="&{'app.license.notRequired'}"><i class="icon-ok icon-white"></i></span>
					#{/}#{else}
						<a href="@{license(app.getKey())}">
							#{if app.isLicenseValid()}
								<span class="label label-success"><i class="icon-ok icon-white"></i></span>
							#{/}#{else}
								<span class="label label-important"><i class="icon-remove icon-white"></i></span>
							#{/}
						</a>
					#{/}
				</td>
				<td class="text-center">
					#{if apps.AppManager.isActive(app, 'page')}
						<div data-rest-link data-url="@{turn(app.key, 'page', false)}" data-type="POST"><span class="label label-success"><i class="icon-ok icon-white"></i></span></div>
					#{/}#{else}
						<div data-rest-link data-url="@{turn(app.key, 'page', true)}" data-type="POST"><span class="label label-important"><i class="icon-remove icon-white"></i></span></div>
					#{/}
				</td>
				<td class="text-center">
					#{if apps.AppManager.isActive(app, 'workspace')}
						<div data-rest-link data-url="@{turn(app.key, 'workspace', false)}" data-type="POST"><span class="label label-success"><i class="icon-ok icon-white"></i></span></div>
					#{/}#{else}
						<div data-rest-link data-url="@{turn(app.key, 'workspace', true)}" data-type="POST"><span class="label label-important"><i class="icon-remove icon-white"></i></span></div>
					#{/}
				</td>
			</tr>
		#{/list}
	</tbody>
</table>
