#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.apps.license') /}
#{set subtitle:app.getName() /}
#{set 'actions'}
	<a href="@{index}" class="btn">&{'back'} &rarr;</a>
#{/}

<fieldset>
	<legend>
		&{'license'}
		#{if app.isLicenseValid()}
			<span class="label label-success"><i class="icon-ok icon-white"></i></span>
		#{/}#{else}
			<span class="label label-important"><i class="icon-remove icon-white"></i></span>
		#{/}
	</legend>
	
	%{ licenseInfo = app.getLicenseInfo(); }%
	#{if licenseInfo}
		#{admin.license.info licenseInfo /}
	#{/}
	
	#{form @saveLicense(app.getKey())}
		<textarea name="license" rows="4" style="width: 95%;">${app.getLicense()}</textarea>
		<div class="form-actions">
			#{form.submit 'save' /}
		</div>
	#{/}
</fieldset>