<div id="${_arg}" class="plotGraph" style="width: 100%; height: 300px;"></div>
<div id="${_arg}-tooltip" class="tooltip top fade"><div class="tooltip-arrow"></div><div class="tooltip-inner">0</div></div>
<script type="text/javascript">
(function(){
	var xLabels = [
		#{list items:_result.data.keySet(), as:'date'}
			"#{date.short date /}"#{if !date_isLast},#{/}
		#{/}
	];
	
	var data = [
		{
			label : '',
			color : "#666",
			pointColor : "666",
			pointStrokeColor : "#fff",
			hoverable: true,
			data : [
				#{list items:_result.data.values(), as:'count'}
					[${count_index}, ${count}]#{if !count_isLast},#{/}
				#{/}
			]
		}
	];
	
	$(document).ready(function(){
		$.plot($("#${_arg}"), data, {
			series: {
				lines: {
					show: true,
					lineWidth: 2, 
					fill: true,
					fillColor: {
						colors: [{ opacity: 0.2 }, { opacity: 0.01 }]
					}
				},
				shadowSize: 0
			},
			legend:{ show: false },
			grid: {
				labelMargin: 10,
				axisMargin: 500,
				hoverable: true,
				tickColor: "#EEE",
				borderWidth: 0
			},
			xaxis: {
				tickFormatter: function(i){
					return xLabels[i-1];
				},
				tickDecimals: 0
			},
			yaxis: {
				ticks: 10,
				tickDecimals: 0
			}
		});
		
		// custom tooltip with boostrap classes
		var hoverItemIndex;
		var $tooltip = $("#${_arg}-tooltip").appendTo('body');
		$("#${_arg}").bind("plothover", function (event, pos, item) {
			if(item && hoverItemIndex != item.dataIndex) {
				$tooltip.find('.tooltip-inner').text(item.datapoint[1]);
				$tooltip.css({ 'top':item.pageY-45, 'left':(item.pageX-($tooltip.outerWidth()/2)) });
				$tooltip.addClass('in');
				hoverItemIndex = item.dataIndex;
			}
			
			if(!item) {
				hoverItemIndex = null;
				$tooltip.removeClass('in');
			}
		});
	});
}());
</script>