#{extends 'layouts/auth.html' /}

#{ifErrors}
	<div class="alert alert-error">
		<ul> 
			#{errors 'username'}<li>&{'auth.username'}: ${error}</li>#{/errors}
	   </ul>
   </div>
#{/ifErrors}

<h2>&{'auth.forgotPassword.enterUsernameToResetPassword'}.</h2>

#{form @sendPassword(), class: 'disableSubmit'}
	<input type="text" name="username" id="username" value="${flash.username}" placeholder="&{'auth.username'}" />
	<input type="submit" value="&{'auth.forgotPassword.submit'}" class="btn btn-primary btn-large" />
#{/form}

#{set 'footer'}
	<a href="@{Auth.login()}">&larr; &{'auth.login'}</a>
#{/}