#{extends 'layouts/auth.html' /}
%{ settings = models.Settings.findApplicationSettings(); }%

#{ifErrors}
	<div class="alert alert-error">
		<ul> 
			#{errors 'username'}<li>&{'auth.username'}: ${error}</li>#{/errors}
			#{errors 'password'}<li>&{'password'}: ${error}</li>#{/errors}
	   </ul>
   </div>
#{/ifErrors}

#{form @authenticate(), id:'default', class: 'disableSubmit'}
	<h2>&{'auth.login.title'}</h2>
	
	<input tabindex="1" type="text" name="username" id="username" value="${flash.username}" placeholder="&{'auth.username'}">
	<input tabindex="2" type="password" name="password" id="password" value="" placeholder="&{'password'}" autocomplete="off">
	<input tabindex="4" type="submit" id="signin" value="&{'auth.submit'}" class="btn btn-primary btn-large">

	<div class="center">	
		<label for="rememberMe" class="checkbox">
			<input tabindex="3" type="checkbox" name="rememberMe" id="rememberMe"/>
			&{'auth.remember'}
		</label>
	</div>
	<input type="hidden" name="rememberMe" value="false" />
	
	#{if settings.getBoolean('authOpenID') || settings.getBoolean('authGoogle') || settings.getBoolean('authTwitter') || settings.getBoolean('authFacebook')}
		<hr>
		<div class="center">
			#{if settings.getBoolean('authOpenID')}<a href="#openid" class="btn btn-primary btn-mini launch">OpenID</a>#{/}
			#{if settings.getBoolean('authGoogle')}<a href="@{authentication.OpenID.launch('https://www.google.com/accounts/o8/id')}" class="btn btn-primary btn-mini">Google</a>#{/}
			#{if settings.getBoolean('authTwitter')}<a href="@{authentication.Twitter.launch}" class="btn btn-primary btn-mini">Twitter</a>#{/}
			#{if settings.getBoolean('authFacebook')}<a href="@{authentication.Facebook.launch}" class="btn btn-primary btn-mini">Facebook</a>#{/}
		</div>
	#{/}
#{/form}

#{if settings.getBoolean('authOpenID')}
	#{form @authentication.OpenID.launch(), id:'openid', class:'hide disableSubmit'}
		<h2>&{'auth.openid.title'}</h2>
		
		<input tabindex="1" type="text" name="openid" id="openid" value="${flash.openid}" placeholder="&{'auth.openid'}">
		<input tabindex="3" type="submit" id="signin" value="&{'auth.submit'}" class="btn btn-primary btn-large">
	
		<div class="center">	
			<label for="rememberMe" class="checkbox">
				<input tabindex="2" type="checkbox" name="rememberMe" id="rememberMe"/>
				&{'auth.remember'}
			</label>
		</div>
		<input type="hidden" name="rememberMe" value="false" />
		
		<hr>
		<div class="center">
			<a href="#" class="btn btn-primary btn-mini cancel">&{'auth.backToDefault'}</a>
		</div>
	#{/form}

	<script type="text/javascript">
		$('a.launch').click(function(e){
			e.preventDefault();
			
			$('#default').fadeOut(function(){
				var selector = $(e.currentTarget).attr('href');
				$(selector).fadeIn();
			});
		});
		
		$('a.cancel').click(function(e){
			e.preventDefault();
			
			$('form:visible').fadeOut(function(){
				$('#default').fadeIn();
			});
		});
	</script>
#{/}

#{set 'footer'}
	#{if models.Settings.findApplicationSettings().getBoolean('registration')}
		<a href="@{Registration.register}">&{'auth.link.createAccount'}</a> <span class="divider">|</span>
	#{/}
	<a href="@{Auth.forgotPassword()}">&{'auth.forgotPassword'}</a>
#{/}