#{extends 'layouts/auth.html' /}

#{ifErrors}
	<div class="alert alert-error">
		<ul> 
			#{errors 'password'}<li>&{'auth.password.new'}: ${error}</li>#{/errors}
			#{errors 'passwordRepeat'}<li>&{'repeat'}: ${error}</li>#{/errors}
	   </ul>
   </div>
#{/ifErrors}

<h2>&{'auth.resetPassword.enterNewPassword'}.</h2>

#{form @doResetPassword(), class: 'disableSubmit'}
	<input type="hidden" name="token" value="${token}" />
	<input type="hidden" name="username" value="${username}" />
	<input type="password" name="password" id="password" placeholder="&{'auth.password.new'}" autocomplete="off"/>
	<input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="&{'repeat'}" autocomplete="off"/>
	<input type="submit" value="&{'auth.resetPassword.submit'}" class="btn btn-primary btn-large" />
#{/form}

#{set 'footer'}
	<a href="@{Auth.login()}">&{'auth.login'}</a>
#{/}