#{addScript 'coyo/app/innoapp/services'/}
#{addScript 'coyo/app/innoapp/directives'/}
#{addScript 'coyo/app/localfilesapp/controllers'/}
#{addScript 'coyo/plugins'/}
#{addLess 'plugin.files' /}

#{set angular_app: 'coyo.plugin' /}

<div class="group" data-ng-show="files.length > 0" data-ng-controller="LatestFilesController">
	<h4>{{'plugin.latestfiles' | i18n}}</h4>

	<div class="emptyMessage" data-ng-if="!files.length">{{'app.files.widget.empty' | i18n}}</div>
	<ul data-ng-if="files.length" class="unstyled">
		<li data-ng-repeat="file in files">
			<i class="icon-file"></i> <a href="/app/file/{{file.appId}}/{{file.uid}}">{{file.name}}</a>
			&raquo;
			<small class="infolink">
				<a href="{{file.senderUrl}}" title="{{file.senderDisplayName}}">{{file.senderDisplayName}}</a>
			</small>
		</li>
	</ul>
</div>
