<div class="modal hide fade">
	<div class="modal-header">
		<h3>&{'formsapp.' + _arg + '.settings.title'}</h3>
	</div>
	<div class="modal-body">
		#{doBody /}
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">&{'cancel'}</a> <a href="#" class="btn btn-primary forms-modal-save">&{'save'}</a>
	</div>
</div>