<div class="control-group">
	<label class="control-label">&{'formsapp.options.label'}</label>
	<div class="controls multiple-settings">
		<div class="clearfix"></div>
		<a href="#" class="btn forms-add-option"><span class="icon-plus"></span> &{'formsapp.option.add.label'}</a>
	</div>
</div>