%{ event = new models.event.Event(); }%

#{form @Events.save(), enctype:'multipart/form-data', class:'form-horizontal'}
	<input type="hidden" name="event.id" value="${event.id}" />
	<input type="hidden" name="visibility" value="${app.sender.id}" />
	
	#{include 'Events/_form-base.html' /}
	
	<div class="form-actions">
		#{form.submit 'save' /}
		<a href="@{Senders.show(app.sender.id, app.id)}" class="btn">&{'cancel'}</a>
		#{if event.persistent}
			#{secure acl.Permission.DELETE_EVENT, args:[event.id]}
				<div data-rest-link data-url="@{Events.delete(event.id)}" data-type="DELETE" data-redirect="@{Senders.show(app.sender.id, app.id)}" class="btn btn-danger" data-confirmation-really="&{'really'}"><i class="icon-remove icon-white"></i>&nbsp;&{'events.form.delete.link'}</div>
			#{/}
		#{/}
	</div>
#{/}