<div class="group events" data-ng-if="ideas.length > 0">
	<h4>{{'plugin.inno.title' | i18n}}</h4>

	<div class="control-group">
		<ul class="unstyled">
			<li data-ng-repeat="idea in ideas | orderBy: 'created': 'reverse' | startFrom:currentPage*pageSize | limitTo:pageSize">
				<i class="icon-star"></i> <a href="{{idea.url}}">{{idea.title}}</a>
					<div data-ng-if="!idea.isAnon">
						{{'by' | i18n}}
						<span class="forum-post-name" data-user-link="idea.creator"></span>
					</div>
					<small data-fuzzy-date="idea.created"></small>
				<br>
			</li>
		</ul>
		<div class="row form-horizontal">
			<div class="span3">
				<button class="btn btn-mini btn-default pull-left" data-ng-show="currentPage > 0"
						ng-click="currentPage=currentPage-1">
					{{'plugin.inno.previous' | i18n}}
				</button>
				<button class="btn btn-mini btn-default pull-right"
						data-ng-show="currentPage < (ideas.length/pageSize - 1)"
						ng-click="currentPage=currentPage+1">
					{{'plugin.inno.next' | i18n}}
				</button>
			</div>
		</div>
	</div>

</div>