<a href="" class="dropdown-toggle" data-toggle="dropdown" data-ng-click="loadIdeas()">
	<span class="innovation-icon"></span>
</a>

<ul class="dropdown-menu navbar-ideas">
	<li class="nav-header nav-header-dark">{{'plugin.inno.myIdeas' | i18n}}</li>
	<li class="idea ideaItem" data-ng-repeat="idea in userIdeas | limitTo:itemsToShow | orderBy: 'created' :true">
		<a href="{{idea.url}}">
			<p>{{idea.title | limitTo: 30 }}{{idea.title.length > 30 ? '...' : ''}}</p>
				<span class="likes-dislikes">
					<div data-idea-rating-overview="idea.averageRating"></div>
					<span data-ng-if="getRemainingDays(idea) > 0" class="pull-right label">{{getRemainingDays(idea)}}</span>
					<span class="pull-right label label-info" data-ng-class="{'status-new' : idea.status === 'NEW', 'status-declined' : idea.status === 'DECLINED',  'status-accepted' : idea.status === 'ACCEPTED',  'status-audit' : idea.status === 'AUDIT'}">{{('app.inno.status.' + idea.status) | i18n}}</span>
				</span>
			<small>
				<span class="blocking" data-ellipsify-text data-no-tool-tip="true" data-max-size="34" data-text-data="idea.description"></span>
			</small>
			<small data-fuzzy-date="idea.created"></small>
		</a>
	</li>
	<li class="idea">
	<span class="btn btn-mini btn-default pull-right" data-ng-show="itemsToShow < (userIdeas.length)"
		  data-ng-click="moreIdeas($event)">
		{{'plugin.inno.next' | i18n}}
	</span>
	</li>
</ul>