<ul class="dropdown-menu">
	#{if _appId}
		<li><a href="@{WikiApp.overview(_appId)}"><i class="icon-globe"></i> &{'app.wiki.overview'}</a></li>
		<li class="divider"></li>
	#{/}
	#{list items:_arg, as:'article'}
		#{if article.children.size() == 0}
			<li><a href="@{WikiApp.article(article.id)}"><i class="${article.empty.yesno('icon-edit','icon-book')}"></i> ${article.title}</a></li>
		#{/}#{else}
			<li class="dropdown-submenu"><a href="@{WikiApp.article(article.id)}"><i class="icon-book"></i> ${article.title}</a>
				#{wiki.menu article.children /}
			</li>
		#{/}
	#{/}
</ul>