#{addLess 'app.wiki.widget' /}
%{ articles = _arg.getLatestArticles(_max); }%
#{if articles.size() > 0}
	<div class="group wiki">
		<h4>&{'app.wiki.widget.title'}</h4>
		<ul class="unstyled">
			#{list items:articles, as:'article'}
				<li>
					<i class="icon-book"></i>
					<a href="@{WikiApp.article(article.id)}">${article.title}</a>
					#{if article.getVersionCount() == 1}
						<span class="label label-success">&{'plugin.wiki.article.new'}</span>
					#{/}#{else}
						<span class="label label-warning">&{'plugin.wiki.article.modified'}</span>
					#{/}
					<br>
					<small>
						#{set 'time'}#{date.fuzzy _arg.currentVersion.created /}#{/}
						&{'wiki.title.time', time} #{user.link _arg.currentVersion.author /}
					</small>
				</li>
			#{/}
		</ul>
	</div>
#{/}