<tr data-id="${_arg.id}" #{if _arg.parent != null}data-parent-id="${_arg.parent.id}"#{/} data-level="${_level}">
	<td>
		<div class="wiki-article" style="padding-left:${_level*20}px;">
			#{if _arg.children.size() == 0}<i class="${_arg.empty.yesno('icon-edit','icon-book')}"></i>#{/}
			#{else}
				<a href="#" class="wiki-article-open"><i class="icon-chevron-right"></i></a>
				<a href="#" class="wiki-article-close"><i class="icon-chevron-down"></i></a>
			#{/}
			<a href="@{WikiApp.article(_arg.id)}"><strong>${_arg.title}</strong></a>
		</div>
	</td>
	<td><small>#{wiki.info _arg /}</small></td>
</tr>