#{form @save(), class:'form-horizontal'}
	<input type="hidden" name="bookmark.id" value="${bookmark.id}" />
	
	#{form.field.text 'bookmark.label', value:bookmark.label /}
	#{form.field.text 'bookmark.url', value:bookmark.url /}
	
	<div class="form-actions">
		<a href="@{index}" class="btn">&larr; &{'cancel'}</a>
		#{form.submit 'save' /}
	</div>
#{/}