#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.bookmarks.title') /}

#{set 'actions'}
	<a href="@{administration.Bookmarks.create}" class="btn btn-primary"><i class="icon-plus icon-white"></i> &{'administration.bookmark.create'}</a>
#{/set}

<div class="alert">
	&{'admin.sortBookmark'}
</div>

<table class="table table-striped table-bordered bookmarks">
	<thead>
		<tr>
			<th>&{'bookmarks'}</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		#{list items:bookmarks, as:'bookmark'}
			<tr data-bookmark-id="${bookmark.id}" class="pointer">
				<td>#{bookmark bookmark /}</td>
				<td class="options">
					<div class="btn-group">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">&{'actions'}</a>
						<ul class="dropdown-menu pull-right">
							<li><a href="@{administration.Bookmarks.edit(bookmark.id)}"><i class="icon-edit"></i> &{'admin.edit'}</a></li>
							<li class="divider"></li>
							<li><div data-rest-link data-url="@{administration.Bookmarks.delete(bookmark.id)}" data-type="DELETE" data-confirmation="&{'administration.bookmark.delete.confirm'}"><i class="icon-remove"></i>&nbsp;&{'administration.bookmark.delete'}</div></li>
						</ul>
					</div>
				</td>
			</tr>
		#{/list}
	</tbody>
</table>

<script type="text/javascript">
	$(document).ready(function(){
		$('.bookmarks tbody').sortable({
			items: 'tr[data-bookmark-id]',
			// preserve cell widths
			helper: function(e, ui) {
				ui.children().each(function() {
					$(this).width($(this).width());
				});
				return ui;
			},
			update: function(event, ui) {
				var order = '';
				$('.bookmarks tr[data-bookmark-id]').each(function(i, el) {
					order = order + $(el).attr('data-bookmark-id') + ',';
				});
				$.post('@{administration.Bookmarks.order}', {order: order});
			}
		});
	});
</script>