#{extends 'layouts/main.html'/}
#{set title:messages.get('notification.title') /}

<ul class="list list-boxes notifications">
	#{list items:connectedUser.getNotifications(true, 50), as:'un'}
		<li class="whitebox ${un.isRead.yesno("", "unread")}">
			<a href="@{Notifications.goToSource(un.notification.id)}">
				<img src="${un.notification.getImageUrl()}" />
				${un.notification.getText(un)}<br />
				<small>#{date.smart un.created /}</small>
			</a>
		</li>
	#{/}
</ul>

#{ui.list.endless 'ul.notifications', size:10 /}