#{addLess 'plugin.samplePlugin' /}

<div class="group sample-plugin">
	<h6>Sample Plugin</h6>
	#{if text}
		${text.nl2br()}
	#{/}#{else}
		<a href="@{administration.Plugins.index}">Please specify a text in the administration area.</a>
	#{/}
</div>