<div>
	<select data-ui-select2="options" data-placeholder="{{'share.wallChoser.placeholder' | i18n}}" data-ng-model="ngModel">
		<option value=""></option>
		<option value="{{senderList.user.defaultWall}}">{{'share.wallChoser.ownWall' | i18n}}</option>
		<optgroup data-ng-repeat="section in senderList.senders" label="{{section.name | i18n}}">
			<option data-ng-repeat="sender in section.list" value="{{sender.defaultWall}}">{{sender.name}}</option>
		</optgroup>
	</select>
</div>