<li class="attachment attachment-link" data-ng-class="{thumb : info.thumb}">
	<div data-ng-show="loading" class="loading">Loading...</div>
	
	<a data-ng-if="info.thumb" href="{{url}}" title="{{info.title}}" class="link-thumb" target="_blank">
		<img data-ng-src="{{info.thumb}}" alt="{{info.title}}">
	</a>
	
	<div class="details">
		<span class="attachment-link-title"><img data-ng-if="info.favicon" data-ng-src="{{info.favicon}}" alt="{{info.title}}" title="{{info.title}}" width="16" height="16" align="top"> {{info.title}}</span><br>
		<small><a href="{{url}}" title="{{info.title}}" target="_blank">{{url}}</a></small><br>
		<small>{{info.description}}</small>
	</div>
</li>