<div class="preview-video" title="{{attachment.displayName}}" data-tip>
	<video id="video-attachment-{{attachment.id}}" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="none" width="400" height="200" data-video-player>  
		<source src="{{attachment.downloadUrl}}" type="{{attachment.contentType}}" /> 
	</video>
</div>