<div class="ui360 preview-audio">
	<a id="audio-attachment-{{attachment.id}}" href="{{attachment.downloadUrl}}" target="_self" type="{{attachment.contentType}}" data-audio-player>{{attachment.displayName}}</a>
</div>