%{ cm = _arg.getMemberObject(connectedUser); }%
#{if cm}
	<a href="@{Messaging.portal(cm.id)}" class="thumb-link"><img src="${cm.thumbURL}" class="conversation-avatar thumb" alt="${cm.subject}" title="${cm.subject}"></a>
#{/}#{else}
	<img src="${_arg.thumbURL}" class="conversation-avatar thumb" alt="&{'messaging.conversation'}" title="&{'messaging.conversation'}">
#{/}