#{if _arg.isMember(session.UserLoader.getConnectedUser())}
	#{if _showStatus}
		<a href="#" class="btn btn-primary disabled"><i class="icon-ok icon-white"></i> &{'workspace.youAreMember'}</a>
	#{/}
#{/}#{else}
	#{secure acl.Permission.JOIN_WORKSPACE, args:[_arg.id]}
		<div data-rest-link data-url="@{Workspaces.join(_arg.id)}" data-type="POST" data-redirect="@{Workspaces.show(_arg.id, null, _arg.slug, null)}" class="btn ${_class} restlink" data-loading-text="&{'loading'}"><i class="icon-check"></i> &{'workspace.join'}</div>
	#{/}#{else}
		#{if _arg.hasRequestedToJoin(session.UserLoader.getConnectedUser())}
			<a href="#" class="btn disabled"><i class="icon-time"></i> &{'workspace.join.request.waiting'}</a>
		#{/}#{else}
			<div data-rest-link data-url="@{Workspaces.join(_arg.id)}" data-type="POST" class="btn ${_class} tip restlink" title="&{'workspace.requestInvitationToAccess'}" data-loading-text="&{'loading'}"><i class="icon-check"></i> &{'workspace.join.request'}</div>
		#{/}
	#{/}
#{/}