<div class="workspaces-list" id="${_id}">
	<div class="list-filter">
		<input type="text" name="filterQuery" class="list-filter-input search-query" placeholder="&{'workspaces.filter.title'}" />
	</div>
	<ul class="list list-boxes workspaces"></ul>
</div>
#{ui.list.endlessAjax '#' + _id + ' ul.workspaces', filter:'#' + _id + ' .list-filter', route: @load(_category?.id, _my), length:20 /}