<li class="event #{if _arg.fulltime}event-fulltime#{/}">
	<a href="@{Events.popover(_arg.id)}" class="ajax" style="background-color:${_arg.color};">
		#{if _arg.isEventSeriesChild()}
			<i class="icon-repeat icon-white" title="&{'event.series.info'}"></i>
		#{/}
		%{ response = _arg.getResponse(_connectedUser); }%
		#{if response != null}<i title="&{'event.response.' + response}" class="status ${response.icon} icon-white"></i>#{/}
		${_arg.name}
		#{if _arg.location}<br><span class="location">${_arg.location}</span>#{/}
		
		#{if !_arg.fulltime}
			#{if _arg.starts(_day, _connectedUser.dateTimeZone)}
				<span class="time" title="&{'event.startsAt'} #{date.time _arg.getStartDate(_connectedUser.dateTimeZone) /}">#{date.time _arg.getStartDate(_connectedUser.dateTimeZone) /}<i class="icon-chevron-right icon-white" title=""></i></span>
			#{/}#{elseif _arg.ends(_day, _connectedUser.dateTimeZone)}
				<span class="time"  title="&{'event.endsAt'} #{date.time _arg.getEndDate(_connectedUser.dateTimeZone) /}"><i class="icon-chevron-left icon-white" title=""></i>#{date.time _arg.getEndDate(_connectedUser.dateTimeZone) /}</span>
			#{/}
		#{/}
	</a>
</li>