%{
	if(_showTotal == null) _showTotal = true;
}%

*{ required by ajax-loaded list view }*
#{addScript 'tag.endlessAjax' /}
#{addLess 'tag.calendar.list' /}

<h3>
	#{if _title}${_title}#{/}
	#{else}&{'events.list.title'}#{/}
	
	#{if _showTotal}
		<small>(${_total})</small>
	#{/}

	#{if _total > 0}<a href="#" class="btn btn-mini pull-right" id="scrollToToday">&{'today'}</a>#{/}
</h3>

#{if _total > 0}
	<ul class="calendar-list unstyled" id="calendarList">
		#{doBody /}
	</ul>
	
	#{if _route}
		#{ui.list.endlessAjax '#calendarList', scrollContainer:'#calendarList', route:_route, length:20 /}
	#{/}
	
	<script type="text/javascript">
		$('.calendar-list').on('click', 'li.event', function(e){
			launchModal($(this).attr('data-popover'));
		});
		
		$('#scrollToToday').click(function(e){
			e.preventDefault();
			$('#calendarList').scrollTop($('#calendarList li.todayPosition').offset().top - $('#calendarList').offset().top + $('#calendarList').scrollTop() -1);
		});
	</script>
#{/}
#{else}
	<center>&{'events.noUpcomingEvents'}</center>
#{/}