<div class="control-group" data-type="checkboxes" data-id="${field.id}" data-required="${field.required}">
	#{formsapp.label field /}
	<div class="controls render-checkboxes">
		#{if field.id == null}
			<label class="checkbox"><input type="checkbox"/>&{'formsapp.checkboxes.defaultlabel', '1'}</label>
			<label class="checkbox"><input type="checkbox"/>&{'formsapp.checkboxes.defaultlabel', '2'}</label>
			<label class="checkbox"><input type="checkbox"/>&{'formsapp.checkboxes.defaultlabel', '3'}</label>
		#{/if}
		#{else}
			#{list items:field.options, as:'option'}
				<label class="checkbox"><input type="checkbox" data-id="${option.id}"/>${option.label}</label>
			#{/list}
		#{/else}
		#{if field.helpText}
			#{formsapp.helpblock field/}
		#{/if}
	</div>
	#{formsapp.actions/}
	#{include 'FormsApp/form-elements/checkboxes/settings.html'/}
</div>