<div class="control-group" data-type="checkboxes">
	#{formsapp.label field /}
	<div class="controls">
		<span class="error">#{error 'form.field' + field.id /}</span>
		#{list items:field.options, as:'option'}
			<label class="checkbox"><input type="checkbox" name="form.field${field.id}" data-id="${option.id}" value="${option.label}" #{if flash['form.field' + field.id] == option.label}checked#{/if}/>${option.label}</label>
		#{/list}
		#{formsapp.helpblock field/}
	</div>
</div>