#{list items:app.answers, as:'answer'}
	%{
		percent = answer.percent;
		label = answer.percent.format('0') + '% (' + answer.users.size() + ')';
	}%
	<div class="answer">
		<div class="answer-title"><p>${answer.name}</p></div>
		<div class="answer-bar progress ${answer.canVote(connectedUser).yesno('ok','')} ${answer.canUnvote(connectedUser).yesno('answered','')}" data-vote-url="@{Polls.vote(answer.id)}" data-unvote-url="@{Polls.unvote(answer.id)}">
			<div class="bar" style="width: ${percent}%;">#{if percent >= 50}${label}#{/}</div>
			#{if percent < 50}<span class="answer-label">${label}</span>#{/}
		</div>
		<div class="answer-faces">
			#{if !app.anonymous}
				%{ more = []; }%
				#{list items:answer.users, as:'user'}
					#{if user_index < maxUsers || answer.users.size() <= maxUsers}
						<span class="answer-face tip" title="${user.displayName}">#{user.thumb user /}</span>
					#{/}#{else}
						%{ more.add(user); }%
					#{/}
				#{/}
				#{if more.size() > 0}
					<span class="answer-faces-more tip" data-placement="right" title="#{list items:more, as:'user'}${user.displayName}#{if !user_isLast}, #{/}#{/}">...</span>
				#{/}
			#{/}
		</div>
	</div>
#{/}
<div class="clearfix"></div>