%{
	if(!_key) _key = 'page';
	if(!_length) _length = 10;
	
	if(params[_key]) currentPage = Integer.parseInt(params[_key]);
	if(!currentPage) currentPage = 1;
	
	pages = Math.round(_items.size() / _length + 0.4999);
	start = (currentPage-1) * _length;
	end = currentPage * _length;
}%
#{list items:_items, as:'item'}
	#{if item_index > start && item_index <= end}
		#{set item:item /}
		#{doBody /}
	#{/}
#{/}

#{if pages > 1}
	<div class="pagination ${_class}">
		<ul>
			<li #{if currentPage == 1}class="disabled"#{/}><a href="${util.HttpUtil.appendParam(request.url, _key, 1)}">&laquo; &{'datatables.previous'}</a></li>
			#{list items:1..pages, as:'page'}
				<li #{if currentPage == page}class="active"#{/}><a href="${util.HttpUtil.appendParam(request.url, _key, page)}">${page}</a></li>
			#{/}
			<li #{if currentPage == pages}class="disabled"#{/}><a href="${util.HttpUtil.appendParam(request.url, _key, Math.min(currentPage+1, pages))}">&{'datatables.next'} &raquo;</a></li>
		</ul>
	</div>
#{/}