<div class="control-group" data-type="text" data-id="${field.id}" data-required="${field.required}" data-class="${field.cssClass}">
	#{formsapp.label field /}
	<div class="controls">
		<input class="forms-input" type="text" placeholder="${field.placeholder}"/>
		#{formsapp.helpblock field /}
	</div>
	#{formsapp.actions/}
	#{include 'FormsApp/form-elements/text/settings.html'/}
</div>