<div class="control-group" data-type="text">
	#{formsapp.label field /}
	<div class="controls">
		<input type="text"  class="forms-input ${field.cssClass}" value="${flash['form.field' + field.id]}" name="form.field${field.id}" id="forms-${field.id}" placeholder="${field.placeholder}"/>
		<span class="error">#{error 'form.field' + field.id /}</span>
		#{formsapp.helpblock field /}
	</div>
</div>