#{formsapp.settings.modal 'text'}
	#{formsapp.settings.label field /}
	#{formsapp.settings.required field /}
	<div class="control-group">
		<label class="control-label">&{'formsapp.date.label'}</label>
		<div class="controls">
			<input type="checkbox" class="forms-date-input"/>
		</div>
	</div>
	#{formsapp.settings.placeholder field /}
	#{formsapp.settings.helpblock field /}
#{/formsapp.settings.modal}