<div id="app-widgets-create" data-ng-init="init()">
	<div class="modal-header">
		<a href="" data-ng-click="close()" class="close">×</a>
		<h3>{{'app.widget.create' | i18n}}<small data-ng-show="newWidget.widget"> {{newWidget.widget.name}}</small></h3>
	</div>
	
	<div class="modal-body">
		<div data-ng-hide="newWidget.widget">
			<center data-ng-if="!catalog.length">{{'app.widget.catalog.empty' | i18n}}</center>
			<div data-ng-if="catalog.length" class="tabbable tabs-left">
				<ul class="nav nav-tabs">
					<li data-ng-repeat="app in catalog" data-ng-class="{active:$first}"><a href="#app-{{app.id}}" data-toggle="tab"><i class="{{app.icon}}"></i> {{app.title}}</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane" id="app-{{app.id}}" data-ng-repeat="app in catalog" data-ng-class="{active:$first}">
						<ul class="thumbnails app-widgets">
							<li data-ng-repeat="widget in app.widgets" data-ng-class="{disabled : !widget.selectable}">
								<a href="" data-ng-click="selectWidget(app, widget)" title="{{widget.name}}" class="thumbnail">
									<img data-ng-src="{{getWidgetIconUrl(app.key, widget.key)}}" alt="{{widget.name}}" />
								</a>
								<h4>{{widget.name}}</h4>
								<p>{{widget.description}}</p>
							</li>
						</ul>					
					</div>
				</div>
			</div>
		</div>
		<div data-ng-show="newWidget.widget">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="widgetTitle">{{'app.widget.title' | i18n}}:</label>
					<div class="controls">
						<input type="text" id="widgetTitle" data-ng-model="newWidget.widget.title" placeholder="{{newWidget.widget.name}}"/>
						<p class="help-block">{{'app.widget.title.help' | i18n}}</p>
					</div>
				</div>
			</form>
		</div>
		<div class="form-actions">
			<button class="btn btn-primary" data-ng-disabled="!newWidget.widget" data-ng-click="ok()"><i class="icon-ok icon-white"></i> {{'OK' | i18n}}</button>
			<a href="" data-ng-show="newWidget.widget" data-ng-click="reset()" class="btn">{{'back' | i18n}}</a>
		</div>
	</div>
</div>
