%{ todayPositionLoaded = false; }%
#{list items:_arg, as:'event'}
	#{secure acl.Permission.LIST_EVENT, args:[event.id]}
		%{ newDate = event.getStartDate(_connectedUser.dateTimeZone); }%
		
		#{if date == null || !date.sameDay(newDate)}
			%{
				date = newDate;
				todayPosition = false;
				
				if(date.today() || (!todayPositionLoaded && date.isAfterNow())) {
					todayPosition = true;
					todayPositionLoaded = true;
				}
			}%
			
			<li class="date ${todayPosition.yesno('todayPosition','')} ${date.today().yesno('today','')}">
				${date.format('EEEE')}
				<span class="pull-right">${date.format(libs.DateI18N.getLocalizedDateFormat('date.format.text'))}</span>
			</li>
		#{/}
		
		<li class="event ${date.today().yesno('today','')}" data-original-title="${event.name}" data-popover="@{Events.popover(event.id)}" data-cal-id="${event.calendar?.id}">
			<span class="border" style="background-color: ${event.color};"></span>
		
			#{event.thumb event /}
			
			<div class="title">
				<span class="name">${event.name}</span>
				#{if event.isEventSeriesChild()}
					<i class="icon-repeat" title="&{'event.series.info'}"></i>
				#{/}
				#{if event.allowGuestInvite}
					%{ response = event.getResponse(_connectedUser); }%
					#{if response != null}<i class="status ${response.icon}"></i>#{/}
				#{/}
				#{if event.calendar}<span class="badge" style="background-color: ${event.calendar.color};">${event.calendar.displayName}</span>#{/}
				<br>
				<small>
					#{if event.allowGuestInvite}
						%{ attending = event.getUserCount(models.event.EventUser.EventResponse.ATTENDING); }%
						${attending} &{'event.guest' + attending.pluralize()}
					#{/}
					#{if event.allowGuestInvite && event.location}-#{/}
					#{if event.location}${event.location}#{/}	
				</small>
			</div>
			<span class="time pull-right">#{event.schedule event /}</span>
		</li>
	#{/}
#{/}