#{extends 'layouts/main.html' /}
#{set title:messages.get('colleagues') /}

#{addScript 'tag.endless' /}
#{addScript 'tag.listfilter' /}

#{set title:messages.get('colleagues') /}

#{if count > 0}
	<ul class="list list-boxes colleagues" id="colleagues"></ul>
	#{ui.list.endlessAjax '#colleagues', route: @load(), length:20 /}
#{/if}#{else}
	<center>&{'colleagues.empty'}</center>
#{/else}