#{cache cacheKey, for:'30min'}
	%{ users = plugins.internal.MeetColleaguesPlugin.getColleagues(); }%
	#{if users && users.size() > 0}
		<div class="group thumblist">
			<h4>&{'plugin.meetColleagues.ribbon'}</h4>
			<ul class="unstyled">
				#{list items:users, as:'user'}
					<li class="tip" title="${user.displayName}">#{user.thumb user /}</li>
				#{/list}
			</ul>
			<div class="clearfix"></div>
		</div>
	#{/}
#{/}