<div class="modal-header">
	<h3>{{'administration.teaser.settings' | i18n}}</h3>
</div>
<div class="modal-body teaserModalBody teaser-carousel">
	<form id="teaser-settings-form" name="teasersettingsform" novalidate class="form-horizontal options">
		<div class="control-group">
			<label class="control-label required" for="title">{{'administration.teaser.settings.interval' | i18n}}</label>
			<div class="controls">
				<div class="input-append input-default">
					<input type="number" name="interval" data-ng-model="tmpSettings.interval" id="input-interval" required></input>
					<span class="add-on">ms</span>
				</div>
			</div>
			<div class="controls">
				<p class="help-block">
					{{'administration.teaser.tooltip.interval' | i18n}}
				</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label required" for="title">{{'administration.teaser.settings.height' | i18n}}</label>
			<div class="controls">
				<div class="input-append input-default">
					<input type="number" name="height" data-ng-model="tmpSettings.height" id="input-height" type="number" required>
					<span class="add-on">px</span>
				</div>
			</div>
			<div class="controls">
				<p class="help-block">
					{{'administration.teaser.tooltip.height' | i18n}}
				</p>
			</div>
		</div>
	
		<div data-ng-show="error">
			<div class="alert alert-error">{{'administration.teaser.errorSaveSettings' | i18n}}</div>
		</div>
		
		<div class="form-actions">
			<a class="btn btn-primary" data-ng-click="cancel()"><i class="icon-remove icon-white"></i>&nbsp;{{'cancel' | i18n}}</a>
			<a class="btn btn-primary" data-ng-click="(teasersettingsform.interval.$dirty && teasersettingsform.interval.$invalid) || (teasersettingsform.height.$dirty && teasersettingsform.height.$invalid) || saveSettings()" data-ng-disabled="(teasersettingsform.interval.$dirty && teasersettingsform.interval.$invalid) || (teasersettingsform.height.$dirty && teasersettingsform.height.$invalid)"><i class="icon-ok icon-white"></i>&nbsp;{{'save' | i18n}}</a>
		</div>
	</form>
</div>