<div class="modal-header">
	<h3 data-ng-show="!editMode">{{'administration.teaser.new' | i18n}}</h3>
	<h3 data-ng-show="editMode">{{'administration.teaser.edit' | i18n}}</h3>
</div>
<div class="modal-body teaserModalBody teaser-carousel">
	<form id="teaser-form" name="teaserform" class="form-horizontal" novalidate>
		<div class="control-group">
			<label class="control-label required" for="title">{{'administration.teaser.form.title' | i18n}}</label>
			<div class="controls">
				<input id="title" type="text" name="title" data-ng-model="currentTeaser.title" required maxlength="90" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="description">{{'administration.teaser.form.description' | i18n}}</label>
			<div class="controls">
				<textarea id="description" name="description" data-ng-model="currentTeaser.description" rows="5" maxlength="540"></textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="link">{{'administration.teaser.form.link' | i18n}}</label>
			<div class="controls">
				<input id="link" type="text" name="link" data-ng-model="currentTeaser.link" data-ng-pattern='/^((ftp|http|https):\/\/|(\/))[^ "]+$/' />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="description">{{'administration.teaser.form.link.external' | i18n}}</label>
			<div class="controls">
				<label class="checkbox">
					<input class="externalLink" type="checkbox" name="externalLink" data-ng-model="currentTeaser.externalLink" data-ng-checked="{{currentTeaser.externalLink}}" />
				</label>
			</div>
			<div class="controls">
				<p class="help-block">
					{{'administration.teaser.tooltip.link.external' | i18n}}
				</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label required" for="image">{{'administration.teaser.form.image' | i18n}}</label>
			<div class="controls teaser-image-current teaser-image" data-ng-if="currentTeaser.image">
				<img data-ng-src="{{currentTeaser.image}}" />
			</div>
			<div class="controls">
				<file-chooser data-field="imageField" ng-model="currentTeaser.newImageUUID" />
			</div>
		</div>
	
		<div data-ng-show="errors" data-ng-repeat="error in errors">
			<div class="alert alert-error" data-ng-bind-html="error.msg"></div>
		</div>
	
		<div class="form-actions">
			<a class="btn btn-primary" data-ng-click="cancel()"><i class="icon-remove icon-white"></i>&nbsp;{{'cancel' | i18n}}</a>
			<a data-ng-show="!editMode" class="btn btn-primary" data-ng-click="teaserform.$invalid || create(currentTeaser)" data-ng-disabled="teaserform.$invalid"><i class="icon-ok icon-white"></i>&nbsp;{{'create' | i18n}}</a>
			<a data-ng-show="editMode" class="btn btn-primary" data-ng-click="teaserform.$invalid || edit(currentTeaser)" data-ng-disabled="teaserform.$invalid"><i class="icon-ok icon-white"></i>&nbsp;{{'save' | i18n}}</a>
		</div>
	</form>
</div>