#{if isPublic || connectedUser == user || connectedUser.superadmin}
	%{ activity = plugins.internal.UserActivityPlugin.getUserActivity(user); }%
	
	<div class="whitebox">
		<h3>&{'plugins.userActivity.userInfo.activity'}</h3>
		<div class="progress userActivity userActivity-${(int)activity/10}"><div class="bar" style="width: ${activity}%;">${activity}%</div></div>
	</div>
#{/}
