#{secure acl.Permission.ACCESS_PAGE, args:[_arg.id]}
	#{if !_arg.isForcedFollower(session.UserLoader.getConnectedUser())}
		%{ following = _arg.followers.contains(session.UserLoader.getConnectedUser()); }%
		#{if _class != null && _class.indexOf('btn') >= 0}
			<a href="@{Collaboration.unfollow(_arg.id)}" data-follow="${_arg.id}" class="${_class} btn-primary unfollow" style="${following.yesno('','display: none;')}"><i class="icon-ok icon-white"></i> &{'following'}</a>
		#{/}#{else}
			<a href="@{Collaboration.unfollow(_arg.id)}" data-follow="${_arg.id}" class="${_class} unfollow" style="${following.yesno('','display: none;')}"><i class="icon-ok"></i> &{'following'}</a>
		#{/}			
		<a href="@{Collaboration.follow(_arg.id)}" data-follow="${_arg.id}" class="${_class}" style="${following.yesno('display: none;','')}"><i class="icon-check"></i> &{'follow'}</a>
	#{/}
#{/}
