<div class="pages-list" id="${_id}">
	<div class="list-filter">
		<input type="text" name="filterQuery" class="list-filter-input search-query" placeholder="&{'pages.filter.title'}" />
	</div>
	<ul class="list list-boxes pages"></ul>
</div>
#{ui.list.endlessAjax '#' + _id + ' ul.pages', filter:'#' + _id + ' .list-filter', route: @load(_my, _category?.id), length:20 /}