#{if !_previous || !utils.DateUtils.isSameYear(_previous.publishDate, _article.publishDate)}
	<h3>${_article.publishDate.toString("MMMM YYYY", _user.language)}</h3>
#{/}#{elseif _previous && !utils.DateUtils.isSameMonth(_previous.publishDate, _article.publishDate)}
	<h3>${_article.publishDate.toString("MMMM", _user.language)}</h3>
#{/elseif}