<div class="blog-article-titlebar">
	<div class="options pull-right">
		#{doBody /}
	</div>
	
	<a href="${util.HttpUtil.appendParam(request.url, 'articleId', _arg.id)}" class="blog-article-title" data-ng-non-bindable>#{if !_arg.published}&{'app.blog.notPublished'}:#{/if} ${_arg.title}</a>
	
	<ul class="blog-article-info unstyled">
		<li><i class="icon-user"></i> #{user.link _arg.author /}</li>
		#{if _arg.publishDate != null && _arg.publishDate.isBeforeNow()}<li><i class="icon-time"></i> #{date.fuzzy _arg.getPublishDate(_user) /}</li>#{/}
	</ul>
</div>