#{form @save(), enctype:'multipart/form-data', class:'form-horizontal'}
	<input type="hidden" name="workspace.id" value="${workspace.id}" />

	<ul class="nav nav-tabs">
		<li class="active"><a href="#general" data-toggle="tab">&{'workspaces.form.title'}</a></li>
		<li><a href="#members" data-toggle="tab">&{'workspaces.form.membersLabel'}</a></li>
		<li><a href="#admins" data-toggle="tab">&{'workspaces.form.adminsLabel'}</a></li>
		#{if workspace.persistent}
			<li><a href="#apps" data-toggle="tab">&{'apps'}</a></li>
		#{/if}
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="general">
			#{form.field.text 'workspace.name', value:workspace.name, label:'workspaces.form.titleLabel' /}
			#{form.field.textarea 'workspace.about', value:workspace.about, label:'workspaces.form.aboutLabel', rows:3, class:'span6' /}
			
			#{if categories?.size() > 0}
				#{form.field.select 'workspace.category.id', value:workspace.category?.id, label:'workspace.category', items:categories, labelProperty:'name', valueProperty:'id', class:'chosen'}
					<option value="">&{'workspace.category.none'}</option>
				#{/}
			#{/}

			#{form.field.custom 'workspace.visibility', label:'workspaces.form.visibilityLabel'}
				#{list items:models.workspace.Workspace.WorkspaceVisibility.values(), as:'vis'}
					%{
						if(!workspace.persistent && !controllers.Security.check(acl.Permission.CREATE_WORKSPACE, vis)) continue;
						if(workspace.persistent && !controllers.Security.check(acl.Permission.EDIT_WORKSPACE, workspace.id, vis)) continue;
					}%
					
					<label class="radio">
						<input type="radio" name="workspace.visibility" value="${vis}" ${(vis == workspace.visibility).yesno('checked','')}>
						<span><i class="icon-${vis.icon}"></i> <strong>${vis.label}:</strong> <span class="muted">${vis.description}</span></span>
					</label>
				#{/}
			#{/}
			
			<hr>
			
			#{form.field.image 'avatar', label:'workspaces.form.pictureInput' /}
			
			#{if workspace.persistent}
				<hr>
				
				#{form.field.custom 'workspace.archived', label:'workspaces.form.archive'}
					<label class="checkbox">
						<input type="checkbox" name="workspace.archived" value="true" ${workspace.archived.yesno('checked','')}>
						<input type="hidden" name="workspace.archived" value="false" />
						&{'workspaces.form.CheckMovingToArchives'}
					</label>
					<span class="help-block">
						<strong>&{'workspaces.form.note'}:</strong> &{'workspaces.form.archiveInfo'}.
					</span>
				#{/}
			#{/if}
		</div>
		<div class="tab-pane" id="members">
			#{if groups?.size() > 0}
				#{form.field.custom 'groups', label:'workspaces.form.groupsInput', help:'workspaces.form.groups.help'}
					#{groupchooser name:'memberGroups', id:'groupChoser', groups:groups /}
				#{/}
			#{/}
			#{form.field.custom 'members', label:'workspaces.form.membersInput'}
				#{userchooser name:'members', id:'memberChoser', selected:workspace.userMembers, showExternals:true /}
			#{/}
		</div>
		<div class="tab-pane" id="admins">
			#{form.field.custom 'admins', label:'chooseAdmins', help:'workspace.admins.help'}
				#{userchooser name:'admins', id:'adminChoser', selected:workspace.admins /}
			#{/}
		</div>
		#{if workspace.persistent}
			<div class="tab-pane" id="apps">
				#{appsorter workspace /}
			</div>
		#{/if}
	</div>

	<div class="form-actions">
		#{form.submit 'save' /}
		#{if workspace.persistent}
			<a href="@{Workspaces.show(workspace.id)}" class="btn">&{'cancel'}</a>
			#{secure acl.Permission.DELETE_WORKSPACE, args:[workspace.id]}
				<div data-rest-link data-url="@{Workspaces.delete(workspace.id)}" data-type="DELETE" data-redirect="@{Workspaces.index}" class="btn btn-danger" data-confirmation-really="{{'really' | i18n}}"><i class="icon-remove icon-white"></i>&nbsp;&{'workspaces.delete.link'}</div>
			#{/}
		#{/}#{else}
			<a href="@{Workspaces.index}" class="btn">&{'cancel'}</a>
		#{/}
	</div>
#{/form}