<div class="options">#{include 'Workspaces/_listItemOptions.html' /}</div>

#{workspace.thumb workspace /}
<div class="body">
	<i class="icon-th-large"></i>
	<strong>#{workspace.link workspace /}</strong>
	<small>${workspace.about?.shorten(120)?.hashify()}</small>
	<small><a href="@{Workspaces.members(workspace.id)}"><strong>${workspace.members.size()} &{workspace.members.size().pluralize('member', 'members')}</strong></a></small>
</div>