#{workspace.join workspace, showStatus:true /}
<span class="btn disabled tip" title="${workspace.visibility.label}">
	<i class="icon-${workspace.visibility.icon}"></i>
</span>
<script type="text/javascript">
	var elem = angular.element("body");
	if(elem && elem.injector()) {
		var compileFn = elem.injector().get('$compile');
		compileFn(angular.element('div.restlink'))(elem.scope());
	}
</script>