#{addLess 'sidebar.apps' /}

#{if workspace.archived}
	<p><span class="btn btn-danger btn-block disabled">&{'archived'}</span></p>
#{/}

#{workspace.avatar workspace /}

<div class="etiquette">
	<i class="icon-${workspace.visibility.icon}"></i> ${workspace.visibility.label}
</div>
<a href="@{Workspaces.members(workspace.id)}" class="etiquette">
	#{workspace.members workspace /}
</a>

<hr>

#{if workspace.category}
	<div class="group">
		<h6>&{'workspace.category'}</h6>
		<i class="icon-tag"></i> ${workspace.category.name}
	</div>
#{/}

<div class="group">
	<h6>&{'sidebar.apps.title'}</h6>
	<ul class="unstyled sidebar-apps">
		#{list items:workspace.apps, as:'item'}
			#{secure acl.Permission.ACCESS_APP, args:[item.id]}
				<li class="${item.active.yesno('active','inactive')}">
					<i class="${item.appDescriptor.iconClass}"></i>
					<a href="@{Workspaces.show(workspace.id, item.id, workspace.slug, item.slug)}" class="${(item==app).yesno('active','')}" title="${item.title}" target="_self">${item.title}</a>
				</li>
			#{/}
		#{/}
	</ul>
</div>

<div class="group" data-ng-controller="WorkspaceUserListController" data-ng-init="init(${workspace.id}, ${settings.getBoolean('messagingChat')}, ${settings.getBoolean('messagingWebRTC')})">
	<h6>{{'workspaces.sidebar.membersTitle' | i18n}} <span data-ng-cloak>({{members.total}})</span></h6>
	<ul class="unstyled sidebar-user-list">
		<li class="loading" data-ng-show='loading'>Loading data...</li>
		<li class="workspace-member" data-ng-repeat="member in members.memberList | orderBy:['-admin', orderByStatus, 'user.lastName', 'user.firstName']">
			<div data-ng-class="{'sidebar-user-entry' : chatEnabled && !member.user.currentUser}">
				<div data-user-avatar-status="member.user"></div>
				<div class="user-name-role">
					<div data-ng-if="member.user.accessUser">
						<a href="{{member.user.wallUrl}}"><span data-ellipsify-text data-max-size="20" data-text-data="member.user.fullName"></span></a>
					</div>
					<div data-ng-if="!member.user.accessUser">
						<span data-ellipsify-text data-max-size="20" data-text-data="member.user.fullName"></span>
					</div>
					<div data-ng-show="member.admin" class="user-role">{{'admin' | i18n}}</div>
					<div data-ng-show="member.user.external" class="user-role">{{'workspace.member.external' | i18n}}</div>
					<div data-ng-show="!member.admin && !member.user.external" class="user-role">{{'workspace.member' | i18n}}</div>
				</div>	
				<div data-user-message-icons="member.user" data-context-class="${workspace.class.getName()}" data-context-id="${workspace.id}" data-context-name="${workspace.getDisplayName()}" data-chat-enabled="chatEnabled" data-audio-video-enabled="audioVideoEnabled"></div>
			</div>
		</li>
		<li data-ng-show="members.total > limit"><a href="@{Workspaces.members(workspace.id)}" class="more-items"><i class="icon-chevron-down"></i> {{'showAll' | i18n}}</a></li>
	</ul>
</div>

#{if workspace.joinRequests.size() > 0}
	#{secure acl.Permission.EDIT_WORKSPACE, args:[workspace.id]}
		<div class="group">
			<h6>&{'workspaces.sidebar.joinRequestsTitle'} (${workspace.joinRequests.size()})</h6>
			<ul class="unstyled">
				#{list items:workspace.joinRequests, as:'jr'}
					<li>
						<i class="icon-user"></i> #{user.link jr.user /}
						<div class="confirm-buttons">
							<div class="restlink" data-rest-link data-url="@{Workspaces.answerJoinRequest(jr.id, true)}" data-type="POST" title="&{'yes'}"><i class="icon-ok"></i></div>
							<div class="restlink" data-rest-link data-url="@{Workspaces.answerJoinRequest(jr.id, no)}" data-type="POST" title="&{'no'}"><i class="icon-remove"></i></div>
						</div>
					</li>
				#{/}
			</ul>
		</div>
	#{/}
#{/}

#{if !connectedUser.external}
	<div class="group">
		<h6>&{'workspaces.sidebar.optionsTitle'}</h6>
		<ul class="unstyled">
			#{secure acl.Permission.SHARE, args:[workspace]}
				<li>#{collaboration.share workspace /}</li>
				<li class="divider"></li>
			#{/}
			
			#{secure acl.Permission.EDIT_WORKSPACE, args:[workspace.id]}
				<li><i class="icon-user"></i> <a href="@{Workspaces.invite(workspace.id)}" class="ajax">&{'workspace.inviteMembers'}</a></li>
				#{secure acl.Permission.INVITE_EXTERNALS_TO_WORKSPACE, args:[workspace.id]}
					<li><i class="icon-resize-small"></i> <a href="@{Workspaces.shareExternal(workspace.id)}" class="ajax" data-ajax-class="large">&{'workspaces.share.external'}</a></li>
				#{/}
				<li class="divider"></li>
				<li><i class="icon-plus-sign"></i> <a href="@{Apps.choose(workspace.id)}" class="ajax" data-ajax-class="large">&{'workspaces.createApp'}</a></li>
				<li class="divider"></li>
				<li><i class="icon-pencil"></i> #{aa @Workspaces.edit(workspace.id), label:messages.get("workspaces.edit.link") /}</li>
			#{/}
			#{if workspace.isMember(connectedUser)}
				<li><div class="restlink" data-rest-link data-url="@{Workspaces.leave(workspace.id)}" data-type="POST"><i class="icon-eject"></i> &{'workspaces.sidebar.leaveWorkspace.link'}</div></li>
			#{/}
		</ul>
	</div>
#{/}
