#{extends 'layouts/main.html' /}
#{set title:messages.get("workspaces") /}
#{set subtitle:messages.get('archive') /}
#{set 'actions'}
	<a href="@{Workspaces.index}" class="btn">&{'workspaces.create.backToActiveWorkspaces'} &rarr;</a>
#{/}

%{ empty = true; }%

#{set 'workspace-list'}
	<div class="workspaces-list">
		<div class="list-filter">
			<input type="text" class="list-filter-input search-query" placeholder="&{'workspaces.filter.title'}" data-list="#workspaceList" data-filter-by="data-filter-name" />
		</div>
		
		<ul class="list list-boxes workspaces" id="workspaceList">
			#{list items:workspaces, as:'workspace'}
				#{secure acl.Permission.LIST_WORKSPACE, args:[workspace.id]}
					%{ empty = false; }%
					<li data-filter-name="${workspace.name}">#{include 'Workspaces/_listItem.html' /}</li>
				#{/secure}
			#{/list}
		</ul>
	</div>
#{/}

#{if empty}
	<center>&{'workspaces.list.nonFound'}</center>
#{/}#{else}
	#{get 'workspace-list' /}
	
	#{ui.list.filter '.workspaces-list .list-filter-input' /}
	#{ui.list.endless '#workspaceList', size:20 /}
#{/}