#{extends 'layouts/modal.html' /}
#{set title:messages.get('workspaces.share.external') /}
#{set subtitle:workspace.name /}
%{
	hasValidToken = workspace.hasValidExternalShareToken();
}%

<div class="alert alert-info">
	&{'workspace.share.external.description'}
</div>

<div class="alert alert-success ${hasValidToken.yesno('','hide')}">
	<strong>&{'workspace.share.external.link'}:</strong><br>
	<span class="share-link">
		#{include 'Workspaces/activateShareExternal.html' /}
	</span>
</div>

#{form @activateShareExternal(workspace.id), id:'share-form', class:(!hasValidToken?'':'hide')}
	<div class="control-group">
		<input type="text" name="password" placeholder="&{'workspace.share.external.password'}" class="span100" autocomplete="off">
	</div>
#{/}

#{set 'actions'}
	<a href="@{Workspaces.deactivateShareExternal(workspace.id)}" class="btn btn-danger pull-left share-deactivate ${hasValidToken.yesno('','hide')}"><i class="icon-remove icon-white"></i> &{'workspace.share.external.deactivate'}</a>	
	<a href="#" class="btn share-reactivate ${hasValidToken.yesno('','hide')}"><i class="icon-edit"></i> &{'workspace.share.external.reactivate'}</a>	
	<a href="#" class="btn btn-primary share-submit ${hasValidToken.yesno('hide','')}" onclick="$('#modal #share-form').submit(); return false;"><i class="icon-ok icon-white"></i> &{'workspace.share.external.activate'}</a>
#{/}

<script type="text/javascript">
	function showForm() {
		$('#modal .alert-success').hide();
		$('#modal .share-deactivate').hide();
		$('#modal .share-reactivate').hide();
		$('#modal .share-submit').show();
		$('#modal form').fadeIn();
	}

	$('#modal #share-form').ajaxForm({
		beforeSubmit: function(d, form) {
			$form = $(form);
			if($form.find('input[name=password]').val() == '') {
				$form.find('.control-group').addClass('error');
				return false;
			}
			return true;
		},
		success: function(link) {
			$('#modal form').hide();
			$('#modal form input[name=password]').val('');
			$('#modal .share-link').html(link);
			$('#modal .alert-success').fadeIn();
			$('#modal .share-submit').hide();
			$('#modal .share-reactivate').show();
			$('#modal .share-deactivate').show();
		}
	});
	
	$('#modal .share-reactivate').click(function(e){
		e.preventDefault();
		showForm();
	});
	
	$('#modal .share-deactivate').click(function(e){
		e.preventDefault();
		
		$.post($(this).attr('href'), function(){
			showForm();			
		});
	});
</script>
