<div class="blog-article-titlebar">
	<a href="#!/blog/{{appId}}/article/{{article.id}}" class="blog-article-title">
		{{article.title}}
	</a>
	
	<ul class="blog-article-info unstyled">
		<li><i class="icon-user"></i> <span data-user-link="article.author"></span></li>
		<li ng-if="article.published"><i class="icon-time"></i> <span class="date-fuzzy" data-fuzzy-date="article.publishDateMillis"></span></li>
		<li ng-if="!article.published && !article.publishDateFormatted"><span class="label label-important">{{'app.blog.notPublished'|i18n}}</span></li>
		<li ng-if="!article.published && article.publishDateFormatted"><span class="label label-important">{{'apps.render.blog.willBePublisedOn'|i18n}} {{article.publishDateFormatted}}</span></li>
	</ul>
</div>