<div class="blog-nav" id="blogArticleController">
	<div class="btn-group">
		<a href="#!/blog/{{appId}}/list" class="btn btn-primary"><i class="icon-home icon-white"></i></a>
		<span ng-if="article" class="btn disabled">
			<i class="icon-tags"></i> {{ article.title | limitTo: 90 }}{{article.title.length > 90 ? '...' : ''}}
		</span>
	</div>
	
	<a href="#!/blog/{{appId}}/article/edit/{{articleId}}" ng-if="article && article.canEdit" class="btn btn-primary pull-right"><i class="icon-edit icon-white"></i> {{'apps.render.blog.editArticle'|i18n}}</a>
</div>

<div ng-if="article" class="blog-article blog-article-details" ng-class="{ unpublished : !article.published }">
	<div ng-include="templateBasePath + '/views/coyo/app/blog/_titlebar.html'"></div>
	
	<div ng-if="article.showTeaser" class="blog-teaser-wrapper">
		<span title="{{'apps.render.blog.readMore'|i18n}}" class="blog-teaserimage" ng-if="article.teaserImageUrl">
			<img ng-src="{{article.teaserImageUrl}}" alt="{{article.title}}">
		</span>
		
		<div ng-if="article.outputTeaser" class="blog-teasertext" ng-bind-html="article.outputTeaser"></div>
		<div class="clearfix"></div>
	</div>
	
	<div class="blog-text" ng-bind-html="article.outputText | trusthtml"></div>
	<div class="clearfix"></div>
	
	<div ng-if="article.canLike" class="blog-article-footer">
		<span data-like-button="article"></span>
		<span data-like-list="article"></span>
		<a data-ng-if="article.canShare" href="{{article.shareUrl}}" class="btn btn-mini pull-right" onclick="launchModal($(this).attr('href')); return false;"><i class="icon-share"></i> {{'share' | i18n}}</a>
	</div>
</div>

<div ng-if="article.canComment" class="blog-comments">
	<div data-comments data-commentable="article"></div>
</div>
