<div class="blog-nav">
	<a href="#!/blog/{{appId}}/list" class="btn btn-primary"><i class="icon-home icon-white"></i></a>
</div>

<div ng-if="article">
	<ul class="nav nav-tabs" id="blogTab">
		<li ng-class="{ active : !activeTab || activeTab == 'article' }"><a ng-click="activeTab = 'article'">{{ article.id ? 'app.blog.editArticle' : 'app.blog.createArticle' |i18n}}</a></li>
		<li ng-class="{ active : activeTab == 'teaser' }"><a ng-click="activeTab = 'teaser'">{{'blogApp.form.tab.teaser'|i18n}}</a></li>
	</ul>
	
	<form id="blogForm" name="blogForm" role="form" class="form-stacked" ng-submit="save(article)">
		<div class="tab-content">
			<div class="tab-pane" ng-class="{ active : !activeTab || activeTab == 'article' }">
				<div class="row">
					<div class="span6">
						<div class="control-group">
							<label class="control-label" for="inputTitle">{{'blogApp.form.titel'|i18n}}</label>
							<div class="controls">
								<input type="text" id="inputTitle" ng-model="article.title" class="input-block-level" required="required" maxlength="255">
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="control-group">
							<label class="control-label" for="inputPublishDate">{{'blogApp.form.publishDate'|i18n}}</label>
							<div class="controls">
								<input class="input span2" type="text" data-datepicker-popup="{{Coyo.dateFormats.normal}}"
									data-ng-model="publishDate" show-button-bar="false" placeholder="{{'date'|i18n}}" ng-change="updatePublishDate(publishDate)" required="required">
								<input class="input span1" type="text" ng-model="publishTime" placeholder="{{'time'|i18n}}" ng-change="updatePublishTime(publishTime)" ng-blur="updatePublishDate(true)" required="required">
								<small>{{'user.timezone.your'|i18n}}: {{getUserTimeZone()}}</small>
							</div>
						</div>
					</div>
				</div>
						
				<div class="control-group">
					<label class="control-label" for="inputText">{{'blogApp.form.text'|i18n}}</label>
					<div class="controls">
						<textarea rows="4" id="inputText" ng-model="article.text" class="input-block-level" ck-editor media-library-id="{{info.mediaLibraryId}}"></textarea>
					</div>
				</div>
			</div>
			<div class="tab-pane" ng-class="{ active : activeTab == 'teaser' }">
				<div class="control-group">
					<label class="control-label" for="inputTeaserText">{{'blogApp.form.teasertext'|i18n}}</label>
					<div class="controls">
						<textarea rows="4" id="inputTeaserText" ng-model="article.teaser" class="input-block-level"></textarea>
						<small>{{'blogApp.form.teasertext.help'|i18n}}</small>
					</div>
				</div>
				<hr>
				<div class="control-group">
					<label class="control-label" for="inputTeaserImage">{{'blogApp.form.teaserimage'|i18n}}</label>
					<div class="controls">
						<div id="article-teaserimage-dropzone" class="hide"></div>

						<div ng-model="article.teaserImage" class="hide" data-upload="getTeaserImageUploadOptions(article)"></div>
						
						<div ng-if="article.teaserImageUrl" class="well"><img ng-src="{{article.teaserImageUrl}}" class="blog-form-teaserimg" style="width: {{info.teaserImageWidth}}px;"></div>
						<div>
							<a id="article-teaserimage-trigger" class="btn btn-primary btn-mini"><i class="icon-plus icon-white"></i> {{'upload' | i18n}}</a>
							<a ng-if="article.teaserImageUrl" class="btn btn-danger btn-mini" ng-click="deleteTeaserImage()"><i class="icon-remove icon-white"></i> {{'delete' | i18n}}</a>
						</div>
					</div>
				</div>
				<hr>
				<div class="control-group">
					<label class="control-label" for="inputTeaserVis">{{'blogApp.form.teaser.visibility'|i18n}}</label>
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" id="inputTeaserVis" ng-model="article.showTeaser"> {{'blogApp.form.teaser.visibility.label'|i18n}}
						</label>
						<small>{{'blogApp.form.teaser.visibility.help'|i18n}}</small>
					</div>
				</div>
			</div>
		</div>
		<div class="form-actions">
			<button data-ng-if="!article.isShared || !couldUnpublishArticle(article)" type="submit" class="btn btn-primary" ng-class="{ disabled:!blogForm.$valid }">
				<i class="icon-ok icon-white"></i> {{'save'|i18n}}
			</button>
			<button data-ng-if="article.isShared && couldUnpublishArticle(article)" type="button" class="btn btn-primary"  data-confirm-dialog="save(article)" data-confirm-message="{{'app.blog.unpublish.confirm' | i18n}}" ng-class="{ disabled:!blogForm.$valid }">
				<i class="icon-ok icon-white"></i> {{'save'|i18n}}
			</button>
			<a ng-if="!article.id" href="#!/blog/{{appId}}/list" class="btn">{{'cancel'|i18n}}</a>
			<a ng-if="article.id" href="#!/blog/{{appId}}/article/{{article.id}}" class="btn">{{'cancel'|i18n}}</a>
			<a ng-if="article.id" really-message="{{'really'|i18n}}" really-click="remove(article)" class="btn btn-danger pull-right"><i class="icon-remove icon-white"></i> {{'delete'|i18n}}</a>
		</div>
	</form>
</div>