<div class="blog-nav" ng-if="info">
	<div class="btn-group">
		<a ng-click="latest()" class="btn btn-primary"><i class="icon-home icon-white"></i></a>
		<a ng-if="info.articleCount.length" class="btn dropdown-toggle" data-toggle="dropdown">
			<span ng-if="!currentMonth"><i class="icon-globe"></i> {{'apps.render.blog.filter.latest'|i18n}}</span>
			<span ng-if="currentMonth"><i class="icon-filter"></i> {{currentMonth.name}} {{currentMonth.year}}</span>
			&nbsp;&nbsp;<span class="caret"></span>
		</a>
		<ul ng-if="info.articleCount.length" class="dropdown-menu" role="menu">
			<li><a ng-click="latest()"><i class="icon-globe"></i> {{'apps.render.blog.filter.latest'|i18n}}</a></li>
			<li class="divider"></li>
			<li class="dropdown-submenu" ng-repeat="xYear in info.articleCount"><a tabindex="-1"><i class="icon-filter"></i> {{xYear.year}}</a>
    			<ul class="dropdown-menu">
    				<li ng-repeat="xMonth in xYear.months">
    					<a tabindex="-1" ng-click="loadMonth(xMonth)">
	    					<span class="badge badge-info">{{xMonth.count}}</span>&nbsp;
	    					{{xMonth.name}}
    					</a>
    				</li>
    			</ul>
			</li>
		</ul>
	</div>
	<a href="#!/blog/{{appId}}/article/create" ng-if="info.canCreateArticle" class="btn btn-primary pull-right"><i class="icon-plus icon-white"></i> {{'apps.render.blog.createBlogArticle'|i18n}}</a>
</div>

<div ng-if="info">
	<div class="no-content" ng-if="info.articleCount.length && articles && !articles.length">{{'apps.render.blog.noArticlesMonth' | i18n}}</div>
	<div class="no-content" ng-if="!info.articleCount.length">{{'apps.render.blog.noArticlesYet' | i18n}}</div>
</div>

<div ng-repeat="article in articles" class="blog-article" ng-class="{ unpublished : !article.published }">
	<div ng-include="templateBasePath + '/views/coyo/app/blog/_titlebar.html'"></div>
	
	<a ng-if="article.teaserImageUrl" href="#!/blog/{{appId}}/article/{{article.id}}" title="{{'apps.render.blog.readMore'|i18n}}" class="blog-teaserimage">
		<img ng-src="{{article.teaserImageUrl}}" alt="{{article.title}}">
	</a>

	<div data-ng-bind-html="article.outputTeaser"></div>
	<a class="blog-teaser-link btn btn-mini" href="#!/blog/{{appId}}/article/{{article.id}}">&raquo; {{'apps.render.blog.readMore'|i18n}}</a>
	<div class="clearfix"></div>
	
	<div class="blog-article-footer">
		<a ng-if="article.canComment" href="#!/blog/{{appId}}/article/{{article.id}}">{{article.commentCount}} {{ (article.commentCount == 1 ? 'comment' : 'comments' ) | i18n }}</a> 
		<span ng-if="article.canLike">
			<span ng-if="article.canComment">-</span>
			<span data-like-button="article"></span>
			<span data-like-list="article"></span>
		</span>
		<a data-ng-if="article.canShare" href="{{article.shareUrl}}" class="btn btn-mini pull-right" onclick="launchModal($(this).attr('href')); return false;"><i class="icon-share"></i> {{'share' | i18n}}</a>
	</div>
</div>
<pagination data-total-items="count" data-page="pagination.page" data-max-size="pagination.pageSize" data-rotate="false" data-boundary-links="true" data-previous-text="&lsaquo;" data-next-text="&rsaquo;" data-first-text="&laquo;" data-last-text="&raquo;"></pagination>