%{
	connectedUser = _caller.connectedUser;
	commentable = _arg;
}%

#{if commentable.sender}
<div class="comments" data-expanded="false" data-commentable-id="${_arg.id}" data-href="@{Collaboration.comments(_arg.id, _arg.class.name)}" data-userlist="@{Posts.userList(commentable.sender.id)}">
#{/}#{else}
<div class="comments" data-expanded="false" data-commentable-id="${_arg.id}" data-href="@{Collaboration.comments(_arg.id, _arg.class.name)}">
#{/}
	<div class="comments-list"></div>

	#{secure acl.Permission.CREATE_COMMENT, args:[_arg]}
		#{form @Collaboration.createComment(), class:'comment-form'}
			<input type="hidden" name="id" value="${_arg.id}">
			<input type="hidden" name="clazz" value="${_arg.class.name}">
			<input type="file" name="file${_arg.id}" class="file hidden" multiple="multiple" />

		<div class="input-wrapper">
			<textarea name="comment.text" placeholder="&{'comment.inputHint'}" class=""></textarea>
			<a class="btn btn-mini appendix comment-upload-trigger tip" title="" data-original-title="Attach a file"><span class="appendix-bg">&nbsp;</span></a>
		</div>
		#{/}
	#{/}
</div>
