#{secure acl.Permission.LIKE, args:[_arg]}
	<a href="@{Collaboration.like(_arg.id, _arg.class.name)}" data-status-href="@{Collaboration.likelist(_arg.id, _arg.class.name)}" class="like" data-uid="${_arg.class.simpleName}-like-${_arg.id}">
		<span class="text-like ${_arg.likes(_caller.connectedUser).yesno('hide','')}">&{'link.like'}</span>
		<span class="text-unlike ${_arg.likes(_caller.connectedUser).yesno('','hide')}">&{'link.unlike'}</span>
	</a>
#{/}