#{secure acl.Permission.SHARE, args:[_arg]}
	*{ we are using _attrs here because of a scope bug where _label might be set incorrectly }*
	%{ if(_attrs.get('label') == null) _label = messages.get('share'); }%
	<a href="@{Collaboration.share(_arg.id, _arg.class.name)}" class="ajax ${_class}" title="${_title}"><i class="icon-share"></i>#{if _label} ${_label}#{/}</a>
#{/}