#{textExpander}${_arg.linkifiedMessage.raw()}#{/}
<div class="post-share post">
	#{sender.thumb _arg.post.author /}
	<div class="post-share-body">
		#{wall.post.title _arg.post /}
		<div>
			#{wall.post.content _arg.post /}
			<div>#{wall.post.attachments _arg.post /}</div>
		</div>
	</div>
</div>
