#{textExpander}${_arg.linkifiedMessage.raw()}#{/}

<div class="blog-teaser">
	<div class="blog-teaser-header">${_arg.article.title}</div>
	#{if _arg.article.teaserImage}
	<div class="blog-teaserimage">
		<img src="@{MediaLibraries.file(_arg.article.teaserImage)}" alt="${_arg.article.title}" />
	</div>
	#{/}
	<div>
		<span class="blog-teasertext" data-ng-non-bindable>${_arg.article.getTeaserText().raw()}</span>
	</div>
	<a class="blog-teaser-link btn btn-mini" href="${_arg.article.getURL()}">&raquo; &{'apps.render.blog.readMore'}</a>
</div>
