#{wall.post.title _arg /}
<br>
${_arg.linkifiedMessage?.raw()}

<div style="border-top: 1px dashed #DDD; margin-top: 5px; padding-top: 5px; color: #999;">
	#{set 'url'}@{Senders.show(_arg.article.app.sender.id, _arg.article.app.id)}#{/}
	<div><strong>${_arg.article.title}</strong></div>
	<div>
		<span class="light">${_arg.article.cleanTeaserText.shorten(300).raw()}</span>
		<a href="${util.HttpUtil.appendParam(url, 'articleId', _arg.article.id)}">&{'apps.render.blog.readMore'}</a>
	</div>
</div>