#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.logs') /}

#{if files.size() > 0}
	#{datatables.table 'logs', filter:false}
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>&{'administration.logs.file'}</th>
					<th>&{'administration.logs.modified'}</th>
					<th>&{'administration.logs.size'}</th>
				</tr>
			</thead>
			<tbody>
				#{list items:files, as:'file'}
					<tr>
						<td><a href="@{log(file.name)}">${file.name}</a></td>
						<td>#{date.full new Date(file.lastModified()) /}</td>
						<td>${file.length().formatSize()}</td>
					</tr>
				#{/}
			</tbody>
		</table>
	#{/}
#{/}#{else}
	<center>&{'administration.logs.empty'}</center>
#{/}