#{extends 'layouts/administration.html' /}
#{set title:messages.get('administration.logs') /}
#{set subtitle:log.name /}

#{set 'actions'}
	<a href="@{download(log.name)}" class="btn btn-primary" target="_blank"><i class="icon-download icon-white"></i> &{'download'}</a>
	<a href="@{index}" class="btn">&{'back'} &rarr;</a>
#{/}

<div class="well" id="log">
	<span class="muted">&{'loading'}</span>
</div>

<script type="text/javascript">
	function loadLog() {
		$('#log').load('@{load(log.name)}', function() {
			$('#log').scrollTop($('#log')[0].scrollHeight);
			setTimeout(loadLog, 5000);
		});
	}
	loadLog();
</script>