#{if _tasks.size() > 0}
<div class="whitebox">
	<h3>${_arg}</h3>
	<ul class="tasks">
		#{list items:_tasks, as:'task'}
			#{tasksapp.task task /}	
		#{/}
		#{if _completed}
			#{list items:_completed, as:'task'}
				#{tasksapp.task task /}	
			#{/}
		#{/}
	</ul>
	
</div>
#{/}