#{textExpander}${_arg.linkifiedMessage.raw()}#{/}

<div class="post-share media" id="post-share-media-${_arg.id}">
	<ul class="thumbnails">
		<li class="thumbnail"><div data-media-link="${_arg.media.id}"></div></li>
	</ul>
</div>

<script type="text/javascript">
	// TODO: remove when wall is implemented via AngularJS
	if(angular.element(document).injector()) {
		angular.element(document).injector().invoke(['$compile', function($compile) {
			var content = $('#post-share-media-${_arg.id}');
			var scope = angular.element(content).scope();
			$compile(content)(scope);
		}]);
	}
</script>
