<strong>#{sender.link _arg.author /}</strong> &{'wall.post.sharedMedia.title'} <a href="@{api.MediaAPI.redirectToCollection(_arg.media.collection.id)}"><strong>${_arg.media.getTypeName()}</strong></a>