<a data-ng-click="toggle()" class="like">
	<span class="text-like" data-ng-show="!likable.userLikes">{{'link.like' | i18n}}</span>
	<span class="text-unlike" data-ng-show="likable.userLikes">{{'link.unlike' | i18n}}</span>
</a>