<span class="likelist" data-ng-show="likes.length > 0">
	<i class="icon-star"></i>
	<span data-ng-repeat="user in likes | limitTo: max">
		{{user.currentUser ? ('you.dative' | i18n): ''}}
		<a data-ng-show="!user.currentUser" href="{{user.wallUrl}}" title="{{user.fullName}}" target="_self">{{user.fullName}}</a>{{!$last && ($index < likes.length -2) && ($index < max-1) ? ', ' : ''}}{{($index === likes.length -2) || (others  && $index === max-1) ? ' ' + ('and' | i18n) + ' ' : ''}}
		<span data-ng-show="user.currentUser && likes.length == 1">{{ 'like.multiple' | i18n }}</span>
		<span data-ng-show="!user.currentUser && likes.length == 1">{{ 'like.single' | i18n }}</span>
	</span>	
	<span class="tip" data-ng-show="others" title="{{others}}">{{ likes.length - max + ' ' }}{{ 'others' | i18n }}</span>
	<span data-ng-show="likes.length > 1">{{ 'like.multiple' | i18n }}</span>
</span>