<table class="table table-striped">
	<tbody>
		#{list items:file.children, as:'item'}
			<tr>
				<td>
					#{app.file.link item, maxLength:20 /}
					#{if item.app.hasPublicLink(item)}
						&nbsp;<a href="@{publicLink(item.app.id, item.uid)}" class="ajax"><span class="label label-info tip" title="&{'file.share'}"><i class="icon-share-alt icon-white"></i></span></a>
					#{/}
					<br />
					<small>#{app.file.info item /}</small>
				</td>
				<td class="options">
					<div class="btn-group">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">&{'actions'}</a>
						#{app.file.options item, operations:true /}
					</div>
				</td>
			</tr>
		#{/}
	</tbody>
</table>